[2018-04-13 18:01] zougloub commented on #1677
I feel like even today, Travis builds are quite long. I'm thinking that maybe we should only run an exhaustive test procedure on certain branches (eg. `master`, branches whose name contains `travis`, or commits mentioning an issue/pr number `#n`?) to avoid hampering the development.

There is distro testing code pretty close to what you're talking about in https://github.com/zougloub/sct_docker/tr

[2018-04-14 01:13] jcohenadad commented on #1634
@stephaniealley @fperdigon please add cases as discussed.

[2018-04-14 01:15] charleygros commented on #1634
Indeed, they are more than welcome!

[2018-04-14 02:28] stephaniealley commented on #1634
Yes, I will add the ones I've found.

[2018-04-16 14:52] peristeri commented on #1425
Why not make `-qc` mandatory? It will eliminate the need for `-noqc` which conflicts with `-qc`. The verbose flag can enable or disable the generation of qc. If verbose value is 0 then the qc is not outputted.

[2018-04-16 15:38] zougloub commented on #1425
Well I just made `-qc` optional and destroyed `-noqc` in #1653

[2018-04-16 15:46] #1425 closed

[2018-04-16 17:10] zougloub commented on #1678
There's an https://github.com/neuropoly/sct_docker repo, so for now I submitted a PR there.
If we want the Sphinx documentation here, perhaps the files should be moved here.

Take a look at https://github.com/neuropoly/sct_docker/pull/2 ; there's an `sct_docker.py` script that can generate Docker images, and a `sct_docker_testing.py` script that abuses the former, in order to perform testing (PoC

[2018-04-16 17:15] zougloub commented on #1677
There's an https://github.com/neuropoly/sct_docker repo, so for now I submitted a PR there.
If we want that Sphinx documentation here, perhaps the files should be moved here.

Take a look at https://github.com/neuropoly/sct_docker/pull/2.
The embryonic  `sct_docker_testing.py` script generates and runs Docker images containing testing commands:

[code]

Note: when testing many distros, the testing

[2018-04-16 18:58] zougloub opened #1682 "Running SCT on Windows is not working"
This is just a placeholder issue to state the fact, until it's not true anymore.

[2018-04-16 19:25] zougloub commented on #1656
https://spinalcordtoolbox.readthedocs.io or https://spinalcordtoolbox.github.io ?

[2018-04-16 19:37] perone commented on #1656
I would go with ReadTheDocs, they do an automatic build of the docs for multiple repo tags, etc.

[2018-04-16 19:59] zougloub commented on #1665
@fperdigon if you can write down somewhere (eg. here) the VM installation procedure, and point to the online location of the VM files, I can add that to the [Sphinx docs](https://github.com/neuropoly/spinalcordtoolbox/pull/1683), thanks!

[2018-04-16 20:38] stephaniealley commented on #1634
@charleygros here is the error I mentioned:

Spinal Cord Toolbox (feature_tf_debian/2145d391e48aac7019dac1cb12db631ff0dbcd06)
Running /home/niftyweb_sct/sct/scripts/sct_deepseg_sc.py -i 9408-0_0-scan1.nii -c t2s -qc ./qc
Using TensorFlow backend.
Loading models...
2018-04-16 16:05:18.143138: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 in

[2018-04-16 20:51] zougloub commented on #1656
There's a tiny possibility that the build environment of readthedocs is too limited for building the docs, though.

[2018-04-19 18:41] fperdigon commented on #1608
@jcohenadad Could you please give me more information about how to reproduce this graphic

[2018-04-20 12:33] jcohenadad commented on #1608
just run `sct_register_to_template` with -v 2 and it will be generated [there](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_register_to_template.py#L397).

[2018-04-20 22:48] fperdigon commented on #1583
@jcohenadad  @zougloub  I already fix the count error, but I would like to report even before modifying the code if I add the -qc parameter, the error that is listed below appears. I do not know if this is due to any modification that is being made to the QC module.

[code]

[2018-04-20 23:45] zougloub commented on #1583
Only explanation I could see would be if you hadn't reinstalled SCT to propagate the changes performed in `qc`: the `add_entry()` function is really there:
[code]

[2018-04-23 14:06] fperdigon commented on #1583
@zougloub Ooo, I see. If that is exactly what happens, I was working on the computer that I have in home, in which I have not reinstalled the SCT for some time. Thank you very much for the information.

[2018-04-23 18:03] stephaniealley opened #1688 "sct_compute_snr error for input image not in RPI orientation"
### Description

The function crashes for an input image that is not in RPI orientation. It appears to be working correctly for input images that are already in RPI orientation.

### Steps to Reproduce

Data: sct_testing/issues/20180423_issue1688

Run:
[code]

Error:
[code]

### State of spinalcordtoolbox

[code]

[2018-04-23 18:06] stephaniealley commented on #1688
@zougloub it looks like sct_compute_snr was modified in PR #1618 to add an -r argument. Maybe this is related?

[2018-04-24 05:22] jcohenadad opened #1689 "Correct the output verbose when files do not exist"
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [x] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [x] If you are using a development environment, is your environment updated ?

### Description

The flag `-param` does not parse and pass the arguments properly (i.e. it has no effect).

### Steps to Reproduce

[code]

[2018-04-24 05:41] jcohenadad opened #1690 "Modifications were overriden by PR"
https://github.com/neuropoly/spinalcordtoolbox/pull/1545 overrides  https://github.com/neuropoly/spinalcordtoolbox/pull/1571.

More specifically, the hardcoded line `params.subtitle += u'\nUse Left/Right arrows to navigate the right-left direction'` in `gui/sagittal.py` introduced in https://github.com/neuropoly/spinalcordtoolbox/pull/1545 overwrites any attempt to add custom subtitle.

A proposed

[2018-04-24 05:50] jcohenadad opened #1691 "ValueError: Images of type float must be between -1 and 1."
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [x] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [x] If you are using a development environment, is your environment updated ?

### Description

Description of the issue and use the labels to add additional context.

### Steps to Reproduce

Data: **sct_testing/issue/20180424_issue1691**

[2018-04-24 06:21] jcohenadad opened #1693 "Keep temporary folders in intermediate steps for easier debugging"
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [x] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [x] If you are using a development environment, is your environment updated ?

### Description

By default, intermediate temporary folders (which are located inside the parent temp folder) are erased, which makes it difficult for debuggin

[2018-04-24 07:03] jcohenadad opened #1695 "Legacy image appears on QC"
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [x] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [x] If you are using a development environment, is your environment updated ?

### Description

This legacy QC image appears in place of the registered T2 slice when using `-ref subject`:
![screen shot 2018-04-24 at 16 00 16](https://user

[2018-04-24 07:22] jcohenadad opened #1696 "Error writing output if folder does not exist"
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [x] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [x] If you are using a development environment, is your environment updated ?

### Description

Error writing output if folder does not exist. The proposed solution is to create path if necessary.

### Steps to Reproduce

[code]

Error:
[

[2018-04-24 08:03] jcohenadad opened #1697 "Enable input file with label at C2-C3 disc"
### Prerequisites

* [ ] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [ ] If you are using a development environment, is your environment updated ?

### Description

Enable input file with label at C2-C3 disc. This could be passed by a flag called `initlabel`. The label would be a single point, created by `

[2018-04-24 11:28] #1583 closed

[2018-04-24 14:11] #1606 closed

[2018-04-25 03:21] jcohenadad opened #1699 "Improve filtering of subjects"
### Description

Currently the filtering is done using flags -subj and -file-subj. The usage is not well documented, and also this features requires an XLS file, which is not convenient.

One suggestion is to add a flag that enables filtering using string parsing, e.g., `-subj-str nih` for selecting all folders that include the string `nih`.

Another suggestion is to add json parsing capabilities,

[2018-04-25 03:28] jcohenadad opened #1700 "numpy installation failure on Compute Canada cluster"
Upon installation, i get the following error:
[code]

[2018-04-25 03:42] jcohenadad opened #1701 "Failing sending email via gmail account"
### Description

When the process ends, the user has the possibility to have an email sent to him. So far we have used gmail SMTP, however the increasing security of Google email is now causing problems. Recent example below:
[code]

My suggestion would be to find an alternative to Gmail. Maybe Sentry can be useful there? Any idea welcome.

[2018-04-25 05:53] jcohenadad commented on #1700
This might be related to an old SCT git folder, where python should have been reinstalled. However, upon reinstallation, i get the following error:
[code]

[2018-04-25 14:27] jcohenadad opened #1702 "Testing branches"
I have a git installation of SCT. I wanted to test a branch, did a checkout, fetch, rebase, and then i ran:
[code]

as per the instruction here: https://github.com/neuropoly/spinalcordtoolbox/wiki/development-hints#testing-environments

however, the spinalcordtoolbox/gui was not updated.

i had to do the following to update it:
[code]

what is the correct procedure for testing a branch so that we

[2018-04-25 15:42] zougloub commented on #1701
For sure, hard-coding gmail in the code is not the best.

On the particular error message: when you access Google services using same credentials but from very different geographic areas (eg. Canada vs Japan) (or browsers), the security measures might trip, and there is nothing you can do except logging in by HTTP and calming them down.

[2018-04-26 01:11] zougloub commented on #1700
@jcohenadad what's the distro on that machine?

I'm using Docker to perform testing and trying to sort this out, current status:
[code]

[2018-04-26 15:00] zougloub commented on #1700
The culprit is that the series of tests (introduced in #1677) is WIP :smile: ; this should be fixed today (the trial/error takes wall-clock time).

OK, so centos 7 it is.

[2018-04-26 17:43] zougloub opened #1704 "List of unsupported old Linux distros"
The following "old" Linux distributions are known to have issues running SCT:

- Centos 6

---

The following distributions aren't having issues with SCT per se, but other components used jointly:

- Debian 7 (the NiFTI viewer fsleyes is quite hard to install there)

---

Issues:
- `isct_antsSliceRegularizedRegistration` execution failure
[code]
This happens on Centos 6 and is similar to #564 ; co

[2018-04-26 17:50] #1690 closed

[2018-04-26 23:16] zougloub commented on #1644
Getting fsleyes into the Docker images (additional USB stick payload)..
@fperdigon when it's done (installing with the dependencies isn't straightforward), I'll let you know.

[2018-04-30 14:26] zougloub commented on #1634
Closed by #1706

[2018-04-30 14:26] zougloub commented on #1659
Closed by #1706

[2018-05-04 13:03] #1693 closed

[2018-05-04 13:56] jcohenadad commented on #1625
Because of the [recent developments](https://github.com/neuropoly/spinalcordtoolbox/pull/1669#issuecomment-384737822), this issue is now critical and should be addressed.

One suggestion would be to create a file `straightening.info` at the end of `sct_straighten_spinalcord`, that includes information about the type of straightening that was done (classical vs. new disc-based), so that SCT knows i

[2018-05-04 17:16] zougloub opened #1707 "Sentry "false positives""
As we are integrating issue reporting, there may be issues reported by Sentry, that don't really need to be.

Examples:

- [x] `ValueError: File ${file}.nii.gz does not exist. Exiting`
- [x] `WARNING: NURBS instability -> wrong reconstruction`

[2018-05-07 08:39] jcohenadad opened #1708 "Sentry: display message to indicate how to opt out from Sentry"
### Description

It is likely that some users who have initially opted in for sentry (crash report) will be annoyed. They need to be able to opt out at anytime, hence this should be documented. One suggestion is to display a message like:
[code]

Ideally, this message should be displayed everytime an error is sent. I don't know if there is a method in `raven` that enables to add custom message upo

[2018-05-07 09:03] jcohenadad commented on #1634
this issue should not have been closed, because its original purpose was to address issues in segmentation results (e.g., two blobs per slice). In the meantime, another error was reported (bug with nii.gz, which by the way, should have been reported in another issue), and the error was then closed after #1706 (specific to the nii.gz issue) has been merged.

again, @fperdigon and @stephaniealley pl

[2018-05-07 09:39] jcohenadad opened #1709 "Browser keyboard shortcuts not available during QC"
### Description

When checking QC on the generated `index.html`, some useful keyboard shortcuts, such as CTRL+R (refresh), CTRL +/- (zoom in/out) are not working.

[2018-05-08 00:27] #1660 closed

[2018-05-08 05:47] jcohenadad opened #1710 "Add a flag to display message on the GUI for labeling"
### Description

When calling `sct_label_utils -i IMAGE -create-viewer`, the user might need to be informed about what to label when the GUI shows up. Hence, it would be convenient to be able to display a custom message, such as "Label the posterior tip of discs C2-C3 and C5-C6".

A suggestion is to create a flag `-msg` for "message".

[2018-05-09 02:10] jcohenadad commented on #1178
there is a bug in the latest version of `antsSliceRegularizedRegistration` and B. Avants is unresponsive so we keep the label "wontfix" from the time being.

[2018-05-09 03:42] jcohenadad commented on #1697
fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/1698

[2018-05-09 03:42] #1697 closed

[2018-05-09 07:34] jcohenadad commented on #1651
@zougloub any update on this? for a quick fix, and given that `sct_segment_graymatter` will eventually be replaced by `sct_deepseg_gm`, should we just go with the "quick fix" of downgrading sklearn?

[2018-05-09 07:38] jcohenadad commented on #1691
@zougloub any update on this?

[2018-05-10 06:22] jcohenadad opened #1714 "mention to open fsleyes from the terminal in the video tutorial"

[2018-05-10 06:30] jcohenadad opened #1715 "make video tutorial on how to use shape analysis"
### Prerequisites

* [ ] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [ ] If you are using a development environment, is your environment updated ?

### Description

Description of the issue and use the labels to add additional context.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on

[2018-05-10 06:44] jcohenadad opened #1716 "Quasi-systematic under-segmentation with sct_deepseg_sc"
### Description

I've noticed several cord under-segmentations on T1w contrast with `sct_deepseg_sc` when compared to `sct_propseg`. Example below with `sct_019_t1`:

![screen shot 2018-05-23 at 12 49 05](https://user-images.githubusercontent.com/2482071/40402680-fd2c0e70-5e87-11e8-8044-5d1021bac330.png)

Note that I don't observe as much under-segmentation on T2-like contrasts

[2018-05-10 17:11] fperdigon opened #1717 "restrict the writing permission in the Forum News."
Restrict the writing permission of Forum News in the Sourceforge page to the developer team.

[2018-05-10 17:36] fperdigon commented on #1717
@jcohenadad ,  SourceForge only allows you to define permissions for a Discussion tab.
The solution for this would be to create a new tab called News where only the developer team has write permission. The current Discussion tab can be renamed to Help with will have writing permission for users to post their doubts.
Here is a link to the help of SourceForge regarding this
https://sourceforge.net/p

[2018-05-10 20:28] fperdigon commented on #1689
The parser is working well and the expected results are obtained. I think there was an error typing the segmentation file. does not have the correct extension should be nii.gz instead of nz.

PS: if I put the -qc option I get errors related to QC. I have the dependencies updated.

`QC: layout with Sagittal slice
Traceback (most recent call last):
  File "/Users/fperdigon_admin/Documents/spinalcord

[2018-05-11 02:16] zougloub opened #1718 "Install fails from github tarball if git not installed"
A regression arose during the Sentry merge:
[code]

[2018-05-11 02:38] benjamindeleener commented on #1625
I agree with this solution.

[2018-05-11 03:29] jcohenadad commented on #1689
thank you @fperdigon, well spotted. However the output verbose is not acceptable: it should say something like "this file does not exist" or something like that... could you appropriately rename this issue and address it?

regarding the QC issue: pls open a new issue with instructions to reproduce

[2018-05-11 04:28] zougloub commented on #1702
The installer always performs that `pip install` of SCT (with Conda's pip).
How are you launching the GUI? Any chance the pip you are using isn't the one from the Conda environment?

[2018-05-11 04:41] zougloub commented on #1696
Creating the path if necessary is not a standard practice and I don't think it's a good idea, so the proposed solution is to indicate that the parent folder doesn't exist.

[2018-05-11 04:44] #1679 closed

[2018-05-11 04:45] zougloub commented on #1688
Fixed by  #1705

[2018-05-11 04:45] #1688 closed

[2018-05-11 04:51] #1541 closed

[2018-05-11 04:51] #1271 closed

[2018-05-11 04:53] zougloub commented on #1573
Fixed by #1647

[2018-05-11 04:53] #1573 closed

[2018-05-11 04:53] zougloub commented on #1597
To be fixed by  #1703

[2018-05-11 05:05] jcohenadad commented on #1717
@fperdigon if we create a new tab "news", is there a possibility to move the current content of the Forum/Help to the new tab Help?

If so, could you please do it?

thx

[2018-05-11 05:12] zougloub commented on #1707
- `ValueError: File ${file}.nii.gz does not exist. Exiting` to be fixed by parser update in PR #1720

[2018-05-11 05:42] zougloub commented on #1700
Fixed by #1703

[2018-05-11 05:42] #1700 closed

[2018-05-11 05:42] zougloub commented on #1597
Fixed by #1703

[2018-05-11 05:42] #1597 closed

[2018-05-11 05:42] zougloub commented on #1718
Fixed by #1703

[2018-05-11 05:42] #1718 closed

[2018-05-11 05:54] jcohenadad commented on #1702
yes, i'm also puzzled. The GUI was launched from the terminal (in that case i think it was `sct_label_utils -i XX -create-viewer`). I am pretty sure i was using SCT Conda's pip (after doing a `source python/bin/activate` within `$SCT_DIR`). Next time it happens to me i will document better (i.e. with exact commit, etc.).

[2018-05-11 06:40] jcohenadad opened #1721 "Update documention on how to create labels"
### Description

[This page](https://sourceforge.net/p/spinalcordtoolbox/wiki/create_labels/) is obsolete because (i) it uses fslview instead of `sct_label_utils -create-viewer` and (ii) it does not describe label values for the discs.

Such documentation is important for `sct_register_to_template`.

With the current efforts to move (almost) everything from SF to GH, I suggest we create this doc o

[2018-05-11 11:46] fperdigon commented on #1414
@jcohenadad  if you want I can take care of this

[2018-05-11 13:26] zougloub commented on #1414
OK. You can start from that branch in #1722

[2018-05-11 14:10] #1695 closed

[2018-05-12 15:40] fperdigon opened #1725 "Error when -qc option is used on sct_label_vertebrae"
### Prerequisites

* [X] Did you check past issues for similar issue(s) ?
* [X] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [X] If you are using a development environment, is your environment updated ?

### Description

Error when -qc option is used on  sct_label_vertebrae

### Steps to Reproduce
data: sct_testing_data/t2
branch: master
commit #: HEAD/caf11f46

[2018-05-12 17:34] zougloub commented on #1691
OK I can reproduce this with your data; for some reason the QC slice is empty. Will investigate...

[2018-05-13 01:44] jcohenadad commented on #1717
@fperdigon: I suggest we simply remove the "News" tab.

Pros:
* Removes one tab, hence clearer from UX standpoint
* No risk of people posting help request on News forum
* Less maintenance of SF

Cons:
* No more news, however I don't think it has been very useful so far. When we have new releases I advertise via existing mailing list (sct-mailing, neuroimaging-python, nitrc, etc.) so most people ar

[2018-05-13 01:45] #1710 closed

[2018-05-13 01:56] jcohenadad commented on #1725
@fperdigon when you report an issue, always specify branch and commit #, as well as the data used.

It works for me with sct_testing_data/t2:

<details>

[code]

</details>

[2018-05-13 03:36] fperdigon commented on #1717
just to be sure:  :+1: is to eliminate?

[2018-05-13 21:44] stephaniealley opened #1726 "sct_flatten_sagittal crashes"
### Description

The function crashes and produces the error below.

### Steps to Reproduce

Data: sct_testing/issues/20180513_issue1726

Run:
[code]

Error:
[code]

### State of spinalcordtoolbox
[code]

[2018-05-13 22:35] fperdigon commented on #1726
@stephaniealley this is related to #821. I am working on this

[2018-05-13 22:49] stephaniealley commented on #1726
@fperdigon thank you for letting me know.

[2018-05-14 08:03] #1495 closed

[2018-05-14 15:29] zougloub commented on #1691
Interesting issue. Actually it's... a numerical error, the normalization performed was giving a maximum of 1.0000001. Your example is working when the temporary QC image is changed from float32 to float64 but I won't take a chance and just do clamping.

[2018-05-15 01:19] jcohenadad opened #1731 "Implement all coverage"
Maybe explore this solution: https://coveralls.io/

[2018-05-15 02:23] jcohenadad opened #1732 "Is sct_make_ground_truth still useful?"
@neuropoly/spinal-cord-toolbox is anyone still using [this function](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_make_ground_truth.py)? If not I suggest we remove (duplication with `sct_label_utils -create-viewer`).

[2018-05-15 02:32] jcohenadad opened #1733 "Output of `sct_straighen_spinalcord` should be able to be reused via the preexisting cache mechanism"
### Description

In relation to [this comment](https://github.com/neuropoly/spinalcordtoolbox/pull/1719#issuecomment-388880064), when running `sct_straighen_spinalcord` separately from other functions, the caching should be reused, e.g., by `sct_label_vertebrae`.

[2018-05-15 03:47] charleygros opened #1734 "sct_process_segmentation -discfile -p label-vert"
2 detected issues with the function:
`sct_process_segmentation -discfile -p label-vert`

1. Assume images with RPI orientation:
[code]

2. Use the convention "disc labelvalue=3 ==> disc C3/C4" instead of "disc labelvalue=3 ==> disc C2/C3"
[code]
Or I am missing something? :/

[2018-05-16 00:36] charleygros commented on #1734
[code]
Yes correct --> That s the goal of this PR: correct `sct_process_segmentation` in this respect.
And that s why I have not modified the label values in `sct_label_vertebrae`.

[code]
I will remove my comments "TODO ... " --> I am realizing they are false. My bad.

To summarize:
- definition of disc corrected in `sct_process_segmentation`
- add an im.change_orientation('RPI') in label_segment

[2018-05-16 00:48] jcohenadad commented on #1734
👍 OK I get it now, so I [modified the title of the PR](https://github.com/neuropoly/spinalcordtoolbox/pull/1735#event-1628497368) because `sct_label_vertebrae` has no impact in the old/new ldisc definition debate (it outputs vertebral, not disc levels).

[2018-05-16 01:49] fperdigon commented on #1726
@stephaniealley @jcohenadad  I think that this issue can be closed

[2018-05-16 01:51] jcohenadad commented on #1726
fixed in #1729

[2018-05-16 01:51] #1726 closed

[2018-05-16 01:51] fperdigon commented on #1732
I am using only `sct_label_utils -create-viewer`, I agree with the deletion

[2018-05-16 01:59] jcohenadad commented on #1732
ok let's do it then

[2018-05-16 05:21] #1696 closed, assigned to zougloub

[2018-05-16 05:28] zougloub commented on #1691
Fixed by  #1691

[2018-05-16 05:28] #1691 closed

[2018-05-16 08:31] jcohenadad commented on #1625
Fixed by #1719

[2018-05-16 08:31] #1625 closed

[2018-05-16 08:32] jcohenadad commented on #1529
Fixed by #1713

[2018-05-16 08:32] #1529 closed

[2018-05-16 16:32] zougloub commented on #801
During installation of SCT, the bundled Python installation is made specific to the SCT install location.
Distro-specific offline archives can be made with `sct_docker_images.py` but they need to be installed in `/home/sct` in order to work (to use them, just add `PATH+=":/home/sct/sct_${version}/bin"`).
Location-independent setup can so far only be performed by wrapping all of this in a container

[2018-05-16 16:32] #801 closed

[2018-05-16 16:50] zougloub commented on #865
MKL is installed by default on Conda, now removed if it causes issues (detected during installation).
Conda packages are pre-compiled, whereas pip packages are often source-based and take more time to install (and require more depedencies). In the long term we should aim to be able to work with the system Python, with a simple virtualenv.

[2018-05-16 16:50] #865 closed

[2018-05-16 16:52] zougloub commented on #868
Closing as too old and missing context.

[2018-05-16 16:52] #868 closed

[2018-05-16 17:15] zougloub commented on #873
http://docs.python-guide.org/en/latest/dev/pip-virtualenv/:

Not necessary when using the Conda bundled environment.

[2018-05-16 17:15] #873 closed

[2018-05-16 17:27] zougloub commented on #1073
Fixed by #1672

[2018-05-16 17:27] #1073 closed

[2018-05-16 17:54] #1036 closed

[2018-05-16 17:56] zougloub commented on #1283
Closing without testing. Should be dealt with by #1532

[2018-05-16 17:56] #1283 closed

[2018-05-16 17:59] zougloub commented on #1524
Printed by sct_check_dependencies -> closing

[2018-05-16 17:59] #1524 closed

[2018-05-16 18:01] zougloub commented on #1532
Fixed. `cwd=subdir` not used yet.

[2018-05-16 18:01] #1532 closed

[2018-05-16 18:06] zougloub commented on #1543
(propseg done: #1685)

[2018-05-16 18:09] zougloub commented on #337
We're in 2018 and even if RAM is more expensive as in 2015 (!) let's close this: the new deep learning code eats way more RAM...

[2018-05-16 18:09] #337 closed

[2018-05-16 18:19] #1732 closed

[2018-05-17 03:48] jcohenadad opened #1739 "Crash with -display If no label present"
### Description

When inputting a black image with `sct_label_utils -i BLACKIMAGE -display` the function lamentably crashes. A more elegant behaviour is advised.

[code]

[2018-05-17 05:11] stephaniealley opened #1740 "Output cord segmentation is empty on image with reasonable contrast"
### Description

The function runs successfully, but the resulting segmentation image is empty.

### Steps to Reproduce

Data: sct_testing/issues/20180517_issue1740

Run:
[code]

### State of spinalcordtoolbox
[code]

[2018-05-17 05:12] stephaniealley commented on #1740
Note that the segmentation also fails for propseg.

[2018-05-17 05:34] jcohenadad opened #1741 "Running `-v 2` for registration scripts no longer outputs intermediate `matplotlib` plots"
### Description

When using `-v 2` [these intermediate QC files](https://github.com/spinalcordtoolbox/spinalcordtoolbox/blob/9b1aeac9634f706e6673e3b1384099745816325a/scripts/msct_register_landmarks.py#L345-L383) are no more output.

This issue has probably been introduced in a recent PR (no time to investigate more at this point). An acceptable workaround would probably be to output those qc files

[2018-05-17 05:42] jcohenadad commented on #1740
I experience the same problem with `sct_deepseg_gm`, i.e., output segmentation is empty.

[2018-05-17 05:47] jcohenadad opened #1742 "Temporary folder is removed even with -r 0"
### Description

This is caused by [this line](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_sc.py#L227)

Fix is to replace:
[code]
by
[code]

[2018-05-17 05:51] jcohenadad commented on #1740
Investigating further, the issue with `sct_deepseg_sc` happens at the centerline detection: for each slice, the centerline is located at the R-P corner.
@charleygros Maybe a problem with the image intensity (<1), and type conversion done before running Optic (float32 --> uint)?

[2018-05-17 06:14] jcohenadad opened #1743 "Crash if image has 5 dimension (e.g. RGB)"
### Description

If image has 5 dimensions (e.g., RGB from histology converted to nifti: (690, 462, 75, 1, 3)), this test will fail. We should add more thorough test on the data shape [there](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_label_utils.py#L175).

[2018-05-17 06:57] jcohenadad opened #1745 "sct_check_dependencies crashed after new installation"
Email from a user (captured by sentry: SCT-28):

[code]

[2018-05-17 13:41] charleygros commented on #1740
@jcohenadad : Yes it is certainly caused by this line:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/optic.py#L95

[2018-05-17 15:45] perone commented on #1740
So, this volume doesn't seem to be unnormalized (the intensities seems to be zero centered, so they probably did a zscore normalization). Our models assume that the input isn't already normalized because we have to do normalization on the input, so if we feed this normalized data, there will be another normalization done by the algorithm, shifting the distributions depending on the normalization e

[2018-05-17 23:50] jcohenadad commented on #1740
@perone two things
- some sequences or dcm conversion software can give you any dtype or normalized intensity. So we cannot assume "unnormalization".
- even if there is normalization, applying another normalization should not be a problem if precision was not lost at the first place. So i suggest you check your assumptions on the  input data type?

[2018-05-18 00:48] perone commented on #1740
Oka, I'll work on finding something that would be robust to it and that it will not cause issues when applied to data already normalized. 👍

[2018-05-18 00:59] jcohenadad opened #1747 "Implement large-scale testing with sct_pipeline for sct_deepseg*"
### Description

Some issues (#1740) warrants modifications on the input data, which could be sensitive to certain algorithms. In order to make sure that these modifications will not affect results when applied in a large variety of dataset (with various type, precision, intensity range, etc.), we should start running `sct_pipeline` on `sct_deepseg_gm` and `sct_deepseg_sc`, and document [there](ht

[2018-05-18 01:00] jcohenadad commented on #1740
If we are worried that those modifications will impact the results in a large dataset, `sct_pipeline` running on sct_testing/large is here to help and should be used for the `sct_deepseg*` functions as well. Issue opened here: https://github.com/neuropoly/spinalcordtoolbox/issues/1747

[2018-05-18 01:26] jcohenadad commented on #1740
@perone maybe you could use what is already implemented [there](https://github.com/neuropoly/spinalcordtoolbox/pull/1746#issuecomment-390059346) for safe intensity rescaling and to avoid code duplication in SCT. The code is currently not working (as of 2018-05-18 10.25) but @charleygros is working on it.

[2018-05-18 01:41] perone commented on #1740
So, we can use the same thing, however, the model has to be trained with this same normalization. There is also interaction with the model internal way of doing normalization or not (batchnorm, etc), especially when using multiple distributions (multiple centers, etc). So what I'm doing now is testing different ways of doing the initial normalization together with different ways of normalizing the

[2018-05-18 01:47] jcohenadad commented on #1740
@perone I don't understand this argument. To me, so far your function has been working fine with uint16 input, right?  So, if that's the case, then how could a rescaling+changeType (float-->uint16), which produces similar intensity distribution as "unprocessed data which are uint16 at the first place", be problematic? I don't understand how this has to do with the way the model has been trained. T

[2018-05-18 02:10] perone commented on #1740
I think we're discussing two different things probably. If we look the file `9611-0_0-images_017_jvgre10TE2mm1001_trace15Cav.nii.gz`, we'll see that it is indeed float 32-bits:

[code]

What I was referring to, is that this volume has float data type but it was normalized to be zero-cenetered (the intensities are all around 0.0). Now, the `sct_deepseg_gm` model was trained with data normalized usi

[2018-05-18 02:34] jcohenadad commented on #1740
@perone My understanding is that the mean/std of this particular dataset is very different from the average mean/std of your trained dataset, right? So my suggestion was to rescale the input data at the beginning of `sct_deepseg_gm`, such that it matches the range that you expect to see as the input of your algorithm. For example, if you expect to see [0, 65,535] (uint16), then by rescaling the in

[2018-05-18 03:32] abtahizadeh commented on #1731
Yes, this is basically what I was suggesting.
For the test framework, I am flexible with whatever your developers feel convenient.
Not much a difference, only auto-discovery can save us time.

[2018-05-18 04:34] jcohenadad opened #1748 "TypeError if more than two -p flags are used"
[code]

[2018-05-18 05:11] jcohenadad opened #1749 "exception: bad marshal data (string size out of range)"
[code]

[2018-05-18 05:15] jcohenadad opened #1750 "Add quality metrics in integrity testing"
### Description

Currently only pass/fail is output. We need more quantitative metrics (dice, duration, etc.).

[2018-05-18 06:40] jcohenadad opened #1751 "exception: cannot import name Opener"
[code]

[2018-05-18 08:11] jcohenadad commented on #1751
This issue is likely related to the wrong installation of SCT on an HPC (Compute Canada), where `./sct_install -p` should have been used in order to install the proper requirements for MPI.

However, given the poor documentation, this issue will likely happen in the future, hence it would be nice to check if SCT is running on an HPC, in which case a specific error message would be sent to ask to i

[2018-05-18 13:06] jcohenadad opened #1752 "Issue for sending email in HCP: TypeError: 'NoneType' object is not iterable"
[code]

[2018-05-18 15:11] zougloub commented on #1751
I don't think this has anything to do with HPC/MPI.
Looks like `Opener` is coming from the guts of nibabel.
Trying to reproduce and troubleshoot...

[2018-05-18 15:13] perone commented on #1740
The first phrase is correct, the mean/std is very different with this dataset, however we don't expect a range but a **zero-centered and unit-variance distribution normalized by the training set parameters**, and this normalization is done by normalizing data with training dataset estimated parameters, that is where the problem lies. For instance, if I remove the pre-processing now it won't work (

[2018-05-18 22:44] jcohenadad commented on #1751
@zougloub this was also my conclusion when looking at the usage of Opener in SCT.   After reinstalling with "-p" i did not get this error anymore.

[2018-05-19 00:35] jcohenadad commented on #1740
@perone ok, I get it about the range. I also get it that you would like to work on another intensity normalization method, based on the discussion we had previously this week. I agree this has to change, so it's great that you are looking into it. What I still don't understand however, is why you don't want to standardize all input images at the beginning of your pipeline, without touching the mod

[2018-05-19 00:40] #1743 closed

[2018-05-19 00:41] jcohenadad commented on #1731
comment from @perone:

Please also note that nose is in maintenance mode with the risk of being stopped and nose2 is just prioritizing bug fixes due to the community interest in pytest.

[2018-05-19 00:43] perone commented on #1740
Ah ok I didn't know about the GM challenge deadline ! I'll work on a PR to change the normalization of the model then and submit it soon. There is also another alternative, instead of changing it, we can add a flag that will switch the normalization, what do you think it's better ? A flag that can be used or changing the current normalization we have ?

[2018-05-19 00:48] jcohenadad commented on #1740
how about you try with systematic standardization, we test in on the large database, and if we are happy we won't need the flag (might be confusing for users)

[2018-05-19 02:27] perone commented on #1740
Oka, by systematic standardization you mean volume-wise standardization by making it zero-centered and unit-variance right ? Just to be sure.

[2018-05-19 03:47] zougloub commented on #1752
The `-email` argument is error prone, it's easy to get a crash when parameters weren't provided.

Maybe it's better to keep e-mail settings in a config file and not passed as argument, as the command-line (at least on Cedar) is accessible to all users and someone could snoop on the credentials.

[2018-05-19 03:51] zougloub commented on #1752
`-email` could take a config path file as argument, the config file being key=value... ?

Applied some band-aid for now.

[2018-05-19 14:38] fperdigon opened #1755 "docker images build program does not check if doker is installed"
Despite the docker not being installed in the system, the output of the program writes that the images were successfully created.

[2018-05-19 18:41] perone opened #1756 "Failing build messages on TravisCI"
Just saw these messages on TravisCI for the master:

![image](https://user-images.githubusercontent.com/412328/40271922-8034b754-5b72-11e8-88f3-a58cf2740f4d.png)

[2018-05-19 19:29] zougloub commented on #1756
Hi, that's expected. The VTK install is broken on Ubuntu. We're already testing more than before, where the code wasn't compiled.

[2018-05-19 19:31] zougloub commented on #1755
The docker images build program is not in this repo but neuropoly/sct_docker.

[2018-05-19 19:31] #1755 closed

[2018-05-20 14:59] zougloub commented on #1708
Fixed by #1753

[2018-05-20 14:59] #1708 closed

[2018-05-20 15:00] zougloub commented on #1742
Fixed by #1753

[2018-05-20 15:00] #1742 closed

[2018-05-20 21:32] #1750 closed

[2018-05-20 22:10] jcohenadad commented on #1603
@benjamindeleener do you have a working branch on this? If not I can take care of this, as we need it soon (#1757, #1746).

[2018-05-21 00:37] jcohenadad commented on #1603
I see that many of you are using `seaborn` instead of `matplotlib` for generating violin plot. @charleygros did you check if `matplotlib` can generate similar violin plots than `seaborn`? I.e., with inner individual plots randomly distributed along x axis?

[2018-05-21 02:30] jcohenadad opened #1758 "Add metadata to the output of sct_pipeline"
### Description

Currently, `sct_pipeline` outputs a .pickle file, which contains a Pandas dataframe. E.g.:
[code]

One useful thing to have, is metadata that would store information such as:
- sct version
- commit
- branch
- input parameter to sct_pipeline

One workaround is to create a column for each property, but this would of course take unnecessary physical space (value would be duplicated o

[2018-05-21 13:17] charleygros commented on #1603
@jcohenadad: Indeed `matplotlib` can generate similar violin plots, but I guess I am answering this question a bit late (https://github.com/neuropoly/spinalcordtoolbox/pull/1759) : )

[2018-05-21 14:36] zougloub commented on #1678
Merged neuropoly/sct_docker PR; that repo's README documents usage / installation / generation.

[2018-05-21 14:36] #1678 closed

[2018-05-21 14:46] #1371 closed

[2018-05-21 14:51] zougloub commented on #1309
With a first QC refactor, it is now possible to run QC separately from the script (albeit with a Python API, not command-line). Given the variability of scripts `generate_qc()` parameters, I'll close this for now.

[2018-05-21 14:51] #1309 closed

[2018-05-21 14:58] zougloub commented on #1218
Took a look, `from msct_types import *` is used now so this can be closed.

[2018-05-21 14:58] #1218 closed

[2018-05-21 15:01] zougloub commented on #1091
Duplicate of #767

[2018-05-21 15:03] zougloub commented on #730
Conda is vendor-specific, pip is vendor neutral, see #1526

[2018-05-21 15:03] #730 closed

[2018-05-21 15:08] zougloub commented on #537
Command list available right now on Sourceforge, will become in `documentation/sphinx/source/command-line.rst`, and it doesn't seem like a concern, so closing.

[2018-05-21 15:08] #537 closed

[2018-05-21 15:09] zougloub commented on #481
Old issue; binaries & data are available on OSF now.

[2018-05-21 15:09] #481 closed

[2018-05-21 21:42] jcohenadad opened #1763 "Allow better filtering for including folders like t2_sag, t2_ax"
### Description

Currently, in order to launch `sct_pipeline` we have to specify the exact input and ground truth file names. This becomes problematic as some folders are called t2_sag, t2_ax, etc., so we are currently missing them in the large testing. One solution would be to use a database and filter on contrasts as opposed to file names. This issue is related to the parallel efforts in setting

[2018-05-21 21:44] jcohenadad opened #1764 "sct_pipeline_makefig: add failed (not crash) as well to get total number of images"
fixed in #1762

[2018-05-21 21:44] jcohenadad opened #1765 "sct_pipeline: joplin freezes with large number of subjects"
- tried with and without MPI installation
- works with 16 subjects but freezes after ~4800 subjects
- tried with -nb-cpu of 32 and 127 (128 threads on joplin)

[2018-05-21 22:00] jcohenadad opened #1766 "rename sct_pipeline output for easier manipulation"
file name should include branch and start with date. E.g.:
[code]

[2018-05-21 22:35] jcohenadad commented on #1765
this thing happened on cedar (compute canada), not sure if this is related:
[code]

[2018-05-21 22:39] zougloub commented on #1765
I ran the following:
[code]

16 threads at once. Results:

[code]

Will try more...

[2018-05-21 22:41] jcohenadad commented on #1765
I see a "srun: error: cdr515: task 8: Out Of Memory" from `cedar` output. Maybe `joplin` had the same issue, but without verbose (maybe was trying to swap large amout of data?)

[2018-05-21 22:42] zougloub commented on #1765
Have you evaluated the RAM requirements of running one job?

[2018-05-21 22:42] jcohenadad commented on #1765
nope, not sure how to do it properly

[2018-05-21 22:43] zougloub commented on #1765
An easy way is to run on a local machine and look at htop at the same time. Bonus: it's pretty.

[2018-05-21 22:48] jcohenadad opened #1767 "Give more information about the number of subjects used for `deepseg_gm_models/large_model.onnx`"

[2018-05-21 22:55] charleygros commented on #1767
I think we already have this info under `data/deepseg_*_models/READ_ME.txt`

[2018-05-21 22:55] perone commented on #1767
This information is already inside the zip file of the model, do you want me to add it somewhere else also ?

[2018-05-21 22:58] jcohenadad commented on #1765
percent --> CPU?
vertical bars --> ?

<img width="892" alt="screen shot 2018-05-22 at 07 56 17" src="https://user-images.githubusercontent.com/2482071/40333887-c7907cc6-5d95-11e8-9fd3-2a106e121002.png">

[2018-05-21 23:00] jcohenadad commented on #1767
when the user does `sct_deepseg_gm -h`, it should be made explicit how to get more info from the model (it is the case for the model "challenge" where there is a link to it).

[2018-05-21 23:01] zougloub commented on #1765
Window too small. You also have a RAM progress bar somewhere.

Also:
[code]

[2018-05-21 23:03] jcohenadad commented on #1765
ah sh... sorry about that. indeed

[2018-05-21 23:04] jcohenadad commented on #1765
hum... currently ~25G out of 256G of RAM

[2018-05-21 23:05] perone commented on #1767
Ah ok ! I think we should start adding this information on sphinx and then put a link to the help pointing to the correct sphinx doc. What do you think ? Otherwise, we'll have information spread in too many places.

[2018-05-22 00:30] jcohenadad opened #1768 "sct_pipeline: append input data to subject_folder as dataframe index"
will be useful for distinguishing contrasts in case multiple `-p` flags are used

[2018-05-22 01:58] jcohenadad commented on #1765
Below is a screenshot during the "freeze". The state of processed subjects is 4527/4539 (almost there!), but it's been like that for the past 30min, so it is definitely stuck. Below is a screenshot from `htop`, suggesting that it might not be a RAM issue (I think). Before it got stuck, `htop` was showing mostly those processes:
![screen shot 2018-05-22 at 10 56 39](https://user-images.githubuserco

[2018-05-22 02:26] jcohenadad commented on #1765
that's exactly what i'm doing now. Update to come soon...

[2018-05-22 02:36] jcohenadad opened #1769 "sct_pipeline: change flag nb-cpu --> jobs"
currently misleading

p.s. nthread vs. nthreads? dunno about those conventions...

[2018-05-22 02:56] zougloub commented on #1769
`-j, --jobs` is the standard for # of parallel workers

[2018-05-22 03:08] jcohenadad commented on #1769
i can do it-- i need to do a few modifs on `sct_pipeline`

[2018-05-22 04:46] zougloub commented on #1656
Github Pages can do the trick though, for now I've manually built docs at https://zougloub.github.io/sct_docs ; this is from a repo containing Sphinx HTML outputs.
If we're really bored of committing by hand, the repo could contain a Travis script to generate the docs and publish the Github page.

[2018-05-22 04:57] jcohenadad commented on #1656
Fantastic contribution @zougloub! I'm not a big fan of the font (i would favor something like [this](https://docs.readthedocs.io/en/latest/index.html)) but that's a minor detail. I guess the next big step is to get the meat inside, and i should probably be the one to get my hands dirty

[2018-05-22 06:11] jcohenadad commented on #1702
Another fail in updating modules after running ./install_sct, resulting in wasted time: https://github.com/neuropoly/spinalcordtoolbox/pull/1746#issuecomment-390824936

[2018-05-22 08:14] #1764 closed

[2018-05-22 08:14] jcohenadad commented on #1758
fixed via #1761

[2018-05-22 08:14] #1758 closed

[2018-05-22 08:15] jcohenadad commented on #1747
fixed via #1754

[2018-05-22 08:15] #1747 closed

[2018-05-22 08:16] jcohenadad commented on #1558
`sct_pipeline` is not more broken. there have been a couple of PRs since, so it is difficult (i.e. takes time) to retrace which one fixes this issue.

[2018-05-22 08:16] #1558 closed

[2018-05-22 09:32] valosekj opened #1770 "sct_deepseg_sc empty result on data after motion correction"
### Description

Dear SCT experts,
I found out issue with _sct_deepseg_sc_ function when I run it on our data. We have T2 axial DCM patient data which were measured with interleaved sequence. Unfortunately, some of patients moved during examination, so data are corrupted by slice-by-slice motion artifacts.
We created in-house slice-by-slice motion correction script for suppressing this motion arti

[2018-05-22 12:39] jcohenadad commented on #1740
While we are working on this issue, a workaround is to multiply by 1000 before running deepseg:
[code]

also see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/66475b3e/

[2018-05-22 12:45] jcohenadad commented on #1770
Does your motion correction code output an image with a different output type? I feel that we are back to [this issue](https://github.com/neuropoly/spinalcordtoolbox/issues/1740#issuecomment-390974859). If that's the case, could you try the "x1000" trick and let us know how it goes?

Note: the error you are seeing (`TypeError: not all arguments converted during string formatting`) is generated by

[2018-05-22 15:50] valosekj commented on #1770
Our motion correction code has on output image with same data type (float32).
In this case we are working with original data before normalization. You can see at histogram that we have values of brightness between 0 and approx. 750 (histogram curves for both images look almost same).
And I am attaching a screenshot which illustrates that segmentation works fine on image before motion correction (p

[2018-05-22 16:05] zougloub commented on #1656
@perone are you OK with Github Pages? and with a separate repo for building/storing docs?
@abtahizadeh do you have an opinion?

[2018-05-22 17:16] perone commented on #1767
I'll wait for the PR #1683 merge before doing that because all the sphinx docs are there.

[2018-05-22 18:32] zougloub commented on #1656
Travis can push to Github Pages (I'll do it later).

I started trying to use gh-pages on the spinalcordtoolbox repo, it can be used also, but I'd lean towards using a separate repo:

- Avoids having different stuff in a single repo (it's "cleaner");
- Pollution that would happen on git fetch;
- We may want to have docs for each SCT release (if you read `master`'s docs and they refer to stuff that

[2018-05-22 18:47] perone commented on #1656
I see, but all these issues seem to be what ReadTheDocs solve right ?

- You have a separate hosting, so no gh-pages;
- No pollution on git fetch because the rendered docs aren't hosted on the repo;
- ReadTheDocs naturally have versioning implemented for master/dev/releases;
- No need to use Travis to build and push;

So I wonder if it's worth building all those features ourselves if we have for f

[2018-05-22 18:53] zougloub commented on #1656
I couldn't get RTD to build the documentation (it means having an SCT installation).

[2018-05-22 20:07] perone commented on #1656
I saw it, but what is the problem that you're facing with RTD ?

[2018-05-22 20:47] zougloub commented on #1656
Installing SCT (Conda and all that stuff), then working in that environment to be able to get API docs.

[2018-05-22 21:25] jcohenadad commented on #1770
I am really puzzled. @valosekj would you mind sending me the motion corrected data in private message? We'll investigate. Thanks!

[2018-05-22 23:46] jcohenadad commented on #1740
fixed via #1746 and #1757

[2018-05-22 23:46] #1740 closed

[2018-05-23 04:00] charleygros commented on #1716
I am currently investigating this, and I will do a PR in this respect in few days.

In particular, I feel that we should reduce the binary thresholding at the end of the processing:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_sc.py#L375
--> exploratory experiments seems to encourage 0.1 instead of 0.75.

[2018-05-23 05:27] jcohenadad opened #1772 ""open file" does not work on OSX"
### Description

At the end of a processing, the following command display is issued for users to open a browser and glance at QC results:
[code]

However, this command fails on OSX and needs to be replaced with:
[code]

### State of spinalcordtoolbox

Spinal Cord Toolbox (jca_batchProc/dea98c961553315202c90086fddedf923e99a768)

[2018-05-23 05:28] zougloub commented on #1772
On Linux, `xdg-open`.

[2018-05-23 05:50] jcohenadad opened #1773 "UserWarning: Possible precision loss when converting from float64 to uint16"
[code]

[2018-05-23 06:45] jcohenadad opened #1774 "Should raise error if image contains NaN"
### Description

If an image contains NaN, its rescaling and/or conversion to `int16` which is part of `sct_get_centerline -method optic`, produces a blank volume, subsequently leading to a wrong centerline output. The problem is that the is not notified about this.

Instead, an error should be raised if a NaN is encountered before doing the intensity manipulation, and the process should terminate

[2018-05-23 06:59] jcohenadad commented on #1770
This issue is related to the presence of NaN in the slice=0 of the motion-corrected image:
![screen shot 2018-05-23 at 15 52 30](https://user-images.githubusercontent.com/2482071/40408244-d6068284-5ea1-11e8-958a-9c248f6eff4e.png)

An issue has been opened to inform user when that happens (#1774).

Since the NaNs are only in slice=0, a workaround for this image is to remove the NaN-slice and run `s

[2018-05-23 07:00] #1770 closed

[2018-05-23 07:11] jcohenadad opened #1775 "UnboundLocalError: local variable 'nii_b1map' referenced before assignment when B1map not provided"
[code]

[2018-05-23 07:34] #1766 closed

[2018-05-23 07:34] #1768 closed

[2018-05-23 07:34] #1769 closed

[2018-05-23 08:04] jcohenadad opened #1777 "Change output name XXX_centerline_optic --> XXX_centerline"
### Description

The current convention for output file name is only the "what", not the "how".

Regarding `sct_propseg`, i suggest we remove the default output centerlines.

[2018-05-23 14:19] #1734 closed

[2018-05-23 14:30] charleygros commented on #1763
I think we could go with the first option (ie using a file provided by the database), as it seems already working and to provide the information we need.

But maybe I am missing something (& sorry for this question): what would be the interest to directly communicate with the database using an API?

[2018-05-23 15:30] valosekj commented on #1770
Thank you very much for your help Julien and sorry for our inattention about the first missing slice (this was caused by issue in our slice correction function). We fixed our slice correction function and now segmentation works properly.

[2018-05-24 01:41] abtahizadeh commented on #1731
Thanks @perone ,
I was actually talking about Nose2, we use it in production in our company.
However, I totally agree with choosing the right eco-system, let's keep on working with PyTest, I'm also familiar with that.

[2018-05-24 02:53] abtahizadeh commented on #1731
@jcohenadad In folder "unit_testing" I see only two small python modules, is it the beginning of writing Unit Tests and using a framework or is there another branch containing all Unit Tests that I must look into?

[2018-05-24 03:54] jcohenadad commented on #1731
@abtahizadeh there is no other branch that i'm aware of. So yes, `unit_testing/` includes initial attempts

[2018-05-24 05:02] jcohenadad commented on #1763
@charleygros excellent question: the benefit of the API is to update the DB with batch of subjects. For example, if you want to update the coverage information in 100 subjects, you can send a request via an API vs. doing it manually via the web interface for each subject. A list of feature is available [here](https://github.com/neuropoly/sct_testing_management/issues/31).

[2018-05-24 05:08] jcohenadad commented on #1777
@charleygros agreed, i've updated the proposed change [here](https://github.com/neuropoly/spinalcordtoolbox/issues/1777#issue-325592803)

[2018-05-24 06:30] jcohenadad opened #1778 "add QC feature for sct_register_multimodal"
### Description

The same visual as for `sct_register_to_template` would be fine.

[2018-05-25 00:38] #1775 closed

[2018-05-25 05:06] jcohenadad commented on #1717
@fperdigon i see the "news" tab is still there-- could you please remove it, and once remove, close this issue-- thanks

[2018-05-25 07:36] jcohenadad opened #1780 "Not possible to input single file with flag -f"
### Description

The flag `-f` is designed to accept both folder and file, as been introduced in 6a863a6f79aa20758dd1250849c15e878bbb0863. A more recent commit broke it. Now reintroducing it.

[2018-05-25 19:28] fperdigon commented on #1717
@jcohenadad, Done

[2018-05-25 19:28] #1717 closed

[2018-05-25 20:11] fperdigon commented on #1689
@jcohenadad  This issue was fixed by @zougloub [here](https://github.com/neuropoly/spinalcordtoolbox/commit/a576106a5bc6f55b04bc01d1765ab65e0c8d5819#diff-31b7cd49a74ad9e8d82353e2fe72a244). I already tested and the parser is working fine. I will close this issue.

[2018-05-25 20:11] #1689 closed

[2018-05-25 20:15] fperdigon commented on #1725
@jcohenadad seems that was already fixed. Now is working as expected on my side. Closing this issue

[2018-05-25 20:15] #1725 closed

[2018-05-26 12:16] #1780 closed

[2018-05-26 22:15] knelistonie commented on #1765
Spawning a subprocess per object?
This needs a redesign. Very much so.

[2018-05-27 00:38] jcohenadad commented on #1745
Fixed via #1753

[2018-05-27 00:38] #1745 closed

[2018-05-27 00:38] #1432 closed

[2018-05-27 00:50] zougloub commented on #1765
In non-MPI mode, the multiprocessing pool spawns M worker processes, which differs from the N number of work items (subjects). Not sure what you mean @knelistonie.

[2018-05-27 01:58] jcohenadad commented on #1765
things i will check:
[code]
execute a tail like: "tail -f /var/log/messages" in one terminal before executing the sct_pipeline, if there is a system error, it will appear there.

[2018-05-27 10:04] knelistonie commented on #1765
So N is not N objects, ok. But that many processes cannot but lead to troubles.

Verstuurd vanaf mijn iPad

regards, kneistonie

Op 27 mei 2018 om 02:50 heeft Jérôme Carretero <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

In non-MPI mode, the multiprocessing pool spawns M worker processes, which differs from the N number of work items (subjects). Not sure wh

[2018-05-27 13:24] jcohenadad opened #1782 "UnicodeEncodeError in sct_changelog.py ±∞"
[code]

[2018-05-27 13:35] jcohenadad commented on #1782
This was caused by the use of ", #, or any greek character in the title of the PR. Until this issue is fixed, we should only stick to alphanumeric characters in PR's title.

[2018-05-27 22:23] jcohenadad opened #1784 "ImportError: libSM.so.6: cannot open shared object file: No such file or directory"
On joplin (Ubuntu) after fresh git clone of master/fc72f34d4251de09d3e92071c66b40ac7fe4c92a and while running `batch_processing`:
[code]

Maybe due to the impossibility of opening a figure (connected via ssh without -X)

[2018-05-27 22:59] jcohenadad commented on #1784
I confirm this is due to the QC module trying to open a matplotlib figure. I tried v3.1.1 on the same station and there is no error during QC generation. I am wondering if something related to Agg has been since the last release? @zougloub do you have any insight?

additional notes: a notable difference with v3.1.1 is that previously, the full html was not created, only the json was produced, and

[2018-05-27 23:02] jcohenadad opened #1785 "ssh without display: add test to make sure SCT does not crash"
To avoid #1784

[2018-05-28 05:41] zougloub commented on #1784
The import error is due to:
- libsm6 (a basic X11 dependency) not being present on the machine (when Conda's PyQt assumes it is) which is headless
- the default chosen backend by pyplot being QtAgg

Short-term workaround: when working on a headless machine, `export MPLBACKEND=Agg` and this problem shouldn't happen.
Proper solution: do not use pyplot, rather use matplotlib OOP API, and select the b

[2018-05-28 05:43] zougloub commented on #1785
At the end of installation, there's already an ignored warning if "figure can't be opened"; at this point `sct_check_dependencies` could print something about setting the `MPLBACKEND` environment variable to a headless backend such as `Agg`.

[2018-05-28 06:15] jcohenadad commented on #1784
Indeed, `export MPLBACKEND=Agg` did the trick. Thanks!

[2018-05-28 07:58] jcohenadad opened #1786 "add missing stuff on changelog before 3.2.0"
e.g. new batch_processing

[2018-05-29 06:00] jcohenadad opened #1788 "Create feature to remove labels by their value"
### Description

In pipelines, it would be useful to bring labels from other contrast (e.g. from t1 to dmri) and remove them selectively (e.g., 2,3,5,6 to keep only 4). Another useful feature would be to select the label to keep.

The implementation could be:
- `sct_label_utils -i LABELS -remove-value 2,3,6,7`
- `sct_label_utils -i LABELS -keep-value 4,5`

[2018-05-29 08:19] jcohenadad opened #1789 "Enable to set output name in sct_process_segmentation"
We should introduce a `-o` flag.

[2018-05-29 12:41] jcohenadad opened #1790 "Image conversion issue (again)"
Data: `sct_testing/large/glen_spine-generic_20171128/t1`

[code]

Possibly related to #1449, #1740, #1691

[2018-05-30 00:20] jcohenadad opened #1791 "UnboundLocalError: local variable 'z_centerline_voxel' referenced before assignment"
I think this issue is related to the centerline not being defined if the flag `-no-angle` is set to 1. Needs further investigations.

[code]

[2018-05-30 02:35] jcohenadad opened #1792 "README: add link to sct-pipeline"
That's the link: https://github.com/sct-pipeline/

[2018-05-30 02:54] zougloub commented on #1792
Cool, for me that's the first code I see that uses SCT, that's not a built-in example.
Will give ideas of where to go in terms of API ideas, and also regarding the pipeline/scheduler.

[2018-05-30 05:20] jcohenadad opened #1793 "UnboundLocalError: local variable 'suffix_vertebral_labeling' referenced before assignment"
Here's what happens when trying to extract metric using a single file (not the typical `label/` folder passed by `-f` flag) combined with the `-vert` flag. Ideally, we should be able to specify a vertebral labeling file, as with the `-vertfile` flag in `sct_process_segmentation`.

[code]

[2018-05-30 06:00] jcohenadad opened #1794 "Create labeled segmentation using orthogonal projection"
### Description

Currently, `sct_process_segmentation -i SEG -p label-vert -discfile LABELEDDISCS` generates a labaled segmentation (e.g. value=2 if at the level of C2 vertebrae, value=3 if at the level of C3 vertebrae, etc.). The problem is that this function works by simply looking at the z of the label, and then assign the labeling on the segmentation based on the z value. This is a problem, be

[2018-05-31 06:17] jcohenadad commented on #1791
Further investigations using `sct_testing_data/t2`:
- `-i t2_seg.nii.gz -p csa -no-angle 1` --> PASS

[2018-05-31 08:08] jcohenadad opened #1799 "Implement integrity test for sct_flatten_sagittal"
to address this: https://github.com/neuropoly/spinalcordtoolbox/issues/1790

the integrity could check if the output image is empty.

[2018-06-01 00:49] jcohenadad opened #1801 "make video tutorial of package installation"

[2018-06-01 01:30] jcohenadad opened #1802 "Implement -o flag for a few functions"
### Description

In addition to the already-existing `-ofolder` for putting the outputs there, it would be useful to also have a `-o` flag to specify output file (not folder). Functions where we could implement that are:
- sct_propseg
- sct_deepseg_sc
- sct_deepseg_gm

[2018-06-02 22:19] jcohenadad opened #1803 "Too much verbose after CSA calculation and change output type"
Currently looks like this:

[code]

Should be limited to:
[code]

Also, no more output pickle, xls and txt by default. Let's only output csv.

[2018-06-02 22:56] jcohenadad opened #1804 "Use `algo=slicereg` instead of `algo=rigid` in `batch_processing.sh` for mt0-mt1 reg"
https://github.com/spinalcordtoolbox/spinalcordtoolbox/blob/1b5c49c3904dffe63546adbadc47759a53fbc8ca/batch_processing.sh#L163-L166

[2018-06-03 01:34] jcohenadad opened #1805 "Upload batch for the SCT course in sct-pipeline organization"

[2018-06-03 01:55] jcohenadad opened #1806 "Output verbose for syntax should show relative path instead of absolute"
Most people run commands locally and expect to get the output in the local folder. Hence, there is no point in displaying full path when calling `sct.display_viewer_syntax()`.

e.g. instead of
[code]

show:
[code]

[2018-06-03 02:03] jcohenadad commented on #1805
actually not a good idea because the scripts are already provided inside the data package. We don't want duplication.

[2018-06-03 02:03] #1805 closed

[2018-06-03 02:54] jcohenadad opened #1807 "Make it possible to combine tracts during estimation"
### Description

Currently, when selecting multiple tracts with, e.g., `-l 4,5,6`, metrics are calculated within each individual tracts. In order to combine tracts, people have to edit the file info_label.txt and modify the lines under "Combined labels". It would be nicer to have a flag, e.g., `-concat` that does the tract combination.

[2018-06-03 14:36] abtahizadeh commented on #1772
@jcohenadad I see the command is already "open", is there somewhere else I should've looked? is the condition to check the OS wrong? (seems fine to me)

`if uname -a | grep -i  darwin > /dev/null 2>&1; then
  # OSX
  open_command="open"
elif uname -a | grep -i  linux > /dev/null 2>&1; then
  # Linux
  open_command="xdg-open"
fi`

[2018-06-03 21:15] jcohenadad commented on #1772
@abtahizadeh the displayed command is "open file": https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/qc.py#L416

[2018-06-04 01:12] jcohenadad opened #1809 "Add README and LICENSE to new sct_example_data"

[2018-06-04 01:27] jcohenadad opened #1810 "Change colormap for fsleyes syntax"
### Description

The current colormap **Random** makes it difficult to distinguish the three first levels because it uses three very similar green colors. I suggest we use the **MGH sub-cortical** colormap instead:

**Random** (current)
![screen shot 2018-06-04 at 10 24 00](https://user-images.githubusercontent.com/2482071/40894054-c3390138-67e1-11e8-97db-4b803b716c82.png)

**MGH sub-cortical** (s

[2018-06-04 04:39] abtahizadeh commented on #1777
Please clarify, what sort of action is requested on this?
the change XXX_centerline_optic --> XXX_centerline would result in not having distinct files?

[code]

[2018-06-04 04:45] jcohenadad commented on #1777
@abtahizadeh
- in sct_propseg: the idea is to not output "XX_i_centerline" from sct_propseg anymore (i.e. the one generated from the segmentation), but only output the centerline from OptiC, which we would then call  XX_i_centerline (previously called XX_i_centerline_optic)
- in sct_get_centerline: change output name XX_i_centerline_optic --> XX_i_centerline

[2018-06-04 04:57] jcohenadad opened #1811 "Cropping outside the largest possible region"
### Description

The following bug happens if, under vertebral_alignment, the cropping region extends towards the field of view. The cause of the bug is the syntax `-start -1.0`.

This bug has been introduced in 1bdbd16f214ae36472ac53588d032cef3fecf14a.

The proposed solution is to check if the index is smaller than 0 or larger than nz, and if it is the case, assign 0 (or nz).

[code]

[2018-06-04 05:12] jcohenadad opened #1812 "The generated labeled_disc does not follow the convention"
### Description

Output label values are C2/C3-->2 instead of C2/C3-->3.

[2018-06-04 06:21] jcohenadad opened #1815 "sct_changelog misses "documentation" and "installation""
### Description

[Here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/install/sct_changelog.py#L71), the label should say `documentation` instead of `doc`.

Also, the tag `installation` is missing from the list.

Other minor suggestions for fix:
- displaying "len(data)" [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/install/sct_changelog.py#L56) is not informative.

[2018-06-04 06:47] #1772 closed

[2018-06-04 06:47] #1785 closed

[2018-06-04 14:15] charleygros opened #1817 "Obscure error message in case cropping is outside of dimension"
### Description

Error when notifying the output filename in `sct_crop_image`

### Steps to Reproduce

[code]
Spinal Cord Toolbox (master/ccd858d6a999fc6c2647ffcc969145d83a5e0123)
[code]

[2018-06-04 14:19] jcohenadad commented on #1817
@charleygros are you sure the problem is related to the output file name? I see the error "itk::InvalidRequestedRegionError (0x7fe122890e58)" which might suggest that the start and/or end are outside the FOV (e.g., is there at least 47 slices in dim=2?)

[2018-06-04 14:24] charleygros commented on #1817
ok sorry.

[2018-06-04 14:27] jcohenadad commented on #1817
actually it is good that you opened this issue, because the generated error is ugly and very difficult to understand. So we should fix that :-)  I will reopen the issue and change the title.

[2018-06-04 14:32] charleygros opened #1818 "Enhancement sct_crop_image documentation"
### Description

Just wanted to open a discussion about `sct_crop_image`
The documentation of `sct_crop_image` is a bit confusing to me.

```-start <list of: float>      start slices, ]0,1[: percentage, 0 & >1: slice number```
--> this flag indicates the slice number to remove or to keep? same for `-end`.
What about:
```-start <list of: float>      start slices kept in the output file, ]0,1[: perc

[2018-06-04 14:50] alexfoias opened #1819 "test issue for github integration on slack"
### Prerequisites

* [ ] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [ ] If you are using a development environment, is your environment updated ?

### Description

Description of the issue and use the labels to add additional context.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on

[2018-06-04 14:51] alexfoias commented on #1819
test comment

[2018-06-04 14:53] alexfoias commented on #1819
test using gtihub legacy

[2018-06-04 14:56] alexfoias commented on #1819
final test from GH

[2018-06-04 14:59] #1819 closed

[2018-06-04 15:04] jcohenadad commented on #1818
Alternatively, we could also change the behaviour of this function and have something more similar to FSL, which I find very intuitive:
[code]

So we could make it like this:
[code]
Inputting -1 for a max will set it to the full image extent for that dimension.

[2018-06-04 15:22] charleygros commented on #1818
I would agree with this solution --> much more intuitive to me
And put `-1` as the default value of these flags.

[2018-06-04 17:12] charleygros opened #1820 "sct_register_to_template - Error after/during "Split destination volume""
### Description

Error obtained after/during spliting destination volume in Step #1 of `sct_register_to_template` using `centermassrot` algorithm.

### Steps to Reproduce

[code]

[code]

Note: this command line raised a similar error for the data in the folder:
[code]

**Reproduces how often:**

This command line worked for >150 subjects of the same center but failed on the two images in the fold

[2018-06-04 23:55] #1811 closed

[2018-06-05 02:00] jcohenadad opened #1821 "bach_processing: remove register_graymatter"
and replace it with register_multimodal on the WM seg-- it works similarly well and less confusing for users.

at some point we should also remove this function

[2018-06-06 01:42] #1792 closed

[2018-06-06 04:55] #1791 closed

[2018-06-06 05:46] jcohenadad opened #1823 "Large repository size"
Current size with a fresh clone is:
[code]

I suggest we remove some fat?

[2018-06-06 06:29] jcohenadad opened #1824 "If user decided to not modify the .bashrc, we should not show the source .bashrc at the end"
Because user selected "n" (see below), the following message should not be displayed at the end of the installation:
[code]

It should be replaced by something like:
[code]

Below the full verbose (towards the end of the install):
[code]

[2018-06-06 06:35] jcohenadad opened #1825 "Duplication of output folder for display_syntax_viewer() command"
should be:
[code]

instead of:
[code]

Full verbose:
[code]

[2018-06-06 06:47] jcohenadad opened #1826 "Wrong template registration outside of labels"
### Description

The error below has been introduced by the recent use of disc labels (as opposed to labels inside the spinal cord). At step=0, a rigid transformation is estimated between the straightened labels and the template label. The problem is: if the labels were not put in the cord, but rather on the discs, then the rigid transformation will fail to properly align the cord on the template.

[2018-06-06 06:56] jcohenadad opened #1827 "Add total processing time"
Purpose: display processing time at the end of the function, as done here:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_register_to_template.py#L657

[2018-06-06 08:05] #1815 closed

[2018-06-06 11:58] #1810 closed

[2018-06-06 11:58] #1812 closed

[2018-06-06 13:27] abtahizadeh commented on #1827
What is the scope?

[2018-06-06 15:35] #1790 closed

[2018-06-06 16:12] zougloub opened #1829 "sct_testing issue when parser with value_type file, in -vertfile of sct_extract_metric"
See https://github.com/neuropoly/spinalcordtoolbox/pull/1798#discussion-diff-193218429R116

[2018-06-06 17:49] #1793 closed

[2018-06-06 21:26] jcohenadad commented on #1827
@abtahizadeh i've edited the comment to explicit a bit more. Pls let me know what is unclear

[2018-06-06 21:33] #1826 closed

[2018-06-07 00:42] perone opened #1831 "Add a flag to remove thresholding on sct_deepseg_gm"
Add a flag to remove thresholding on sct_deepseg_gm.

[2018-06-07 02:48] abtahizadeh commented on #1613
Should be closed via #1647 ??

Reference:
```mandatory=True``` applied

[2018-06-07 02:50] jcohenadad commented on #1613
fixed via #1647

[2018-06-07 02:50] #1613 closed

[2018-06-07 02:57] abtahizadeh commented on #1823
[code]

[2018-06-07 03:00] jcohenadad commented on #1823
@abtahizadeh everything under data/, lib/, bin/ should be excluded because this issue only concerns the GH repository (not the physical installation of SCT)

[2018-06-07 03:03] abtahizadeh commented on #1823
Alternative (can be tested... doesn't hurt history much):
[code]

[2018-06-07 03:11] zougloub commented on #1823
Suggest `git clone --depth=1` to users with computers from 1997 (5.5MB) ?
Or, if you really want to trim, we create an archive repo and start anew in this one.
I don't think it's worth it though. The repo has stopped having crazy expansion a while ago.

[2018-06-07 03:11] abtahizadeh commented on #1823
@jcohenadad Yes I grabbed them from GIT repo

[2018-06-07 03:14] jcohenadad commented on #1823
@zougloub we already suggest `git clone --depth=1` for our users, but this could create problems if they want to access other branches later on. Having a smaller repos is also more convenient for everyone, so I was just thinking, that if there is obvious fat to remove, why not removing it?

[2018-06-07 03:15] abtahizadeh commented on #1825
References:

LN 240:
[code]
calls to *sct_utils*:
LN 418:
[code]
Finally call to:
LN 545:
[code]

Suggestions: Regex or have a separate function to modify input(os.path.join(...))

[2018-06-07 03:20] abtahizadeh commented on #1782
Fixed via #1795 ??
Reference:
[code]

[2018-06-07 03:21] abtahizadeh commented on #1397
Deprecated ?! or fixed ?!
[code]

[2018-06-07 03:22] jcohenadad commented on #1825
@abtahizadeh isn't there a simpler solution? my guess is that both `output_folder` and `fname_seg` include the output folder, so we just need to remove the assignment somewhere (running in debug mode would help)

[2018-06-07 03:23] #1782 closed, assigned to zougloub

[2018-06-07 03:29] abtahizadeh commented on #1825
@jcohenadad file name ```fname_seg``` must be trimmed to include only the name (why does it have the folder BTW?)

[2018-06-07 03:30] jcohenadad opened #1833 "Output segmentation should be overlaid with opacity=100 in display_syntax_viewer()"
### Description

At the end of the process, the `display_syntax_viewer()` currently sets the opacity to 70%, which makes the segmentation appear a bit dark (esp. on dark images). Since the best way to assess segmentation accuracy is to switch on/off the overlaid seg, we should simply make it with 100% opacity. They will appear clearer at the first place.

[2018-06-07 03:33] abtahizadeh commented on #1825
@jcohenadad Quick fix:

we could replace
```fname_seg```
with
```os.path.basename(str(fname_seg))```

[2018-06-07 03:36] benjamindeleener commented on #1833
When I assess the quality of a spinal cord segmentation, I usually set the opacity to 40%. It is easier than switching on/off.

[2018-06-07 03:37] jcohenadad commented on #1825
@abtahizadeh by [our conventions](https://github.com/neuropoly/spinalcordtoolbox/wiki/variables#variables) "fname" includes folders. However in that case it is a hybrid use of fname (because it is not absolute).

regarding your suggestion of doing "os.path.basename(str(fname_seg))", i would suggest to fix the issue at the source (shouldn't be too complicated), otherwise we will have to address tha

[2018-06-07 03:37] charleygros commented on #1833
@jcohenadad : I totally agree that 70% is too high.
I used to set my threshold at 20%. And.. I think I would prefer 20% compared to 0% (of transparency, ie 100% opacity). Indeed, 20% allows to clearly see the borders of the target structure (at least for the SC, not sure if that s also the case for GM) without having to switch on/off the overlaid seg.
Also, let's say I run `sct_deepseg_sc`, the te

[2018-06-07 03:40] jcohenadad commented on #1833
@charleygros i meant 100% opacity, as defined by fsleyes --> the segmentation appears very clear (it is 100% opaque).

@benjamindeleener i see your point. Have you tried the "CMD+F" on the new fsleyes? it changed my life (you can even call it while z-scrolling). That's where i felt that the transparency was not required anymore.

[2018-06-07 03:45] jcohenadad opened #1834 "Ugly UnicodeWarning from matplotlib"
### Description

When calling `sct_label_utils -create-viewer`, the following message appears (at least on my laptop):

[code]

[2018-06-07 05:32] jcohenadad opened #1835 "Ugly tensorflow warning"
Would be nice to remove
[code]

Note that they don't appear on `sct_deepseg_gm`

[2018-06-07 06:10] jcohenadad opened #1836 "Manual centerline should be output when using viewer"
### Description

Currently, the centerline is not output after using the viewer. It should.

[2018-06-07 12:39] #1824 closed

[2018-06-07 15:31] perone commented on #1833
The problem with opacity is that you won't see if there is a false negative or a false positive far away from your region of interest.

[2018-06-07 20:48] jcohenadad commented on #1833
all, i think there is some misunderstanding as to what we call opacity (otherwise @perone's comment doesn't make sense, because a false positive far away from the ROI is only seen with high opacity, not low opacity). What i call 100% opacity is when the object is completely opaque. Below example so we are all on the same page:

<img width="509" alt="screen shot 2018-06-08 at 05 45 05" src="https:/

[2018-06-07 21:00] perone commented on #1833
Sorry my comment was misleading I agree with the **opacity=100%**, it will make it easier to see if there are false positives or false negatives in the predictions.

[2018-06-08 00:24] jcohenadad opened #1837 "sct_get_centerline -method viewer: should use the new viewer"
It would be nice to use the new viewer for `sct_get_centerline` script. The new viewer is for example used by `sct_propseg` when calling e.g.: `sct_propseg -i IMAGE -c CONTRAST -init-centeline viewer` (the viewer is called here: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_propseg.py#L540)

[2018-06-08 00:30] jcohenadad commented on #1777
@charleygros @benjamindeleener: after giving it more thoughts, i'm not sure this is a good idea to remove the "_optic" suffix and output the centerlines without it. The problem is that some people use the output centerline for subsequent tasks (e.g. straightening, smoothing, etc.) where they should be using the segmentation instead (more accurate). So, i suggest we simply don't output any centerli

[2018-06-08 00:37] perone commented on #1644
I think it should also contain the fslutils (fslinfo, etc).

[2018-06-08 01:16] abtahizadeh commented on #1773
Is this related to #1800 ?

[2018-06-08 01:17] abtahizadeh commented on #1731
- Coveralls integrated,
- We will use Pytest.

[2018-06-08 01:17] #1731 closed

[2018-06-08 01:19] jcohenadad commented on #1773
@abtahizadeh absolutely-- i think this issue can be closed

[2018-06-08 01:19] jcohenadad commented on #1773
fixed via #1800

[2018-06-08 01:19] #1773 closed

[2018-06-08 01:43] jcohenadad opened #1839 "Implement a function that can change the header of the image dimension"
instead of physically resampling the image (via interpolation), we should have a function that simply updates the dim of the nifti header, this will overcome the burden of having to physically stretch/compress, as suggested here: https://sourceforge.net/p/spinalcordtoolbox/wiki/correction_PropSeg/

we could implement that feature in `sct_resample` with a flag `-header-only`

[2018-06-08 02:34] abtahizadeh commented on #1547
- Fslview no more called at the end of process if it is deprecated
Fixed via #1648  ?

[2018-06-08 02:36] abtahizadeh commented on #620
Duplicate #837

[2018-06-08 02:36] #620 closed

[2018-06-08 02:37] jcohenadad commented on #1547
@abtahizadeh  #1648 was addressing Python code inside SCT. `batch_processing` is a shell script, so issue is still relevant-- however the recent updates on `batch_processing` removed the display call. so we can close it.

[2018-06-08 02:37] #1547 closed

[2018-06-08 02:46] abtahizadeh commented on #602
@jcohenadad
Missing description, perhaps deprecated?

[2018-06-08 02:47] abtahizadeh commented on #1547
yeah, I didn't see the command in batch_processing, I agree to close this.

[2018-06-08 02:58] jcohenadad commented on #602
@abtahizadeh comments added-- not deprecated

[2018-06-08 03:35] #1836 closed

[2018-06-08 05:41] charleygros commented on #1777
@jcohenadad : My argument for outputting the centerline after the segmentation tools were to easily see if a segmentation fail is due to the centerline detection or the segmentation module itself. And subsequently, facilitate the found of a way to fix it --> if we observe that the detection fails, we can opt for another `-ctr` algo (e.g. `cnn` or `svm` or `viewer`).
A flag dedicated to this could

[2018-06-08 05:56] jcohenadad commented on #1777
if we go that route, we also need to find a convention for flags, regarding centerline "method" and centerline "output". In `sct_deepseg_sc`, the plan was to replace `ctr` with `centerline`, but then we need to find a good flag for naming the output centerline. Alternatively, we don't create a specific flag for it, and instead we set `-r 0`(don't remove temp files). After all, this flag was create

[2018-06-08 13:16] abtahizadeh commented on #626
I'm on this

[2018-06-08 15:22] abtahizadeh commented on #1827
@jcohenadad  To be implemented on all sct_* main functions or specifically for each method of them?

[2018-06-08 23:42] jcohenadad commented on #1827
@abtahizadeh yes, on all sct_* main, so there is probably a smart way to do it in a parent call (sct_launcher?)

[2018-06-08 23:54] jcohenadad opened #1841 "Better document how CSA is computed"
include info about angle and PVE

see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/017b4f5d/?limit=25

[2018-06-10 11:43] jcohenadad opened #1842 "Exit before trying second mirror"
### Description

When manually altering (for the purpose of testing) the URL of mirror 1, the `sct_download_data` crashes before even trying mirror 2. My guess is that this bug has been introduced by Sentry, so maybe we should turn it off during this execution? or altering the `sct.printv(err.message, type='warning')` on line 192 (which should send a "warning" but end up giving an error...?)

[cod

[2018-06-10 17:53] zougloub commented on #1842
What Sentry issue?

[2018-06-10 17:55] abtahizadeh commented on #1842
The error is caught, but Sentry fails to send, and consequently it does not produce an error, keeps trying ...

[2018-06-10 21:28] jcohenadad opened #1844 "No need to call Sentry if user quits with CTRL+C"
[code]

[2018-06-10 21:32] perone commented on #1756
I'm reopening this because I saw this error again on Travis. I don't see a reason to keep building propseg on Travis if it always fail, it is just adding more time to the already long building process. A checking can be added to avoid it.

[2018-06-10 21:40] perone opened #1845 "Travis coveralls error at the end of build"
Just saw this error after the end of Travis build:

![image](https://user-images.githubusercontent.com/412328/41206653-4bbed42c-6cd5-11e8-97da-840979f800f4.png)

Is this something expected with coveralls ?

[2018-06-10 22:09] abtahizadeh commented on #1845
Plz approve #1847

[2018-06-11 01:10] #1845 closed

[2018-06-11 01:36] jcohenadad commented on #1842
Fixed via #1843

[2018-06-11 01:36] #1842 closed

[2018-06-11 04:48] #1588 closed

[2018-06-11 04:48] #1634 closed

[2018-06-11 04:48] #1659 closed

[2018-06-11 04:48] #1716 closed

[2018-06-11 05:52] jcohenadad opened #1848 "TypeError: cannot concatenate 'str' and 'list' objects"
[code]

[2018-06-11 15:49] perone opened #1849 "Coveralls not capturing changes correctly"
Even though I added more lines and more testing coverage in the PR #1846 (already merged), it seems that coveralls isn't capturing these changes correctly as seen by [this report here](https://coveralls.io/builds/17421313).

It seems that it is always showing the same output:

![image](https://user-images.githubusercontent.com/412328/41242380-559b77aa-6d6d-11e8-85e9-9963bdf8d7a3.png)

Even though

[2018-06-11 22:16] jcohenadad commented on #1849
also, can someone clarify to me what this "85%" means?  since we currently have almost no unit testing, how can this number be so high?

[2018-06-11 22:30] perone commented on #1849
I think coveralls right now is just getting coverage information for the `metadata.py` unit-testing, hence the high number.

[2018-06-11 22:40] zougloub opened #1851 "locale.getdefaultlocale() fails on Mac OS X with default language set to English"
This manifests itself in `import tensorflow` on some configurations.

Upstream Python issue (thanks @perone): https://bugs.python.org/issue18378

[2018-06-12 00:09] jcohenadad commented on #1643
@perone since we are in a rush i'll take care of the fsleyes integration slide

[2018-06-12 00:13] jcohenadad commented on #1644
@zougloub were you able to get fsleyes into the Docker images?

@neuropoly/spinal-cord-toolbox: just to be clear on what this USB-boot strategy can/cannot do: are people able to stick another USB (provide there are enough ports) and copy stuff, such as pdf course material or their own MRI datasets?  If so:
- Francisco can you please explain the procedure to access the USB drive from the ubuntu-boo

[2018-06-12 01:28] abtahizadeh commented on #1849
It shows 100% for some files, just because there is no test maintained in them.
Check the status report:

`python -m pytest --cov`

The numbers (total percentage) starts to make sense only when all the modules are actually tested (have a unit test). So I think it's ok for now....

[2018-06-12 01:35] abtahizadeh commented on #1848
sct_image.py line 275, **fname_out** is already a list, i.e no need to convert the type:

`sct.display_viewer_syntax([fname_out])`

[2018-06-12 03:18] jcohenadad opened #1855 "Enable to input a centerline in case the automatic one fails"
I'm having trouble segmenting fMRI data. The problem is partly caused by a wrong centerline detection. Inputting a manual centerline might help. This option would be equivalent to `-init-centerline` in `sct_propseg`.

@charleygros what do you think?

[2018-06-12 03:48] jcohenadad opened #1856 "Use trilinear interpolation after step=0 to accomodate single-voxel centerlines"
### Description

If using centerline (instead of cord segmentations), the resampling, currently done with nearest neighbor, makes the centerline disappear, and the subsequent steps are failing.

we should instead use trilinear interp when applying step=0 transfo to the segmentation.

[2018-06-12 07:22] jcohenadad opened #1857 "Update links on README"
[code]
-->
[code]

and:

[code]
-->
[code]

[2018-06-12 13:36] #1848 closed

[2018-06-12 13:57] abtahizadeh commented on #1849
@perone #1852 should fix this.

[2018-06-12 14:03] zougloub commented on #1644
Yes, fsleyes is in there.

[2018-06-12 18:01] #1643 closed

[2018-06-12 18:01] #1857 closed

[2018-06-13 00:30] jcohenadad opened #1860 "Refactor SCT to make it more compatible with FSLeyes' "Open Notebooks" Jupyter functionality"
(from @perone): FSLEyes has integrated Jupyter Notebooks, so there is now an option called "Open Notebooks" where you can interact with FSLEyes from this environment.
It seems to me, that it is even more important to have a proper refactoring of the scripts to the spinalcordtoolbox as a means to expose the Python API that can be used. In future, we can provide Jupyter notebooks with many examples

[2018-06-13 01:35] abtahizadeh commented on #1849
Fixed via #1852 ?

[2018-06-13 02:16] #1849 closed

[2018-06-13 05:46] jcohenadad opened #1861 "New function to make a movie out of axial slices"
### Description

The function would take 3D volume (and possibly an overlaid segmentation and display it in red) and output a 2D movie that scrolls along the 3rd dimension. Frame rate could be an argument.

I think @perone already has something.

would be useful for presentations

[2018-06-13 07:16] jcohenadad opened #1862 "IndexError: index 310 is out of bounds for axis 0 with size 310"
data: **mgh-bay3_spine-generic_20171201/t2**

[code]

[2018-06-13 07:19] jcohenadad opened #1863 "numpy.linalg.linalg.LinAlgError: singular matrix"
data: mgh-bay3_spine-generic_20171201/t2
[code]

[2018-06-13 07:21] jcohenadad commented on #1863
workaround until fixed: use Hanning smoothing:
[code]

[2018-06-13 21:45] jcohenadad opened #1864 "Issue in label projection if labels are not in the same space as the segmentation"
### Description

Introduced by https://github.com/neuropoly/spinalcordtoolbox/pull/1828

solution: do the projection in the physical space (not voxel)

[2018-06-14 03:29] jcohenadad commented on #1733
setting to low priority because running `sct_straighen_spinalcord` separately is exceptional

[2018-06-14 03:34] jcohenadad commented on #1699
related to https://github.com/neuropoly/spinalcordtoolbox/issues/1763

[2018-06-14 03:42] jcohenadad commented on #1426
kind of fixed via https://github.com/neuropoly/spinalcordtoolbox/pull/1814

[2018-06-14 03:42] #1426 closed

[2018-06-14 03:43] jcohenadad commented on #1380
closing that for now, we have other priorities for SCT integration (e.g. CBRAIN)

[2018-06-14 03:43] #1380 closed

[2018-06-14 03:48] jcohenadad commented on #939
this function is slowly being deprecated as of v3.2.1

[2018-06-14 03:48] #939 closed

[2018-06-14 03:50] jcohenadad commented on #881
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/1802

[2018-06-14 03:50] #881 closed

[2018-06-14 03:50] jcohenadad commented on #707
this function is slowly being deprecated as of v3.2.1

[2018-06-14 03:50] #707 closed

[2018-06-14 03:50] jcohenadad commented on #803
this function is slowly being deprecated as of v3.2.1

[2018-06-14 03:50] #803 closed

[2018-06-14 03:51] jcohenadad commented on #1318
this function is slowly being deprecated as of v3.2.1

[2018-06-14 03:51] #1318 closed

[2018-06-14 03:51] jcohenadad commented on #658
now available in `sct_image`

[2018-06-14 03:51] #658 closed

[2018-06-14 03:54] jcohenadad commented on #828
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/602

[2018-06-14 03:54] #828 closed

[2018-06-14 11:41] #1864 closed

[2018-06-14 14:04] fperdigon commented on #1644
@jcohenadad each USB stick has 3 partitions:
- 2 are for the use of Ubuntu persistent.
- 1 NTFS partition that can be read from a Windows or Mac system installed on the user's PC or from the same Ubuntu / Linux system that lives inside the USB stick. In that partition NTFS the installers for windows or Mac listed in the body of the issue are copied plus a docker image with SCT + FSLeyes + Lxtermin

[2018-06-14 15:38] #1328 closed

[2018-06-14 22:44] perone opened #1868 "SCT logo isn't being copied to the installation folder"
FSLEyes plugin requires a SCT logo image (`/documentation/imgs/logo_sct.png`) that is not being copied to the installation folder. This problem occurs only when the user installs the SCT on a different folder than the one he unzipped the installation package.

For more information, see [user report](https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/e1c8a8f6).

[2018-06-15 02:05] jcohenadad commented on #1644
@fperdigon: Fantastic! thank you very much. I guess we can close this now.

[2018-06-15 02:49] jcohenadad opened #1869 "Annoying UnicodeWarning message when using viewer"
to reproduce:
[code]

[2018-06-15 02:56] abtahizadeh commented on #1868
Variable related to this: `SCT_LOGO_REL_PATH`

[2018-06-15 03:13] abtahizadeh commented on #1868
One trick could be to set this directory dynamically and try to locate the logo file:
[code]

[2018-06-15 03:28] abtahizadeh commented on #1868
@jcohenadad yeah, we need to somehow copy the file during the installation to `SCT_DIR_ENV/logo_sct.png` maybe (no need to make directories) ....

[2018-06-15 03:34] jcohenadad commented on #1868
why not simply copying at the same location as in the github repos? (documentation/imgs/logo_sct.png) so that we don't need to add another variable

[2018-06-15 08:52] MelaniePelegrini opened #1871 "No fslview subcortical colormap in display_viewer_syntax()"
Hello,

I've just installed SCT release 3.2.1 in the Debian VirtualMachine (Windows host). When trying
$SCT_DIR/batch_processing.sh, I get the following error:

Sucessfully generated the QC results in /home/brain/qc_batch_processing/qc_results.json
Use the following command to see the results in a browser:
xdg-open "/home/brain/qc_batch_processing/index.html"
Traceback (most recent call last):
  F

[2018-06-15 09:01] jcohenadad commented on #1871
Hi Mélanie,
Thank you for the feedback. The issue is related to the recent change of default colormap, compatible with fsleyes, but not with fslview (which is running on this VM). Sorry for the oversight. For now you can ignore this issue though, because it is not affecting the process. It is only related to a bug while displaying verbose on the terminal.

[2018-06-15 15:22] MelaniePelegrini commented on #1871
Thanks so much for the workaround, I installed fsleyes, the batch works now :-D.

[2018-06-16 01:19] jcohenadad opened #1873 "Update installation documentation to redirect to sct_docker repos"
### Description

Now that we have a working solution for Windows users via Docker, maybe we want to replace the VM solution with the Docker solution? If so, then we should update the README on SCT repos.

In the future, it will be easier to only maintain the Docker repos (as opposed to Docker+VM).

[2018-06-16 01:47] jcohenadad opened #1874 "Add a flag to disable check_and_correct_segmentation()"
### Description

In a few scans now, I've noticed that the function `check_and_correct_segmentation()` outputs a blank segmentation, while directly after running `isct_propseg`, the segmentation looks fine.

We should thus give our users the option to disable `check_and_correct_segmentation()`.

[2018-06-16 15:34] #1868 closed

[2018-06-17 17:29] #1827 closed

[2018-06-19 02:32] #1835 closed

[2018-06-19 18:26] jcohenadad opened #1878 "-copy-header usage is misleading"
it says it copies the header of the input image (specified in -i) to the destination image, although it does the opposite.

also, when trying this function, it copied the data, not only the header (!)

[2018-06-19 21:39] perone commented on #1765
I think I found the culprit for the high CPU usage. TensorFlow actually uses every core available for parallelism, it has some internal thread pools, so the problem can be that when you run `sct_deepseg_gm/sc`, **each process** will use all cores available to speed up the computation, and this might be causing the issues in Joplin. I just executed a `sct_pipeline` there now and I saw that all core

[2018-06-19 22:35] zougloub commented on #1765
Hadn't thought about that...
It may lead to RAM outage because we'd "just" have 128 processes of 128 threads each, which at a default 8M stack amounts to 128 GB of RAM just for stacks ;)

[2018-06-20 05:04] jcohenadad commented on #1765
Great catch @perone, so, with the same logic as what we do [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_pipeline.py#L323) to force the number of core to 1 for multiprocessing functions (e.g. `sct_straighten_spinalcord`), we should do the same for TF's applications. Is there an environment variable that we can set there?

[2018-06-20 14:06] perone commented on #1765
I wasn't able to find any environment variable that TensorFlow uses to control that, the only to configure that is to create the TensorFlow session setting the parameters `intra_op_parallelism_threads` and `inter_op_parallelism_threads`. We can also add a checking in the `sct_pipeline` to force the number of threads in the threading pool to 1 when the command being tested  is one of the tools usin

[2018-06-21 16:04] #1873 closed

[2018-06-22 13:51] tanguyduval opened #1880 "INSTALLATION on chinese computer"
### Prerequisites

* [ ] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [ ] If you are using a development environment, is your environment updated ?

### Description

Cannot import tensorflow on a chinese computer.
Solution: run `export LC_ALL=en_US.UTF-8` prior to installing and using deeplearning methods
s

[2018-06-22 13:58] Hongcaicai commented on #1880
error:
[code]

[2018-06-22 13:58] Hongcaicai commented on #1880
thanks sct dev team!

[2018-06-22 14:33] perone commented on #1880
Duplicate of #1851, [context](https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/938bc133/?limit=25#d27d).

[2018-06-22 14:40] tanguyduval commented on #1880
not working on german swiss mac neither

[2018-06-22 14:41] tanguyduval commented on #1880
Works with @abtahizadeh tips, thx

[2018-06-22 15:00] zougloub commented on #1880
-> #1851

[2018-06-24 00:43] jcohenadad commented on #1739
cannot reproduce error

[2018-06-24 00:43] #1739 closed

[2018-06-24 01:03] jcohenadad opened #1884 "Add disclaimer that this software is not for diagnosis"
maybe add to the readme

[2018-06-24 11:58] charleygros commented on #1644
@fperdigon : Thank you again for your help --> the USB sticks were very helpful for the 2/3 persons for which the standard SCT installation on their station was not possible.

I noticed only one error, the one presented below (please excuse the quality of my phone camera hehe):
![20180622_150954](https://user-images.githubusercontent.com/14353425/41818836-512a1854-7784-11e8-9e6e-9c95f55060d6.jpg)

[2018-06-25 01:49] abtahizadeh commented on #1656
I'm always fan of github.io 🥇
May I ask what `neuropoly.pub` is intended to use for?

[2018-06-25 01:55] jcohenadad commented on #1656
@abtahizadeh please disregard Alex's message about neuropoly.pub, this is unrelated to SCT

[2018-06-25 02:03] abtahizadeh commented on #1656
https://github.com/fmtlib/fmt/issues/128
:-D

[2018-06-25 02:12] jcohenadad commented on #1656
thank you @abtahizadeh for reviving the debate. I would also tend to go for github.io page (hoping it won't turn into github.microsoft issues in the near future...). Others, any thoughts?

[2018-06-25 05:09] #1871 closed

[2018-06-25 05:13] abtahizadeh opened #1885 "Naming conventions for branches"
### Prerequisites

* [ *] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
* [ ] If you are using a development environment, is your environment updated ?

### Description

To have a unified naming convention for branches.
Ref: https://stackoverflow.com/a/6065944

### Steps to Reproduce

1. [First Step]
Agree on

[2018-06-25 20:49] jcohenadad opened #1886 "A few inconsistencies with the flag -init"
### Description

- in `optic.detect_centerline()`, the input param `init_option` is not used. It is divided by nz and sent back to the parent function without any explanation.

[2018-06-27 00:30] jcohenadad commented on #1885
@abtahizadeh [https://stackoverflow.com/a/6065944](this link) looks more like a discussion to me-- can you plz summarize what you propose and then i'll comment-- thx

[2018-06-27 01:32] abtahizadeh commented on #1885
Something like:

_FORMAT                         |    Example_
`feature/[Issue#]`         |    feature/1885
`release/[version_id]`   |    release/1.2.3
`test/[Issue#]`               |    test/1572
`hotfix/[Issue#]`            |    hotfix/2761
`patch/[Issue#]`            |   patch/2617

I did not propose a solution because the purpose of this ticket was to raise the discussion.

[2018-06-27 01:49] jcohenadad commented on #1885
i like these suggestions, originally we proposed to have the acronym of the person submitting (e.g. jca_issue1892) so that if a student creates a branch and then leaves the lab, it's easier for me to know who created what (therefore, easier to know what to keep/delete). But i guess we can have that info anyway from the initial branch commit...

so i would suggest the following:
- FORMAT | Example

[2018-06-27 02:39] abtahizadeh commented on #1885
I totally agree with your suggestions! Thanks for the quick response, 👍
if everyone is happy, we can make some rules, document these stuff and act ASAP.

[2018-06-27 02:49] perone commented on #1885
I would just add new format like `[category]/dev_[any name]` or something like that, just for code we're experimenting as development and that we want to save the code, but that's not related to any issue yet.

[2018-06-27 03:30] jcohenadad commented on #1885
@abtahizadeh yes, go ahead please. Thanks!

[2018-06-27 05:35] jcohenadad opened #1887 "sct_testing gives WARNING instead of FAIL on crash"
### Description

`sct_testing` gives a WARNING even though the function crashed on execution. A FAIL was expected. I suspect this is because sct.run() (within sct_testing) output a status=0 even though the execution crashed (see OSError below).

### Steps to Reproduce

1. checkout 9c173c6a724dd1eb7609d9fcba8c9e79e7362fff
2. run `sct_testing -f sct_analyze_texture`

**Expected behavior:**

FAIL mes

[2018-06-27 06:20] jcohenadad commented on #1702
OK, I figured out the culprit:
- when i do `pip install .` (default mode in `./install_sct`) --> it does NOT work, meaning, I cannot access the modified functions under `spinalcordtoolbox` modules
- when i do `pip install -e .` (dev mode in `./install_sct`) --> it does work.

looking at the pip help, it says that -e "Installs a project in editable mode (i.e. setuptools "develop mode")", but i don'

[2018-06-27 14:47] zougloub commented on #1702
What ``-e`` does is (mostly) writing to an `easy-install.pth` file (import path addition) the location of the spinalcordtoolbox parent folder.
After copying the files from the unpack folder to the install destination folder, `-e` could be used, right now without the option pip is used as a "copy" command.
I think it's a good idea to do ``-e`` in the installer, will propose a PR.

[2018-06-27 14:53] perone commented on #1702
I think it would be better to have a flag to install in "development mode" or something similar, and then in this mode it will enable the `-e` flag in `pip` which is very common for development.

[2018-06-27 14:53] zougloub commented on #1702
You mean as already exists right now? :D

[2018-06-27 14:54] perone commented on #1702
But the "development mode" we have today doesn't enable the `-e` flag, right ? or it does ?

[2018-06-27 14:56] zougloub commented on #1702
It does. But ``-e`` could also be used in a normal install, to be able to modify files in the install folder, the current dev mode is used to refer to files in the source folder.

[2018-06-27 18:07] abtahizadeh commented on #1869
This has been fixed in master:
https://github.com/matplotlib/matplotlib/pull/3674

Currently, we use `matplotlib==1.5.1` which might need to be upgraded, not sure how does have an impact.

[2018-06-28 03:06] jcohenadad opened #1888 "Re-enable the use of Hanning filter for centerline smoothing"
### Description

Currently, the usage authorize param={nurbs,hanning}, although when using hanning, the following message is displayed:

[code]

So we should either update the usage, or re-enable hanning. I would vote for the latter (faster in high-res images).

@benjamindeleener any thoughts?

[2018-06-28 03:39] jcohenadad commented on #1869
well, someone needs to test ;-)

[2018-06-28 03:47] jcohenadad opened #1889 "xy_size did not output the requested size"
### Description

On anisotropic data resolution (X different from Y), i was using the following command:
[code]

and therefore expected the output straightened space to be 9mm in the X and 9mm in the Y direction, but instead i obtained nx=8.4mm, ny=18mm.

for reproducibility: to be tested on sct_testing after resampling to anisotropic res.

[2018-06-28 04:07] jcohenadad opened #1890 "mask is not created at the center with option -p center"
### Description

When using the following command, the mask is supposed to be defined at the center of the FOV, but it is not the case.

Command:
[code]

Result:
![screen shot 2018-06-28 at 13 06 28](https://user-images.githubusercontent.com/2482071/42012631-3c569c9c-7ad4-11e8-9858-740709ae662f.png)

[2018-06-28 04:12] jcohenadad opened #1891 "When defining -size with even number, the output mask is odd"
### Description

When defining -size with an even number, the output mask is odd. E.g.: -size 4 gives of mask of 5x5 (instead of 4x4).

[2018-06-29 02:53] perone opened #1893 "Consider using optional ensembling during inference time"
_(I'm just adding this idea for the future, just to not forget about it, since it involves almost all machine learning models we use.)_

There are some things that can be done to improve Machine Learning/Deep Learning results by trading performance (resources usage), and ensembling is one of them. I think we should consider adding an option for using ensembling during inference time as an optional

[2018-06-29 03:19] jcohenadad commented on #1406
@benjamindeleener i have received several requests from people who would like to use propseg in small animals. As you know it currently fails because the cord is too small, which is why we proposed a hack to stretch the cord (and then compress it), as exemplified [here](https://github.com/sct-pipeline/mouse_segmentation).

However, i was wondering what it would take to modify propseg to allow inpu

[2018-06-29 08:46] valosekj opened #1895 "How to check ERRORLEVEL"
### Description

Dear SCT experts,
I have noticed that bash functions (.sh) in the SCT 3.2.1 return in every cases variable _error level_ ($? or $ERRORLEVEL) with value equals to 0. In previous versions of SCT this variable had various values depending if function ended with or without error.
In my automated pipeline where I have many functions one after another I used value in $ERRORLEVEL to stop

[2018-06-29 12:02] benjamindeleener commented on #1406
@jcohenadad unfortunately, this is not an easy fix. PropSeg contains many parameters (deformable models balance/constraints) that were adjusted for the dimensions of humans. This explains why reducing the radius of the initial mesh will not properly work. Playing with other parameters in the command-line might help: `-d`, `-distance-search` and `-alpha`. I'll refer you to the documentation and the

[2018-06-29 13:15] jcohenadad commented on #1406
@benjamindeleener i see, basically the issue is that there is an interplay between some of the parameters (alpha, beta, h, l, etc.), which makes the problem non-scalable (i.e., non-linear). In that case, how about introducing a scaling parameter to the propseg API, that would change the pixel dimension of the header (e.g., -scale 0.5 would multiply px, py and pz by 0.5) before running propseg. The

[2018-06-29 13:47] abtahizadeh commented on #1885
We have new branching conventions in place:
https://github.com/neuropoly/spinalcordtoolbox/wiki/Branching-Conventions

[2018-06-29 14:10] benjamindeleener commented on #1406
@jcohenadad Yes, actually, I think changing the header of the image would suffice to "fool" PropSeg and make it work for animals. And this could be done in the Python script, which would avoid us to change the C++ code and need to recompile.

[2018-06-29 16:34] zougloub commented on #1895
A regression had been introduced when computing total processing time in the launcher, the script return code was discarded in the process. Fix available for pull.

[2018-06-30 01:21] jcohenadad commented on #1885
@abtahizadeh i moved the wiki page [here](https://github.com/neuropoly/spinalcordtoolbox/wiki/Contribution-Guidelines#naming-your-branch), otherwise it will be missed (the previous page was not referenced anywhere)

[2018-07-02 23:37] jcohenadad opened #1896 "Error in msct_image if input NIFTI header has corrupted qform"
### Description

Sentry info [here](https://sentry.io/share/issue/a6bc4fb659f246e38b0f57d6576efc4b/).

Suggestion for fix: check header (could be done in a new spinalcordtoolbox module) before doing processing.

[2018-07-03 04:13] #1213 closed

[2018-07-03 17:41] jcohenadad opened #1897 "Remove -z from install_sct usage"
https://github.com/neuropoly/spinalcordtoolbox/blob/master/install_sct#L154

[2018-07-03 18:03] jcohenadad opened #1898 "sct_testing gets stuck + "The process has forked" message"
[code]

[2018-07-03 18:31] jcohenadad opened #1899 "false negative on Travis"
`sct_testing` failed to run (due to problems in `sct_launcher`), yet Travis gave a green check. This happened both on [Linux](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/398746942) and [OSX](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/398746943)

[2018-07-03 18:56] abtahizadeh opened #1900 "`sct_testing` fails on `sct_register_graymatter` with exception error ..."
When running `sct_testing -d 1` there is a failure on:

<img width="550" alt="screen shot 2018-07-03 at 2 48 06 pm" src="https://user-images.githubusercontent.com/12260844/42238909-59b64c06-7ed0-11e8-99bd-a819be68683e.png">

Log:

<img width="1085" alt="screen shot 2018-07-03 at 2 55 27 pm" src="https://user-images.githubusercontent.com/12260844/42239190-33b4e4ee-7ed1-11e8-9a4c-bad6b36dd390.png">

[2018-07-03 18:59] jcohenadad commented on #1900
@abtahizadeh please indicate commit number. In the future i suggest to copy/paste the whole terminal output (instead of screenshots, which takes up more physical space and hide useful info, such as commit #).

[2018-07-03 19:03] abtahizadeh commented on #1900
@jcohenadad I was about to put the full log in an external link, you just replied too fast!
anyway, I put them here:

[code]

[2018-07-03 19:04] jcohenadad commented on #1900
@abtahizadeh i meant the commit number (to know which version you are running).

your bug seems related to https://github.com/neuropoly/spinalcordtoolbox/pull/1875/commits/f157a741d0511174172ad5fdb7c7794ce5a32013

[2018-07-03 19:06] abtahizadeh commented on #1900
Yes, it's the commit, thanks for your update on this.

[2018-07-03 20:52] jcohenadad opened #1901 "msct_parser gives Command-line usage error with correct nifti input file"
data:
[data_crop_straight_smooth.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/2160985/data_crop_straight_smooth.nii.gz)

syntax+error:

[code]

[2018-07-04 10:04] jcohenadad commented on #1900
since `sct_register_graymatter` is becoming obsolete, i suggest we don't waste time trying to band-aid `test_sct_register_graymatter` code (which is pretty old). I would simply suggest to remove it from the test, and eventually we should remove this function from SCT.

[2018-07-04 15:00] #1900 closed

[2018-07-04 16:04] jcohenadad opened #1905 "add the possibility to track events on sentry for analytics"
e.g. to be able to count the number of installations

[2018-07-05 16:55] jcohenadad opened #1906 "Upgrade tensorflow"
### Description

The current version of TF (1.3) is getting old and SCT would benefit from using latest version (speed, features, etc.). However, the upgrade will cause loss of compatibility with older OS.

Currently, we deal with those issues by installing from Pipy instead of Conda, but doing the upgrade will probably induce additional complexity and we will likely lose users who are running old

[2018-07-05 17:12] jcohenadad commented on #1839
duplicate of #1406

[2018-07-05 17:12] #1839 closed

[2018-07-05 17:13] jcohenadad commented on #1831
fixed via #1846

[2018-07-05 17:13] #1831 closed

[2018-07-05 17:19] jcohenadad commented on #1756
@zougloub is there a reason we want to keep the propseg build on Travis? given that we are shipping the binaries of propseg (which could be different from those that are built within travis), i am wondering if we should maybe move this build test somewhere else because it adds up some travis time.

[2018-07-05 17:28] jcohenadad commented on #1765
ok, since there is no easy way to limit the number of cores used by tensorflow, the solution is just to limit the number of jobs (ideally to one) for all functions that use tensorflow.

[2018-07-05 17:28] #1765 closed

[2018-07-05 17:31] jcohenadad commented on #1704
should we close this?

[2018-07-05 17:35] jcohenadad opened #1907 "List supported distros in documentation"
### Description

Since we now have a [Docker image for several distros](https://github.com/neuropoly/sct_docker#generation-and-distribution), that we use for testing, maybe we should list those in the documentation?  We would also describe the extra-steps required for specific distro.

[2018-07-05 17:37] jcohenadad commented on #1677
to follow-up on this issue, what strategy do we want for Travis to run all those distros-test? e.g. would be good to do it before each release.

[2018-07-05 19:29] #1862 closed

[2018-07-05 21:23] zougloub commented on #1704
Since it's part of limitations, I was thinking of keeping it open and updating as we go (eg. adding more if we upgrade TF, etc.).

[2018-07-05 22:00] zougloub commented on #1756
I agree with you and @perone on this.
I'll remove the build.
FYI I'm also thinking of removing the python3 jobs for now, maybe replacing them by linting (restricted to checking py3k incompatibility), TBD after testing.

[2018-07-05 22:15] zougloub commented on #1677
I tried to run Travis on https://github.com/neuropoly/sct_docker but I was busting the time limit easily, we need to create different jobs if we want to not run over it. If we have badass servers and we are running these tests on-demand I'm not sure Travis is really helpful. But it can still be setup. BTW, did you end up getting familiar with that sct_docker?

[2018-07-05 22:34] zougloub commented on #1899
Fixed by #1902.
The issue was that I had messed up when capturing and rethrowing the wrapped command error code in SCT launcher, not realizing that the script could be sourced.

[2018-07-05 22:34] #1899 closed

[2018-07-05 22:34] zougloub commented on #1897
Fixed by #1902

[2018-07-05 22:34] #1897 closed

[2018-07-05 22:35] zougloub commented on #1895
Should be fixed by #1902 ; @valosekj you may use the master branch until the next release. Please confirm resolution & close issue, and thanks for the report!

[2018-07-06 00:13] jcohenadad commented on #1677
agreed about running those tests locally on-demand. I didn't have a chance to play with sct_docker yet.

[2018-07-06 02:52] #1702 closed

[2018-07-06 04:01] zougloub commented on #1656
At this point I'd just like to push the docs. I'd prefer to curate the generated docs in their own repo, vs. bloating this one even more (that repo will grow as we keep the docs for past releases).

[2018-07-06 04:20] perone commented on #1885
Just a heads up, the Contributing guidelines are here: `https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.md`

This is used to add a link on the right side of each issue, so I think that we should move the most updated one to the `CONTRIBUTING.md` file and delete the other to avoid confusion.

[2018-07-06 07:00] zougloub commented on #1844
Fixed by #1872

[2018-07-06 07:00] #1844 closed

[2018-07-06 13:35] jcohenadad commented on #1885
ah! sh... thank you for pointing this out @perone. i am now painfully trying to resolve conflicts...

[2018-07-06 18:04] mathieuboudreau opened #1910 "Invalid Sentry DSN message not logged for expected case"
### Prerequisites

* [x] Did you check past issues for similar issue(s) ?
* [ ] Can you reproduce the issue with any of the files found in `sct_testing_data` ?
  * Is this meant to be sct_**example**_data? If so, yes.
* [x] If you are using a development environment, is your environment updated ?

### Description

If an invalid DSN is setup, a message is supposed to be logged per [here](https://gi

[2018-07-07 15:33] jcohenadad opened #1911 "Changelog generation should display function name if it was added as label"
### Description

Currently the PR titles should includes the function(s) subjected to changes, such that it appears on the generated Changelog. It would be nice if the name of the function would be automatically added by the `$SCT_DIR/install/sct_changelog.py` function. In addition, we could format the lines as follow:

- `sct_function_name`: Description of improvement [View pull request: Link to

[2018-07-07 17:38] #1874 closed

[2018-07-07 20:40] mathieuboudreau commented on #1910
I was actually able to get that statement to execute/print (testing with my own account's DSN), however it's a somewhat subtle case.

There are two keys in the Sentry settings, "DSN" and "DSN (Deprecated)" (which contains the secret key). It seems like you are using a setup for the "DSN (Deprecated)". Using my own "DSN (Deprecated)", I don't get the print message. I don't even get the logged/print

[2018-07-08 02:49] jcohenadad commented on #1910
Thanks a lot for those investigations @mathieuboudreau!
Maybe we should switch to the new DSN?

[2018-07-09 02:58] jcohenadad commented on #1885
UPDATE: with the implemented approach, I wanted to create a branch `release/3.2.2` as per our new convention, however i was not able to because the branch `release` already exists. Debate is open...

[2018-07-09 03:42] zougloub commented on #1885
Sorry I'm seeing that issue only now... here's some of my feedback:

- I don't see a strong rationale to change from the status quo which is to have branches named with a personal identifier and a more-or-less descriptive string, and to submit PR's for master unless told otherwise. Going stricter should serve an obvious purpose / solve obvious issues, because it's more overhead.

- The idea of hav

[2018-07-09 12:19] jcohenadad commented on #1885
Thank you for the info @zougloub. In light of these arguments i would be in favour to roll back to the previous status quo. I would replace the wiki table with something like:

"Please name your branch with the following convention: [Name acronym]_[function and/or action using camelCase convention]. No need to add "sct_" on function name to save space. Examples: `jca_pipeline_violin`, cg_deepseg_s

[2018-07-09 15:43] jcohenadad commented on #1885
actually, how about benefiting from github's hierarchical system and doing the following instead: `jca/pipeline_violin`, `jca/propseg_flag_rescal`, `cg/deepseg_sc_fix`, `jc/install_language`?

That would clarify the local branches that we are assigned to (i am using sourcetree, which deals nicely with these "/")

[2018-07-10 20:21] jcohenadad commented on #1851
fixed via #1881

[2018-07-10 20:21] #1851 closed

[2018-07-10 20:31] jcohenadad opened #1914 "Add more functions to fsleyes integration"
### Description

With the `contrib/fsl_integration` it is possible to run SCT functions within FSLeyes. Currently, `sct_deepseg_gm` and `sct_deepseg_sc` are covered. It would be nice to enable additional flags in the already-implemented functions, and also add the following functions:

- [ ] sct_process_segmentation
- [ ] sct_dmri_moco
- [ ] sct_dmri_compute_dti
- [ ] sct_propseg
- [ ] sct_label_v

[2018-07-11 15:15] mathieuboudreau commented on #1910
@jcohenadad from all I've read in the Sentry github issues, the Sentry will not accept the private DSN that SCT is currently using "soon", but it's not clear when that will be. So yes, it's likely a good idea to switch from the private DSN we're currently using to the public one available on the Sentry settings page.

One thing to note is that the current version of raven-python that sct is using

[2018-07-11 18:10] jcohenadad opened #1915 "Add lesion image to `sct_testing_data` to enable a better test for lesion models"
### Description

sct_deepseg_lesion should have an integrity test, by adding an image with MS lesion in the testing dataset and comparing the output segmentation with the manual label.

[2018-07-11 18:40] jcohenadad commented on #1640
@perone didn't you fix it in a merged PR?

[2018-07-11 19:07] perone commented on #1640
Yes this can be closed already.

[2018-07-11 19:10] #1640 closed

[2018-07-11 20:13] abtahizadeh commented on #1885
I suggest, at least:
- Having `branch-[version]` instead of only one `release` to maintain releases

- Not keeping many branches active, and deleting them while merged. (there are 20 active branches right now)

[2018-07-11 20:17] jcohenadad commented on #1885
thank you for the feedback @abtahizadeh, regarding the naming of release branches, we can easily track them using tags, so i am not sure what would be the need for creating specific release branch names.

regarding the deletion of merged branches: yes i agree, this has now been added to the CONTRIBUTION.md (in PR). Regarding the deletion of the current stale branches: i'll do it when i have some t

[2018-07-11 20:30] abtahizadeh commented on #1885
Using tags limits the ability to maintain releases (they're immutable, therefore you need to have a new tag per commit) unless you don't maintain releases.

[2018-07-11 20:32] jcohenadad commented on #1885
We currently don't maintain releases. If we do one day, we will revisit the naming of release branches.

[2018-07-12 03:47] zougloub commented on #1751
Now that we have figured out that tensorflow is spawning its own fat thread pool per sct_pipeline job, this can explain the issue; see #1765.

[2018-07-12 03:47] #1751 closed

[2018-07-12 03:47] zougloub commented on #1749
Now that we have figured out that tensorflow is spawning its own fat thread pool per sct_pipeline job, this can explain the issue; see #1765.

[2018-07-12 03:47] #1749 closed

[2018-07-12 16:21] jcohenadad opened #1919 "Build crashes on Travis/Linux running TF-based tests"
### Description

Looks like there is a systematic crash of `sct_deepseg_gm` on the recent builds. Example [here](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/402954539#L1520). To my knowledge nothing has changed in the related code recently, so maybe there has been changes on Travis side?

[2018-07-12 16:35] jcohenadad commented on #1030
fixed via #1332

[2018-07-12 16:35] #1030 closed

[2018-07-12 16:42] jcohenadad opened #1920 "Enable calculation of CSA slice-wise or level-wise"
### Description

It would be nice to be able to output the computed CSA per slice or per vertebral level without having to loop from an external function, similarly to was has been done in https://github.com/neuropoly/spinalcordtoolbox/pull/1875.

[2018-07-12 17:07] perone commented on #1919
Was something changed recently to add parallelization on the `sct_testing` ? This might be the issue, because now there are multiple processes at same time and eating more memory, then `sct_deepseg_gm` is being killed.

[2018-07-12 18:49] perone opened #1921 "Error while using sct_deepseg_sc on the example data"
I executed the following command:

    sct_deepseg_sc -centerline cnn -kernel 3d -i t2s.nii.gz -c t2s -ofolder m

On the `t2s.nii.gz` from the example data and it triggered the following error:

[code]

[2018-07-12 18:52] perone commented on #1921
More information: only happens when using the 3D network.

[2018-07-12 19:08] perone opened #1922 "Refactor the code to make it API friendly according to the new scheme"
There is no python API on the `spinalcordtoolbox` module for the `sct_deepseg_sc` and for the `sct_deepseg_lesion`. Most part of the code is inside the script itself, we should consider refactoring it according to the new refactoring plans (as in `sct_resample`, etc):

![resample](https://user-images.githubusercontent.com/412328/42654017-33ef1888-85e5-11e8-909a-4eea855238bd.png)

The main point is

[2018-07-12 19:24] perone opened #1923 "Tensorflow verbose messages while using sct_deepseg_lesion"
These are the verbose logs that should be removed:

[code]

There is an easy fix for that that is already implemented in `sct_deepseg_gm` and `sct_deepseg_sc`, that reduces the CPP logging level of TensorFlow.

[2018-07-12 19:59] perone commented on #1919
So, there is nothing we can do any more on the side of the application, since reducing the batch wasn't enough to solve the issue. The only options now are:

1. Refactor the `sct_testing` to avoid multiprocessing when running deep learning methods;
2. Disable parallelism on Travis build;

I'm changing the title of this issue given that it is related to Travis and `sct_testing` and not `sct_deepseg

[2018-07-12 20:12] jcohenadad commented on #1919
i would vote for 1

[2018-07-12 20:16] jcohenadad opened #1925 "if -rescale is used, the output centerline should be scaled back to the original data header"

[2018-07-14 01:08] jcohenadad opened #1929 "add output from analyze_lesion and shape_analysis in batch_processing"
### Description

For the purpose of testing PRs and pre-release on functions that are not well covered by integrity testing, it would be nice to add a few functions in the `batch_processing` and append results at the end.

Notably:
- `sct_analyze_lesion`
- `sct_process_segmentation -p shape` (already run but not appended to final results)

[2018-07-14 02:06] #1919 closed

[2018-07-14 02:38] jcohenadad opened #1930 "Display message inside FSLeyes when running SCT pipelines"
### Description

When providing typical SCT batch pipelines to users, we usually include `fsleyes` syntax that opens the viewer. In the Terminal, we explain to check if the segmentation is OK (and modify it if necessary), but of course the user misses the message (because FSLeyes hides the Terminal). Example [here](https://github.com/spine-generic/spine-generic/blob/9245caf1d99de5a4c67c0731baa2b50

[2018-07-14 04:02] perone commented on #1930
When I was developing the other plugins, I tried to find a way to call the `fsleyes` specifying the script to load but I wasn't able to find a native way to do that, you can only load them after loading `fsleyes`.
One alternative to solve the mentioned issue is to show the message in the terminal and wait for user pressing any key before opening fsleyes.

[2018-07-14 15:04] #1666 closed

[2018-07-15 09:37] liukaii commented on #794
Have you solved this yet?I have a same issue but I don't know how to solve it .Please tell me how to solve it if you know.

[2018-07-15 12:52] jcohenadad commented on #794
hi @liukaii, i believe this issue has been solved by https://github.com/neuropoly/spinalcordtoolbox/commit/253610446a2a119db83b6314a93fc8b4eec249a9, however it is highly possible that our fix did not cover all the possible scenario. Could you please let us know:
- what version you are running
- what exact syntax you typed
- what error you got

Best would be if you copy/paste the entire terminal ou

[2018-07-15 13:00] liukaii commented on #794
hi, I have solved this just now, but another issue comes. I'm new to Fast-Rcnn. I'm learning to solve it. Thank you very much!

[2018-07-15 15:33] jcohenadad commented on #794
@liukaii if would be very helpful for us if you let us know how you solved the issue, so that (i) we can keep improving the software, and (ii) others who experience the same issue can have a solution.

Also please let us know the other issue you are experiencing.

[2018-07-16 15:12] #1885 closed

[2018-07-16 15:41] jcohenadad opened #1932 "Compact slice and vert level information in output csv file"
### Description

In the current refactoring of `sct_extract_metric` and `sct_process_segmentation`, the output is now a csv file. In particular, we now have a column "Slices" and "Vertebral level", within which the slices and vertebral levels (respectively) are averaged. They are listed with semi-column-separated string, however if the list of slices is long, this could be overwhelming. Instead, I

[2018-07-16 18:10] jcohenadad opened #1933 "Flattened image is zero for slices below a certain `z` value"
### Description

segmentation is fine, however the image appears dark-- probably something wrong with center of mass calculation. See here:
![screen shot 2018-07-16 at 14 08 07](https://user-images.githubusercontent.com/2482071/42775224-de5d3704-8901-11e8-8a35-7d02152c1024.png)

data:
https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/6e48508a/?limit=25#52be

[2018-07-16 21:17] jcohenadad opened #1934 "Duplication: sct_get_centerline.viewer and sct_process_segmentation.extract_centerline"
### Description

I suggest to remove the duplication in `sct_process_segmentation` and refer to the implementation in sct_get_centerline.viewer. However, we need to take care of a few things:
-  sct_process_segmentation.extract_centerline has more features, notably the `use_phys_coord` option.

[2018-07-16 21:32] jcohenadad opened #1935 "process_segmentation.extract_centerline: no need for unecessary i/o"
Everything can be done in RAM

[2018-07-16 22:01] jcohenadad opened #1936 "process_segmentation.extract_centerline: should not apply smoothing"
### Description

The explicit purpose of this function if to extract the centerline from an input segmentation. Currently, the function smooth the centerline before outputting the coordinates, which can be misleading. I would suggest to simply stick to what the function is supposed to do, i.e., output the center of mass of an input segmentation for each slice that is non-null.

For more fancy calc

[2018-07-16 22:03] jcohenadad opened #1937 "Duplicate: sct_label_utils.extract_centerline and sct_process_segmentation.extract_centerline"
I suggest we remove `sct_label_utils.extract_centerline()`.

[2018-07-16 23:05] zougloub commented on #1887
Can't reproduce. I added an exception in master in reorient_data() and the status is 1.
Please confirm.

[2018-07-16 23:08] zougloub commented on #1651
@jcohenadad I think a better workaround is to bump the sklearn version and to regenerate the model data before the next release.

[2018-07-17 01:29] jcohenadad commented on #1651
ok, but i expect this will probably take several hours (if not days). I don't have time to do this now and it requires in situ access to the data. I am hesitating between investing time in this and dropping this function in the next releases (considering `sct_deepseg_gm` performs better).

[2018-07-17 02:14] jcohenadad opened #1938 "extract_centerline() should output the real centerline coordinate, not the discrete version"
### Description

Currently, the text output of extract_centerline() is simply the voxel coordinates of the output image centerline. There is a lack of precision when doing that. We should instead output the floating point coordinates.

[2018-07-17 05:59] zougloub opened #1941 "Issues in logging vs. printing"
Logging vs. printing:
- logging is typically used within library functions
- stdout/stderr printing is typically used in command-line entry points
- (note: in python's logging module, logging is performed per class/module, not per object)

In SCT, logging is mixed up with printing (when calling sub-commands, logging becomes printing) and printing is mostly emulated using logging, and that's not co

[2018-07-17 18:06] jcohenadad opened #1942 "Unclear number of control points for computing shape along centerline"
### Description

In `sct_process_segmentation.compute_shape()`, the shape is computed along the centerline by fitting NURBS with a given number of control points, which is 5x the number of slices in the image, as shown here: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/msct_shape.py#L249

I am wondering why shape isn't computed per slice, as it would be 5x faster, and also us

[2018-07-17 18:21] jcohenadad commented on #1942
OK, my understanding is that we need to compute properties in the plane orthogonal to the cord centerline, and the decision to use 5x more points along the curve is to have a safe representation of the cord shape between two consecutive slices. Hence, the approach is to over sample, compute shape, and then average for each slice.

[2018-07-17 21:32] zougloub commented on #1938
TL;DR: I'm wondering what is the convention for real vs. integer coordinates in these images (**pixel-center convention**) and if it's worthwhile to document it.

I'm assuming a coordinate index `idx` corresponds to a real coordinate span of `[idx,idx+1)`, ie. "(z.0,y.0,x.0)" coordinate indicates the corner of a voxel, and a ("z.5", "y.5", "x.5) one indicates the center (**half-integer pixel-cente

[2018-07-17 22:48] zougloub commented on #1621
I'm going to start working on this, opening a project [here](https://github.com/neuropoly/spinalcordtoolbox/projects/7) with notes (please comment here).

[2018-07-18 04:09] zougloub commented on #1938
Note: [looks like](http://nipy.org/nibabel/coordinate_systems.html#voxel-coordinates-are-in-voxel-space) nibabel's physical <-> pixel position transform is using the integer pixel center convention.

[2018-07-18 04:22] zougloub opened #1944 "Figuring out orientation so `set_orientation()` can be deprecated in favor of an updated `change_orientation()`."
Context: trying to get rid of `isct_*` binaries.

Throughout the SCT code we're changing image orientations, in 2 different ways:

- change_orientation() which alters im.data but doesn't touch the NIFTI header
- set_orientation() which says it only alters the NIFTI header (but somehow when I ran it and performed a diff, I saw that the extent of modification wasn't just on the header...)

I underst

[2018-07-18 04:32] zougloub commented on #1944
Correction: `get_orientation()` is using `hdr.get_best_affine()`. Other functions use `hdr.get_sform()`.

[2018-07-18 04:56] zougloub commented on #1944
Follow-up observation: I realize that nibabel's orientation labeling is opposite of that of SCT, ie. SCT's "RPI" is nibabel's "LAS" (SCT uses the origin for the label, whereas nibabel uses the positive direction / destination):
[code]
I am not confused but this is raising questions.

[2018-07-18 05:23] zougloub opened #1945 "Fancy new github issue templates?"
I just realized that github has these cool new issue templates thingy that make opening a bug look like this:
![20180718t012120](https://user-images.githubusercontent.com/998040/42861441-f8c29f94-8a28-11e8-9c77-bf4cf642e293.png)
This comes down to modifying the issue template to become many.
![20180718t012211](https://user-images.githubusercontent.com/998040/42861447-0363d8dc-8a29-11e8-9303-7b2d85

[2018-07-18 16:41] jcohenadad commented on #1945
nice, i think we should use it

[2018-07-18 19:40] jcohenadad commented on #1944
regarding the [comment about nibabel/SCT orientation](https://github.com/neuropoly/spinalcordtoolbox/issues/1944#issuecomment-405808889), i confirm the two don't follow the same convention, and I agree we should align with nibabel's convention.
Maybe @benjamindeleener has some comments?

[2018-07-18 19:44] jcohenadad commented on #1944
for additional inspiration on how FSL is dealing with orientation stuff:
[code]

[2018-07-18 20:04] jcohenadad commented on #1944
I cannot confidently say "ok". I think that in instances where the qform or Analyze-based format is used, this might become problematic. This is something that should be tested.

nibabel uses an algorithm to figure out the affine depending on the available header fields.

This is linked to my previous response. I think we should take this opportunity to switch to nibabel for dealing with orientati

[2018-07-18 21:11] zougloub commented on #1665
VM was obsoleted in favor of [docker](https://github.com/neuropoly/sct_docker) -> closing

[2018-07-18 21:11] #1665 closed

[2018-07-18 21:14] zougloub commented on #1664
Only user of the code has a fix for the issue, closing.

[2018-07-18 21:14] #1664 closed

[2018-07-18 23:56] #1945 closed

[2018-07-19 12:06] Aaronearlerichardson opened #1949 "Combined labeling for non-sequential label IDs"
I am trying to extract DTI metrics from dorsal, intermediate, and ventral white matter columns but I want to extract separate outputs for right versus left. I tried editing the info_label.txt file an added the following lines under the already existing combined labels as is described in issue #1807.

[code]

None of these new labels seem to work for sct_extract_metric. Did I do this correctly or i

[2018-07-19 12:35] Aaronearlerichardson opened #1950 "A way to calculate signal to noise ratio?"
For fmri there is a code to calculate temporal SNR but I could not find one for dmri. I'm hoping use this to adapt the motion correction function on a patient by patient basis in the sct_pipeline.

[2018-07-19 12:41] jcohenadad commented on #1950
hi @Aaronearlerichardson, it is not trivial to estimate SNR for DWI time series, because there are different ways this could be achieved, e.g., based on b=0 images only or based on single-direction DWI scans. Obviously, you don't want SNR to be biased by the property of the tissue wrt. its diffusion attenuation. There are ways to do each of these things in SCT, but first, could you please let us k

[2018-07-19 13:03] jcohenadad commented on #1949
Hi @Aaronearlerichardson which `info_label.txt` file did you edit? you need to edit the one under your metrics working directory (the one generated by `sct_warp_template`). If you do so, it should work, e.g.:
[code]

[2018-07-19 13:08] jcohenadad opened #1951 "Usage in sct_extract_metric should list the tracts based on the local info_label.txt"
Currently, when looking at `sct_extract_metric` usage, the tracts listed are taken from `$SCT_DIR/data/PAM50/atlas/info_label.txt`, however if the user edited `info_label.txt` under its working directory, `./label/atlas/info_label.txt`, which is the directory that will be used by default by `sct_extract_metric`, then the user will not see the correct list of tracts.

A solution would be to display

[2018-07-19 15:24] Aaronearlerichardson commented on #1949
According to set_warp_template I am using the default file path which is: `/Users/spineimaging/sct_3.2.2/data/PAM50`
and the info file I edited is
`/Users/spineimaging/sct_3.2.2/data/PAM50/atlas/info_label.txt`
This file is attached at the bottom.
This is what I got when I tried to run set_extract_metric
[code]
[info_label.txt](https://github.com/neuropoly/spinalcordtoolbox/files/2210536/info_labe

[2018-07-19 15:33] jcohenadad commented on #1949
@Aaronearlerichardson, `sct_warp_template` default is indeed `/Users/spineimaging/sct_3.2.2/data/PAM50/atlas/info_label.txt`, while `sct_extract_metric` default is `./label/atlas/info_label.txt`. Therefore, the file that you edited was not considered by `sct_extract_metric`. You have two options:

 **Option 1:**
- Edit `/Users/spineimaging/sct_3.2.2/data/PAM50/atlas/info_label.txt`
- Run `sct_warp

[2018-07-19 15:49] Aaronearlerichardson commented on #1950
This is a little beyond my area of knowledge, but I think calculation from b=0 images makes the most sense here. All I need is a numerical indicator of image quality.

[2018-07-19 16:09] Aaronearlerichardson commented on #1949
It worked, thank you!

[2018-07-19 16:38] jcohenadad opened #1952 "Add a flag to sct_deepseg_sc and sct_deepseg_lesion to input centerline"
**Feature justification:**
In some cases, the centerline detection (svm- or cnn-based) fails, and it would be nice to be able to bypass this step by inputing our own centerline (e.g., obtained manually).

**Describe the solution you'd like**
A new option in the flag "centerline", where a file name would be input. Example of usage:
[code]

@charleygros what do you think?

[2018-07-19 17:00] jcohenadad commented on #1950
indeed, calculating tSNR from the b=0 data is reasonable. However, before doing so, they need to be registered together, using nearest neighbour interpolation (because trilinear or spline alters noise properties, and hence upward bias tSNR estimation). An example code below:
[code]

You will notice that we use a function called "sct_fmri_*" for DWI data, which is fine in this case because we are d

[2018-07-19 17:01] #1949 closed

[2018-07-19 17:23] Aaronearlerichardson commented on #1950
@jcohenadad, thank you this is very helpful.

[2018-07-19 17:23] #1950 closed

[2018-07-19 20:37] jcohenadad opened #1953 "Add a check box pass/fail and a button "generate report""
**Feature justification:**
It would be nice to add a check box so that the user can specify pass/fail for each subject/process, and then having a report generated.

[2018-07-20 19:46] jcohenadad opened #1954 "Make it possible to run sct_register_to_template with only one vert label"
**Feature justification**
This feature is already possible with -ldisc option, and it should be as well for -l option.

[2018-07-20 20:22] jcohenadad commented on #593
now implemented

[2018-07-20 20:22] #593 closed

[2018-07-20 21:19] jcohenadad commented on #1621
i moved the “metrics” under section “in progress” because it is effectively in progress (https://github.com/neuropoly/spinalcordtoolbox/blob/jca/1920-process_seg-csa-perslice/spinalcordtoolbox/metrics.py#L18), however i feel that more discussion is needed. For example, i find there is a large gap between what we call “metrics” as dice/hausdorff, etc. and computed qMRI metrics that are being furthe

[2018-07-21 02:52] zougloub commented on #1621
I think we can also consider a FP (vs. OOP) option that looks something like:

[code]

There may be less code to produce (more 3rd party code to piggy-back onto) and the resulting code can be more straightforward to understand.

[2018-07-21 02:59] #1954 closed

[2018-07-22 01:57] jcohenadad opened #1961 "batch_processing: put back -qc output on the t2 segmentation with propseg"
in [batch_processing](https://github.com/neuropoly/spinalcordtoolbox/blob/master/batch_processing.sh#L68), the flag `-qc "$SCT_BP_QC_FOLDER"` has been removed in recent commits. It should be put back in.

[2018-07-24 04:02] zougloub opened #1962 "sct_apply_transfo: adding integrity testing shows failure of 4D warping"
### Description

While adding basic integrity testing to `sct_apply_transfo` I noticed that in the second test (warping a DMRI 4D image) is resulting in an image with only zeros, AFAIK this is probably caused by the spatial extents of the 2 images being too far away and the warping field being inadapted (the same as the one for the first test).

### Steps to Reproduce

0. Install SCT (from today)

[2018-07-24 12:01] valosekj opened #1963 "sct_extract_metric -vert does not work properly"
### Description

I did registration of template to T2 image, after it I warped atlases to T2 space. In this T2 space I have registred FA map as well. I would like to extract value of FA from WM from C3 to C6 vertebral levels, so I run:

`sct_extract_metric -i FA.nii.gz -method map -f label/atlas -l 51 -vert 3:6 -o metric.txt`

Function finds path to label and vertebral labeling file and recognizes

[2018-07-24 14:50] jcohenadad commented on #1963
@valosekj this is strange. Would you mind sending me your data folder so i can try to debug?

[2018-07-24 19:15] jcohenadad commented on #1621
personally i prefer the FP approach. But one thing that troubles me about the `metrics` module is that there is currently some code to average metrics along slices and/or vertebral levels, implemented [here](https://github.com/neuropoly/spinalcordtoolbox/blob/jca/1920-process_seg-csa-perslice/spinalcordtoolbox/metrics.py#L18). This is quite far from the philosophy of Dice and cie. So, should we re

[2018-07-25 05:42] zougloub commented on #1621
About naming I don't know.  If metrics is a good name for CSA and friends, the module with distances and other statistics could be named 'statistics' or 'statistic'.

Even for statistics, there is stuff you can't aggregate indiscriminately.

About `average_per_slice_or_level()` and your module code, I commented in your ongoing PR.

[2018-07-25 05:52] zougloub commented on #1621
Relevant comments posted elsewhere:
- https://github.com/neuropoly/spinalcordtoolbox/pull/1931#discussion_r204983562: ground rules for things in the Python API, to raise that new code quality.
- https://github.com/neuropoly/spinalcordtoolbox/pull/1931#discussion_r204984127: accepting `Image` paths or Images by using `Image()` liberal constructor, and returing `Image`s.

[2018-07-25 15:32] jcohenadad commented on #1963
I noticed a bug that was introduced in v3.2.3 in the way slices are handled in `sct_extract_metrics`. I will produce a fix shortly.

[2018-07-25 16:41] jcohenadad opened #1964 "improvements on CONTRIBUTING.rst"
- when opening a PR, the following link should be displayed: `https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#when-submitting-your-pull-request` instead of `https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#contributing-code`
- in [this section](https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#when-submitting-your-pul

[2018-07-25 16:52] jcohenadad commented on #1963
@valosekj I implemented a fix that you can test in a separate branch (see: https://github.com/neuropoly/spinalcordtoolbox/pull/1965, with instructions at the end for testing this branch). Would you mind testing it and letting me know if this is good for you?
Thanks

[2018-07-25 18:22] mparizet opened #1966 "Missing argv input for some useful functions' main()"
it would be nice to be able to load those modules within Python, and hence accept args within the main

- sct_propseg

[2018-07-26 12:55] valosekj commented on #1963
@jcohenadad I just updated to the newest master version (because branch `jca/1963-extract-metric-bug-vert-level`  was deleted by zougloub) and tried to run function again with following progress:

[2018-07-26 13:47] jcohenadad commented on #1963
@valosekj indeed, let me investigate further. Sorry about that.

[2018-07-26 18:40] jcohenadad commented on #1963
@valosekj could you please try again on branch: `jca/1963-extract-metric-bug-vert-level`?

[2018-07-26 18:57] jcohenadad opened #1968 "remove_temp_file and verbose could be controlled by a global value in sct_utils"
In relation to [this comment](https://github.com/neuropoly/spinalcordtoolbox/pull/1931#discussion_r204983727), we are thinking of a global value to set `remove_temp_file` and `verbose`, which would save a lot of argument passing throughout SCT.

[2018-07-26 21:57] zougloub commented on #1966
Note that we're (slowly) in the process of developing a proper Python API for SCT so using `main()` is a temporary solution that should be avoided in durable code.

Let's see if we can take a shortcut and get you a decent API for `sct_propseg` ASAP.

[2018-07-27 06:44] zougloub commented on #1944
#1948 has documentation which clarifies all this orientation stuff, and new code that changes orientation (subject to unit tests), with the rest of the code was updated to use it.

[2018-07-27 12:16] valosekj commented on #1963
@jcohenadad It is working now. Thank you!

[2018-07-27 12:16] #1963 closed

[2018-07-27 16:23] zougloub opened #1971 "sct_apply_transfo doesn't work in certain cases"
### Description

Coming from https://github.com/neuropoly/spinalcordtoolbox/pull/1948#issuecomment-407284405

`sct_apply_transfo` can't seem work (no displacement observed) in unit tests using fixed/moving (straight/curved) images of certain orientations, which is strange:
Orientations OK: RAI RAS RPI RPS LAI LAS LPI LPS RIA RIP LIA LIP PLI PLS PIR PIL ILP SLP IAL IPL
Orientations NG: RSA RSP LSA

[2018-07-28 05:17] #1966 closed

[2018-07-30 12:11] jcohenadad opened #1973 "Wrong mention of Mutual Information if mask is too small"
### Description

When using another metric than mutual information for computing transformation, e.g. MeanSquares, if the number of voxels is too small to estimate a transformation, the warning message will wrongly mention that MI was used. More info here: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/d2f130c2/

Two things need to be fixed:
- the wrong warning message
- check

[2018-07-30 15:42] #1628 closed

[2018-07-30 19:34] zougloub commented on #1971
Can't reproduce o_O.
That must have been on older WIP.
[code]
Added a test that tests different orientations between source and reference images and it also passes.

[2018-07-30 19:34] #1971 closed

[2018-07-30 22:09] Aaronearlerichardson opened #1974 "Output tensor eigenvectors"
I am trying to perform fiber tracking on a data set and to do that I need to obtain the eigenvectors calculated in DTI computation. Hoping to see if they are saved somewhere, I tried changing the verbosity for the sct_dmri_compute_dti and this is what I got:
[code]
Is this supposed to happen? How else could I obtain the eigenvectors?

[2018-07-31 03:13] jcohenadad commented on #1974
hi @Aaronearlerichardson, indeed, SCT does not output eigenvectors (because nobody was using it so far). It is super easy to add them though. I'll do it tmr.

[2018-07-31 14:52] jcohenadad commented on #1974
the plan is to add a boolean flag `-eigenvector` with default=0

[2018-07-31 16:43] jcohenadad commented on #1974
@Aaronearlerichardson what format would you like the eigenvectors on? as a single 5-d data, or as 3x 4-d data (V1, V2, V3 like in FSL's `dtifit`)?

[2018-07-31 16:47] Aaronearlerichardson commented on #1974
I am specifically looking for the first eigenvector in a 4d single matrix (row, column, slice, 3)

[2018-07-31 16:47] jcohenadad commented on #1974
ok, i'll implement the FSL way then

[2018-07-31 17:52] jcohenadad commented on #1974
@Aaronearlerichardson can you please test branch `jca/1974-dmri-tensor-eigenvector` and let me know if it does the job for you?

[2018-07-31 18:13] Aaronearlerichardson commented on #1974
Works perfectly for me. Thank you!

[2018-07-31 19:40] #1974 closed

[2018-08-02 02:43] jcohenadad opened #1977 "sct_register_to_template: Wrong projection of labels onto centerline is labels are not in the same space"
### Description

In `sct_register_to_template.project_labels_on_spinalcord()`, the labels are re-oriented to RPI, which can cause bugs in case labels (i) are not in the same voxel space as the input segmentation and (ii) are not RPI. In fact, labels should *not* be re-oriented, because their coordinates are transformed into physical coordinates.

A proposed fix is to remove the re-orientation of l

[2018-08-02 03:28] zougloub commented on #1977
From the description it looks like it should be fairly straightforward to provide, from sct_example_data or sct_testing_data, reproduction steps that definitely cause the mentioned issues.

[2018-08-02 03:56] zougloub opened #1979 "Figuring out how to enable more thorough regression testing"
**Feature justification:** We are improving the toolbox to solve bugs, but we don't necessarily capitalize on this feedback stream as much as we could.
We could find a way to make it easy to transform candidate issues into tests, be it by adding missing unit tests, augmenting the integration tests, or having another set of regression tests.

**Describe the solution you'd like:**

- For unit tests

[2018-08-02 06:30] zougloub opened #1981 "Use Developer Certificate of Origin?"
To responsabilize developers on contributed code.

Relevant links:
- https://developercertificate.org/
- https://docs.google.com/document/d/1zpjDzL7yhGBZz3_7jCjWLfRQ1Jryg1mlIVmG8y6B1_Q/edit

[2018-08-02 06:33] zougloub commented on #1938
The used convention (integer pixel center) is documented, so closing this parenthesis.

[2018-08-02 21:12] jcohenadad opened #1982 "Confusing management of coordinates on non-RPI image with flag -p coord"
### Description

When using `sct_create_mask -i blabla -p coord,COORD1xCOORD2`, it is naturally assumed by the user that COORD1 and COORD2 are the coordinates in the axial plane of the center of the mask that will be created.

problem: if image is not RPI, the user has to look for the proper dimensions that will correspond to the plane. Even if the user does that, he/she will not know what is COOR

[2018-08-02 21:44] jcohenadad commented on #1979
i like the idea of a public/private `git-annex` repo. If we go that route we should probably also talk about data structure (json that contains file name, contrast, presence+name of label, etc., where to put them, what should they contain). Currently, we have a single json (that is automatically generated from our database).

another thing to consider is how to update this/those json (and/or the p

[2018-08-03 02:05] zougloub commented on #1979
To be honest it was late when I posted that and I hadn't realized that this could be related to what's under the scope of `sct_testing_management`.

From the few minutes I looked at it (correct me if I'm wrong), the data under `sct_testing_management` is either "open ended", or with ground truth data for algorithm performance measurement, but not doesn't contain pass/fail criteria that *tests* wou

[2018-08-03 02:10] zougloub commented on #1982
- If we are to change the CLI syntax  can we also switch to argparse at the same time? :dancer:

- Noting that the nifti/nibabel nomenclature uses `ijk` for voxel coordinates and `xyz` for physical coordinates. Maybe both could be used (eg. the user could be entering values from fsleyes where they see both voxel and physical coordinates).

[2018-08-03 10:49] jcohenadad commented on #1979
@zougloub the scope of `sct_testing/large` is indeed used for algorithm performance measurement, but could also be (and currently is) used for integrity testing. E.g., the ground truth segmentations could be used to assess wether an updated version of numpy would break `sct_deepseg_sc` in certain isolated cases of image configuration (resolution, orientation, dynamic range, etc.). So I understood

[2018-08-03 10:51] jcohenadad commented on #1981
@zougloub sounds good to me.

[2018-08-03 15:48] jcohenadad opened #1983 "When input image has 3rd axis which is not I-S, it fails"
### Description

Those motion correction functions assume that the input image has the 3rd axis along S-I direction, which is usually the case if acquisition is axial. However, when it is not the case, it fails miserably, e.g. [here](https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/d2f130c2/).

Two possible solutions. Check if input image is in axial orientation, and if not:
- Ex

[2018-08-04 14:27] jcohenadad opened #1984 "Generalize motion correction for sagittal acquisitions"
### Feature justification
Currently, `sct_dmri_moco` and `sct_fmri_moco` are designed such that the input image is assumed to be in axial orientation (i.e. 3rd dimension is S-I), and the algorithm estimates a set of Tx,Ty for each slice, regularized using polynom functions along the S-I direction.

However, for images acquired sagitally (or coronally), this approach does not work anymore. Beyond t

[2018-08-04 14:34] jcohenadad commented on #1984
One thing that we need to do quickly is add a disclaimer in those functions, that only axial acquisition can be input (for now).

[2018-08-06 03:14] zougloub commented on #1938
Yep.

[2018-08-06 11:43] valosekj opened #1985 "Add init-centerline option into sct_deepseg_sc"
Dear SCT experts,
_sct_deepseg_sc_ works generally  better than _sct_propseg_ on our data (mainly in patients with cervical myelopathy). But in some cases when patient has greater stenosis and contrast is lower in these levels segmentation fails. I found out that reason of it is bad centerline detection by _Optic_ alg. (I also tried to change -centerline detection method from svm to cnn, but resul

[2018-08-06 14:25] jcohenadad commented on #1985
hi @valosekj, thank you for the feedback. Indeed, we agree and have already opened an issue: https://github.com/neuropoly/spinalcordtoolbox/issues/1952. I have just increased the priority level. We can close this issue (duplicate of #1952).

[2018-08-06 14:25] #1985 closed

[2018-08-06 14:25] jcohenadad commented on #1952
also see https://github.com/neuropoly/spinalcordtoolbox/issues/1985

[2018-08-06 18:34] valosekj commented on #1985
Hi @jcohenadad, thank you for response. It's nice to see you are working on it already. Sorry for duplication.

[2018-08-06 20:47] jcohenadad opened #1986 "Add column with pass/fail/?"
### Feature justification
It would be great to have an additional column on the QC report, with value "Pass", "Fail" or "?" (unverified), so that when doing the QC, we can quickly label if a process is successful or not.

Ideally the user would press a shortkey (e.g. space if it is available), and the shortkey would switch between pass and fail (e.g. press one: pass, press two: fail, press three:

[2018-08-07 03:14] charleygros commented on #1952
@jcohenadad : I agree, this would be a very relevant feature.

Should we also allow the user to call the viewer to create the centerline, as in PropSeg (and suggested here #1985 ) ?
[code]

[2018-08-07 15:05] jcohenadad commented on #1952
yes, we could indeed call the centerline-viewer module directly from `sct_deepseg_sc`.

[2018-08-07 15:48] jcohenadad commented on #1986
yup! i'm all for a cleaner solution. I just wanted to raise the issue before i forget and dumped some quick ideas.

[2018-08-07 20:11] jcohenadad commented on #1986
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/1953

[2018-08-07 20:11] #1986 closed

[2018-08-08 18:38] zougloub commented on #1526
Pending issues:
1. `version.txt` issue (something should be under `spinalcordtoolbox/`)
2. Launcher (which helps mostly for MPI) should be optional by default
3. frozen requirements (prevents installation along other libraries that would require newer versions)
4. requirements are split between pip and conda, the default should be all-pip with the installer doing its custom thing

[2018-08-08 21:00] jcohenadad opened #1987 "Recent modifications in extact_metric is altering batch_processing final output"
Because of recent modifications merged to `master` branch, likely related to `sct_extract_metric`, the output of `batch_processing` needs fixup. It shows:
[code]

instead of (v3.2.3):
[code]

Note: don't pay attention to the differences in results. This is another issue.

[2018-08-09 15:23] jcohenadad opened #1988 "Implement integrity testing in sct_pipeline for sct_register_to_template"
Currently when using `sct_pipeline` on `sct_register_to_template` with integrity testing, it fails because of non-compatibility of ground truth management in `sct_testing`. In fact, there is no "external" ground truth for testing integrity in `sct_register_to_template`: the approach is simply to compute the Dice between the existing cord seg (in the template space) and the registered cord seg (fro

[2018-08-09 15:24] jcohenadad commented on #1988
Ideally we would like this issue to be fixed so that we can test https://github.com/neuropoly/spinalcordtoolbox/pull/1948

[2018-08-09 17:55] jcohenadad commented on #1988
Nevermind, I was not using `sct_pipeline` correctly. The proper way of doing integrity testing is to input the template cord with `-igt` flag. Example:
[code]

[2018-08-09 18:06] #1988 closed

[2018-08-09 18:10] #1964 closed

[2018-08-10 01:11] jcohenadad opened #1989 "sct_pipeline_makefig: make it work with other field than "dice""
We should add a flag "-f" to specify the field to fetch for generating results

[2018-08-10 01:19] jcohenadad opened #1990 "sct_pipeline: status=1 instead of 200 if label file is missing"
When running `sct_pipeline -f sct_register_to_template -d $PATH_DATA -p \"-i t2/t2.nii.gz -s t2/t2_seg_manual.nii.gz -l t2/labels.nii.gz -igt ${SCT_DIR}/data/PAM50/template/PAM50_cord.nii.gz\" -pickle 1 -test-integrity 1 -j 127`, if "t2/labels.nii.gz" is missing, output status =1 (crash) whereas it should be 200 (file missing).

[2018-08-10 02:44] #1944 closed

[2018-08-10 15:28] jcohenadad opened #1991 "Consider other web technologies for generating QC reports"
The current QC report is a static HTML page. There are few limitations, including:
- Tricky to output text file, e.g. to interact with the QC and validate if some subjects require manual correction #3187
- Code cumbersome to maintain
- No easy way to add sliders and other fun interactive tools.

This issue discusses possible alternative to the way we generate the QC:
- Jupyter notebook. It notably

[2018-08-10 15:47] zougloub commented on #1991
This would be low-maintenance and way more flexible than the current simple A/B image display.

One thing is that I don't know if the JS widgets are integrated or available when consulting generated HTML offline (the "send e-mail with QC report inside" scenario that works right now).

[2018-08-10 15:52] jcohenadad commented on #1991
i don't think the JS widget could be packaged and sent offline, but we could have a two-gear approach (starting from interactive notebook, and enable to save as static page that would cover 90% of use case)

[2018-08-12 05:34] zougloub opened #1993 "Misc. issues due to code churn"
Code has changed and some removed code is called from newer code:
- ************* Module scripts.sct_label_utils
  - [ ] E:254,16: No name 'compute_cross' in module 'sct_straighten_spinalcord' (no-name-in-module)
  - [ ] E:257,16: No name 'compute_cross_centerline' in module 'sct_straighten_spinalcord' (no-name-in-module)
- ************* Module scripts.msct_shape
  - [ ] E:372, 8: Module 'visvis'

[2018-08-13 02:18] jcohenadad opened #1994 "Recent modifications on msct_image alters visual output of sct_testing"
Because of the verbose of image orientation and shape recently introduced, `sct_testing` visual output is heavier and more difficult to follow, e.g. below. It would be nice to be able to minimize the verbose in this context.

[code]

[2018-08-13 04:10] zougloub commented on #1994
#1970 has the fix

[2018-08-13 12:28] jcohenadad opened #1995 "Swapped ventral-dorsal labels on PAM50/atlas"
Some labels encoded in `PAM50/atlas/info_label.txt` are wrong:

[code]

Should be:
[code]

More info: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/705db972/?limit=25#4ddd

[2018-08-13 15:35] #1994 closed

[2018-08-14 02:36] jcohenadad opened #1998 "__THE_PROCESS_HAS_FORKED_AND_YOU_CANNOT_USE_THIS_COREFOUNDATION_FUNCTIONALITY___YOU_MUST_EXEC__"
this is a minor verbose issue, but when running `sct_testing` on latest version (1f595b2894c3d470668130f1eeb3dc17247a531b), i get this funny message:
[code]

[2018-08-14 03:45] jcohenadad commented on #1998
duplicate of #1898

[2018-08-14 03:45] #1998 closed

[2018-08-14 04:35] #1995 closed

[2018-08-15 02:07] jcohenadad commented on #1977
data: 20180801_Mirriam/data

[2018-08-15 02:36] #1977 closed

[2018-08-15 02:44] jcohenadad opened #1999 "sct_apply_transfo: Error when inputing non-image files as transformation"
### Description

A recent bug was introduced (after v3.2.3), which prevents `sct_apply_transfo` to input .txt (affine-type) as transformation (flag -w).

A possible solution would be to accept back .txt.

### Steps to Reproduce

[code]

Output:

<details>

[code]

</details>

[2018-08-15 02:44] jcohenadad commented on #1999
BTW: we could take this opportunity to add this scenario in `test_sct_register_to_template`

[2018-08-15 02:49] jcohenadad commented on #1999
additional info: i noticed in `sct_apply_transfo` v3.2.3 that the description for `-w` was "warping field", which was obviously wrong (because we do want to accept .txt). So i suggest we change this description for "Transformation, including warping field or affine transfo."

[2018-08-15 03:05] zougloub commented on #1999
Oops, I hadn't realized a warping field could be something else than an Image.

[2018-08-15 18:49] #1999 closed

[2018-08-16 17:50] jcohenadad opened #2001 "Clarify usage for sct_deepseg_lesion -c flag"
the current flag:
[code]

is inaccurate (t2_ax is not a contrast but an orientation).

[2018-08-16 20:31] jcohenadad opened #2002 "crash when using viewer"
data: sct_testing_data/t2

syntax+error:
[code]

[2018-08-16 20:46] kspruthviraj opened #2003 "How to retrain the model with new datasets -- segmentation of lesions"
Dear SCT team,
I have installed the latest SC toolbox. And I tried sct_deepseg_lesion on few spinal cord injury dataset (Sagittal, t2 data). And attached an example lesion segmentation

Deep learning--segmented
![dl01](https://user-images.githubusercontent.com/12137274/44233874-0d39c180-a173-11e8-99e1-e4744ac75340.png)

Manual segmentation--
![hr01](https://user-images.githubusercontent.com/121372

[2018-08-19 17:14] jcohenadad commented on #1898
@zougloub this is issue is becoming a bit annoying: cannot run `sct_testing` locally unless we remove processing time output from the launcher, which is not great for our users either. Do you see a possible fix for it?

[2018-08-19 21:55] zougloub commented on #1898
I suggest to remove the processing time output from the launcher. This counter doesn't add any value over what one would get running `time $cmd`.

[2018-08-19 21:56] zougloub commented on #1898
Also, I'll replace the launcher with a python-based solution in #1996

[2018-08-20 13:39] zougloub opened #2005 "Odd failure of sct_check_dependencies if DISPLAY is not set."
When testing
[code]

[2018-08-20 15:12] jcohenadad commented on #1898
well, i do find the counter useful i have to admit. It makes it a bit less ugly than to write "time $cmd" each time (for our batch pipelines). And if we don't do it systematically, sometimes we might want to get the processing time retrospectively, and it would be dumb to have to re-launch the process just to get the time.

if the python-based solution provides a workaround to keep the time, it wo

[2018-08-20 20:54] jcohenadad commented on #1887
i confirm it is working fine now (tested on latest master commit 925987e5b179a67cdc95ea9bc10aa7e4758c69d2).

[2018-08-20 20:54] #1887 closed

[2018-08-20 23:01] kspruthviraj commented on #2003
@charleygros @jcohenadad Few quick questions on retraining the model.

1) In the paper that you sent **section 2.2, page 8** , could you please help me understand the segmentation framework. Because I have not worked on cascade-based CNN framework so if you have a figure showing the architecture of **CNN2-SC and CNN2-lesion** it would help me to understand better.

2) From the paper, I could see t

[2018-08-21 05:48] charleygros commented on #2003
**Under-segmentation:** a quick tweak of post-processing that you could try is to play with the threshold which aims at binarizing the CNN output:
--> https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_lesion.py#L408
You could try 0.001 instead of 0.1: as the decision border of the Dice Loss is quite sharp, you should observe some changes. If you find a satisfying value

[2018-08-21 16:44] kspruthviraj commented on #2003
Regarding detection of SC:
I could not plot the centerline image on the original image due to dimension mismatch. Do you have any function that overcomes this dimension mismatch and plot ?
![screen shot 2018-08-21 at 12 37 21 pm](https://user-images.githubusercontent.com/12137274/44415654-ff06ef00-a53e-11e8-9490-9290b091f9ad.png)

[2018-08-21 16:45] jcohenadad commented on #2003
@kspruthviraj how did you get the centerline? the output should be in the same space as the input image. Would help if you display the full syntax. thx

[2018-08-21 16:57] kspruthviraj commented on #2003
@jcohenadad ,

I looked at the temporary folder for the centerline image. There I have only one file named centerline, so I assume this is the one to look at centerline.

**_evans:~ $ /private/var/folders/ft/8cywxd952gx817tbrvpq1rdc0000gs/T/sct-180821121753-9yj41J/bf1_RPI_resampled_centerline_optic.nii**

and then I used this command to display:

fslview /Users/pruthvi_local/Desktop/Lesion_Segment

[2018-08-21 17:07] jcohenadad commented on #2003
@kspruthviraj please do not use the temp image (they are in the temp for good reason ;-) ). Could you pls write the syntax you used to generate the centerline? As @charleygros mentioned you have a few options: https://github.com/neuropoly/spinalcordtoolbox/issues/2003#issuecomment-414557072

[2018-08-21 17:08] kspruthviraj commented on #2003
@jcohenadad , Oh sorry. Thanks a lot. I missed it. I will check that.

[2018-08-21 19:47] jcohenadad opened #2006 "NotImplementedError: for 2D images"
data:

[code]

[2018-08-21 19:52] zougloub commented on #2006
What is the expected behavior in this case?

[2018-08-21 21:56] jcohenadad commented on #2006
expected behavior would be to interpolate the data to be in the destination space (ref_template_50um_Sample1). It was working on v3.1.1.

[2018-08-21 23:27] zougloub commented on #2006
Will reshape to 3D and see if we can get away with it. Haven't looked at the problem yet.

[2018-08-22 03:28] zougloub commented on #2006
@jcohenadad I don't have your data, so if you can quickly test the branch from PR #2004 on this, I'd be thankful.

[2018-08-22 03:43] jcohenadad commented on #2006
i'm now getting this:
[code]

the funky data are accessible [here](https://www.dropbox.com/s/0vpk2jrpol9lsyh/20180821_data_that_will_give_you_insomnia.zip?dl=0).

[2018-08-22 03:59] zougloub commented on #2006
Now not crashing with another fix in image. Not sure if the result is the expected one though.

[2018-08-22 06:07] #2002 closed

[2018-08-22 14:33] jcohenadad commented on #2006
it is the expected one (i.e. same as with v3.1.1). Thanks!
Fixed via #2004

[2018-08-22 14:33] #2006 closed

[2018-08-22 14:52] jcohenadad opened #2007 "Replace current ANTs binaries by ANTsPy"
Source: https://github.com/ANTsX/ANTsPy

Pros:
- ANTsPy package installable via pip
- potentially faster i/o than nibabel (see https://github.com/ANTsX/ANTsPy/blob/master/tests/timings_io.py)

Cons:
- might not include `antsSliceRegularizedRegistration` (to check)

[2018-08-24 15:13] #1961 closed

[2018-08-24 15:13] #1987 closed

[2018-08-25 15:07] jcohenadad opened #2010 "In ssh connection (without display), figures cannot open while it says it can"
ssh connection to OSX station, then:
[code]

It says it can open figure (even though there are some weird Warning messages), but then when trying to do so:

django:~/code/sct $ cd
django:~ $ sct_download_data -d sct_testing_data
django:~ $ cd sct_testing_data/t2
django:~/sct_testing_data/t2 $ sct_propseg -i t2.nii.gz -init-centerline viewer -c t2

--
Spinal Cord Toolbox (master/6404c8b2bacd7cdd0f7

[2018-08-25 15:14] jcohenadad opened #2011 "Bug when using Sentry form Matlab call"
when calling SCT from Matlab, if Sentry is set, the following error is sent (for any SCT script):
[code]

When turning off Sentry at installation, this error is fixed.

[2018-08-25 17:28] zougloub commented on #2011
Matlab is bundling its own libssl and prepending its dynamic library path to even the subprocesses it calls, which is wrong. We can work around that in the script launcher if this is a common usage pattern.

[2018-08-26 00:56] jcohenadad commented on #2011
It is not a common usage pattern (for now, and i hope it will not become one), so turning off Sentry is an acceptable workaround. Good to know about the cause though.

[2018-08-26 00:56] #2011 closed

[2018-08-26 23:45] zougloub commented on #1898
Somehow I can't reproduce the problem on a Mac i have access to, but Travis has it...

[2018-08-27 19:47] zougloub commented on #1898
Workaround: use `-j 1` in the sct_testing call. There's a limitation of OSX where forked programs cannot just do what they want until they `exec()`, which Python's multiprocessing doesn't do.

[2018-08-27 20:42] zougloub commented on #2010
In #1996, in the new launcher we are working around the problem by setting MPLBACKEND=Agg if DISPLAY is not set.

[2018-08-27 22:04] jcohenadad commented on #1898
thanks, the workaround `-j 1` did it.

Fun fact: after a fresh reboot `sct_testing` ran seamlessly. After re-running it a second time, I got the errors described in this issue.

[2018-09-02 16:32] jcohenadad opened #2014 "QC generates blank images with sct_register_to_template"
### Description

When using QC flag on `sct_register_to_template`, the output QC figures are empty. Note that it works on `sct_testing_data` so there must be something weird with these data. Maybe one thing to note is that `mt1_crop` and `mt1_seg` are not in the same space (although that should not matter because-- i think).

### Steps to Reproduce

SCT version: 6404c8b2bacd7cdd0f73ecbfbe7ce285c48

[2018-09-03 15:56] jcohenadad opened #2015 "IndexError when running cord segmentation with 3d kernel"
### Description

I run into an IndexError when running cord segmentation with 3d kernel (see below).

### Steps to Reproduce

[code]

[2018-09-03 15:59] jcohenadad opened #2016 "ValueError when running cord detection on 2D images using cnn"
### Description

It seems like cord detection on 2D images with cnn crashes (at least on the tested image, see below). I've not put this in a related PR #2012 because that PR should be merged despite this bug, which occurs when using non-default params.

### Steps to Reproduce

[code]

[2018-09-04 18:03] kspruthviraj commented on #2003
@jcohenadad @charleygros
This is regarding the cropping of images and extracting 3D patches. As @charleygros mentioned in the previous post,

**_4. Crop the image around the spinal cord centerline. You can use: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_lesion.py#L165
5. Standardize the intensities of the cropped image, via Nyul method, as done here: https://git

[2018-09-04 19:12] jcohenadad commented on #2003
@kspruthviraj are you sure the resampling of the centerline did not "null" some voxels (this could happen with nearest neighbor interpolation, because centerline only has a single voxel per slice). In that case better to use trilinear interpolation.

@kspruthviraj by "cropping", do you mean outputting an image with size i,j,k, where i,j are the size of the patch in the i,j directions, and k is the

[2018-09-04 20:04] kspruthviraj commented on #2003
@jcohenadad
1)I checked the resampled output and it has not nulled the voxels and it seems the resampling step worked well. Here are the screenshots,

**Original image:**
![screen shot 2018-09-04 at 3 51 27 pm](https://user-images.githubusercontent.com/12137274/45054273-7b7af100-b05a-11e8-92a3-9fe27b71a0bd.png)

**corresponding centerline image:**
![screen shot 2018-09-04 at 3 21 04 pm](https://us

[2018-09-04 20:34] jcohenadad commented on #2003
@kspruthviraj could you please point us to the code that you are using to perform the cropping?

[2018-09-04 20:49] kspruthviraj commented on #2003
# 5.0 Cropping image

@jcohenadad Here is how I crop:

out_path = '/Users/pruthvi_local/Desktop/Lesion_Segmentation/01_preprocess/04crop/'
PATH_resample = '/Users/pruthvi_local/Desktop/Lesion_Segmentation/01_preprocess/03Resample/'

for line in Mask_list[0:2]:
    Type = line.split("_")
    subject = Type[0]
    print(subject)
    NII_path = PATH_resample + subject + '_resample_INPUT.nii.gz'
    c

[2018-09-04 21:07] jcohenadad commented on #2003
maybe a problem of dtype upon saving? (e.g., binary file saved as uint without appropriate precision). Could you check if the cropped array `data_im_new[:, :, zz]` has non-null voxels? If so, then it is indeed a precision issue upon saving, and you could overcome it by specifying dtype when running `im_new.save(filename_out)`.

[2018-09-04 23:32] charleygros commented on #2003
@kspruthviraj: As you said, you need to crop the resampled image thanks to the resampled centerline, so that your preprocessing pipeline is robust to data resolution heterogeneity.

I think that your issue comes from this line:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_sc.py#L139
--> as your centerline is resampled, it does not contain 1 anymore (but values lik

[2018-09-04 23:36] kspruthviraj commented on #2003
@jcohenadad @charleygros Thanks a lot for your answers. I will try with the suggested solutions and will update.

[2018-09-04 23:41] charleygros commented on #2003
@kspruthviraj : concerning the 3D small patches extraction, you can find some inspiration here: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_lesion.py#L160

[2018-09-05 00:31] kspruthviraj commented on #2003
@charleygros Thank you. The nearest-neighbour trick worked. Now the cropping is running without errors on resampled image.

[2018-09-05 16:02] jcohenadad opened #2017 "When splitting along Z a 4D file, each output becomes 3D"
### Description

When splitting along Z (or X or Y) a 4D file (with time: dim=4), each output (e.g. `data_Z0002.nii.gz`) is a 3D file, with the time dimension becoming dim=3 instead of dim=4, and the Z dimension being removed instead of keeping it as a singleton.

### Steps to Reproduce

[code]

[2018-09-10 00:27] charleygros opened #2019 "Better management of error message if user inputs non-3D data"
### Description
IndexError when resampling data with `resample/nipy_resample.py`.

### Steps to Reproduce
SCT used:
[code]

1. Go to data folder:
[code]

2. Run `sct_deepseg_sc` (note: same behaviour using `sct_deepseg_gm`):
[code]

Output:
[code]

[2018-09-10 05:40] charleygros commented on #1837
I think we can close this issue, is it correct?

[2018-09-10 16:29] jcohenadad commented on #2019
This bug is due to the input image which is 4D instead of 3D (multiecho data). A workaround is to split the data and only use the first echo for input in SCT:
[code]

note: while it would be possible (even encouraged) to average all echoes in order to gain SNR, it is not recommended in this specific dataset, which as acquired with alternating polarities, resulting in very large inter-echo A-P shif

[2018-09-10 18:52] jcohenadad commented on #1890
cannot reproduce

[2018-09-10 18:52] #1890 closed

[2018-09-10 22:27] charleygros opened #2023 "AttributeError: sct_straighten_spinalcord when ldisc_dest and ldisc_input are provided"
### Description

I got the below error because of these 2 lines of `sct_straighten_spinalcord`:
- https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_straighten_spinalcord.py#L452
- https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_straighten_spinalcord.py#L462
--> `*.transfo_pix2phys()` outputs a numpy array, while the above lines expect a list.

### Steps

[2018-09-11 08:43] chienc1 opened #2024 "from msct_image import Image ImportError: No module named msct_image"
Dear All,

 I am running SCT for 2D spinal cord segmentation and all goes well until the very end.

I installed the newest developer version of SCT (v3.2.4) and still the same error:

Traceback (most recent call last):
  File "metrics.py", line 10, in <module>
    from msct_image import Image
ImportError: No module named msct_image

I am running on macOS High Sierra.

Even when I remove all other

[2018-09-11 13:08] zougloub commented on #2024
Hi @chienc1,

The code string `from msct_image import Image` is not present anymore in v3.2.4
(except in the /dev folder which is a sandbox).

By any chance, do you have several SCT installations and your environment's SCT_DIR is pointing at the “wrong” one?

[code]

If so, try to `unset SCT_DIR` and run your command again.

@jcohenadad I think this `SCT_DIR` thing doesn't have a reason to be anym

[2018-09-11 13:19] charleygros commented on #2024
Small detail: @chienc1 is referring to this herebelow line of a script using the SCT to reads and analyses nifti images:
https://github.com/sct-pipeline/claudia/blob/master/metrics.py#L10

[2018-09-11 13:27] jcohenadad commented on #2024
@charleygros thank you, this is helpful to know. Since v3.2.4 does not have msct_image anymore (now in `spinalcordtoolbox.image` module), could you please update this part of the script in sct-pipeline/claudia, and update the README to specify the compatible version of SCT (currently it says "working with 3.2.1 or above"). I would suggest to tag the current version of the repository (e.g. v1.0), t

[2018-09-11 13:42] zougloub commented on #2024
OK. I'm actually hinting at removing dealing with SCT_DIR inside the code itself @jcohenadad

[2018-09-11 14:12] charleygros commented on #2024
@jcohenadad : Ok, will do and keep you updated.

[2018-09-11 15:52] jcohenadad commented on #2024
ah! yes of course, 100% agree with that

[2018-09-11 16:40] jcohenadad opened #2025 "image: Corrupted header upon saving"
I'm getting crazy here. I'm trying to copy the nifti header from a source file to a destination file without changing the data, but I get this unexpected behaviour which can be reproduced as follows:

Download data:
[data.zip](https://github.com/neuropoly/spinalcordtoolbox/files/2371872/data.zip)

Open SCT's Python and run:
[code]

Here is the output I get:
[code]

So, it seems like saving the fil

[2018-09-11 17:16] zougloub commented on #2025
Use `get_best_affine`, not qform directly (sform may be used and have priority!)

[2018-09-11 17:16] zougloub commented on #2025
![image](https://user-images.githubusercontent.com/998040/45376097-f09f7680-b5c4-11e8-955f-9c002597f4a2.png)

[2018-09-11 17:21] zougloub commented on #2025
(src.nii has "conflicting" qform and sform, where does it come from?)

![image](https://user-images.githubusercontent.com/998040/45376335-9357f500-b5c5-11e8-8515-40668c1c6ba7.png)

[2018-09-11 17:29] jcohenadad commented on #2025
it comes from the output of `antsRegistration` (applied after splitting the data along T, then Z). But it shouldn't matter because `dest.nii` has the same q/sform and we are using this header to generate im_dest_new, so I am missing something.

[2018-09-11 18:59] chienc1 commented on #2024
Thanks so much! Looking forward to the updated script :)

[2018-09-11 19:09] zougloub commented on #2025
“modifying the qform, even though it "should" not be used” <- yes

[2018-09-11 20:30] zougloub commented on #2023
@charleygros I concur, I'd rather modify sct_straighten_spinalcord.
About the change, your immediate fix is good, the surrounding code isn't any better ;)

This regression is mine, it appeared because I modified `transfo_pix2phys` to return a numpy array.

[2018-09-12 15:02] #820 closed

[2018-09-12 15:02] #1550 closed

[2018-09-13 06:43] charleygros commented on #2024
@jcohenadad :
- tag v1.0 created
- modfis made and then pushed/merged
--> I wait for @chienc1 feedback before to create the tag v2.0
Thanks

(issue could certainly be closed)

[2018-09-14 09:33] chienc1 commented on #2024
Thanks all! Will let Charley know how it goes :)

[2018-09-16 20:09] jcohenadad commented on #1914
see new FSLeyes plugin https://github.com/neuropoly/spinalcordtoolbox/pull/1629#issuecomment-421737334

[2018-09-18 15:42] jcohenadad opened #2027 "README remove info on virtual machine"
HERE: https://github.com/neuropoly/spinalcordtoolbox#install-from-package-release

should be replaced with docker stuff

[2018-09-18 19:14] jcohenadad opened #2028 "CSA measure done on all slices does not output the mean CSA"
### Description

The following command:
[code]

is expected to output the average CSA across all slices (in addition to the CSA per slice).

[2018-09-18 19:33] jcohenadad opened #2029 "Not possible to use "search" module on the QC"
maybe due to the keyboard lock. Needs to be fixed

[2018-09-20 18:19] jcohenadad opened #2030 "duplicate extension in output display"
of sct_process_segmentation -p create-vert:

--> File created: t2_seg_labeled.nii.gz.nii.gz

[2018-09-26 04:19] charleygros commented on #2024
I am reporting the below issue on behalf of @chienc1:
[code]
when running:
https://github.com/sct-pipeline/claudia/blob/master/metrics.py#L18

[2018-09-26 04:44] zougloub commented on #2024
Obviously we don't want stuff inside the `spinalcordtoolbox` namespace to call things in `scripts` but right now this is WIP.
Please add `$SCT_DIR/scripts` to PYTHONPATH (or sys.path) and it should work.

[2018-09-28 20:09] jcohenadad opened #2031 "Error: singular matrix during straightening"
### Steps to Reproduce

Data:
[data.zip](https://github.com/neuropoly/spinalcordtoolbox/files/2429310/data.zip)

Syntax + output:
[code]

[2018-09-28 20:17] jcohenadad commented on #2031
@benjamindeleener any idea what could go wrong?

[2018-09-29 14:22] jcohenadad opened #2032 "Input parameter is ignored"
When typing:
[code]
The algo is using algo_fitting=nurbs, ignoring the input param.

SCT version: 7d5367b3b28d9dabbc4157e55dcb81aca1505fba

[2018-09-30 02:53] benjamindeleener commented on #2031
The NURBS algorithm is supposed to detect singular matrices, but I guess it is not all the time done properly. In this case, the approximation of the curve was properly done and gave the best results around  16-17 control points, which is the number that should have been picked up.

I would suggest improving the algorithm to calculate the number of control points so that it is more efficient and m

[2018-09-30 13:45] jcohenadad commented on #2031
@benjamindeleener just to be sure: can you do the change you suggested?

[2018-10-01 08:51] #1952 closed

[2018-10-01 08:59] charleygros commented on #1985
Hi @valosekj,

Apologies for the delay.

To add a manual centerline as input of `sct_deepseg_sc` is now available in the current version of the `master` branch of SCT and will be included in the next release.

To use it, please run:
[code]
or you could also use the viewer to generate the centerline:
[code]

Thank you for raising this point, really appreciated.

[2018-10-01 09:02] #1855 closed

[2018-10-01 20:03] jcohenadad commented on #1406
Reopening this issue, because improvements could include:
- having sct_resample do the job (instead of dumping code inside sct_propseg)
- sform should also be updated (not only qform), otherwise straightening will fail.

[2018-10-01 21:02] jcohenadad commented on #2024
can we close this @chienc1?

[2018-10-01 21:04] chienc1 commented on #2024
@jcohenadad sorry, I am on conferences and work trips until next Monday... can I try it out and let you all know then? Thank you so much for the time and help as always :)

[2018-10-04 13:23] #2032 closed, assigned to jcohenadad

[2018-10-04 13:34] jcohenadad commented on #2031
we should reopen this issue because #2033 did not solve it per se (provides workaround). We should still fix this specific issue.

[2018-10-04 19:45] jcohenadad opened #2034 "Add tSNR computation from fMRI data in batch_processing"
To inspire people as well as to be sensitive to modifications on fmri-related functions, it would be good to add this quantification in the batch_processing.

Lines to add:
[code]
And then to extract results:
[code]

[2018-10-05 21:11] #1878 closed

[2018-10-05 21:11] #1984 closed

[2018-10-05 21:11] #2017 closed

[2018-10-09 00:36] jcohenadad opened #2037 "spinalcordtoolbox.gui.launch_centerline_dialog resets input variable im_output"
### Description

A regression bug, introduced in v3.2.4, causes the error below. The source of the bug is caused by [this code](https://github.com/neuropoly/spinalcordtoolbox/blob/90c82508901fecd0d59ea148a357da3785eba3cd/spinalcordtoolbox/gui/centerline.py#L257), which sets the variable `im_output` to `None`.

### Solution

A short term solution (implemented in #2039) is to reassign output label f

[2018-10-09 13:40] jcohenadad commented on #1888
hanning has been re-enabled recently

[2018-10-09 13:40] #1888 closed

[2018-10-09 13:43] jcohenadad commented on #1212
@benjamindeleener this is 1+ year old. Are you still planning to work on this? if not please close it, or leave it open but document the issue with more details and guidelines to help other researchers find a solution. Thx

[2018-10-09 13:47] benjamindeleener commented on #1212
@jcohenadad not planning on working on this for now.

[2018-10-09 13:47] #1212 closed

[2018-10-09 13:49] jcohenadad commented on #2023
@charleygros is this fixed?

[2018-10-09 13:49] jcohenadad opened #2038 "NURBS too sensitive to number of input points"
NURBS is used in key functions, including `sct_straighten_spinalcord` (used for template registration, smoothing, etc.), `sct_propseg`, `sct_deepseg_sc`. There are a couple of issues that arose, in relation to the sensitivity of NURBS to the number of control points, the gap and the number of input points:
- https://github.com/neuropoly/spinalcordtoolbox/issues/1863
- https://github.com/neuropoly/

[2018-10-09 23:47] #1837 closed

[2018-10-09 23:54] charleygros commented on #2023
@jcohenadad : Yes! I am closing the issue, thank you.

[2018-10-09 23:54] #2023 closed

[2018-10-09 23:56] charleygros commented on #2024
Issue resolved.

[2018-10-09 23:56] #2024 closed

[2018-10-16 19:06] #2037 closed

[2018-10-17 17:57] Nicolas-Pinon commented on #1942
The number which is 5x times the number of slices in the images on this function is not the number of control points but the number of points in the NURBS. As demonstrated on the figure attached which is issued from the test data of the SCT Paris 2018 course :
<img width="869" alt="screen shot 2018-10-17 at 10 58 42 am" src="https://user-images.githubusercontent.com/34742864/47105667-96708180-d212

[2018-10-17 18:11] jcohenadad commented on #1942
agreed

[2018-10-17 18:34] Nicolas-Pinon commented on #1942
Whoops, I deleted my comment by mistake, as there is no way of retrieving deleted comments to my knowledge, for the sake of clarity I will re-write  it :

The number which is 5x times the number of slices in the images on this function is not the number of control points but the number of points in the NURBS. As demonstrated on the figure attached which is issued from the test data of the SCT Pari

[2018-10-17 18:56] Nicolas-Pinon commented on #2038
I implemented fixes for the singularity matrix errors which arose in https://github.com/neuropoly/spinalcordtoolbox/issues/1863 and
https://github.com/neuropoly/spinalcordtoolbox/issues/2031 in the branch :
https://github.com/neuropoly/spinalcordtoolbox/tree/nipin/issue2038-NURBS
This permits NURBS to work at all time, even if a singular matrix arise in the process. This removes the need to use Ha

[2018-10-17 19:41] jcohenadad commented on #2038
@Nicolas-Pinon awesome! could you please open a PR and describe the purpose of your branch within the PR? The we can take the discussion from there and start iterating on implementation/testing. Thanks!

[2018-10-22 14:33] Nicolas-Pinon opened #2043 "msct_nurbs: Problem with Hanning filtering"
When using the function smooth_centerline contained in sct_straighten_spinalcord, which calls msct_smooth and then msct_nurbs, if the number of points is below 5, the smoothing is done by Hanning filtering.
This sometimes produces discontinuities in the centerline, as shown here :
<img width="530" alt="screen shot 2018-10-22 at 10 27 50 am" src="https://user-images.githubusercontent.com/34742864/4

[2018-10-22 14:36] #2038 closed

[2018-10-22 14:36] #1863 closed

[2018-10-22 14:36] #2031 closed

[2018-10-23 15:00] Nicolas-Pinon commented on #2043
In the current state, what happens is :
The five or less points are smoothed using Hanning filtering, and only then, the five points are interpolated, by a rudimentary method, as we can see in :
https://github.com/neuropoly/spinalcordtoolbox/blob/111e7e792d364511dca36fd1f79822a7f1ca188b/scripts/msct_types.py#L662
The author of this script also mentions that this technique works

Which is clearly n

[2018-10-25 17:38] jcohenadad opened #2044 "Sentry-DSN hosted on non-trusted website makes installer crash"
After accepting to use Sentry reports, the installer fails to download the dsn file, and then crashes (see below). A quick workaround is to answer "no" to the question about Sentry reports, however we should find a more elegant way to address this issue. Maybe host the dsn file in a more trusted location? (currently on our wiki)
[code]

[2018-10-25 17:43] perone commented on #2044
Did you check if it works by changing the link to `http` instead of `https` ?

[2018-10-25 18:16] jcohenadad commented on #2044
same thing:
[code]

[2018-10-26 13:47] jcohenadad opened #2045 "AttributeError: 'str' object has no attribute 'absolutepath'"
### Description

Wrong variable assignment causing the crash below. Variable should be Image() instead of file name. This bug has been introduced in v3.2.6.

Also see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/95c11624d9/?limit=25#bfa1

### Steps to Reproduce

Version: v3.2.6 stable
Data: sct_example_data

[code]

[2018-10-26 14:52] jcohenadad opened #2046 "TypeError: list indices must be integers, not tuple"
### Description

Regression bug introduced by replacing `range(len(fT))` with `enumerate(fT)`.

### Steps to Reproduce

[code]

[2018-10-26 15:44] jcohenadad opened #2048 "Should not assume positive metrics in sct_extract_metric"
`sct_extract_metric` function currently assumes that metrics are positive (see:  https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_extract_metric.py#L366) and there is no good reason for doing that.

Also see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/b99efb3ab2/

[2018-10-26 15:57] #2045 closed

[2018-10-26 15:57] #2046 closed

[2018-10-26 20:18] #2048 closed

[2018-10-31 13:32] jcohenadad opened #2051 "AttributeError: 'module' object has no attribute 'np'"
tested on user data -- TODO: reproduce with testing/example data

[code]

[2018-10-31 13:56] jcohenadad opened #2053 "Make it possible to use vertebral alignment in ref=subject mode"
Currently when more than 2 labels are provided, it uses `ref=template` mode, which implies resampling to 1mm iso and cord straightening, which in some cases are not desirable.

It would be nice to have the vertebral alignment feature on the `ref=subject` mode.

[2018-10-31 14:17] jcohenadad opened #2054 "sct_image -copy-header: changes the translation matrix"
When copying header using:
[code]

the output affine matrix is different between src and dest. Output should be the same as with:
[code]

[2018-11-06 17:55] jcohenadad opened #2055 "Broken mirror link for deepseg lesion model"
doesn't work (in v3.2.7): https://www.neuro.polymtl.ca/_media/downloads/sct/20180613_deepseg_lesion_models.zip

also see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/753a5f3dad/

[2018-11-06 18:00] jcohenadad commented on #2055
fixed it

[2018-11-06 18:00] #2055 closed

[2018-11-06 18:03] jcohenadad opened #2056 "'filename' error due to recent change in OSF metadata"
A user experienced issues when downloading data from OSF. The error was found because it automatically switched to the mirror URL, but one was missing (related to #2055). Strangely, the user could "manually" download the data from OSF (i.e. not through the installer), suggesting that there might be a bug in the installer for some particular configurations.

It would be good to test the installer o

[2018-11-08 01:37] jcohenadad opened #2057 "Usage should indicate default centerline method"
see: https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/cc50fce8ac/

[2018-11-08 01:50] jcohenadad opened #2058 "Crashed when output file name is not given"
`sct_image` is supposed to have flag `-o` as optional, however when not specified, function crashes.

To reproduce:
[code]

[2018-11-08 02:16] jcohenadad opened #2059 "Use `sct_progress_bar` for `algo=columnwise`"
looks nicer...

----

Relevant code:

https://github.com/spinalcordtoolbox/spinalcordtoolbox/blob/5bd7c7b6393bf4e29c6d69c97e018f1f399cc46a/spinalcordtoolbox/registration/algorithms.py#L988-L991

https://github.com/spinalcordtoolbox/spinalcordtoolbox/blob/5bd7c7b6393bf4e29c6d69c97e018f1f399cc46a/spinalcordtoolbox/utils/sys.py#L341-L343

[2018-11-08 03:31] jcohenadad commented on #2057
sorry i didn't see the "default value...". Which also suggests that we really need to work on our parser formatting (very difficult to read on a 80-column terminal).

anyways, i agree with your first suggestion.

[2018-11-08 09:36] charleygros commented on #1777
Just wanted to summarize what we said above to check if we still agree on it, before to (finally) implement it:
-- `sct_propseg`, `sct_deepseg_sc` and `sct_deepseg_lesion`: do not output a centerline file. If the user need it, she/he could use the flag `-r 0`.
-- `sct_get_centerline`: output a centerline image with the filename convention: `*_centerline.nii.gz`. Currently: `-method viewer` --> `*_

[2018-11-08 15:00] jcohenadad opened #2061 "Display syntax below QC image"

[2018-11-13 16:24] Nicolas-Pinon opened #2062 "sct_image -setorient and -setorient-data don't effectively change orientation"
### Description

When using `sct_image -setorient` or `sct_image -setorient-data` to reorient images :

Description says that `sct_image -setorient` changes only the header and that `sct_image -setorient-data` changes only the data (from the previous orientation to the newly defined one)

Using this image as a test : https://osf.io/akr3y

When running `sct_image -i PiginT1w_before.nii -getorient`

[2018-11-15 22:00] jcohenadad opened #2063 "QC visual output should crop based on physical dimensions, not number of voxels"
When input resolution is high (as is the case in the example below: 0.25mm in-plane), the QC visualization crops the cord. Instead of cropping the cord based on number of voxels, we should use the physical dimension instead (e.g., 2 cm window centered at the segmentation center of mass).

Ugly example:
![screen shot 2018-11-15 at 16 56 42](https://user-images.githubusercontent.com/2482071/48584520

[2018-11-17 09:53] charleygros opened #2064 "optic: Conversion to 'int16' fails when input data type is 'uint'"
Conversion to 'int16' fails if input data type is 'uint':
https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/optic.py#L102

### Steps to Reproduce
[code]
--> The detection fails because the conversion to 'int16' ([this line](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/optic.py#L102))

However, by doing a simple resamp

[2018-11-17 14:11] jcohenadad opened #2066 "New module to detect C2-C3 disc"
In its current implementation (v3.2.7), `sct_label_vertebrae` is poorly robust for detecting C2-C3 disc. It is an important first step for the algorithm, if it fails the rest of the processing fails.

It would be nice to develop a separate, more robust, module that detects C2-C3 disc.