[2019-09-18 14:42] jcohenadad commented on #2436
@agahkarakuzu thank you **so much** for your help!!! 🙏

[2019-09-18 16:53] gmotzespina commented on #2436
@agahkarakuzu Thanks a bunch! I'll keep on going with your progress.

[2019-09-18 23:17] gmotzespina commented on #2436
@agahkarakuzu Sorry to bother you again.

I've tried your solution using this Dockerfile:

[code]
First of all it didn't work because using a user without privileges throws the following error:
[code]
So I removed the generation of the non-root user and used this docker file:
[code]
Then I followed the following steps
1. build the docker image `docker image build -t spinalcord .`
2. Run `docker ru

[2019-09-19 01:09] jcohenadad opened #2445 "Drop support for El Capitan"
There was likely a change to Keras recently, and El Capitan is no more supported, as suggested by the recent [Travis fail](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/586215576#L713).

I suggest we drop support to OSX <10.12 (i.e., El Capitan and older).

Related to [this forum post](http://forum.spinalcordmri.org/t/unable-to-install-sct-due-to-tensorflow-fail/98/23).

[2019-09-19 01:13] agahkarakuzu commented on #2436
Hey @gmotzespina, it is interesting that you are running into a different issue with the same Dockerfile. First off the command you use to run your container is not enough to bind your xhost with the container.

`docker run -it spinalcord:latest` is just to start container in interactive command-line mode. You need some additional steps depending on **your own** machine's OS. If it is OSX or Ubunt

[2019-09-19 02:15] agahkarakuzu commented on #2436
Using the build with the dockerfile I give above, I was able to do:

![image](https://user-images.githubusercontent.com/9632322/65207735-aadf7e80-da60-11e9-80e8-6ba5dce062d8.png)

Functionality mentioned in the panel is there. I can navigate, zoom in out, change brightness, add labels etc. Note that I run it by passing `-o` option, I commented out non-root user steps at the end. If you enable them

[2019-09-19 02:26] jcohenadad commented on #2436
@agahkarakuzu yes please! thank you so much for your help!

[2019-09-19 02:27] #2445 closed

[2019-09-19 02:28] agahkarakuzu commented on #2436
Not at all @jcohenadad, opening an issue for the bug.

[2019-09-19 02:34] agahkarakuzu opened #2447 "Slice navigator crashes using arrow keys"
# Description

When the requested slice number (e.g. 65) exceeds that of max available for the visualized volume (e.g. 64) while holding the right arrow key on the keyboard, `sct_label_utils` crashes.

### Steps to Reproduce

0. SCT running on a centOS container. Please see https://github.com/neuropoly/spinalcordtoolbox/issues/2436#issuecomment-532935963.

1. Use [sct_london_course_dataset](https:

[2019-09-19 11:50] gmotzespina commented on #2436
@agahkarakuzu Thanks a bunch for your help, you've been really helpful. @jcohenadad I guess I
should update the wiki, and respond Yazhuo ?

http://forum.spinalcordmri.org/t/sct-label-utils-error/160/9

I'm not sure if there is a PR to raise, since it seems that just running it with the right configuration and steps mentioned by @agahkarakuzu should solve Yazhuo's problems right?

[2019-09-19 12:01] jcohenadad commented on #2436
@gmotzespina yup, sounds good. However it would be good to check the environment upon installation and spit out relevant message

[2019-09-19 13:28] #2443 closed

[2019-09-19 16:53] gmotzespina commented on #2436
@jcohenadad I've updated the wiki https://github.com/neuropoly/spinalcordtoolbox/wiki/testing, let me know if you think I missed something, or if there are some typos. Will proceed with the environment checkup.

[2019-09-19 17:56] jcohenadad commented on #2436
- [this](https://github.com/neuropoly/spinalcordtoolbox/wiki/testing/_compare/b19f5ccdf8204059085eb86f97feb3f47845baf2...4f292b70191d37aeb8deba66040184a3829fe8cc#diff-3047d71ccf1370a2898eb92c70273f56R36) can be replaced by the command `touch Dockerfile`
- why are you installing [this](https://github.com/neuropoly/spinalcordtoolbox/wiki/testing/_compare/b19f5ccdf8204059085eb86f97feb3f47845baf2...4f

[2019-09-19 18:17] jcohenadad commented on #2436
@gmotzespina can you please let the user know how to solve the issue on the forum please (top priority), thanks

[2019-09-19 19:48] gmotzespina commented on #2436
@jcohenadad Done, I've also fixed the wiki: https://github.com/neuropoly/spinalcordtoolbox/wiki/testing

[2019-09-20 18:41] jcohenadad opened #2448 "Error when copying unzipped files if destination folder already exists"
bug observed during installation of a previously-installed SCT, on joplin (ubuntu):

[code]

this bug has likely been introduced by #2425

[2019-09-20 20:37] #2448 closed

[2019-09-23 15:45] jcohenadad opened #2451 "Create a function to concatenate b=0 scans with existing DWI time series"
As of now, if users have separate b=0 scans, they have to concatenate them manually, then update bvals/bvecs files manually. I suggest a new function with the following features:

- Name: `sct_dmri_concat_b0_and_dwi`
- Features:
  - Input: FILE: b0, FILE: dwi, FILE: bvecs, FILE: bvals
  - Output: FILE: b0_dwi, FILE: bvecs_concat, FILE: bvals_concat

[2019-09-23 21:26] jcohenadad opened #2453 "Shift along slice direction between image and overlay"
Sometimes, the QC report shows an overlay which is shifter by one slice compared to the background image, as illustrated below:
![Screen Shot 2019-09-23 at 5 23 47 PM](https://user-images.githubusercontent.com/2482071/65464115-1fcb0380-de27-11e9-965e-e58352352182.png)

To reproduce:
SCT commit 6cd471ae1c153c71d51ad0c8c808082cd4e1e756
Data:  [data_issue2453.zip](https://github.com/neuropoly/spinalc

[2019-09-25 16:24] jcohenadad commented on #2453
One possible cause of the issue: the segmentation `sub-amu01_acq-T1w_MTS_seg.nii.gz` is not in the same voxel space as the destination `sub-amu01_acq-T1w_MTS_crop.nii.gz`.

I've tried replacing `sub-amu01_acq-T1w_MTS_seg.nii.gz` by a segmentation in the same voxel space as the destination, and the issue is still there.

[2019-09-25 17:16] #2451 closed

[2019-09-25 17:20] jcohenadad commented on #2453
Tried to interpolate with spline and linear: issue still there

[2019-09-25 17:37] jcohenadad opened #2454 "Cropping is setting a wrong qform factor"
### Description

When cropping an image using `sct_crop_image`, the output qform code is wrongly set to 2 (Aligned Anat), which goes against the [Nifti convention](https://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/qsform_brief_usage), specifying that the qform_code should be either 0 or 1.

Moreover, the output sform_name and sform_code are inconsistent: it gives
[co

[2019-09-25 17:45] jcohenadad commented on #2453
The issue seems to be related to incorrect q/sform fields.

When resampling an image with the same q/sform, or with `qform_code=2`, the resampling does not produce the issue.

However, when resampling an image with `qform_code=1`, which does not follow the conventions, as raised in #2454, the resampling is producing the issue.

So, until we solve #2454, we should check the consistency of the qform

[2019-09-25 18:36] jcohenadad commented on #2453
When enforcing the qform to 0 or 1, the issue is **not** solved.

[2019-09-25 18:52] jcohenadad commented on #2453
The problem was solved by changing resampling mode from constant to nearest.

[2019-09-25 19:54] jcohenadad commented on #2429
One solution would be to enforce the same sform as the qform. Related to #2454

[2019-09-26 14:52] lrouhier opened #2456 "Missing mandatory argument : parser error not handled"
### Description

The sct_deepseg_sc command throws a python error when missing the -c argument.

### Steps to Reproduce

0. Install SCT <Mac OSX git-master-acddb30d5fe5404e4c363b7e254936695c29d720>

1. run sct_deepseg_sc -i ./sct_example_data/t2/t2.nii.gz

**Expected behavior:** Command-line usage error: ERROR: -c is a mandatory argument.

**Actual behavior:** Python error on 'brain_bool' variable

[2019-09-26 14:54] #2453 closed

[2019-09-26 18:44] jcohenadad opened #2458 "OSX logs out when running sct_crop_image with the GUI"
Strangely, when launching `sct_crop_image` with the GUI (flag -g), my OS session finishes and goes immediately to the logging page. This is obviously a horrible bug, which needs to be fixed with top priority.

OSX Mojave
Hardware: MacBook Pro (15-inch, 2019)
SCT commit 5c27f4902faf16b848c28fa03028d3803c66a621

Useful links:
- https://github.com/matplotlib/matplotlib/issues/14999
- https://github.c

[2019-09-26 18:56] jcohenadad commented on #2458
Trying to downgrade mpl:
[code]

[2019-09-26 19:05] jcohenadad commented on #2458
One solution would be to switch the current implementation to PyQT5, using our own library in `spinalcordtoolbox.gui`

[2019-09-26 20:26] #2456 closed

[2019-09-28 19:53] jcohenadad commented on #931
Closing because `shift` feature will be dropped by https://github.com/neuropoly/spinalcordtoolbox/pull/2459

[2019-09-28 19:53] #931 closed

[2019-09-28 19:54] jcohenadad commented on #293
Cannot reproduce

[2019-09-28 19:54] #293 closed

[2019-09-28 19:59] jcohenadad opened #2460 "Remove binaries isct_crop_image and isct_orientation3d"
After #2459, the binary `isct_crop_image` is no more required and should be removed from the binary packages.

Also, it seems that the binary `isct_orientation3d` is no longer used and can therefore be removed.

[2019-09-28 20:01] jcohenadad opened #2461 "Rename resampling.resample_nib into resampling.resample"
After #2459, the function `resample_nib()` now accepts Image object, and should therefore be renamed to `resample()` for more code clarity.

Also, places in SCT's code where conversion to nibabel object is done could now be removed.

[2019-09-30 15:44] jcohenadad opened #2462 "Image.dim of warping field returns (1, 1, 1, 1, 1, 1, 1, 1)"
Weirdly, when opening with `Image` a warping field generated by ANTs (ITK), the output of `img_warp.dim` is:
[code]
Which is inconsistent with the shape of the data (example below):
[code]

Maybe this is related to the way Image treats 5D.

[2019-09-30 19:31] jcohenadad opened #2464 "ValueError: min() arg is an empty sequence caused by empty segmentation"
For some reasons, a DWI dataset yields an empty segmentation, which causes the postprocessing module to crash.

We should:
- figure out why the segmentation is failing
- raise a more elegant error during postprocessing if inputing an empty segmentation

To reproduce:

Data:
[sub-brno02_dwi_crop_moco_dwi_mean.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/3672918/sub-brno02_dwi_crop_m

[2019-09-30 21:00] jcohenadad opened #2465 "UnboundLocalError: local variable 'zmax' referenced before assignment when no overlap between source and destination"
When the initial warping field applied to the input image does not bring any overlap of the segmentations (and/or images), as shown below, the function crashes.

![Screen Shot 2019-09-30 at 4 57 16 PM](https://user-images.githubusercontent.com/2482071/65916681-c709e680-e3a3-11e9-940e-c8e91fb55628.png)

A more elegant solution would be to identify the problem and raise an issue easy to comprehend.

[2019-09-30 21:57] jcohenadad opened #2466 "Enable the possibility to change only the header with label-based registration"
In cases where two different images were acquired on the same subject, within the same session, but with repositioning, it would be nice to be able to udpdate one of the image's header (qform/sform) based on manually-placed fiducial markers.

A similar feature, already implemented, uses `sct_register_multimodal -ilabel -dlabel -param step=0,type=label`, however this current feature has two limitat

[2019-09-30 22:12] jcohenadad commented on #2464
It seems that the culprit is the centerline, which is discontinued, yielding a discontinued cropping, as shown below:

![anim](https://user-images.githubusercontent.com/2482071/65920584-5ff12f80-e3ad-11e9-980c-c125387e863d.gif)

[2019-09-30 22:17] jcohenadad commented on #2464
The centerline is properly estimated, however it becomes discontinued after being resampled [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg_sc/core.py#L136).

[2019-09-30 22:25] #470 closed

[2019-09-30 22:25] #1817 closed

[2019-09-30 22:25] #1818 closed

[2019-09-30 22:25] #2458 closed

[2019-09-30 22:25] #2460 closed

[2019-09-30 22:47] jcohenadad commented on #2464
I've started to do some refactoring at the resampling stage, notably: moving the resampling to 0.5mm out of the `find_centerline()` module (which should only focus on finding the centerline). This will notably enable to minimize i/o by passing more Image objects and less file names across the different stages.

[2019-10-01 02:59] charleygros opened #2468 "concat_data: do not accept list of Image as input"
It would be useful to be able to send `Image` objects to `concat_data` in order to remove unnecessary i/o.

See method documentation: [here](https://github.com/neuropoly/spinalcordtoolbox/blob/5c27f4902faf16b848c28fa03028d3803c66a621/spinalcordtoolbox/image.py#L801).

Example of unnecessary i/o: [here](https://github.com/neuropoly/spinalcordtoolbox/blob/cf6350f656a09118752b1cbea5e6f98f38c26da4/spi

[2019-10-01 03:09] charleygros commented on #2468
My mistake: `concat_data` can already receive `Image` objects.

[2019-10-01 03:09] #2468 closed

[2019-10-02 16:31] jcohenadad opened #2469 "remove link to sct_segment_graymatter"
until the various issues are solved.

[2019-10-02 20:36] lrouhier opened #2470 "`sct_deepseg_sc` performs poorly on images with spinal cord compression"
**Feature justification: Is your feature request related to a problem? Please describe.**
sct_deepseg_sc is not functioning really well on patients with compression of the spinal cord.

**Describe the solution you'd like**
Further training on new images from patients suffering from spinal cord compression might help make the model more robust.

example:
only 3 slices were segmented on this image.

[2019-10-03 13:44] felixsc1 opened #2471 "sct_maths -otsu_adap error"
Apparently, the skimage function _threshold_adaptive()_ has been deprecated.
threshold_local seems to work similarly, but it doesn't produce a binary output:
https://scikit-image.org/docs/0.15.x/api/skimage.filters.html#skimage.filters.threshold_local

[code]

[2019-10-03 14:56] jcohenadad commented on #2471
@felixsc1 thank you for catching this! That's an easy fix. We will do it within 1d.

[2019-10-03 18:44] jcohenadad opened #2472 "Crashes when trying to remove folder under Singularity container"
[this change](https://github.com/neuropoly/spinalcordtoolbox/commit/79145306f83157557ddb2a3fc5a13727318f4483#diff-096b5eba0646d82b4e379018d50deaa6R164) causes an issue running the sct install while building a singularity container. More details [here](https://github.com/neuropoly/spinalcordtoolbox/commit/79145306f83157557ddb2a3fc5a13727318f4483#commitcomment-35336200).

Issue likely related to:
-

[2019-10-03 18:59] jcohenadad commented on #2472
When replacing `shutils.move` by `shutils.copytree`, i get the error below when the unzipped folder is a collection of files, instead of a single folder:
[code]

For code clarity and lower maintenance, I suggest to enforce that every files downloaded using `sct_download_data` points to a zip files, and that the unzipped file only generates a single folder.

[2019-10-04 12:13] #2471 closed

[2019-10-04 21:34] #2472 closed

[2019-10-05 19:20] jcohenadad opened #2475 "Send email once sct_run_batch is done"
Useful feature.

[2019-10-06 03:19] #2464 closed

[2019-10-06 12:40] jcohenadad opened #2476 "The up/down arrow is dysfunctional when search mode is activatede"
When using the search mode to filter the entries in the QC report (i.e. rows that appear), the up/down keys does not seem to work appropriately anymore. It seems like the up/down keys refer to the unfiltered entries.

See screen recording [here](https://www.dropbox.com/s/ms2nxvonntxf083/20191006_SCT_issue2476_QC.mov?dl=0).

To reproduce, download [this QC report](https://www.dropbox.com/s/60aawmnz

[2019-10-07 18:36] alexfoias opened #2478 "Installation failed"
I have a problem with the installer using the version 6f50fd8e917e8e255a0004daa1966c4a1fec49bf .

Please see down below.

<Details>

[code]

</Details>

[2019-10-07 18:56] jcohenadad commented on #2478
@alexfoias I cannot reproduce this error. Would you mind trying again? Maybe there was a temporary glitch

[2019-10-08 13:47] alexfoias commented on #2478
@jcohenadad After removing .conda* from my home directory, the installation worked like a charm.

[2019-10-08 13:47] #2478 closed

[2019-10-08 13:54] jcohenadad opened #2480 "SCT version lost when users download a zip package of master branch"
See [this post](http://forum.spinalcordmri.org/t/label-vertebrae-fails/176?u=jcohenadad), where a user likely downloaded the zip package of master branch, instead of installing with git. In this instance, the versioning information is lost, making it difficult to know the users environment.

[2019-10-08 16:19] alexfoias opened #2481 "sct config in bashprofile"
I recently installed 6f50fd8e917e8e255a0004daa1966c4a1fec49bf without any problems.

<Details>

[code]

</Details>

If I source the recommended bash profile, `sct` is correctly called.

<Details>
[code]
Last login: Tue Oct  8 12:15:54 on ttys000
alex-macbook:~ $ sct_qc
-bash: sct_qc: command not found
alex-macbook:~ $ source /Users/alfoi/.zshrc
alex-macbook:~ $ sct_qc

--
Spinal Cord Toolbox (git-

[2019-10-11 13:30] #2476 closed

[2019-10-11 14:00] lrouhier opened #2482 "Vertbral labelling-DL : Retrieve Spine generic discs coordinates"
Using python tools (nibabel, numpy) extract the disc coordinate from the public spine generic dataset.
The coordinates of each disc are found in XXX_labeled_discs.nii.gz files.
Each non zero pixels correspond to a disc label. The label of the disc (C3, C4 ect..) is stored in the pixel value.

part of #2438

[2019-10-11 14:11] lrouhier opened #2483 "Vertebral labelling-DL: Retrieve spine generic centerline coordinates"
Using python tools (nibabel, numpy) extract the coordinates of the centerline at the disc level (previously obtained).
The centerline is represented by non zero pixels for each subjects in XXX_centerline.nii.gz files.

part of #2438

[2019-10-11 14:20] lrouhier opened #2484 "Vertebral labelling-DL: Statistical analysis"
Using python tools (panda , numpy ) perform statistical analysis on the interdisc distance and the distance between the spinal cord and each disc. The value will be used later on for constrained loss on a deep learning network.

part of #2438

[2019-10-14 17:46] lrouhier opened #2485 "Vertebral labelling-DL: Create pipeline for SCT"
Create a pipeline using the pretrained weights from the network: Open and load the image, create temp flatten sagittal file (sct_flatten_sagittal -i [file]), extract the midsagittal slice from this image and apply CLAHE transformation.  Load the model with PyTorch and feed it the image. Run the coordinate extraction program and create the 3Dimages as output.

[2019-10-14 17:49] lrouhier opened #2486 "Vertebral labelling-DL : Generate 3D image"
Generate a 3D image from a list of coordinate that has the form [[slice,x,y, label]...]. it should have the same propriety as the original as the image it is labeling.

[2019-10-14 19:45] jcohenadad commented on #2486
what is the purpose of this 3D image?  where is the [slice, x, y] convention defined? (i.e. what does "slice" mean, what orientation, etc.)

[2019-10-14 21:02] jcohenadad opened #2487 "batch_processing: add QC for t1 segmentation and other features"
to add:
- QC on T1 seg
- CSA on T1

useful for comparing SCT versions

[2019-10-14 21:17] jcohenadad opened #2488 "Adjust deepseg_sc (again)"
The recently-merged PR (https://github.com/neuropoly/spinalcordtoolbox/pull/2479), which consisted in finding the optimal threshold per contrast, by minimizing the STD of CSA across contrasts, might not have been the best decision.

A few issues I noticed after merging this PR:
- Qualitatively, the T2 and MT1_on look under-segmented (see the [QC outputs](https://github.com/neuropoly/spinalcordtool

[2019-10-14 21:39] jcohenadad commented on #2488
OK, after comparing the "old implementation" (before merging #2479, this commit: 4fd8290e341f744047f16483b92a99251709fae7) with the "new implementation" (bbcb7da3c37681033526beb30de20bd25c056782), I noticed that the threshold only has minimum effect on the output segmentation size, and that something else is driving the seg size. See below:

![old](https://user-images.githubusercontent.com/2482071

[2019-10-14 22:44] lrouhier commented on #2486
I was aiming at creating an image that looks like the XXX_labeled_discs.nii.gz files with the output of the neural network. 'slice' will represent the coordinate on the right-left axis on the sagittal plane. It should be the coordinate of the mid sagittal image.

[2019-10-15 00:46] charleygros commented on #2488
@jcohenadad: I think I found the reason for this issue: the binarisation after resampling.

`master`:
[code]

Before #2479:
[code]

Suggestion of solution:
1. Change the code with:
[code]
2. Re run your pipeline to fine-tune the thresholds and update them

[2019-10-15 15:57] jcohenadad commented on #2488
ah! yes of course! thank you @charleygros. I can work on this, no problem

[2019-10-15 16:49] jcohenadad opened #2489 "Bad sensitivity when checking installation of data/ folder"
The script `sct_check_dependencies` only check the presence of the folder data/, which in some cases is not sensitive enough (e.g., the folder could be there, but not the data).

[2019-10-19 15:04] Suradech164 opened #2491 "Cannot run SCT v4.0.2"
Hello Everyone

I have just installed the lastest SCT version 4.0.2, however, the terminal still processes on the older version 4.0.0 beta. How to fix this?

Thank you!

[2019-10-19 15:05] jcohenadad commented on #2491
Have you started a new terminal to initialize environment variables?

[2019-10-19 15:08] Suradech164 commented on #2491
i did.

[2019-10-19 16:07] Suradech164 commented on #2491
I did but and also restarted the mac.  Should I uninstall the older version before reinstalling new one? and how?

Thanks again.

[2019-10-19 17:40] Suradech164 opened #2492 "Failed installation due to missing gcc on OSX Catalina"
Hello Everyone,

I have trouble with installing 4.0.2 previously I did install in successfully, however, my SCT still was running the older version 4.0.0 beta 5.

I have deleted the older sct versions and upgrade catalina IOS and reinstalled sct 4.0.2... however it failed... gcc installation failed as attached below...

Welcome to the SCT installer!

Checking requirements...
WARNING: "gcc" is not

[2019-10-19 17:44] jcohenadad commented on #2491
What is the output of: `more ~/.bashrc`?

[2019-10-19 18:07] jcohenadad commented on #2492
@Suradech164 thank you for reporting this issue. I will need to upgrade to Catalina to be able to reproduce your error, but in the meantime, maybe we can work together and find a quick solution for you.

First of all, can you ran these commands and copy/paste the terminal output:
[code]

[2019-10-19 18:11] jcohenadad opened #2493 "Deal with zsh shell on OSX Catalina"
Starting with OSX Catalina, default shell is no more bash but zsh, more info [here](https://support.apple.com/en-ca/HT208050).

We need to update the installation to ensure compatibility with this new shell.

Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2492

[2019-10-19 18:17] Suradech164 commented on #2492
Hello Julen

Attached results below:

Ohs-MacBook-Pro sct4.0.2 % gcc
which gcc
git
ls -la ~/.*rc
xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
/usr/bin/gcc
usage: git [--version] [--help] [-C <path>] [-c <name>=<value>]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]

[2019-10-19 18:19] jcohenadad commented on #2492
what is the output of:
[code]

[2019-10-19 18:27] Suradech164 commented on #2492
Ohs-MacBook-Pro ~ % more /Users/ohlaboratory/.bashrc

# SPINALCORDTOOLBOX (installed on 2018-01-29 19:24:09)
export PATH=/Users/ohlaboratory/sct_3.1.0/bin:$PATH
#source /Users/ohlaboratory/sct_3.1.0/bin/sct_env

# SPINALCORDTOOLBOX (installed on 2018-01-31 00:28:32)
export PATH=/Users/ohlaboratory/sct/bin:$PATH
#source /Users/ohlaboratory/sct/bin/sct_env

# SPINALCORDTOOLBOX (installed on 2018-01-

[2019-10-19 18:29] jcohenadad commented on #2492
ok, so it looks like we will have to deal with two things: 1) installation of gcc and 2) change your default shell for bash.

First, could you try to install Homebrew by running this command:
[code]

[2019-10-19 18:58] Suradech164 commented on #2492
Thank you so much Julien for you help.

SCT 4.0.2 is working now!

[2019-10-19 18:59] jcohenadad commented on #2492
I'm glad it is working now, but could you please let me know what you did in order to have it working, so that I can help other users in case they run into the same issue?

[2019-10-19 19:02] Suradech164 commented on #2492
I just installed homebrew that you told me and re-install 4.0.2.

/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

[2019-10-19 19:06] jcohenadad commented on #2492
@Suradech164 there is still the other issue, which might not be solved, about the wrong shell being run (i.e. your Terminal is looking for an older version of SCT). I just want to make sure that you are running the latest SCT version.

What is the output of:
[code]

[2019-10-19 19:30] Suradech164 commented on #2492
oratory@Ohs-MacBook-Pro ~ % sct_check_dependencies

Spinal Cord Toolbox (4.0.2)

SCT info:
- version: 4.0.2
- path: /Users/ohlaboratory/sct_4.0.2
OS: osx (Darwin-19.0.0-x86_64-i386-64bit)
CPU cores: Available: 4, Used by SCT: 4
RAM: Primary memory available: 8.00 gigabytes
Check Python executable.............................[OK]
  Using bundled python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019,

[2019-10-19 19:36] jcohenadad commented on #2492
@Suradech164 cool! it looks like you are running the correct version. Don't hesitate if you have other issues.

[2019-10-19 19:40] Suradech164 commented on #2492
thank you again for your help and prompt response! I appreciate it.

[2019-10-20 20:27] jcohenadad opened #2494 "Unit testing test_compute_shape failing with new version of scikit-image"
As can be seen [here](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/600352204#L1079), the test is crashing. This is due to a new version of the library `scikit-image`

[2019-10-20 20:46] jcohenadad commented on #2494
Comparison of installed libraries on a failing Travis (fab8393edcbf0e1e2ee6b961f74a3d2cc58c28e9):
[code]

And on a successful Travis (51de69832e812bd49d74e39f2839f101dff96569):
[code]

The culprit might be `scikit-image`. Will do more investigations to confirm/infirm.

[2019-10-20 20:52] jcohenadad commented on #2494
Confirmed! After downgrading to `scikit-image==0.15.0`, the unit test passes.

[2019-10-21 14:39] jcohenadad opened #2496 "Freeze Python libraries for a given SCT version to ensure reproducibility of a previous version"
We should fix library versions in the file `requirements.txt` to make sure that one can reproduce previous SCT installations.

However, the development version should use the latest libraries (to make sure we are always up-to-date with Python's libraries).

To do this with minimum maintenance, we should find a way to automatically modify the `requirements.txt` file when preparing a new release. I'

[2019-10-21 15:32] lrouhier commented on #2496
There is a way to get a list with the version of every package in a virtual environment (pip freeze> requirements.txt) Is it a solution to have two  (one for dev and one for releases) requirements files?

[2019-10-21 15:36] jcohenadad commented on #2496
Having two requirements.txt file would indeed be a convenient solution. During install, we can check if source code is from package or from git, and choose the correct requirements.

[2019-10-21 15:44] lrouhier commented on #2496
the pip freeze command gives an output that looks like this (just a small extract)

[code]

[2019-10-21 15:46] jcohenadad opened #2497 "Output csv file with appending capabilities"
As it is the case for `sct_extract_metrics` and `sct_process_segmentation`, it would be nice to output csv files with the "append" option.

`sct_maths` should also drop txt and pickle outputs and only support csv outputs (easier to maintain).

[2019-10-21 15:47] #2494 closed

[2019-10-21 18:03] jcohenadad opened #2498 "Output convenient batch_processing results for copy/pasting"
After running `batch_processing.sh`, it would be convenient to automatically display the branch, commit number and platform where the script was run. That would save me some time when copy/pasting it on github to track changes.

[2019-10-21 18:37] #2488 closed

[2019-10-21 19:28] jcohenadad opened #2499 "If we are not using setup.cfg, remove it"

[2019-10-23 00:50] jcohenadad opened #2501 "Aberrant mtr calculation caused by RuntimeWarning: invalid value encountered in true_divide"
In commit d5d903a7cf845bd805191907046e47c94aff5241, some data yield aberrant mtr calculation: value=178398311743488.0 everywhere.

Data: `duke:sct_testing/issues/20191022_issue2500`

Syntax:
[code]

User report: http://forum.spinalcordmri.org/t/4-0-2-mtr-value-error/180

A minor other thing to fix: SCT version does not appear when running the function.

[2019-10-23 18:07] alexfoias opened #2504 "ZeroDivisionError: float division by zero"
I tried to resample an image to but the algorithm failed.

<Details>

[code]
</Details>

Image:
[sub-amuAMU15001_T2star_seg-manual.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/3764735/sub-amuAMU15001_T2star_seg-manual.nii.gz)

[2019-10-23 18:12] jcohenadad commented on #2504
Maybe related to https://github.com/neuropoly/spinalcordtoolbox/issues/1103

[2019-10-23 18:34] jcohenadad opened #2505 "sct_image -copy-header does not consider flag -o"
This is confusing behaviour and should be clarified. Maybe force new output if -o is used.

[2019-10-23 21:30] jcohenadad commented on #2481
@alexfoias can you please send me the output of this command? (assuming you didn't change your environment since you opened this issue):
[code]

[2019-10-23 21:50] jcohenadad commented on #2481
After doing a few investigations (in Catalina and Mojave), it seems like when running shell zsh, the environment variable `.zshrc` is loaded by default when opening a new terminal, even if this file is not sourced in the `.bash_profile`.

So in other words, I am not able to reproduce this issue.

[2019-10-24 00:49] jcohenadad opened #2506 "Colored stdout on raised exception"
Similarly to our red-colored `logger.error()`, it would be nice to have the raised exceptions appear in red in the terminal.

[2019-10-24 02:00] #2501 closed

[2019-10-24 13:27] alexfoias commented on #2481
@jcohenadad Here is the output of terminal. My terminal is set in default login shell.
[code]

[2019-10-24 17:41] #1103 closed

[2019-10-24 17:41] #2504 closed

[2019-10-24 17:42] jcohenadad commented on #2481
cool! so what happened: did the installer modify your bashrc or your zshrc?

[2019-10-24 17:45] alexfoias commented on #2481
It modified the .bashrc and it found out that I have .bashrc

[2019-10-24 20:52] jerofad commented on #2506
Hi Julien, should this be for all raised exceptions? which means looking through all files that inherited the Exception class. Or specifically for exceptions that are written to the terminal?
Maybe more explanations would help here.
Cheers

[2019-10-24 21:41] jcohenadad commented on #2506
Hi @jerofad it would just be for exceptions that are written to the terminal. If there is an easy mechanism that enables us to do that (e.g. python environment variable to update, or something like that), we could launch this part of the code during our `sct.init()` which is launched by each CLI function (example [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_compute

[2019-10-25 15:27] jcohenadad opened #2509 "Enable spinal-level-based registration to the PAM50"
In projects where spinal (not vertebral) levels are known (example [here](https://github.com/sct-pipeline/exvivo-template/issues/1)), it would be desirable to have the option to register these data to the PAM50, which already has a spinal level atlas.

A suggestion for implementation includes (based on @charleygros's ideas):
- For each PAM50/spinal_levels/spinal_levels_*.nii.gz, compute the center

[2019-10-25 19:47] #2481 closed

[2019-10-25 19:47] #2492 closed

[2019-10-25 19:47] #2493 closed

[2019-10-26 18:04] jcohenadad opened #2510 "Add `-label-discs` option to convert vertebral volume labels into single-point disc labels"
It would be useful to have a similar feature than the param `-vert-body` (which creates labels centered at the mid-vertebral levels based on labeled segmentation), but for the discs.

The new flag could be called `-label-discs`, and would specify the labels to create (e.g.: `-label-discs 3,5` for C2-C3 and C4-C5 discs). The input (`-i`) would be the labeled segmentation.

[2019-10-26 18:14] jcohenadad opened #2511 "No need to toggle on/off the overlaid vertebral labeling"
On the QC report for `sct_label_vertebrae`, the figure toggles the overlay on the anatomical data. There is no need for this toggle. The labeling can simply stay as it is, in a static fashion.

[2019-10-27 02:01] jcohenadad commented on #2436
There is no follow-up from the user about this issue so we can close

[2019-10-27 02:01] #2436 closed

[2019-10-28 02:03] #2511 closed

[2019-10-28 21:53] jcohenadad opened #2515 "QC report table doesn't follow the currently-highlighted row"
When doing QC for a large number of subjects, the highlighted disappears at some point, making it difficult to go back to the table and identify the corresponding row.

Example in this video: https://www.dropbox.com/s/mqtvt4t0h59b42z/20191028_issueQC.mov?dl=0

[2019-10-28 21:54] jcohenadad commented on #2515
@TommyBoshkovski do you have an idea how we could solve that issue?  thanks!

[2019-10-29 01:42] jcohenadad opened #2516 "Bug to generate the URL to visualize the diff between versions in changelog"
The script to update the file `CHANGES.md` is buggy. For example, when using it for creating 4.1.0, it yielded the following line:
[code]

whereas the changelog should point to the following diff: `4.0.1...4.1.0`

To reproduce:
[code]

[2019-11-04 04:50] jcohenadad opened #2517 "sct_run_batch: crashes when pointing to non-local parameters or script"
When calling for example this:
[code]
the function would crash (error message saying that the file parameters cannot be found), whereas copying the file locally and running this:
[code]
works fine.

So there is something to fix in the way input path are handled in this script.

[2019-11-05 10:38] valosekj commented on #2517
I tried to solve it in #2518

[2019-11-11 14:57] lrouhier opened #2519 "Creation of extra points when using sct_straighten_spinalcord on disc label files"
### Description
When using sct_straighten_spinal cord on disc label files, the resulting image has a non-zero background as well as some points appearing around the correct label.
![Screen Shot 2019-11-11 at 9 58 04 AM](https://user-images.githubusercontent.com/22171999/68596799-d3d12e00-0469-11ea-8eff-01135b7590b4.png)
### Steps to Reproduce

0. Install SCT Spinal Cord Toolbox (git-master-8e790d8

[2019-11-11 15:03] lrouhier commented on #2519
During an earlier discussion, an existing SCT function to retrieve the label was mentioned. If I'm not mistaken it is the function cubic_to_point located in sct_label_utils.py?

[2019-11-11 15:46] charleygros commented on #2519
I think so too :+1:

[2019-11-11 17:08] jcohenadad commented on #2519
For the sake of clarity, I would separate the generation of straightening warping field and its application. So, it would be something like:
[code]

Now, you notice the flag `-x label` which currently does not exist. We should implement it, as it would be useful at many places in SCT's code. How to implement it? I see two approaches:

Approach 1 (easier to implement):
- Extract coordinates of each

[2019-11-11 17:26] lrouhier commented on #2519
I will look into it.

[2019-11-11 22:32] jcohenadad commented on #2519
@lrouhier if you go for approach 2, have a look at the method `msct_register.generate_warping_field()`. It is basically the same as what you want to do (but the other way around).

[2019-11-13 17:38] alexfoias opened #2523 "ImportError: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found"
When running SCT on a Debian Wheezy (7.11), it crashes when trying to import modules of PyQt5, due to missing GLIB_2.14 which is missing in this distros.

to reproduce:
[code]

info about version:
[code]

[2019-11-14 17:09] jcohenadad opened #2525 "Transforming ITK-style warping field to FSL/SPM-style produces error when used"
When trying to convert the ITK-based warping field (produced by SCT) to an FSL/SPM-style, as instructed in the [SCT course (page 49), version:5](https://osf.io/arfv7/?version=5) it produces an error when trying to use it. Below the code to reproduce the error (based on `batch_processing.sh` output):

Tested on OSX Mojave with SCT 4.1.0.

Syntax:
[code]

Error:
[code]

Related to: http://forum.spin

[2019-11-14 19:06] jcohenadad commented on #2525
Digging a bit further, i've noticed that the order of the warping is inverted between SCT and FSL, i.e., to apply get A->B, we need to apply warp_B2A (not warp_A2B as in SCT).

Also, I tried running applywarp with the option `--rel`, and it does produce "better" results, although there is still an affine transformation missing (or not being properly applied):
[code]

It might be because of this re

[2019-11-14 19:42] jcohenadad opened #2526 "Weird formatting of output verbose"
SCT 4.1.0

[code]

it should output:
[code]

[2019-11-14 19:54] jcohenadad commented on #2525
OK, it seems like the warping field is inverted in one dimension. By running the code below:
[code]

The expected result is to get the straightened spinal cord warped back onto the curved t2 space. However, what is happening is that the straight cord is warped in the other direction instead:

original t2:
![Screen Shot 2019-11-14 at 2 51 22 PM](https://user-images.githubusercontent.com/2482071/688

[2019-11-14 20:19] jcohenadad commented on #2525
I've tried to multiple the *_vec_Y file by -1, and even though the orientation of the cord makes more sense, there is still an undesired translation happening:
![Screen Shot 2019-11-14 at 3 09 02 PM](https://user-images.githubusercontent.com/2482071/68892941-16a53700-06f2-11ea-8b93-6eb49c95bf82.png)

At the end, making warping fields compatible between ITK and FSL might not be an easy task, as not

[2019-11-14 22:26] jcohenadad commented on #2525
Other references:
- https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1509&L=FSL&D=0&P=178218
- https://www.mail-archive.com/hcp-users@humanconnectome.org/msg05794.html
- https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FNIRT/UserGuide

[2019-11-15 14:38] jcohenadad opened #2527 "IndexError when straightening an image using the same input image as the destination"
Hi, thanks for reporting an issue, please take some time to consider the applicable guidelines:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#reporting-a-bug-or-requesting-a-feature
(about how to suitably describe issues or requests) prior to deleting this blurb when about to submit the issue.

### Description

<Description of the issue>

### Steps to Reproduce

0. In

[2019-11-15 14:52] jcohenadad opened #2528 "IndexError: too many indices for array when using label-based registration with a single translation"
### Description

When using label-based registration with only dof=Tx (single translation along x), it produces an error.

### Steps to Reproduce

[code]

[2019-11-15 16:25] jcohenadad commented on #2525
Digging further, I've made some progress when trying to generate an FSL-compatible warping field, when the src and dest space are the same. The code for testing is the following:
[code]

The results show that the applied warp moves the image along X, which is consistent with [previous reports](https://www.mail-archive.com/hcp-users@humanconnectome.org/msg05794.html) mentioning that ITK warps are d

[2019-11-15 18:16] jcohenadad commented on #2525
OK I figured that out, the following code is working. It requires a modified version of SCT (to convert warping fields from world to vox coordinate system). Another notable thing is that FSL takes ITK's inverse warping field:
[code]

Next step is to check wether this code works for all situations (native image orientation, displacement direction, etc.)

[2019-11-15 18:40] jcohenadad commented on #2525
There are inconsistent results, depending if the determinant of the qform is positive (preserves left-right orientation) or negative (reverses left-right orientation). [This link](https://nifti.nimh.nih.gov/nifti-1/support/FSLandNIfTI1/) explains that regardless of the determinant, FSL treats nifti files with reversed left-right orientation, so this should be accounted for.

To reproduce, use the

[2019-11-15 19:32] jcohenadad commented on #2525
Above issue fixed in 0c52621a7f33fbb0d3bb6211472bff3f58c09fd9

[2019-11-15 22:26] jcohenadad commented on #2525
Now trying to make it work when src and dest space are different. The idea is to extract the affine transformation matrix, make it FSL compatible, concatenate the affine and the warp using FSL, then apply the final warp.

Started some investigations, but currently not working:
[code]

Note: I've also tried those things (unsuccessful):
- input the matrix as a postmat (instead of premat), but doesn'

[2019-11-16 15:07] BennettLandman opened #2530 "Integration of whole cord pediatric spinal cord maps"
**Feature justification: Is your feature request related to a problem? Please describe.**

We have created mFFE, AD, FA, RD, MD, Jacobian, and age-specific whole cord pediatric maps and are interested in integrating the maps into SCT. Pediatric imaging on 308 patients was conducted at the Monroe Carrel Jr. Children’s Hospital between October 2016-Novemeber 2018. Out of those 308 patients, we selec

[2019-11-16 19:43] jcohenadad commented on #2530
Hi @BennettLandman, this is super exciting! Thank you for considering integrating your template inside SCT.

To have your template 100% compatible with SCT, meaning that people could use your template interchangeably with the PAM50 (or other template, like the "old" MNI-Poly-AMU template), the procedure would be the following:

- Generate a binary mask of the cord, as well a labels along each inte

[2019-11-19 20:11] lrouhier commented on #2519
For approach 2: After investigation on the way the warping field is created, the displacement of each point is calculated within the destination space. However, to transfer points from the curve space to the straight space we will need to have the information on this transformation.
I am currently looking for it. If I don't find it I will look at the first approach that you mentioned.

[2019-11-20 22:58] jcohenadad commented on #2519
well, wether you go with approach 1 or 2, you will need the matrix+header of the destination space (straight) anyway, so i'm not sure i understand your limitation?

[2019-11-21 03:09] lrouhier commented on #2519
If I understood correctly the way ANTs is working this is what happens for each points :
* each point undergoes a first transformation to convert the coordinates from the original space to the destination space. (A → B) (step 1)
* B is then displaced by a certain vector. This vector is stored in the Matrix of the warping field at B's coordinates. (step 2)
This is what I am trying to replicate in t

[2019-11-21 03:56] jcohenadad commented on #2519
I see. Coincidentally I’m currently struggling with the rigid transformation that you describe at step 1, in another issue https://github.com/neuropoly/spinalcordtoolbox/issues/2525.

One thing you can try to do, is compute the dot product between the src and dest qform (get_best_affine() from nibabel object that you get from img.hdr), and apply it to your src coordinate before applying the displa

[2019-11-21 14:32] lrouhier commented on #2519
first approach with a basic implementation seems to work. I added a -label flag taking 0 or 1 as arguments. the workflow is the following:
*1 :retrieves present labels value (needed in step 6)
*2 :applying convolution filter to dilate label to 2x2x2
*3 :apply wrapping field to the image (sct_apply_transfo -i label.nii.gz -d straight_ref.nii.gz -w warp_curve2straight.nii.gz -x spline -label 1)
*4:

[2019-11-21 14:39] jcohenadad commented on #2519
- convolution: use sct_maths
- interp: use NN

[2019-11-21 18:28] lrouhier commented on #2519
That's done and seems to work perfectly. One question though: should we force the 'nn' interpolation with the -label flag?

[2019-11-21 19:12] jcohenadad commented on #2519
excellent point (pun not intended)

[2019-11-21 19:17] jcohenadad opened #2531 "Cropped template after registration and inverse warping not working"
Weirdly, when running standard registration to the template, the template2anat file is cropped (see below), and the anat2template is empty.

![Screen Shot 2019-11-21 at 2 14 32 PM](https://user-images.githubusercontent.com/2482071/69369138-7e66ff00-0c69-11ea-9246-9c2c8510b385.png)

to reproduce:
[code]

[2019-11-21 19:21] jcohenadad commented on #2531
The problem was introduced at 4.1.0

[2019-11-21 19:32] jcohenadad commented on #2531
I tried reversing this PR https://github.com/neuropoly/spinalcordtoolbox/pull/2444 but it didn't help

[2019-11-21 20:00] jcohenadad commented on #2531
The problem is related to the cropping of the image at the end of the process, here:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_register_to_template.py#L711

To fix it, i changed the crop flag to 0 instead of 1:
[code]

[2019-11-26 17:47] #2531 closed

[2019-11-26 17:54] jcohenadad commented on #2523
@alexfoias is this issue fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2524?

[2019-11-26 17:55] alexfoias commented on #2523
i'll have to test it.

[2019-11-27 17:28] alexfoias commented on #2523
@jcohenadad Rolling back the pyqt version doesn't seem to fix the issue.

Here is the output:
[code]

[2019-11-27 18:01] jcohenadad commented on #866
It now tests for it.

[2019-11-27 18:01] #866 closed

[2019-11-27 18:02] jcohenadad commented on #2489
Ideally, a checksum of the data should be done upon each release

[2019-11-27 20:36] jcohenadad commented on #1823
update on this:
[code]

[2019-11-28 01:47] jcohenadad opened #2535 "Add recent distros on Travis"
Travis now features Ubuntu 18.04 and more recent version of OSX10.14, so we should add those on our CI.

[2019-11-28 03:46] #2413 closed

[2019-11-28 03:46] #2535 closed

[2019-11-28 12:37] #2517 closed

[2019-11-28 14:29] #2519 closed

[2019-11-28 19:53] jcohenadad commented on #1786
not relevant -- no time

[2019-11-28 19:53] #1786 closed

[2019-11-28 20:11] jcohenadad commented on #2516
Fixed by removing all tags starting with "v" in the main repository.

[2019-11-29 02:42] jcohenadad commented on #2516
tags were restored (because they were associated with specific release). So the issue remains.

[2019-11-29 17:43] jcohenadad opened #2537 "Displaying centerline algorithm svm while incompatible with "-brain 1" option"
In the usage, it says that the flag "-brain 1 [...] is only effective with -centerline cnn".

However, when running the command with "-brain 1", the default centerline algorithm is not changed to cnn (or the verbose is incorrect):
[code]

[2019-11-29 17:52] jcohenadad opened #2538 "When using -rescale with -init-mask or -init-centerline, the later are not rescaled"
When dealing e.g. with pediatric images, the option -rescale enables to change the affine matrix of the input image to "trick" the algo in that the cord appears bigger than it actually is (to match the adult size).

However, if the user combines the rescaling flag with the input mask or centerline, the latter input is not rescale, while it should be.

[2019-11-29 17:59] jcohenadad opened #2539 "Make it possible to rescale the affine matrix of an image to accommodate smaller/bigger cord sizes"
A feature which is currently implemented in `sct_propseg.func_rescale_header()` temporarily changes the matrix size of an image to have propseg work with small/big spinal cords.

It would be nice to have this feature available for broader use. It could for example be an additional method in `sct_resample -header`.

[2019-11-29 21:10] jcohenadad opened #2540 "Output diffusion model fitting quality and add support for DKI"
As per [user request](http://forum.spinalcordmri.org/t/spinal-cord-dki-processing/185/68), we should add support for DKI and also output DTI fitting quality.

[2019-11-30 22:50] charleygros commented on #2539
Really great feature!
So the idea would be to:
1. `sct_resample -header dest_im.nii.gz`
2. process data
3. `sct_resample -header src_im.nii.gz`
?

[2019-12-01 02:19] jcohenadad commented on #2539
Actually, if rescaling to a "fictive" space, the user wouldn't have the destination nifti. So the command syntax would follow the same type of input as the other option (f, mm, vox):
[code]

So, the above scenario would be:
[code]

[2019-12-02 15:55] alexfoias opened #2541 "SCT installation fail on VM neurodebian 8"
While trying to reproduce : http://forum.spinalcordmri.org/t/error-when-install-sct/247

I ran into some issue with the SCT installation on VirtualBox neurodebian 8.0.

1. Downloaded & imported : http://neurodeb.pirsquared.org/vm/NeuroDebian_8.0.0_amd64.ova in Virtual Box

2. Download and install SCT 4.1.1 from release.

<Details>

[code]

</Details>

Error message when running `sct_check_dependen

[2019-12-02 16:08] alexfoias commented on #2541
Increased the graphics card to 128MB video memory, graphics controller: VBoxVGA, Acceleration: 3D.

I managed to replicate the issue reported by the user.
<Details>
[code]
</Details>

[2019-12-02 17:38] alexfoias commented on #2541
I tested solution is to update the graphics driver using the following steps:

1. In VirtualBoxVm - Devices - Insert Guest Additions  CD image
2. In terminal :
[code]
3. Shutdown the VM system.
4. Make sure the settings in the display section of the VM are the following:

5. Boot VM and run `sct_check_dependencies`.

Output:

<Details>

[code]

</Details>

[2019-12-02 18:24] jcohenadad commented on #2541
Before closing this issue, we should fix/adapt `sct_check_dependencies` to (i) not crash and (ii) identify the problem related to PyQt.

[2019-12-03 10:32] charleygros commented on #2537
Not sure of which way to go:

1. Enforce `cnn` centerline detection algo when `-brain 1`:
- Pros: brain detection quite efficient --> could speed up the processing since only slices below the "brain detection" will be further processed --> quite convenient for sagittal images with large FOV in the IS direction.
- Cons: `-centerline cnn` has been reported to be slower than `-centerline optic`

2. U

[2019-12-03 15:51] jcohenadad commented on #1823
Looking into existing solutions:
- https://rtyley.github.io/bfg-repo-cleaner/

[2019-12-03 17:10] jcohenadad opened #2542 "Centerline detection with svm is killed when running via Docker"
While running SCT under a Docker interactive container, I tested `batch_processing.sh` and one of the process was killed.

To reproduce:
[code]

<details><summary>Details of the processing and info about SCT version and OS and RAM available</summary>

[code]

</details>

When running with flag `-centerline cnn`, it works fine.

@charleygros do you have any idea what could cause this "killed" proce

[2019-12-03 17:22] alexfoias commented on #2541
If the user has issues installing the Guest Additions CD. One can use the following commands:

[code]

[2019-12-03 17:24] jcohenadad commented on #1906
We are now using TF 2.0 and everything works fine, so we can close this issue

[2019-12-03 17:24] #1906 closed

[2019-12-03 17:24] jcohenadad commented on #2542
ah! useful information: there was only 2GB RAM:
[code]

[2019-12-03 23:20] charleygros commented on #2542
... Can't think of anything :/

`cnn` and `svm` are eventually calling the same function: [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg_sc/core.py#L62)
One is running optic on a heatmap (cnn), the other on the raw image (svm) --> [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/optic.py#L109)

[2019-12-05 14:48] jcohenadad commented on #2496
the proposed workflow is:
- checkout release branch
- pip freeze
- update requirements.txt
- push
- confirm Travis passes
- publish release

[2019-12-05 15:17] jcohenadad opened #2543 "Implement CSA normalization"
### Rationale

When using images that are not corrected for gradient non-linearities, the edge of the FOV is '"compressed". When computing CSA on typical T1w brain images, the cord at the bottom is compressed and the CSA is under-estimated.

Possible solutions, investigated in [REF PAPINUTTO] are:
- to normalize the CSA with a measure taken from another close-by anatomical location, e.g. the C2 ve

[2019-12-05 15:26] charleygros commented on #2543
GNL correction paper: [here](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6175276/).

Recent paper found by @lrouhier: [here](https://onlinelibrary.wiley.com/doi/abs/10.1111/jon.12666).
Which recommend the use of the spinal canal diameters (---> another motivation for [CSF segmentation](https://onlinelibrary.wiley.com/doi/abs/10.1111/jon.12666)).

[2019-12-05 15:40] alexfoias opened #2544 "Update course for 7th Spinal Cord MRI Workshop"
Starting point: https://osf.io/arfv7/

The instructions should be updated to be compatible to 4.2.0

[2019-12-05 15:41] alexfoias opened #2545 "Export sct-docker for version 4.2.1"
Export sct-docker for release 4.2.0. This would be used for 7th Spinal Cord MRI Workshop.

[2019-12-05 19:17] jcohenadad commented on #2543
Alternatively, we could also undistort images a posteriori using e.g. https://surfer.nmr.mgh.harvard.edu/fswiki/GradUnwarp

[2019-12-05 20:57] jcohenadad opened #2546 "Need better error handling in case installation files are missing"
If the installation folder `data/c2c3_disc_models` is not present, the function `sct_label_vertebrae` produces the following obscure message:
[code]

It would be nice to get a more specific message that the function was not properly run.

Related to: http://forum.spinalcordmri.org/t/error-when-running-sct-label-vertebrae-py-sct-4-1-0/259/8

Better check of installed folder would also be nice, rela

[2019-12-06 15:53] jcohenadad commented on #2530
@BennettLandman do you have any update on this?  Looks like your template would be useful to other users, see e.g. [this post](http://forum.spinalcordmri.org/t/pam50-atlas-and-pediatric-atlas/261/2)

[2019-12-06 16:39] BennettLandman commented on #2530
@ashwinkumargb Can you work with the team to start getting the prototypes exchanged?

[2019-12-06 19:00] ashwinkumargb commented on #2530
@jcohenadad @BennettLandman I will work on making the template compatible with SCT. I will keep you updated and let you know of any questions.

[2019-12-08 21:03] jcohenadad opened #2547 "Refactoring of msct_register and add more testing"
Following-up on the initial refactoring of `sct_register_multimodal` and `sct_register_to_template` in #2331, a deeper refactoring is needed. Notably:
- Move `msct_register` into a proper Python module: spinalcordtoolbox/register/register
- Move `msct_register_landmarks` into spinalcordtoolbox/register/landmarks
- Add unit tests for the rotation estimation. To do so, generate an image, rotate it b

[2019-12-09 06:01] charleygros commented on #2543
The documentation mentions:

Is that something that is easily available?

Also, my understanding is that there are two effects we want to take into account: (i) gradient nonlinearity distorsions, ie imaging effect (ii) atrophy, ie biological / disease consequence. These effect can also be combined.

[2019-12-16 01:34] charleygros commented on #2509
Fixed with #2513 .

[2019-12-16 01:34] #2509 closed

[2019-12-16 17:17] #2204 closed

[2019-12-17 04:44] #2469 closed

[2019-12-17 15:35] #2516 closed

[2019-12-17 16:50] jcohenadad commented on #1620
Fixed by #1872

[2019-12-17 16:50] #1620 closed

[2019-12-17 17:23] jcohenadad commented on #2541
@alexfoias i'm currently testing [your solution](https://github.com/neuropoly/spinalcordtoolbox/issues/2541#issuecomment-560500136) before documenting it. However, there is no detail on how you get the guest addition (before step #1).

[2019-12-17 17:38] alexfoias commented on #2541
the guest addition CD image is already installed in VirtualBox, in the [second approach](https://github.com/neuropoly/spinalcordtoolbox/issues/2541#issuecomment-561270398) I suggested to do a wget from their download page.

[2019-12-17 17:41] jcohenadad commented on #2541
sorry i missed it-- testing now

[2019-12-17 20:49] jcohenadad commented on #1823
<details><summary>bfg command</summary>

[code]

</details>
<details><summary>git reflog and push (some errors)</summary>

[code]

</details>

Success! Repos went from 415 MB  --> 200 MB.

However, there were still some errors that might have limited the performance of BFG software. For example, the push on master and release was restricted, so we could maybe temporarily enable push permission. Al

[2019-12-17 21:10] jcohenadad commented on #2541
info added in the README here: https://github.com/neuropoly/spinalcordtoolbox/pull/2551

[2019-12-17 21:10] #2541 closed

[2019-12-17 22:06] jcohenadad commented on #2523
wontfix 😞

[2019-12-17 22:06] #2523 closed

[2019-12-18 17:35] jcohenadad commented on #1823
Useful info about the "deny updating a hidden ref" message: https://github.com/rtyley/bfg-repo-cleaner/issues/36

[2019-12-18 17:51] jcohenadad commented on #1823
Tried another more aggressive cleaning:

<details><summary><BFG command></summary>

[code]

</details>

On Github, removed protection for `master` and `release` branches.

<details><summary>git reflog and push (some errors)</summary>

[code]

</details>

[2019-12-18 18:03] jcohenadad commented on #1823
Looks like at this point, because the PRs cannot be cleaned on Github's repo, there is nothing we can do except:
- contacting Github support to remove all PRs (which we don't want)
- creating a new clean repo.

i would lean toward the latter option, especially if we are thinking of hosting SCT's code under its own organization (which will allow us to have a dedicated repos for website, etc.). Open

[2019-12-18 19:35] jcohenadad commented on #2311
Duplicate of #2496

[2019-12-18 19:35] #2311 closed

[2019-12-18 21:05] #2356 closed

[2019-12-19 01:56] #2496 closed

[2019-12-19 21:47] charleygros commented on #2537
We decided to modify the usage.

[2019-12-30 14:24] matthieufaillot opened #2561 "index error when using set_label_vertebrae and sct_register_to_template"
Hello

I have issues in using SCT first steps :
I was able to successfully segment the spinal cord with deepseg but I am unable to run further steps that is _label vertebrae_ and _register to template_.
SCT 4.2.0 is running under macOS 10.14.6 2,6 GHz i7 16 Go RAM
Below are the error messages. They occurred for two patients, no effect of acquisition plane (T2 DRIVE sequences acquired in axial vs s

[2019-12-30 14:40] jcohenadad commented on #2561
Hi @matthieufaillot did you copy/paste the syntax from the pdf course? If so, there might be issues with the formatting. Please try to copy/paste from the batch_processing.sh file instead.

[2019-12-30 14:46] matthieufaillot commented on #2561
Hi @jcohenadad
thank you for your answer
No I copied from the batch_processing.sh opened with Xcode
ps  : I forgot to mention but the segmentation with deepseg worked fine

[2019-12-30 14:50] jcohenadad commented on #2561
What is you omit ~~~  -qc "$SCT_BP_QC_FOLDER"~~~

[2019-12-30 15:43] matthieufaillot commented on #2561
thank you!
I was able to run sct_label_vertebrae for two patients (but it seems I still have to work on  the labeling with manual steps...)

[2019-12-30 21:13] jcohenadad commented on #2561
ok, so your variable `SCT_BP_QC_FOLDER` likely had some issues. Make sure the variable is declared at the beginning of your script.

[2019-12-30 21:13] #2561 closed

[2020-01-04 09:39] zgm0407 opened #2562 "Illegal instruction when importing Keras/Tensorflow with CPU not supporting AVX"
I run  sct_check_dependencies after launch sct_4.0.0 on Win10's docker DeskTop, it seemed something wrong. how can I resolve the problem?
### Description

[code]

[2020-01-05 20:59] jcohenadad commented on #2562
Hi,
There might be incompatibilities with your CPU. Some info here:
- https://github.com/tensorflow/tensorflow/issues/17411
- https://github.com/keras-team/keras/issues/9630
- https://tech.amikelive.com/node-887/how-to-resolve-error-illegal-instruction-core-dumped-when-running-import-tensorflow-in-a-python-program/

What is your hardware configuration (CPU type)?

Before digging too extensively, c

[2020-01-06 09:15] zgm0407 commented on #2562
I tried install SCT via virtual machine, but failed again.
SCT info:
- version: 4.2.0
- path: /home/brain/sct_4.2.0
OS: linux (Linux-3.16.0-4-amd64-x86_64-with-debian-8.0)
CPU cores: Available: 1, Used by SCT: 1
RAM: MemTotal:        4059052 kB
total       used       free     shared    buffers     cached
Mem:          3963       2748       1215         11         76       2350
-/+ buffers/cache:

[2020-01-06 09:16] zgm0407 commented on #2562
I tried install SCT via virtual machine, but failed again.
SCT info:
- version: 4.2.0
- path: /home/brain/sct_4.2.0
OS: linux (Linux-3.16.0-4-amd64-x86_64-with-debian-8.0)
CPU cores: Available: 1, Used by SCT: 1
RAM: MemTotal:        4059052 kB
total       used       free     shared    buffers     cached
Mem:          3963       2748       1215         11         76       2350
-/+ buffers/cache:

[2020-01-06 14:51] jcohenadad commented on #2562
@zgm0407 likely related to [this issue](http://forum.spinalcordmri.org/t/unable-to-install-sct-due-to-tensorflow-fail/98/6).

It is possible that your CPU version does not support AVX, which is used by TF v1.5 and higher, as explained [here](https://stackoverflow.com/questions/49092527/illegal-instructioncore-dumped-tensorflow).

Could you please try to downgrade to TF 1.5 to see if it works? Plea

[2020-01-06 20:23] jcohenadad opened #2564 "Getting message "QC not generated since expected labels are missing from template" whereas QC can be generated"
Strangely, when running `sct_warp_template` with flag `-a 0 -qc PATHQC`, the QC report is not generated, and instead the message "QC not generated since expected labels are missing from template" is delivered.

There is no reason for not being able to generate the QC, even if flag -a 0  is used, because the QC is based on the white matter mask from the template/ folder (not the atlas/ folder).

[2020-01-06 21:06] jcohenadad opened #2565 "UnboundLocalError when using -initwarp flag"
A bug likely introduced in https://github.com/neuropoly/spinalcordtoolbox/pull/2331 breaks the function when using the flag -initwarp.

<details><summary>Syntax with error</summary>

[code]

</details>

[2020-01-06 23:32] #2565 closed

[2020-01-07 14:01] #2537 closed

[2020-01-07 14:01] #2546 closed

[2020-01-07 17:12] #2564 closed

[2020-01-07 22:27] jcohenadad opened #2568 "Cannot load yml model even though it exists"
`detect_c2c3()` called by `sct_label_vertebrae` throws a "This file does not exist, please download it using sct_download _data:/Users/julien/code/sct/data/c2c3_disc_models/t2_model.yml", even though the model is installed at the cited location. This bug has likely been introduced in https://github.com/neuropoly/spinalcordtoolbox/pull/2560.

<details><summary>Syntax and error</summary>

[code]

</

[2020-01-08 01:45] #2568 closed

[2020-01-10 16:24] olix86 opened #2571 "Problem installing Homebrew on OSX"
Currently having permission issues on macOS when installing sct, I've ran as instructed by the installer :

[code]
But I still get the following error message :
[code]
Adding `/usr/local/Homebrew` to the suggested `chmod` commands fixes it

[2020-01-10 16:31] jcohenadad commented on #2571
@olix86 could you please copy/paste the entire terminal output (so i know what part of SCT install process you went through, what was the verbose info you got, etc.) thx!

[2020-01-10 16:31] jcohenadad commented on #2571
p.s. i've created a card in project for typos specifically (easier for me to go through all typos at once): https://github.com/neuropoly/spinalcordtoolbox/projects/11#card-31469746

[2020-01-10 16:31] jcohenadad opened #2572 "Review of course material: typos"
- p.5  "are very populare" -> popular

[2020-01-10 16:39] olix86 commented on #2571
[code]

Permission issue is fixed by `sudo chown -R $(whoami) /usr/local/Homebrew/`, currently looking at xcode issue

[2020-01-10 16:46] jcohenadad commented on #2571
hum... that's an annoying issue. I'm not sure we should add an "if case" in the installer to update Homebrew permissions (a bit too invasive). Hopefully this is an isolated case (pass is an old station, with a lot of software installed/uninstalled). What do you think?

[2020-01-10 17:19] olix86 commented on #2571
Indeed, it's probably not worth it if I'm the only one who experienced the issue...

[2020-01-10 17:36] lrouhier commented on #2571
I have the same Xcode issue (which is just an update to install) and afterward, it ran fine on my computer. However, I am not sure if changed the permission on the homebrew folder previously ...

[2020-01-10 17:42] jcohenadad commented on #2571
gcc comes with xcode-- so if your xcode is up-to-date, the installer will not try to install homebrew (hence, no issue with permissions).

so maybe we should suggest to update xcode... could you please copy/paste the message you got wrt. xcode version from the installer?

[2020-01-10 18:30] lrouhier commented on #2571
[code]
[ removed part that detailed the new Homebrew update. Full error available [here](https://pastebin.com/eJsq6Db4) ]
[code]

[2020-01-10 18:31] lrouhier commented on #2571
Following this I ran `xcode-select --install` which opened Xcode installer to update it !

[2020-01-10 18:57] olix86 commented on #2571
Same for me + updating xcode from the app store

[2020-01-10 19:23] lrouhier opened #2573 "Review of course material : permission denied on qc"
System: OSX Catalina
version: git-master-846d5d1bf50fe37d602b99b142a0c3032492e566

*Error*
After running
`sct_propseg -i t2.nii.gz -c t2 -qc ~/qc_singleSubj`
the command to open the QC does not work (permission denied error)
[code]

*suggestion*
`open ~/qc_singleSubj/index.html` seems to work for me. Should we change it or is this error specific to my station ?

[2020-01-10 20:07] jcohenadad commented on #2571
ok, as long as Homebrew installer clearly indicates the solution (Install the Command Line Tools:
  xcode-select --install), i think we don't need to do anything else. If people struggle, hopefully they will contact us...

[2020-01-10 20:07] #2571 closed

[2020-01-10 20:13] jcohenadad commented on #2573
what is the output of:
[code]

if it is empty, it means you haven't followed the course properly ;-)     see page 25

[2020-01-10 20:18] lrouhier commented on #2573
Yep that was it ! Sorry about that ! I forgot the last command of page 25 !

[2020-01-10 20:18] #2573 closed

[2020-01-11 15:54] olix86 opened #2574 "Problem using open on Ubuntu"
p.27 of sct course London

On a fresh ubuntu 18.04, running `open batch_single_subject.sh` doesn't work and returns
`Couldn't get a file descriptor referring to the console`

Using `xdg-open` instead of `open` works and opens the file in the text editor

Edit :

Looks like open is macOS specific : [link](https://unix.stackexchange.com/questions/253376/open-command-to-open-a-file-in-an-application)

[2020-01-11 16:06] olix86 commented on #2572
Some slides with commands to run don't have red/green dots in the corner (e.g. p. 25, 39)

[2020-01-11 16:11] olix86 opened #2575 "Dependencies not mentioned in the readme installation instructions"
Currently on macOS, `gcc` installation is handled automatically via homebrew and the installer indicates which commands to run when a problem is encountered. On linux,  when gcc is missing (such as in a default ubuntu installation), the current message is `Please install "gcc" and restart SCT installation.` which is not super helpful for beginners especially since it doesn't look like the readme i

[2020-01-11 16:18] olix86 opened #2576 "Manual C2-C3 identification : out of bound error"
p.56 ->

When navigating the slices (left/right arrows) to identify manually C2-C3, the viewer crashes with an out of bound error :

[code]

[2020-01-11 16:40] jcohenadad commented on #2575
Yes, I agree we should mention the gcc dependency in the README.
Also, displaying more info for installing gcc on Linux would be useful, but since the method is distros-dependent maybe we can just redirect to the official gcc install page?

[2020-01-11 16:42] olix86 commented on #2574
Same using `xopen` at p.66

[2020-01-11 17:10] olix86 commented on #2575
Sounds good :+1:

[2020-01-11 17:11] olix86 commented on #2572
p.80 : "the older method is no more supported" doesn't sound quite right... -> no longer?

[2020-01-11 17:52] lrouhier commented on #2576
I think it comes from the fact that you've reached the edge of the 3D volume.
One fix, if possible, would be to show which slice you are seeing and the max number you can go up to.

[2020-01-11 17:58] olix86 commented on #2576
Yep the ideal would be to not be able to go out of bounds, but if that's not possible due to the viewer, displaying `x out of y slices` would be an alternative

[2020-01-11 20:03] jcohenadad commented on #2575
The problem is that [this page](https://gcc.gnu.org/install/) describes how to compile gcc, which is over-complicated for most users, given that gcc can easily be installed via package manager (apt, yum, etc.), so i suggest to instruct the latter as already done in the [README](https://github.com/neuropoly/spinalcordtoolbox/pull/2577/files#diff-04c6e90faac2675aa89e2176d2eec7d8R64)

[2020-01-11 20:11] jcohenadad commented on #2576
that's definitely the way to go. Fairly easy to implement: just add a case [here](https://github.com/neuropoly/spinalcordtoolbox/blob/846d5d1bf50fe37d602b99b142a0c3032492e566/spinalcordtoolbox/gui/sagittal.py#L86). Anyone willing to take on that case is welcome to :-)

[2020-01-11 20:17] jcohenadad commented on #2574
thanks @olix86. Yes, this is the purpose of page 25 of the course material: define the generic `$open_cmd` command to accommodate both Linux and OSX. However, this is a bit cumbersome, so when convenient, I will simply remove the "open" command so people will double click on the file via their OS GUI instead (or they can use the Terminal command if they are familiar with it).

[2020-01-13 14:34] #2575 closed

[2020-01-13 15:12] jcohenadad commented on #2429
An additional argument in favor of enforcing qform and sform to be the same, this is what fMRIPrep does (more info [here](https://neurostars.org/t/note-on-orientation-qform-and-sform-warning/4379/3))

[2020-01-13 18:24] valosekj opened #2579 "fsleyes integration saves outputs to directory from which fsleyes is opened"
### Description

When run `sct_deepseg_sc` or `sct_deepseg_gm` from FSLeyes integration, segmentations are saved into directory where I have FSLeyes opened from, not to directory where the image is from.

### Steps to Reproduce

0.  `sct_check_dependencies` output:

1. Go to any directory in the terminal (e.g. /Users/user/Documents) and type `fsleyes`

2. Open some image (e.g. /Users/user/Document

[2020-01-13 18:45] lrouhier opened #2580 "Integrate CSV results in QC report."
Some SCT functions offer the possibility to generate the QC reports with images in .html which is a very convenient way to look at the results of multiple functions in the same place.  However, this is not the case for functions that output a .csv file (e.g., sct_process_segmentation). It would be nice to integrate the possibility to generate a QC for this type of file as well in order to view all

[2020-01-13 19:17] #2574 closed

[2020-01-13 19:51] jcohenadad commented on #2580
it would be a nice feature indeed. The best for the user would be to have the image (showing the curves) and below it (or above it) the table converted from the output csv file. A few considerations:
- The csv file should be copied under the qc report folder while generating/updating it (to avoid fetching error if user displace the qc report folder, which should be standalone)
- how do we want to

[2020-01-14 21:04] jcohenadad commented on #2572
all done

[2020-01-14 21:04] #2572 closed

[2020-01-15 17:37] jcohenadad commented on #2387
[this](https://github.com/sct-pipeline/spine-generic/blob/master/processing/parameters_template.sh#L7) is the solution

[2020-01-17 20:38] jcohenadad opened #2584 "Installer is running under bash but calling tcsh commands"
At a few places, the installer is calling tcsh/tsh commands, whereas the shebang line forces the script to run under bash. This causes issues for tcsh users, see [here](http://forum.spinalcordmri.org/t/unable-to-install-v4-2-1/295/9).

The solution is to remove all tcsh commands that are executed within this script.

[2020-01-18 21:00] jcohenadad commented on #2330
can (and did) reproduce, on SCT course London 2020, for multi-subject processing:
[code]

[2020-01-18 21:18] jcohenadad opened #2585 "QC open command should be hidden if users don't have access to local browser"
For users running SCT under Docker in Windows via Xming, when launching a process with the flag `-qc`, the command will output a syntax to open this html report, using the default Linux program: `xdg-open`. The problem is that, even though the program is installed, it cannot find a default browser because there is no browser installed in the SCT Docker container, yielding the following error:

[co

[2020-01-18 21:56] jcohenadad opened #2586 "SCT logo does not appear correctly when using Docker FSLeyes"
When using `sct_pluging.py` in FSLeyes via Docker, the logo is not displayed properly:
![Screen Shot 2020-01-18 at 4 51 47 PM](https://user-images.githubusercontent.com/2482071/72671105-6b776d80-3a13-11ea-8516-3daedf09914e.png)

Version: sct-docker-4.2.1

[2020-01-18 21:57] jcohenadad opened #2587 "Unresponsive command in FSLeyes integration within Docker"
When using FSLeyes integration via Docker (version 4.2.1), the commands don't run. The terminal output shows the following WARNING:
[code]

[2020-01-19 16:19] valosekj commented on #2586
Same behavior under Debian 10 Buster with MATE Environment 1.20.4.

(white background behind name of sct_deepseg_sc function is caused by bad compatibility of FSLeyes with dark MATE mode)

![SCT_logo](https://user-images.githubusercontent.com/39456460/72684280-7a2b5680-3adf-11ea-9415-55879aebacef.png)

[2020-01-19 18:08] jcohenadad commented on #2586
thanks for the feedback @valosekj. Are you interested in digging into this issue?

[2020-01-20 11:06] valosekj commented on #2586
Update: My previous post was when I used remote access by TightVNC. Now, when I open FSLeyes locally at the same machine and try to _Run script_ option I get error that SCT is not found.

So, apparently, the FSLeyes behavior is different when it is run locally or remotely.
I can see in _About FSLeyes_ option different OpenGL renderers:
- run locally - OpenGL renderer: Radeon 550 Series (POLARIS12,

[2020-01-20 15:14] jcohenadad commented on #2543
This paper from Yiannakas et al. J Neuroimaging 2019 looks at lumber cord normalization, we could easily implement this normalization factor:
https://www.ncbi.nlm.nih.gov/pubmed/30582252

[2020-01-20 15:40] jcohenadad commented on #2278
another advantage of outputting uncertainty measure is that is minimizes the hit in precision when calculating CSA (due to partial volume)

[2020-01-20 18:54] lrouhier commented on #2587
I am looking into it. It might come from the way Fsleyes is installed or we need to check if it does not come from sct_deepseg_sc on docker.
However, regarding the original forum post [(here)](http://forum.spinalcordmri.org/t/fsleyes-errors-docker-toolbox-sct-vers-4-2-1/300): I have been able to save an image without setting $FSLdir.

[2020-01-20 19:07] lrouhier commented on #2587
I have replicated the error. I have some additional lines on top of it :
[code]

The rest looks like what is already posted. Eventhough there are obvious error from OpenGL i think the main reason why nothing is happening is that `del env["PYTHONHOME"]` does not work.

[2020-01-20 19:27] lrouhier commented on #2587
Update : commenting lines 35 and 36 from sct_plugin.py seems to make it work (link [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/contrib/fsl_integration/sct_plugin.py#L35). We need to figure out a way to make it work with docker (maybe check if "PYTHONHOME" and "PYTHONPATH" exists before deleting).

[2020-01-20 21:13] lrouhier commented on #2587
I had some memory issue (probably linked to #2542): It was solved by using 3go of ram instead of 2 as stated in the Readme maybe we need to update this as well ?

[2020-01-23 16:18] lrouhier commented on #2585
I have implemented it in Branch lr/extra_test_for_docker. However, after installing a web browser on the docker, the variable BROWSER does not appear to be automatically set which could be a problem for Linux users...
In any case, xdg-open won't work if the variable is not set.

[2020-01-23 21:14] jcohenadad opened #2588 "Wrong install link from OSF"
binaries are fetched from a wrong URL, as shown below:

[code]

details here: http://forum.spinalcordmri.org/t/unable-to-install-v4-2-1/295/16?u=jcohenadad

[2020-01-23 21:17] jcohenadad commented on #2584
This script fixes the issue:

[2020-01-23 21:20] jcohenadad commented on #2585
ok so let's drop this minor issue for now...

[2020-01-23 21:40] jcohenadad commented on #2585
reopening it because of https://github.com/neuropoly/spinalcordtoolbox/pull/2589

[2020-01-24 17:12] jcohenadad commented on #2586
this is just an environment variable issue. Do you open FSLeyes it from the Terminal?

* If yes, what is the output of `sct_check_dependencies` just before you run FSLeyes?
* If no, you should open FSLeyes from the Terminal (as instructed)

[2020-01-24 17:57] jcohenadad opened #2590 "Implement global boundary shift integral (GBSI) method"
Details here: https://www.sciencedirect.com/science/article/pii/S1053811919310808

[2020-01-24 18:51] jcohenadad commented on #2590
There is a niftkAtrophyCalculator.py within NIFTK that has almost most of the steps but for the brain.
@fprados if you have additional relevant info please share :-)

[2020-01-26 22:27] baxpr commented on #2318
Little update - I haven't quite nailed this down but I believe I only have this problem when building a container with the --sandbox option. Anyway I'm currently installing SCT 4.2.1 under singularity 2.5.2 with a standard build, and haven't seen this problem lately.

[2020-01-27 12:53] valosekj commented on #2586
Yes, I run FSLeyes from the terminal. Problem was in missing line in my `bashrc` file. From some reason, I had there only line for adding SCT into `$PATH` but  `$SCT_DIR` variable definition was missing.
Thanks!

[2020-01-27 15:50] jcohenadad commented on #2318
closing this issue as it seems to be an isolated case

[2020-01-27 15:50] #2318 closed

[2020-01-27 19:08] jcohenadad commented on #2542
Increasing the allocated RAM on the VM to 3GB solves the problem

[2020-01-27 19:08] #2542 closed

[2020-01-27 19:12] jcohenadad commented on #2587
good idea-- i am working on the plugin for this PR https://github.com/neuropoly/spinalcordtoolbox/pull/2581. I'll commit this modification and then  @lrouhier can you please test my branch?

[2020-01-28 15:51] jcohenadad opened #2591 "dlopen: cannot load any more object with static TLS"
This error seems to happen in particular OS/hardware. User post [here](http://forum.spinalcordmri.org/t/problem-with-latest-version-installation/311/4).

Possibly related to https://github.com/neuropoly/spinalcordtoolbox/issues/2541#issuecomment-560462364 and https://github.com/neuropoly/spinalcordtoolbox/issues/1620.

The user has the following OS:
[code]

Related issues (external):
- https://git

[2020-01-28 19:17] jcohenadad commented on #2579
As suggested, a solution would be to modify SCT's behaviour and have the default folder being the folder of the input image. However, that could potentially break many of the current workflows.

A better solution would be to set the output folder to be the folder of the input image *only* when using FSLeyes plugin. This would require a modification on some of the SCT's function, to enable specifyi

[2020-01-28 21:30] jcohenadad commented on #2587
@lrouhier can you raise the issue to the developer of FSLeyes?

[2020-01-29 19:00] lrouhier commented on #2587
After the answer from paul Mc Carthy (https://github.com/pauldmccarthy/fsleyes/issues/39). It seems that I need to install freeglut, which seems to work. I am gonna add this to the dockerfile, regenerate the container and check a second time.

[2020-01-29 21:11] lrouhier commented on #2587
It seems to work after generating a new container ! Freeglut installation will be automatic with https://github.com/neuropoly/sct_docker/pull/51 .

[2020-01-30 21:48] #2545 closed

[2020-01-30 21:48] #2544 closed

[2020-01-31 02:36] #2584 closed

[2020-01-31 19:40] jcohenadad opened #2594 "Various improvements on the FSLeyes plugin"
See the list of TODO in the file:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/contrib/fsl_integration/sct_plugin.py

[2020-02-03 22:23] lrouhier opened #2595 "wxPython elements are not displayed properly on OSX Catalina"
When loading the FSLeyes plugin from SCT and then changing the card, images are not properly displayed:
![Screen Shot 2020-02-03 at 5 20 19 PM](https://user-images.githubusercontent.com/22171999/73696207-c793f000-46a9-11ea-9e7d-7231a9e993ae.png)

Commit: 8cdf9a0ff676abac01ac201a140d137642a6cf8c

Note: This issue is likely specific to OSX Catalina, although this must be further confirmed.

[2020-02-04 16:09] #1914 closed

[2020-02-04 16:09] #2587 closed

[2020-02-05 22:54] #2585 closed

[2020-02-07 21:01] jcohenadad opened #2596 "ValueError: operands could not be broadcast together with remapped shapes"
### Description

This error message has been [reported by a user](http://forum.spinalcordmri.org/t/operands-could-not-be-broadcast-together) when trying to run a segmentation.

### Steps to Reproduce

version: SCT v4.2.1
data: sct_testing/large: sub-issue2596_T1w.nii.gz
syntax + error:
[code]

[2020-02-07 21:10] jcohenadad opened #2597 "TypeError: Invalid shape (256, 480, 1) for image data"
### Description

When trying to use the viewer for defining the centerline, this error message appears.

### Steps to Reproduce

version: SCT v4.2.1
data: sct_testing/large: sub-issue2596_T1w.nii.gz
syntax + error:
[code]

### Note

This syntax does work with the example data:
[code]

[2020-02-09 21:28] cfhammill commented on #2525
So I've been trying to figure out how to fix this and I haven't found the answer yet. I tried a brute force approach to see if I could find a working transform and work backward from there but with no luck.

Surprising to me, the affine space of the inverse transform differs from the spaces of both the source and the target images. My intuition was that the inverse transform should be in the same

[2020-02-09 23:11] jcohenadad commented on #2525
Thank you for the investigations @cfhammill!

Based on the 2nd paragraph of your post above, your intuition was that the inverse transform would be defined in the coordinates of the source (not the target) image, right?  Regardless, it is indeed weird that the inverse transform is neither in the src nor target space. Also, did you mean that for  FSL or for ANTs? I'm actually not sure if this conve

[2020-02-10 01:28] cfhammill commented on #2525
Sorry yes, I meant the source image. This is the case for the ANTs transforms, to reproduce:

[code]

[code]

[code]

[code]

[code]

Not sure about the FSL convention, but if the convention was opposite for FSL I would expect a source to target affine transform to fix it (not sure if applied pre or post warping).

Ok, I'll give it a shot this week and if I'm still unsuccessful I'll reach out to t

[2020-02-10 01:48] jcohenadad commented on #2525
Another thing to keep in mind: some of SCT's transforms, including straightening, are not based on ANTs but are custom-made. It is possible that there are some bugs. So, if we are dealing with the ITK/FSL compatibility, I would start off with warping field that we trust better, e.g., those which are generated by ANTs. So, for those first investigations, I would instead work on warping fields that

[2020-02-10 03:32] charleygros commented on #2596
I am able to reproduce this issue as well as #2597. I am investigating. Will keep you posted.

[2020-02-10 03:35] charleygros commented on #2596
Note: the following command (ie `-centerline svm`) does not work too.

[code]

[code]

[2020-02-10 03:59] charleygros commented on #2596
Potential source of bug: the input image (check [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg_sc/core.py#L458)) is 4D: `(352, 480, 256, 1)`.

[2020-02-10 04:17] charleygros commented on #2596
To split the data (`sct_image -split t`) before sending it to `sct_deepseg_sc` solves the issue (the automatic results are not satisfying though, neither with `svm` nor `cnn`, but okay with `viewer`).

@jcohenadad : I am not sure of the best way to go: if we detect a 4D image as input of the function, do we want:
- to stop the process, ask the user to send a 3D image, suggest the use of `sct_image

[2020-02-10 15:21] jcohenadad commented on #2596
I would go with the first approach. This NIFTI file is obviously corrupted (dim0=4 and dim4=1, which is inconsistent), so we should let the user know that he has to fix his pipeline before using SCT (or any other software). I would do the following:
- Do the check at this line: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg_sc.py#L179
- Call `sct_utils.check_if_3d()

[2020-02-10 17:52] jcohenadad commented on #2591
Interestingly, SCT version 4.0.0 does not produce the error (at least for the user's post referred to above).

[2020-02-11 00:48] charleygros commented on #2596
Sounds great!
The only thing I can think of: The function is robust to 1-slice images --> It would be good to keep this feature, ie not be rejected by `check_if_3d()`.
When I split a 3D image with `sct_image -split` --> the output still has `dim0=3` --> Just wondering if it will always be the case!? or if we want to accept `dim0=2` as well!?

[2020-02-11 01:20] jcohenadad commented on #2596
yes we want 😊

[2020-02-11 02:42] cfhammill commented on #2525
So, using `sct_register_multimodal` produces registrations that are in the same space as the source images (coordinate-wise difference < 10^-8).  The difference between the registration produced by `sct_register_multimodal` and `sct_straighten_spinalcord` is due to the padding operation in `sct_straighten_spinalcord`, which helps explain the small shift I was seeing when using `--world2vox`.

I th

[2020-02-11 15:51] alexfoias commented on #2591
I managed to reproduce the error on a VM. Output here:
https://gist.github.com/alexfoias/60d39457d33ffd33d281a6392fcf0d6d

[2020-02-11 15:54] jcohenadad commented on #2591
thanks @alexfoias, can you try now with v4.0.0

[2020-02-11 17:10] alexfoias commented on #2591
The installation also fails for v 4.0.0

Here is the output: https://gist.github.com/alexfoias/7a77a802cb8cea444506af07342094d9

[2020-02-11 17:14] jcohenadad commented on #2591
Thank you Alex. Hum... what's concerning is that this is not consistent with what the user is reporting. I'll contact her to get more details.

[2020-02-13 22:21] jcohenadad commented on #1622
won't fix (for now)

[2020-02-13 22:21] #1622 closed

[2020-02-14 18:58] jcohenadad opened #2600 "GLIBCXX_3.4.15 not found on CentOS 6"
After installing SCT (5f09905515c78aefbaed7781e2d0664427e9cf79) on a centos6 station, I ran into the following problem while running `sct_testing`:
[code]

This issue might be related to https://github.com/neuropoly/spinalcordtoolbox/issues/711, https://github.com/neuropoly/spinalcordtoolbox/issues/158, https://github.com/neuropoly/spinalcordtoolbox/issues/1704

[2020-02-14 18:59] jcohenadad opened #2601 "Keras failing on CentOS 6"
I tried to installed SCT (5f09905515c78aefbaed7781e2d0664427e9cf79) on a centos6 station. The whole installation went well until it failed during the final dependencies check:
[code]

[2020-02-14 19:29] jcohenadad commented on #2601
I've seen that issue happening in the past with CPU's not supporting AVX. Some refs here:  https://github.com/tensorflow/tensorflow/issues/18275

The following line returns an empty string, so the lack of AVX support for the CPUs is likely the reason for this "Illegal instruction" bug:

[code]

[2020-02-14 19:32] jcohenadad commented on #2601
Duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/2562

[2020-02-14 19:32] #2601 closed

[2020-02-14 19:32] jcohenadad commented on #2562
It would be nice to check if CPU supports AVX before installing SCT

[2020-02-15 19:22] jcohenadad commented on #2523
I experienced the same error on a centos6 distros. This is quite annoying...

[2020-02-15 20:01] cfhammill commented on #2525
Still haven't got it. Turns out that at least for `sct_register_multimodal` the transforms are stored as RAS coordinate relative transforms. So to determine where in the src image to grab intensity levels you do compute:

1. covert target voxel coordinate to world
2. add deformation vector (flipping sign for dimensions 1 and 2)
3. convert world coordinate to src voxel coordinate
4. interpolate

So

[2020-02-15 20:01] #2596 closed

[2020-02-15 20:01] #2597 closed

[2020-02-16 22:46] jcohenadad commented on #836
Fixed by #2331

[2020-02-16 22:46] #836 closed

[2020-02-18 23:11] jcohenadad opened #2602 "Various issues with sct_smooth_spinalcord"
Few issues:
- for param `-smooth` the usage says to input a list of float, with default [0, 0, 3], but when trying to input a list, it fails. Correct input syntax is `0,0,3`. Usage needs to be modified
- For straightening, there is a message that says "Fitting centerline using B-spline approximation", but later on NURBS algo is used.

[2020-02-19 18:13] AnBucquet opened #2603 "Parameters xmax, ymax and zmax are not effective"
### Description
It seems that  there is an issue with the params **xmax**/ **ymax** / **zmax** of the cmd `sct_crop_image`. Indeed the higher bound for cropping along the axis is bigger than expected.

For example:

- `sct_crop_image -i T2w.nii.gz -zmax -4 -o T2w_z_4.nii.gz`

should create an image with the same dimension as `T2w.nii.gz` minus 3 along the axis **z**.
However `T2w_z_4.nii.gz` has a

[2020-02-19 18:27] AnBucquet commented on #2603
I guess that removing the `+1` in that [line](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/cropping.py#L43) would solve the issue?

[2020-02-20 02:06] #2603 closed

[2020-02-20 14:23] jcohenadad opened #2605 "Flag -b crops instead of masking"
The flag `-b 1` is expected to not crop the image (i.e. reduce dimension), but instead mask the image outside of the bounding box defined by xmin, xmax, etc. with zeros. However, in the current implementation (commit 576ddeb49510cff69b529303a818e482b0562927), it does crop the image.

Another minor issue: the usage of `-b` is unclear (what value is expected?). We should clarify with choices: {0, 1}

[2020-02-20 15:58] #2605 closed

[2020-02-24 20:17] jcohenadad opened #2607 "ValueError thrown if label value is too high"
### Description

When trying to run the function in lumbar FOV, if specifying a starting point at label =19 (corresponding to T11-T12 disc), the code crashes with a ValueError. The reason being that the labels on the template are not going high enough.

### Steps to Reproduce

[code]

### Possible solution

Increase the number of labels from the template.

[2020-02-24 20:32] jcohenadad opened #2608 "Label value specified by -initz flag is shifted by one value"
### Description

In the current implementation (b5d01bdad5248be280d53c3786e19ba2ba9f64c9), when specifying `-initz`, the value corresponds to the upper vertebral level whereas it should be the lower levels. E.g., Label 4 is interpreted as C4/C5 disc, whereas it should correspond to the C3/C4 disc.

The reason for this confusion is that in the past, we used to define disc labels that way, but since

[2020-02-25 21:53] jcohenadad opened #2609 "Update parameter_template.sh in shell/"
To look like this one:
https://github.com/sct-pipeline/spine-generic/blob/master/processing/parameters_template.sh

To "force" users to copy parameters.sh in their working directory

[2020-02-25 21:56] jcohenadad opened #2610 "sct_run_batch: add flag to decide to use GNU parallel (or not)"

[2020-02-26 16:41] jcohenadad opened #2611 "Check data type before running morphological operation"
To output a clearer message to the user.

See: http://forum.spinalcordmri.org/t/problem-with-latest-version-installation/311/25?u=jcohenadad

[2020-02-27 15:56] jcohenadad opened #2612 "erode module produces TypeError: convert_list_str() missing 1 required positional argument: 'type'"
This bug appears when using the `-erode` feature of `sct_maths`.

To reproduce:
SCT commit efcb6746a1a67ae0eee4071a9b9b7ef825c03d84
[code]

User report:
http://forum.spinalcordmri.org/t/problem-with-latest-version-installation/311/25?u=jcohenadad

[2020-02-27 19:22] #2612 closed

[2020-02-28 16:26] bcdarwin commented on #2562
Maybe either depend on https://github.com/workhorsy/py-cpuinfo, which uses no command-line programs which might not be installed or other Python libraries, or read the code there to find out how to get OSX (/Windows) CPU info.

[2020-02-28 16:58] jcohenadad commented on #2611
I've just realized that we are actually using `grey_erosion`, which __does__ accept non-binary data.

[2020-02-28 17:21] jcohenadad commented on #2562
right, the only thing is that ideally, we would do the check __before__ installing Python+SCT, as done [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/install_sct#L164).

On the other hand, doing it in Python would be easier/cleaner.

[2020-02-28 17:32] bcdarwin commented on #2562
I guess there are three options:

- check using 'cat /proc/cpuinfo | grep ... ' on Linux and the equivalent on OSX at the beginning of the installer;
- check using py-cpuinfo as soon as conda is available and possibly exit from the installer with an error (a bit messy)
- check in `sct_check_dependencies` by detecting the Keras segfault and/or detecting AVX with Python

[2020-02-28 18:16] jcohenadad commented on #2562
ok, i think we should go for the 3rd one. The pros are:
- no refactoring of the install shell script (less friendly to read than python code)
- no need to deal with platform-dependent CPU-check functions
- users' report is centralized in the `sct_check_dependencies` (easier for us to assist users if all the info is spitted out from this script)

the only cons i see is:
- adds 1-2 minutes on the us

[2020-02-28 18:23] jcohenadad opened #2615 "Enable 2D kernel for morpho math operations"
Things to check/fix:
- redefinition of selem variable in erosion/dilation kernel.
- use the iteration feature from scikit-image to get multi-step erosion (make it a feature)
- start porting some of the functions of sct_maths into a dedicated python module, which we can call `math`

Needed for two projects:
- https://github.com/neuropoly/spinalcordtoolbox/issues/2615
- https://github.com/sct-pipeli

[2020-02-29 18:16] cfhammill opened #2620 "Parser error generation broken in `sct_image`"
In, for example, `sct_image -mcs` the script checks that there are in fact multiple input files.

https://github.com/neuropoly/spinalcordtoolbox/blob/jca/fsl-warp/scripts/sct_image.py#L227

triggering this with

[code]

Throws the following error

[code]

with 4826d21

I think this is a trivial switch from

[code]

to

[code]

which generates error messages and prints the usage.

If anyone can rep

[2020-02-29 18:25] jcohenadad commented on #2620
I can reproduce with d8d887c155dec9450da37a5ee4f02de3cf6cdca5. Thank you for reporting this bug @cfhammill 👍

And yes, I agree about the proposed solution.

[2020-02-29 18:28] cfhammill commented on #2620
Great, thanks @jcohenadad

[2020-02-29 18:34] jcohenadad commented on #2562
@zgm0407,

I'm following up on the issue you had while installing SCT, you experienced an `ERROR: Illegal instruction     (core dumped)` related to the incompatibility with Keras/Tensoflow.

We have solved that issue in a pre-release, and we would like to ask users who have experienced that issue to make sure this solution works in most cases.

Could you please go back to the computer that produce

[2020-03-01 02:04] jcohenadad opened #2622 "Source .bashrc if user is running a login shell"
When a "login shell" starts up, it reads the file `/etc/profile` and then `~/.bash_profile` or `~/.bash_login` or `~/.profile` (whichever one exists - it only reads one of these, checking for them in the order mentioned).

When a "non-login shell" starts up, it reads the file `/etc/bashrc` and then the file `~/.bashrc`.

SCT's environment variables are declared in `.bashrc` (for bash shells), whic

[2020-03-02 15:15] jcohenadad opened #2623 "libGL error: No matching fbConfigs or visuals found libGL error: failed to load driver: swrast"
A user reported the following problem while checking PyQt:
[code]

Another (related) problem is that the test outputted "OK" even though errors were encountered.

More info at:
http://forum.spinalcordmri.org/t/installation-failed-during-installation-of-keras/349/5#

[2020-03-02 16:52] #2562 closed

[2020-03-02 17:02] alexfoias commented on #2623
I couldn’t reproduce the error : https://gist.github.com/alexfoias/7cda180196be97457e40c5dd8de4627f#file-output-install-sct

I tested also with vnc: https://gist.github.com/alexfoias/7cda180196be97457e40c5dd8de4627f#file-output-sct-check-dependencies-from-teamviewer

[2020-03-02 23:47] matthieufaillot opened #2625 "Function is crashing with sagittal data"
Hello,
I am running SCT 4.2.1 on a OSX 10.12.6

I am having trouble processing dmri data ( acquired sagittally, poor resolution ; Processing of T2 files from same patients works fine). There seems to be a problem with dmri moco which I don't understand  :

problem can be observed on multiple subjects, adding the flag -g 10 didn't help.

(I am running script from London Course that I hardly modifie

[2020-03-03 00:23] cfhammill commented on #2330
Would it be sufficient to change:

https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/qc.py#L499

from

[code]

to

[code]

In that case `os.makedirs` ignores the `File exists` exception.  Or are we worried that there is a real corruption risk?

It's a bit surprising that this occurs because there is a directory exists check immediately above this code. There are

[2020-03-03 15:11] jcohenadad commented on #2330
@cfhammill thanks for looking into it. Yes, the suggestion should work but needs to be tested. The problem is that it is a non-systematic bug (happens with coincidence), so in order to make it more "systematic" we might need to set up a specific testing where >100 QC reports are generated at the same time.

[2020-03-03 15:17] jcohenadad commented on #2625
@matthieufaillot I can reproduce the bug. Thank you very much for reporting it!

For the records, here is a way to reproduce the bug using SCT example data:
[code]

[2020-03-05 14:32] jcohenadad opened #2626 "Centralize deep-learning segmentation tools into a single entry point and module"
Currently, deep learning tools include `sct_deepseg_sc`, `sct_deepseg_lesion` and `sct_deepseg_gm`. Each have their entry point (i.e. CLI function) and some of the modules are not shared (e.g., deepseg_gm and deepseg_sc use different modules for preprocessing and running the segmentation).

Given the increasing need to (i) train models specific to other structures (e.g., CSF #2277, [mouse spinal c

[2020-03-05 18:49] olix86 commented on #2626
What about something like
[code]

This could be done using [subparsers ](https://docs.python.org/3/library/argparse.html#sub-commands) since they share some arguments  but other arguments are unique to each command, which would be tricky to handle with a single parser

[2020-03-05 19:20] jcohenadad commented on #2626
@olix86 yes, good idea. How about the strategy to target models? e.g., there could be various "lesion" models. Or were you thinking of specifying the lesion model inside `<arguments specific to deepseg_lesion>`?

[2020-03-05 20:17] olix86 commented on #2626
Yes, I think that's how it's currently done in `deepseg_gm` which has multiple models, we could keep it that way since models will probably be task specific

[2020-03-05 23:06] charleygros commented on #2626
That would be great indeed!

I am simply hesitant at this stage because the implementation of `sct_deepseg_sc` & `sct_deepseg_lesion` is currently very different of `sct_deepseg_gm`, eg centerline detection vs no centerline detection, crop vs no crop, parameters very different between functions, different preprocessing, different postprocessing etc.

When I go through the code, I can't see much co

[2020-03-05 23:10] charleygros commented on #2626
Also, what about `sct_propseg` --> do we want to include it via something like:
[code]

[2020-03-06 02:04] jcohenadad commented on #2626
@charleygros i completely forgot to specify the most important aspect in the description above, but the **main** purpose of this refactoring is to actually bring the ivadomed code into production.

So, this `sct_deepseg` would be a prototype version of what we discussed at the last ivadomed meeting. I wasn't planning on directly following deepseg_sc or deepseg_gm, but starting "from scratch" a new

[2020-03-06 02:42] charleygros commented on #2626
Makes so much more sense :-) Thank you for the clarification!

[2020-03-06 18:51] jcohenadad commented on #2626
I can start working on a CLI. @charleygros and @olix86 could you please let me know what would be the API to call for the inference?

Also, if you could train a model for the [data provided by the user](http://forum.spinalcordmri.org/t/segmetation-centerline-errors/352/7?u=jcohenadad) that would be great. More questions will probably come up along the way (how to document model training, etc.). Th

[2020-03-07 16:53] cfhammill opened #2627 "Can't import spinalcordtoolbox.reports.qc outside of the scripts directory"
On current master 4878c3b7 spinalcordtoolbox.reports.qc can't be imported from outside the scripts directory:

[code]

[code]

This works from in the scripts directory because `sct_utils.py` is in there.

[2020-03-07 18:41] jcohenadad commented on #2627
good catch! @cfhammill

[2020-03-08 18:58] cfhammill commented on #2627
I considered moving `sct_utils.py` over to python package directory but it seems there's a substantial amount of purpose built code for finding sct_utils and importing it.

I did a quick dig seeing if there was any easy way to add `sct_utils.py` to `setup.py`, but nothing simple, pretty sure it's doable. As a kludgy solution we could symlink `sct_utils.py` into the `spinalcordtoolbox` directory.

[2020-03-08 22:28] matthieufaillot commented on #2625
@jcohenadad  thank you !
I reoriented the dwi images to -LPI

[2020-03-08 22:35] charleygros commented on #2626
At the moment, we do the inference on the testing set by running `cmd_test` from `ivadomed.main`, [here](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L611).
Which is not made to be called to run a one subject segmentation: there is a lot of options that would not be needed, evaluations tools, debug tools etc.

I have opened an [issue](https://github.com/neuropoly

[2020-03-09 18:27] jcohenadad commented on #2625
@matthieufaillot while the function might work (i.e. not crash) if you reorient your data in LPI, it will not produce the expected results, because when acquired sagittally, motion occurs independently across slices, and is non-rigid within slice, therefore I would not do it (i.e., skip moco) and just wait for the bug fix.

[2020-03-09 20:03] jcohenadad commented on #2627
I know... this is an epic refactoring that we've been waiting for years. I would suggest to do it step by step, adding unit tests along the way and replacing some `sct_utils` functions by already-existing Python functions (when that applies), and removing those that are not used anymore.

[2020-03-09 21:25] jcohenadad opened #2629 "Fit centerline across all slices with input segmentation"
When running `sct_create_mask -p CENTERLINE`, if the centerline has some slices that are missing (i.e., empty slice), then the mask will also be missing for those slices, which could be problematic when the mask is subsequently used for `sct_dmri_moco`, where all slices need to have a non-zero mask.

To prevent that, we could have an additional option in `sct_get_centerline -m` where users could i

[2020-03-09 22:14] jcohenadad opened #2630 "Enable the use of Gaussian masks for isct_antsSliceRegularizedRegistration"
When dealing with tricky motion correction problems, it would be good to have `isct_antsSliceRegularizedRegistration` focus on the spinal cord more than on the lateral tissue (muscle, noise, etc).

Currently, `isct_antsSliceRegularizedRegistration` only accepts binary masks as input. When inputting weighted mask, the function crashes:
[code]

It would be nice to allow the use of Gaussian masks in

[2020-03-10 01:00] cfhammill commented on #2627
Sounds like a reasonable approach. Happy to take on the refactor if you think it's the right time.

[2020-03-10 01:36] matthieufaillot commented on #2625
The results of moco were indeed a bit strange but I thought this was due to
the low resolution in the axial plane Thank you
Matthieu

Le lun. 9 mars 2020 à 19:27, Julien Cohen-Adad <notifications@github.com> a
écrit :

[2020-03-10 21:56] jcohenadad opened #2632 "Low performance of motion correction"
In some cases where the SNR is low, the motion correction algorithm shows very low performance. This usually happens because the spinal cord only represents a **very** small fraction of the whole image, so when the image is noisy, the registration algorithm gets "distracted" by voxels outside the spinal cord.

One way to mitigate this is to use a tight-fitting mask around the spinal cord. But even

[2020-03-11 01:07] jcohenadad opened #2633 "ModuleNotFoundError: No module named 'sct_otsu'"
When using flag `-thr`, the function crashes. Looks like a deprecation.

To reproduce, download the data uploaded in #2632.

<details><summary>Syntax and Error</summary>

[code]

</details>

[2020-03-11 01:08] #2620 closed

[2020-03-11 14:44] jcohenadad commented on #2625
Digging into `sct_dmri_moco`, it is explicitly mentioned that sagittal scans are not supported: https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_dmri_moco.py#L82

However, it should not be too hard to support that feature. I am working on a fix in #2634

[2020-03-11 17:45] jcohenadad commented on #2625
Note: the bug also happens with `sct_fmri_moco`

[2020-03-12 15:42] #2387 closed

[2020-03-14 17:02] jcohenadad commented on #1442
fixed in https://github.com/neuropoly/spinalcordtoolbox/pull/1448

[2020-03-14 17:02] #1442 closed

[2020-03-14 17:04] jcohenadad commented on #174
Closing because old and not active.

[2020-03-14 17:04] #174 closed

[2020-03-14 17:04] jcohenadad commented on #160
Closing because the rationale/context is missing. Unclear why we need to have same output type

[2020-03-14 17:04] #160 closed

[2020-03-14 19:43] PaulBautin commented on #2610
Hi,
I'm new to the project. This would be my first contribution, just want to check if this is the right process. I have added a flag to sct_run_batch but have left it optional. Should I change the information to encourage the utilisation of this option?

[2020-03-14 19:47] jcohenadad commented on #2610
Thanks a lot for your contribution @PaulBautin!
Please open a pull request so we can discuss/merge your changes to the master branch. More info on the [contribution guidelines](https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#contributing-to-sct-pull-request)

[2020-03-15 17:58] jcohenadad opened #2636 "Move create_test_data.py into spinalcordtoolbox package"
Currently the file is hosted under `unit_testing/`, which is not clean because it needs to be imported (so IDE such as Pycharm do not recognize the import).

A suggestion would be to move the file under `spinalcordtoolbox/testing/`. In there, we could create other scripts useful for testing SCT.

[2020-03-16 01:36] jcohenadad opened #2637 "Improve performance of moco for interleaved data"
For data that are acquired interleaved (first pass: odd slices, second pass: even slices), slowly-varying changes in the B0 field induces discontinuities every other slice. The current slice-regularized moco algorithm does not account for that, resulting in poor performance of the moco result (i.e. only smooth deformations along the SI axis are accounted for). In this case, ascending/descending ac

[2020-03-17 17:37] jcohenadad commented on #947
Priority changed to HIGH because of recent [user report](http://forum.spinalcordmri.org/t/sct-fmri-moco-very-very-slow/365/2)

[2020-03-18 16:16] #2610 closed

[2020-03-19 17:36] kousu commented on #2622
I was looking at this and thinking I didn't like that the installer edits my environment for me. There's lots of reasons:

- this one, that there's this old Unix cruft of login vs non-login shells
- I'm not necessarily using `bash`
- different distros decide whether or not to source things in order

Trying to get user-local customizations set up is always a pain. I was hoping we could talk about t

[2020-03-19 17:52] kousu commented on #2622
In general I would advocate for Drew's view, making sure the software runs on its own and also making sure it can be packaged cleanly by clearly documenting what dependencies we have and respecting environment variables. Trying to guess OS-specific customizations is a sisyphean battle; it's better to work with the OS's packaging community, if we can.

The biggest stumbling block to this is that we

[2020-03-19 18:22] jcohenadad commented on #2622
Regarding strategy to install directly to /usr/bin or /usr/local/bin: I can anticipate issues when researchers are using computer clusters from institutions, where they would need sudo power to write on /usr/bin.  Current SCT's installation make it convenient for everyone to install it in their home (or under /usr/bin if they decide to do so). I guess the same argument applies to the installation

[2020-03-19 20:15] PaulBautin commented on #2611
@jcohenadad, I see you've corrected the "typeError" in convert_list_str(). I've only added a correction to the help instruction (greyscale or binary image). Should I do a pull request for such a little modification.

[2020-03-19 20:20] jcohenadad commented on #2611
it would be helpful if you could add a bit of context: when did i correct it? pls add a hyperlink to the modification you are referring to

I've only added a correction to the help instruction (greyscale or binary image). Should I do a pull request for such a little modification.

every modification to master requires a PR. That being said, there is currently a PR dealing with `sct_maths` #2616 so

[2020-03-20 19:56] jcohenadad commented on #2591
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2541

[2020-03-22 15:07] jcohenadad commented on #947
Further investigations on joplin:
the bottleneck is `isct_antsSliceRegularizedRegistration`. Interestingly, when looking at how CPU jobs are distributed, instead of having one core getting all the load, the jobs are distributed across all cores (128 in the case of joplin):

![Screen Shot 2020-03-22 at 11 00 31 AM](https://user-images.githubusercontent.com/2482071/77252808-be94b900-6c2c-11ea-8603-1

[2020-03-22 15:16] jcohenadad commented on #947
Tried to change `ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS` with values 4 and 64: it did not change anything in terms of total and individual CPU load (showed with htop) and in terms of iter/s (still around 70 iter/s).

[2020-03-22 15:30] jcohenadad commented on #947
Compared `isct_antsRegistration` between joplin and my mac, with different transforms:
[code]

Both systems gave similar computational time across transforms.

[2020-03-22 15:33] jcohenadad commented on #947
However, then trying specifically with `isct_antsSliceRegularizedRegistration`, the difference is striking:
[code]
On mac: 5s
On Linux (joplin): 70s

So, there is clearly something wrong with the Linux binary. I'll explore older versions that were shipped for Linux...

[2020-03-22 20:24] jcohenadad commented on #947
Re-built ANTs binaries on Ubuntu 16.04 and OSX. Good news is: processing time is **much** faster with the recent built:

On `joplin`:
New version:
[code]

Old version:
[code]

Now checking the integrity of the output...

[2020-03-22 21:09] jcohenadad commented on #947
Now testing integrity with `batch_processing.sh`, starting from latest changes in the moco functions (https://github.com/neuropoly/spinalcordtoolbox/pull/2634), using commit 4b059056d6bde406a527435bb62458feb9688323

TBD

[2020-03-23 19:17] PaulBautin commented on #2629
I've added flag -m that has for argument the user choice of centerline fitting method. This option takes as input the segmentation and outputs the segmentation fitted. It uses the same function as methods Optic and viewer : `get_Centerline`.
How come there are empty slices? Should I worry about the output of the new option having empty slices?

[2020-03-23 19:50] #2611 closed

[2020-03-23 19:50] #2615 closed

[2020-03-23 20:46] jcohenadad commented on #2629
great! could you please open a PR so we can review (create a branch within SCT repos, not your GH account)

e.g. the segmentation algorithm could output empty slice if the spinal cord is not visible (e.g. artifact, pathology)

yes: the purpose of this issue is precisely to ensure that the output has a centerline for all slices of the image

[2020-03-23 21:58] jcohenadad commented on #947
To follow-up on [this issue of test-retest variation](https://github.com/neuropoly/spinalcordtoolbox/issues/947#issuecomment-602266970), this is now fixed by specifying "None" in sampling strategy, as instructed by the ANTs folks: https://github.com/ANTsX/ANTs/issues/976

[2020-03-24 01:22] #2608 closed

[2020-03-24 18:32] kousu commented on #2622
On the more immediate issue:

- many distros come with

[code]

in their ~/.bash_profile, precisely to make sure this works. What's more, `install_sct` *adds this* here:

https://github.com/neuropoly/spinalcordtoolbox/blob/266bfc88d6eb6e96a2c2f1ec88c2e185c6f88e09/install_sct#L221-L242

if it doesn't already exist. It uses a heuristic to detect if it needs to do this but it should be good for 99% o

[2020-03-24 18:36] kousu commented on #2622
The trickier issue is how to handle non-login shells, for example those run by:

i. `cron`/`at`
ii. `ssh` when run like `ssh server.example.com -- isct_antsRegistration ...`

On *some* distros (e.g. Ubuntu Xenial) the latter will work, but on others it will not. I'm not sure where the configuration difference is yet. A workaround is for remote users to prefix the command with `sh -l` which forces

[2020-03-24 18:45] jcohenadad commented on #2622
For a bit of context, this issue was partly motivated by SCT's installation using windows subsystem, which could not properly source the created `.bashrc`, see [this post](https://github.com/neuropoly/sct_docker/pull/52#pullrequestreview-377169912). As you said 99% of our users don't have bashrc source problems, so maybe we can lower the scope of this issue and only address this windows subsystem

[2020-03-24 19:12] kousu commented on #2622
It looks like the installer does support ~/.profile already, right [here](https://github.com/neuropoly/spinalcordtoolbox/issues/2622#L229). Has it actually failed on WSL?

I'm sorry, I don't have a Windows environment set up yet to test this with.

I did try installing an Ubuntu 18.04 container like the WSL instructions say and it worked alright there:

[code]

[2020-03-24 19:15] jcohenadad commented on #2622
hum, good point. @lrouhier can you enlighten us?

[2020-03-24 19:29] kousu commented on #2622
Incidentally, we're not the only ones to stumble over this. Here's brew being confounded by it: https://github.com/Linuxbrew/brew/issues/235

[2020-03-24 19:29] lrouhier commented on #2622
It has not failed on WSL. because the environment does have a .bash_rc and a .profile. The reason I added it in the first place is that I was following what we did in the docker container, which exported sct_dir in the env which i interpreted as .profile. In the last version posted in the [wiki](https://github.com/neuropoly/spinalcordtoolbox/wiki/SCT-on-Windows-10:-Installation-instruction-for-SCT

[2020-03-26 21:12] #2636 closed

[2020-03-26 21:20] jcohenadad commented on #2636
Fixed in https://github.com/neuropoly/spinalcordtoolbox/pull/2638

[2020-03-29 19:02] cfhammill opened #2644 "Centerline tests failing on Ubuntu 18.04 via WSL"
I'm getting test failures on the current master (266bfc88) ( on Ubuntu 18.04 via WSL)

[code]

Relevant failures are in `test_get_centerline_polyfit[img_ctl4-expected4-params4]` and `test_get_centerline_polyfit[img_ctl7-expected7-params7]`

[code]

Full output attached.

[test-out.txt](https://github.com/neuropoly/spinalcordtoolbox/files/4399585/test-out.txt)

As noted by @jcohenadad over slack, t

[2020-03-29 19:15] cfhammill opened #2645 "sct_download_data removes execute permissions on some binaries"
Happens with `sct_download_data -d applywarp` in (adab63cc; this may move as that PR gets reorganized).

[code]

Shows `rw-` where

[code]
Shows `rwx` as expected.

[2020-03-29 19:34] cfhammill commented on #2644
@PaulBautin and @alexfoias do either of you reproduce this?

[2020-03-30 17:05] jcohenadad commented on #2644
well, that's concerning: i was not able to reproduce the testing error but i got other ones 😅

[code]

Full output: [test-out.txt](https://github.com/neuropoly/spinalcordtoolbox/files/4404309/test-out.txt)

Using commit 266bfc88d6eb6e96a2c2f1ec88c2e185c6f88e09 on my OSX Mojave.

[2020-03-30 18:35] jcohenadad opened #2648 "Refactor sct_convert"
### Context

`sct_convert` was created to convert between various image files (minc, mgz, nii, nii.gz, etc.). Now, it is only used within SCT to convert between nii and nii.gz. The docstring of this function is missing, and the functional part of the script should be made a callable module.

### Suggestions

We should refactor this function. Either drop the CLI, or replace it with e.g. `sct_image

[2020-03-30 19:37] jcohenadad commented on #2644
The test is failing for all OSs ([see recent build](https://travis-ci.org/github/neuropoly/spinalcordtoolbox/builds/668841921?utm_source=github_status&utm_medium=notification)), so I've renamed the issue

[2020-03-30 19:50] jcohenadad opened #2649 "Broken link to PAM50 on OSF"
https://github.com/neuropoly/spinalcordtoolbox/blob/266bfc88d6eb6e96a2c2f1ec88c2e185c6f88e09/scripts/sct_download_data.py#L93

the link should be: `https://osf.io/u79sr/download`

[2020-04-01 00:37] cfhammill commented on #2644
I'm going to start investigating whether there are platform dependent differences in numpy's `polyfit` function as suggested by @jcohenadad over slack. And we'll see where that line of research goes. This appears to be exclusively a WSL issue for now, reverting the issue name to be specific.

[2020-04-01 00:38] cfhammill commented on #2600
I've set up a centos6 virtual machine and will investigate.

[2020-04-01 00:42] jcohenadad commented on #2600
Awesome! @cfhammill please liaise with @kousu (see https://github.com/neuropoly/spinalcordtoolbox/pull/2642#issuecomment-605150255)

[2020-04-01 03:41] bcdarwin opened #2651 "Replace specific `Image` methods (e.g. `mean`) with a more general `apply` method"
For instance, #2634 adds a `mean` method to the Image class [here](https://github.com/neuropoly/spinalcordtoolbox/pull/2634/files#diff-c412321dc724aafd30df925eef9c794fR735) but this basically just calls the equivalent `numpy` method with a subset of functionality.  It would be nice to replace this with a more general way of performing such applications, e.g. instead of `im.mean(dim=...)` one could

[2020-04-01 03:50] bcdarwin opened #2652 "fix coherence between Image data shape and Image dim"
Motivation [here](https://github.com/neuropoly/spinalcordtoolbox/pull/2634/files#diff-c412321dc724aafd30df925eef9c794fR735).

In short, the following doesn't work:

[code]

Possible solutions: add an extra shape argument to empty_like, or make dim into a property?

[2020-04-01 04:01] bcdarwin opened #2653 "potentially confusing internal use of os.chdir"
e.g. in `spinalcordtoolbox/moco.py`.

So the main issue is that any error reporting or exception handling which occurs inside the region during which we have `cd`ed may be rather misleading, e.g. reporting that a file does not exist when the user can clearly see that it does.  At least, we should investigate using a try/finally block or context manager to restore the original directory context if

[2020-04-01 18:56] jcohenadad commented on #2652
I would go with this, or even better, get rid of dim because it is a duplicate of the nibabel header.

[2020-04-01 18:59] jcohenadad commented on #2653
agreed! this could be part of the ongoing global refactoring.

[2020-04-01 21:12] #2629 closed

[2020-04-03 17:46] valosekj commented on #2586
Setting size of SCT logo by `Scale` method instead of `SetSize` before converting it to bitmap helped me on Debian 10:

https://github.com/neuropoly/spinalcordtoolbox/commit/8ee7318c9264bc8ee8eeda04469f1f2262f4252e

![FSLeyes_SCT_logo_Debian10](https://user-images.githubusercontent.com/39456460/78389664-62924300-75e3-11ea-9f34-3d84e442eada.png)

[2020-04-04 14:01] jcohenadad opened #2655 "Migrate sct_run_batch to python"
A user recently bumped into the following issues (with commit 30d84aa74598b6ccd3c768520222e07c67f14ac3)

- With GNU parallel, the following error message would appear:
![unnamed](https://user-images.githubusercontent.com/2482071/78464381-e1a47b80-76b6-11ea-9567-622519d10b5d.png).
So there might be something specific with OS (Linux 18.04) and version of Parallel.

- if user tried to use -s (sequent

[2020-04-04 14:18] #1983 closed

[2020-04-04 14:18] #2625 closed

[2020-04-04 14:18] #2630 closed

[2020-04-04 14:18] #2632 closed

[2020-04-04 14:18] #38 closed

[2020-04-04 14:18] #258 closed

[2020-04-04 14:18] #547 closed

[2020-04-04 14:18] #1973 closed

[2020-04-04 14:18] #2185 closed

[2020-04-04 14:18] #2633 closed

[2020-04-05 19:05] cfhammill commented on #2655
This looks to be a few issues. First the incorrect number of arguments

On ubuntu 18.04 under WSL I get the following:

[code]
[code]

This appears to be the correct behaviour according to the code https://github.com/neuropoly/spinalcordtoolbox/blob/master/shell/sct_run_batch.sh#L75. This line checks that there are exactly two or three arguments or throws incorrect number of arguments. This check

[2020-04-05 19:08] jcohenadad commented on #2655
@cfhammill i'm thinking: maybe it would be a good time to convert `sct_run_batch` into a python function?  We can do that same thing (more easily) with Python, and replace parallel with python's multiprocessing module (so we kill two birds with one stone)

[2020-04-05 19:20] cfhammill commented on #2655
Seems reasonable to me, argparse is much cleaner than getopts. Although it's a bit of work and validation. I suspect fixing this issue isn't too much more work. Do you want me to take that on?

The parser issue is also responsible for the `-s` file doesn't exist problem. The getopts code doesn't shift, so the parameters file gets set to the first argument which in that case is `-s`

Still haven't

[2020-04-05 19:23] jcohenadad commented on #2655
Yes it would be great. The collaborator who reported that issue found a workaround (he does not use parallel processing) so we can drop the issue's priority. I think it will be better time investment to move to a Python script right away.

[2020-04-05 19:26] cfhammill commented on #2655
Sounds good. I think the `-` issue is unrelated to `sct_run_batch`, I think it's a buggy parallel install:

https://unix.stackexchange.com/questions/512332/gnu-parallel-facing-silent-exit-and-invalid-option-error

I'll change the issue name to reflect the new purpose.

[2020-04-07 00:51] #2525 closed

[2020-04-07 21:08] kousu commented on #2007
I'm intrigued by this. I'll take some time to look into it.

[2020-04-10 18:16] cfhammill commented on #2645
I think this may be due to python zipfile extracting: https://stackoverflow.com/questions/39296101/python-zipfile-removes-execute-permissions-from-binaries

[2020-04-16 20:35] baxpr opened #2661 "Crash during moco with 331 volumes"
### Description

Looks like motion correction is being killed by the "watcher" process. Apologies if that's not the right terminology- I'm not sure how that works.

### Steps to Reproduce

SCT 4.2.1, git-HEAD-4353cdb0cda78e7483f2a7acf86f1f4a582cdce7

<details>
<summary>Info about the fmri nifti file</summary>

[code]

</details>

Perform moco:

    sct_fmri_moco -m fmri_mask.nii.gz -i fmri_fmri.ni

[2020-04-16 22:39] cfhammill commented on #2661
Hi @baxpr, thanks for reporting this. The error you get looks like the out of memory killer killed your process, so you're probably correct in your assessment that this is a volume size related problem.

@jcohenadad has made some fixes to the moco code that might resolve some memory issues. You might want to try installing sct from the most recent master branch. That might solve your problem.

If

[2020-04-17 01:00] bcdarwin commented on #2652
So it turns out that `dim` is already a property (hence why it was immutable), and so the proposed modification to `im_out.dim` in the example above was unnecessary.  I will make a PR to delete these code comments, and we could also simplify the code as you mentioned (currently `dim` dispatches to a function `get_dimension` which is not even a method on `Image` but can handle both `Image`s and `ni

[2020-04-17 03:29] baxpr commented on #2661
Thanks! I had run into to the open files issue in the past and was very grateful for that fix :)

For this data set I was able to give it 15GB RAM and sct_fmri_moco ran to completion (still using 4.2.1), so I guess that answers that.

When sct programs stop with this terse "Killed" message, is it always due to hitting a memory limit? I want to say I've seen this occasionally in other contexts too,

[2020-04-19 19:28] cfhammill commented on #2661
Thanks @baxpr, glad the increased memory resolved your issue.

We're going to continue investigating why moco is using so much memory.

As for the killed messages, those are from the operating system, not sct. The search string "Killed" turns up no matches in the sct source code. I generally see those with memory issues, but they may be triggered by other things. But I think memory is a pretty goo

[2020-04-19 20:34] cfhammill commented on #2644
So I've been investigating this issue. So presently two parameterizations of one test are failing.
`test_get_centerline_polyfit` (https://github.com/neuropoly/spinalcordtoolbox/blob/master/unit_testing/test_centerline.py#L102).

The tests that are failing are 4 and 7 with test data

[code]

Both are failing on the error norm test, the error tolerances are

[code]
Parameterization 4 only misses by

[2020-04-20 16:45] jcohenadad commented on #2644
very interesting. Thanks for the investigations @cfhammill! I am not sure adding noise will necessarily solve the problem (i could be wrong...). The problem seems to come from a bad conditioning of the fit, so maybe we could simply reduce the order? By default, order is "degree=5", which is indeed huge for the very small number of points (n=9 for the first dummy centerlines)

[2020-04-21 03:42] kousu opened #2665 "Distribute dependency LICENSEs"
We incorporate [ANTS](https://github.com/ANTsX/ANTs) and [ctrDetect](https://www.creatis.insa-lyon.fr/site7/en/ctrDetect) in this project. They are distributed in compiled binary form by us but are missing their LICENSE.txt files. ctrDetect itself incorporates opencv and makes sure to distribute "LICENSE_opencv.txt" but we drop it, so there are three missing copyright notices:

* [COPYING_ants.txt

[2020-04-21 03:49] kousu commented on #2665
Currently our packaging format is just a flat .tar.gz one level deep, so if we just put the licenses in there they will end up in `bin/` which is a weird place for them. It would probably be enough but maybe we can do better.

I looked at how Python and Debian go about packaging copyright notices. For python, [setuptools detects "LICENSE"](https://packaging.python.org/tutorials/packaging-projects/

[2020-04-21 04:54] kousu commented on #2313
Related: #1677

[2020-04-21 04:56] kousu commented on #1677
I want to pick this up since it would be helpful for #2642 . I also think it is time to expand the MacOS list to include 10.15.

[2020-04-21 05:02] kousu commented on #1677
I think it's worth testing a full cross-platform build on every PR. The tests run in parallel so they don't take longer than 20 minutes to finish. My impression from watching a few is that the slowest part seems to be waiting for OS X VMs to become available.

If we think Travis is slow, we might consider migrating to Github Actions; they seem to have a faster cluster; or maybe just a less-taxed c

[2020-04-21 17:02] kousu commented on #2665
#2667 addresses this by making a `bin/copyright/` folder. It is a step in the right direction, but not a solution.

[2020-04-21 17:52] kousu opened #2669 "Packaging Dependencies"
Currently `./install_sct` uses two package managers (actually four if you count conda and brew): `pip` and `sct_download_data`. The latter we are maintaining ourselves, and we use it for dependencies that we "own", namely the large pre-compiled binary programs (particularly `bin/isct_antsApplyTransforms`, `bin/isct_antsRegistration`, and `bin/isct_antsSliceRegularizedRegistration`), some tools fro

[2020-04-21 18:12] kousu commented on #1526
I wonder what's the status on this. `pip install -e` does most of the work in `./install_sct` now. We still need to use `sct_download_data` to get the `bin/` folder and the pre-trained models.

I am leaning towards trying to package the contents of `bin/` and the models folders with pip. Then we could version them in one place (`requirements.txt`), would be integrated in the python system, and wou

[2020-04-21 19:29] kousu commented on #2669
I think [this comment in the wiki](https://github.com/neuropoly/spinalcordtoolbox/wiki/Binaries-Compilation#diy) is worth preserving, to demonstrate why getting this automated and repeatable (and *repeated* regularly) is important:

[2020-04-21 19:37] kousu commented on #2669
# Dependency Graph

This is the conceptual dependency graph; eventually I want to encode this as data, using a package management formats (probably `requirements.txt` but I'm open to suggestions).

* TODO

[2020-04-21 22:13] kousu commented on #2669
@jcohenadad says that isct_dice_coefficient is unused. So really `spinalcordtoolbox-dev` is just `spinalcordtoolbox-propseg`. It still needs to be recompiled.

[2020-04-23 00:49] cfhammill commented on #2644
I tried changing the polynomial degree and unfortunately it didn't fix the problem. No degree I checked (3-6) had fewer failures than the 5th degree polynomial. I'll try adding a small variance to the coordinates in the dummy data generator and see if that helps.

[2020-04-23 01:19] cfhammill commented on #2644
Adding a small normal noise doesn't work because you'd have to add enough noise to result in a shift of at least one pixel, which is enough noise to throw the other params out of order. In the dummy data generator, the coordinates appear to follow a line but are then fit with a 3rd degree polynomial. So maybe fitting a 5th degree polynomial that is the problem after all.

[2020-04-23 01:39] jcohenadad commented on #2644
Yes, I also think that the high order for such a small amount of points is the problem. Could you try maybe with only 2nd order? If the test still doesn't pass we could maybe add some tolerance on the equality assertion

[2020-04-23 15:20] jcohenadad commented on #2439
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/1538

[2020-04-24 15:08] htp2 commented on #2649
I added a pull request for this (#2671).
This caused me some issues installing the toolbox (I am a new user), since the install script would hang at this line, never getting to configurations, editing the .bashrc, etc., so none of the commands worked. Thank you for raising the issue as the change got it working.

[2020-04-24 15:24] kousu commented on #2649
Thanks for this @htp2! It should fall back to the second mirror, but I noticed that our second mirror was also hanging. I wonder if what happened is actually that this link never worked and it was always using the second mirror, but that has become overloaded in the last couple weeks.

[2020-04-24 18:06] #2649 closed

[2020-04-24 19:33] kousu opened #2674 "Speed up CI"
Locally, a complete test suite run is about 10 minutes. Doing this on Travis is much, much slower.

[![2020-04-24-152034_980x621_scrot](https://user-images.githubusercontent.com/987487/80249077-b4693e80-8660-11ea-9927-e8273afd0430.png)](https://travis-ci.org/github/neuropoly/spinalcordtoolbox/builds)

Ideas:

1. It seems that running the Ubuntu builds are fast, generally running in parallel and ta

[2020-04-24 19:53] kousu opened #2675 "Deprecate CentOS 6"
CentOS6 [is end-of-life](https://wiki.centos.org/About/Product) in November 2020.

We are currently maintaining ancient CentOS6 compiled dependencies

https://github.com/neuropoly/spinalcordtoolbox/blob/f0a6478d6b0a91209f7a76c1897f4fd1263ad70a/scripts/sct_download_data.py#L105-L106

but we don't test this very well. I also discovered in #2669 that ANTS won't even compile on CentOS 6, so people run

[2020-04-24 21:30] kousu opened #2676 "Change verbosity flag `-v 1` -> `-v`"
It's more conventional in unix to pass `--verbose` or `-v` as a flag, not an option, i.e. it's existence determines whether it applies, not an argument passed after it.

Our wiki [used to suggest](https://github.com/neuropoly/spinalcordtoolbox/wiki/variables/_compare/97006a885dde276c9e8469f3f69b0089639eb609...0de1bc657993c94740da8db96a21cf162b8a49c5) an argument of `-v 0` through `-v 2` to control

[2020-04-24 21:39] kousu commented on #2600
Related: #2669, and eventually #2675. Also #2313 .

[2020-04-24 21:40] kousu commented on #2313
We should also test CentOS6 (at least until #2675) and CentOS8, and Mac OS 10.15. And if we could figure out a way to get WSL working too that would be good, though I know we're leaning mostly on Docker for Windows users.

[2020-04-24 21:51] jcohenadad commented on #2313
are we? i think we would like to lean more towards WSL due to its simpler use. See https://github.com/neuropoly/spinalcordtoolbox/pull/2643

[2020-04-24 21:59] kousu commented on #2313
Oh great, I'm more in favour of that than containers. I tend to see containers as only a kind of artificial compatibility.

[2020-04-26 19:34] jcohenadad opened #2677 "Output lesion statistics per slice"
As currently implemented, `sct_analyse_lesion` can only provide level-wise statistics (with flag `-f`). It would be nice to have "ROI Occupied by lesion" and "Lesion distribution" calculated per-slice.

We could maybe consider using the same code that is used by `sct_process_segmentation` for dealing with aggregation between slices and/or vertebral levels.

Related to [Forum post](http://forum.spi

[2020-04-28 13:55] valosekj opened #2678 "Generate interleaved DWI synthetic data"
We discussed that having of synthetic DWI data would be nice for performance testing of `sct_dmri_moco` with [-interleaved](https://github.com/neuropoly/spinalcordtoolbox/pull/2664) option.

Possible solution:
- take some existing DWI data acquired by NON-interleaved acquisition (e.g. [here](https://openneuro.org/datasets/ds001919/versions/1.0.4))?
- apply random TxTy slicewise shift with regulari

[2020-04-28 20:02] jcohenadad commented on #2678
I would go with pure synthetic dataset. E.g., create a multiple volumes with dummy segmentation (code [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/testing/create_test_data.py#L110)). This segmentation would be slightly modified (by modifying scalars to polynomial function defining the centerline)  factor changed) across volumes, as to simulate non-linear moti

[2020-04-29 21:07] cfhammill commented on #2439
I don't think we necessarily need to have automatic formatting, I think it's handy to help us get all our code up to standard, but after that we can leave compliance in the hands of the PR author and suggest using autopep8 or black if they have a big chunk of code out of compliance.

[2020-04-29 21:09] cfhammill commented on #1538
It might be worthwhile to add this to CI now or at least after a little progress has been made on #2439, but set it such that noncompliance is a warning, not a failure. We can change it to a failure once that wouldn't cause most PRs to fail.

[2020-04-30 12:18] valosekj commented on #2678
Thanks for feedback. I am digging into it.

[2020-04-30 16:43] bcdarwin opened #2680 "Remove extraneous dependencies"
Of the packages listed in `requirements.txt`, `xlrd`, `xlwt`, and `xlutils` are semi-deprecated in favour of `openpyxl` except for compatibility with very old Excel formats.  Of these, only `xlutils` appears in the codebase and only in one place, so at least the other two likely could be removed from the installation.

[2020-05-02 04:55] kousu opened #2683 "test_many_qc: json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
Found [by travis](https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/682023340), this is an intermittent bug. It happened on one of the scheduled trial [rebuilds](https://travis-ci.org/github/neuropoly/spinalcordtoolbox/builds/682023338) even though all the previous scheduled builds on the same branch/commit and even the other jobs in the same build passed.

[code]

My first guess, give

[2020-05-02 18:58] cfhammill commented on #2683
@kousu, did you restart the build, I can't see the fail anywhere. That being said I'm not super shocked. We recently removed a directory exists check: https://github.com/neuropoly/spinalcordtoolbox/pull/2628 to overcome a related issue. It might have been over optimistic to assume we could get away with this.

You mention you think it's a thread safety problem, do you mean in `multiprocessing` its

[2020-05-02 19:26] cfhammill commented on #2644
I tried 2nd order with no luck, there are at least 3 failures in that case. We could loosen the error norm requirement enough to make the WSL tests pass. I was worried that the test failure for # 7 was a bit large, but I now realize it's only an extra absolute error of ~0.65 voxels, which maybe isn't enough to worry about, especially given that at least one voxel has an absolute error of 2.26.

[2020-05-02 19:31] cfhammill commented on #2609
This shouldn't be necessary given https://github.com/neuropoly/spinalcordtoolbox/pull/2658

[2020-05-02 19:39] jcohenadad commented on #2609
@cfhammill you could add "fixes #2609" in your PR

[2020-05-02 19:41] jcohenadad commented on #2644
agreed!

indeed, no need to worry too much

[2020-05-02 21:01] cfhammill commented on #2539
I think the `-header` flag isn't descriptive enough. I would propose something like `-header-rescale` which takes either a single scalar or a n-tuple of scales. An analogous feature would be something like `-set-affine`, where the user could pass a single scalar, setting the affine matrix to `s * I` , a vector of scalars, which would be `diag(v)`, a full 4x4 affine matrix, or a path to a file to t

[2020-05-02 21:01] jcohenadad commented on #2588
Fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2671

[2020-05-02 21:01] #2588 closed

[2020-05-04 13:25] lrouhier opened #2687 "Pytorch version incompatible with pillow version"
The TorchVision package calls pillow. There is an issue of compatibility between the two packages depending on the version.
With PyTorch==1.2.0 & torchvision==0.4.0 and Pillow>=7 you get a systematic error as reported [here](https://github.com/pytorch/vision/issues/1712).
The error is the following.
`ImportError: cannot import name 'PILLOW_VERSION' from 'PIL'`

This is solvable by using a newer ve

[2020-05-04 13:26] #2687 closed

[2020-05-05 05:15] kousu commented on #2645
This is definitely because of using zipfiles. We should use .tar.gz's instead. That's what `binaries_debian` and `binaries_osx` do :)

[2020-05-05 10:35] kousu commented on #2675
This might have already happened without us! https://api.travis-ci.org/v3/job/683313090/log.txt:

[code]

This also happens on old Ubuntu/Debian: #2523

[2020-05-05 10:37] kousu commented on #2600
Seeing the same issue with Tensorflow 1.5 on centos6: https://github.com/neuropoly/spinalcordtoolbox/issues/2675#issuecomment-623978583

[2020-05-05 11:03] kousu opened #2691 "CI for Windows Subsystem for Linux"
Following #2313 and given that @cfhammill has been working on getting us fully working on Windows 10 -- via WSL -- we should add WSL to Travis.

[2020-05-05 11:17] kousu opened #2692 "CI for MacOS Catalina"
As in #2313 and #2691 , we should be testing macOS Catalina (10.15) in CI. Travis doesn't support it as of this writing, but when it does we should turn it on.

[2020-05-05 11:19] kousu commented on #2692
This could be done with Github Actions; but on the flipside Github Actions *only* supports `macos-latest` -- so, currently, 10.15 -- and nothing else.

But that reflect's Apple's policy of aggressively forcing updates on their users. Maybe it's not unreasonable for us to follow that, and *instead* of testing 10.12, 10.13, 10.14, **only* test 10.15.

[2020-05-05 15:53] jcohenadad commented on #2692
Hum... the reality is that many of our users do not follow Apple's policy so i would be inclined to continue testing for "old" releases

[2020-05-05 15:56] jcohenadad commented on #2675
Ok let's just drop centos6

[2020-05-05 19:23] jcohenadad commented on #2675
If you could please update the README about OSs that are supported

[2020-05-06 16:06] alexfoias opened #2693 "DISPLAY variable is set....................[FAIL]"
I installed the most recent version on osx 10.15.4 (19E287).
I get an error message when running `sct_check_dependencies`.

[code]

[2020-05-06 17:38] alexfoias commented on #2693
Doing `echo 'export DISPLAY=127.0.0.1:0.0' >> .zshrc` similar to suggested [here](https://github.com/neuropoly/spinalcordtoolbox/wiki/SCT-on-Windows-10:-Installation-instruction-for-SCT-on-Windows-subsytem-for-linux#environment-preparation) seems to fix the problem.

[2020-05-06 18:01] alexfoias commented on #2693
Maybe we could include the line :

`echo "export DISPLAY=127.0.0.1:0.0" >>$RC_FILE_PATH`

after this line:
https://github.com/neuropoly/spinalcordtoolbox/blob/ca79993a6bbb6c221a3054bf197658af9e258005/install_sct#L254

and this line:
https://github.com/neuropoly/spinalcordtoolbox/blob/ca79993a6bbb6c221a3054bf197658af9e258005/install_sct#L257

@jcohenadad what do you think ?

[2020-05-06 19:05] jcohenadad commented on #2693
i wouldn't enforce this global variable on the user's home env.

what happens if you try to run (without making the change you suggested, make sure to restart a new terminal to clean up your env variables):
[code]
Do you see a PyQt window that pops up?

[2020-05-06 19:14] alexfoias commented on #2693
I did the changes and cleaned up the env vars

The PyQt window pops up correctly.

[2020-05-06 19:40] jcohenadad commented on #2693
ok, so it's only a problem with the DISPLAY variable which is somehow not defined on the zsh 10.15 OSX. @kousu @saulo-p @cfhammill @bcdarwin any idea how we could check if users can open a figure? Some background about the "DISPLAY variable check" here: https://github.com/neuropoly/spinalcordtoolbox/pull/2522

[2020-05-08 22:04] jcohenadad opened #2695 "Populate deepseg models and fill metadata fields"
After introducing #2639, models need to be created with appropriate json metadata, notably the field `threshold` needs to be adjusted for each model.

[2020-05-08 22:05] jcohenadad opened #2696 "Documentation for creating new models"
After introducing #2639, we should document how to train new models and how to upload them to be used within SCT.

[2020-05-08 22:14] jcohenadad opened #2697 "Update multi-subject processing documentation"
After https://github.com/neuropoly/spinalcordtoolbox/pull/2658, we should update the SCT course material and example dataset.

[2020-05-08 22:25] alexfoias commented on #2697
I can take care of this.

[2020-05-09 00:09] cfhammill commented on #2697
Thanks @alexfoias, let me know if you have any questions about the new script.

[2020-05-09 00:35] #2609 closed

[2020-05-09 00:49] #2655 closed

[2020-05-09 01:01] cfhammill commented on #2691
The work is being done by @lrouhier, I just noticed some numerical instability. At any rate, windows is in beta at the moment https://docs.travis-ci.com/user/reference/windows/, the installed package lists WSL, but I have no idea what that means. The default shell is git-bash, with the chocolatey package manager providing a very minimal package set. Not sure how to open a WSL subshell, and what di

[2020-05-09 03:40] kousu commented on #2683
I think Travis did, because it's marked "cron"! I wish Travis wouldn't overwrite old build logs like that; that's why I attached the log above.

I know `multiprocessing` isn't technically threading but that's the only reason I could see this happening. One process writing a file too slowly for another to read is just like one thread writing too slowly to a shared value.

[2020-05-09 21:40] cfhammill commented on #2683
Fair enough, I think I'll wait to see this again before investing too much time reproducing.

[2020-05-10 01:08] #2675 closed

[2020-05-11 14:37] kousu commented on #2693
`$DISPLAY` is a Linux-specific thing. OS X doesn't use X Windows (unless you go far out of your way) so it doesn't have this defined.

But looking through some CI logs, I see that OS X generally [has this defined](https://api.travis-ci.org/v3/job/685530762/log.txt)

[code]

while [Linux does not](https://api.travis-ci.org/v3/job/685530759/log.txt)

[code]

It *shouldn't* be defined in CI, because

[2020-05-11 14:45] alexfoias commented on #2693
maybe it will help, I'm running **osx 10.15.4 (19E287)** with **zsh 5.7.1 (x86_64-apple-darwin19.0)**.

[2020-05-11 14:55] kousu commented on #2693
Great. I have a copy of that available too so I will be able to look at this closer. It's lower down on my priorities right now though.

[2020-05-11 14:58] kousu opened #2702 "Verify `coverage` is producing useful information"
During #2690 I realized that the `coverage` call in Travis seems to run but doesn't produce any artifacts we can inspect. I want to verify what it's producing and maybe output them somewhere.

(this is mostly a note to myself as a new dev here; I'm sure this is working as intended, I just don't know what intent that is or if we're paying attention to it still)

[2020-05-11 15:58] alexfoias opened #2703 "Generate QC feature for disc labeling"
The idea is to implement QC feature for disc labeling based on [sct_qc.py](https://github.com/neuropoly/spinalcordtoolbox/blob/4c2aca38d2536e202d58b9be646652a0f4280b6a/scripts/sct_qc.py) and [qc.py](https://github.com/neuropoly/spinalcordtoolbox/blob/637d0f2a0ff476389257309a69adc64cad36926c/spinalcordtoolbox/reports/qc.py).

[2020-05-11 17:04] kousu commented on #2683
Here's another case: https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/685735623 from https://travis-ci.org/github/neuropoly/spinalcordtoolbox/builds/685735618:

![Screenshot_2020-05-11 Build #13102 - neuropoly spinalcordtoolbox - Travis CI](https://user-images.githubusercontent.com/987487/81589852-e29c8d00-9387-11ea-81d5-112213a4052c.png)

archive of the [log.txt](https://github.com/n

[2020-05-11 17:14] jcohenadad commented on #2703
great! We need to be aware of the potential overlap with the already-existing QC for vertebral labeling. I guess we should see this QC as an intermediate step for `sct_label_vertebrae`, or as a specific test for the soon-to-come disc detection module #2679

[2020-05-11 18:01] lrouhier commented on #2691
This [link](https://docs.microsoft.com/en-us/windows/wsl/install-manual) gives you the official command-line installation for the various Linux distros available in WSL. I gave the users instructions for installing Ubuntu 18.04 LTS.  I don't know if travis will open a PowerShell or directly the ubuntu 'VM'...

[2020-05-11 18:08] lrouhier commented on #2703
This is a great idea. I think the issue with the current QC is that it is using the labeled segmentation so you get a good idea of the IS position of each disc but you don't have information about the A-P position.
I see two problems with it which is the position of the label:
- as we predict on the straighten image all labels are not seen on the medium slice because of the application of the inve

[2020-05-11 18:37] jcohenadad commented on #2703
did you mean the "medial" slice (i.e. middle slice in the RL direction)? if that's what you meant, then we can simply project labels in the RL direction on the displayed sagittal slice in the QC report

not a problem, the coordinate is used to create a Qt object (could be a bit dot with size 10 for example). We would also add the label name next to it, as already done for the QC vertebral labeling

[2020-05-11 18:40] lrouhier commented on #2703
Sorry, yes I meant the medial slice.

You mean something like we can see in `sct_label_utils` with the `-create-viewer` option?

[2020-05-11 18:43] jcohenadad commented on #2703
yes exactly

[2020-05-11 21:27] kousu opened #2705 "Ban large files"
Since we work with large medical images and trained models it is easy to accidentally commit large files, which then slows down CI and everyone else working on this repo.

I know of these strategies:

1. Github Enterprise has [a feature](https://help.github.com/en/enterprise/2.19/admin/installation/setting-git-push-limits) for this.
1. We could use a git pre-commit hook.
2. We could add a check to

[2020-05-11 21:43] kousu commented on #2705
GitHub Enterprise is out because we're not a paying customer.

Git hooks are out, IMO, because they need to be manually installed by *everyone* on *every* machine they're working on.

Adding a check to CI is the only possibility I can think of. This isn't ideal because we're using a shared repo (instead of keeping separate personal forks) so once a problem file hits CI it's already in the repo and

[2020-05-11 21:51] kousu commented on #2674
I turned off `travis-ci/pr` and builds have been faster since then.

[2020-05-12 01:23] #2313 closed

[2020-05-12 05:14] kousu commented on #2702
:/ ?

https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/685957339

[2020-05-12 19:46] jcohenadad opened #2707 "Add a method to compute the spinal cord volume"
Several users are asking for a feature to compute spinal cord volume. We could easily implement that in `sct_process_segmentation`.

User posts:
- http://forum.spinalcordmri.org/t/t1-contrast-brain-image-error-output/395/4
- http://forum.spinalcordmri.org/t/get-spinal-cord-volume/152

[2020-05-12 19:51] jcohenadad opened #2708 "Problem creating launchers"
Getting this error while reinstalling SCT from my local master branch:
[code]

<details><summary>Full output</summary>

[code]

</details>

There are probably some legacy files that i should clean up locally, but i'm posting that here in case there is something we could improve in our dev workflow.

[2020-05-12 19:56] jcohenadad commented on #2708
Indeed, this issue is caused by `sct_run_batch` being previously a symlink (and not being erased during installation):
[code]
Deleting it and re-running SCT install does fix things.

Should we just remove the `bin/` folder before creating launchers for Python scripts to prevent that from happening in the future?

[2020-05-13 16:04] #2576 closed

[2020-05-13 18:57] saulo-p commented on #2150
I checked all `fixtures` in the tests and no occurrences of fixtures being called as functions exist anymore.
Some potentially troublesome instances were handled in commit 9f6d2d2c817fde3a692a94d8403dd9c2ecf0ba2e.

I think this issue can be closed.

[2020-05-13 18:59] #2150 closed

[2020-05-13 22:56] cfhammill commented on #2683
Darn, ok I can see if I can resolve it

[2020-05-13 23:26] cfhammill commented on #2683
I can't reproduce on my machine (100+ runs, using a my HDD instead of my SSD in case drive speed mattered, and upping the pool size to increase the risk of hitting this). So I may need to debug blind. The error occurs at

https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/qc.py#L481

The JSON is dumped to a file in the QC directory, and then that file and any othe

[2020-05-14 01:28] #2678 closed

[2020-05-14 19:06] #2586 closed

[2020-05-15 15:55] kousu commented on #2415
The advantage to the current approach is that we have some redundancy.

We could also make a Github project for each binary/data package we need and use Github Releases as our CDN. Github is less blocked around the world than what we're using now.

I think we can probably eventually package everything -- the data, the binaries -- as python packages, and then we can trust in PyPI's CDN and there's

[2020-05-15 16:08] lrouhier opened #2712 "Torch-cpu installation in Spinal cord Toolbox"
Following issue [208](https://github.com/neuropoly/ivado-medical-imaging/issues/208) from Ivadomed.
The pytorch-cpu installation is OS-specific due to a lack of availability of CUDA package for OSx.

One solution could be to add :
[code]
[here](https://github.com/neuropoly/spinalcordtoolbox/blob/f80551b61639f46e93760dc8329dba74aad24559/install_sct#L533)

But I am not sure if this is the best solut

[2020-05-15 16:11] jcohenadad commented on #2415
i'm not sure i understand where physically the data/binary would be, and how we would maintain them.

[2020-05-15 16:20] kousu commented on #2415
https://pypi.org/sponsors/

So, files get uploaded to PyPI's core mirrors and are stored there -- probably in the US? When a request comes in for a user via Fastly it hits Fastly's servers, which are [scattered around the world](https://www.fastly.com/network-map), and if those servers have that file cached they return it, if not they go talk to PyPI's core mirror first, download it, then relay it

[2020-05-15 16:40] kousu commented on #2415
I just did some experiments and found that Github has a CDN too. Here in Canada, Github serves from `lb-*-iad.github.com` (eg `lb-140-82-114-4-iad.github.com`); from Germany, it serves from `lb-*-ams.github`.com` (eg `lb-140-82-118-4-ams.github.com`). "iad" is somewhere in the US according to [MaxMind](https://www.maxmind.com/en/geoip-demo), and "ams" is short for Amsterdam -- Amsterdam has become

[2020-05-15 18:00] lrouhier commented on #2712
@kousu do you have an opinion?

[2020-05-15 19:44] zougloub commented on #2415
Putting it on github on the other hand, I don't see a problem with that. If anything it's improving traceability at the same time.

[2020-05-16 05:19] kousu commented on #2415
Why not? What have you run into with it?

---

And it's not arbitrary data, it's key software components of the project. Even the neural network models are just compiled binaries for an unusual processor architecture by another name.

[2020-05-16 06:32] kousu commented on #2712
:sob: I'll look at this tomorrow.

[2020-05-16 13:15] zgm0407 opened #2713 "sct_process_segmentation producing incorrect line connections in QC figures"
Hi, thanks for reporting an issue, please take some time to consider the applicable guidelines:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#reporting-a-bug-or-requesting-a-feature
(about how to suitably describe issues or requests) prior to deleting this blurb when about to submit the issue.

### Description
![2020-05-16 21-06-32屏幕截图](https://user-images.githubuserc

[2020-05-16 13:30] jcohenadad commented on #2713
Wow! This is definitely a bug. @zgm0407 could you please upload your t2_seg.nii.gz image so I can try to reproduce. You can drag and drop.

[2020-05-16 18:54] jcohenadad opened #2714 "Add testing for sct_deepseg"
After https://github.com/neuropoly/spinalcordtoolbox/pull/2639 is merged, we should implement testing.

Testing will download all models and integrity test (i.e. check for broken compatibility, proper output, etc.)

[2020-05-16 20:31] kousu commented on #2712
I think this should do it:

https://www.python.org/dev/peps/pep-0508/#environment-markers:

[code]

[2020-05-16 20:45] kousu commented on #2712
Tangentially, `requirements.txt` has support for optional dependencies. They call them [extras](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) and we're using them in our own requirements.txt:

[code]

What this means is that installing urllib3 will also install the dependencies it needs to use HTTPS. I assume (but would

[2020-05-16 20:49] kousu commented on #2712
@jcohenadad Adding Torch is a pretty heavy change so I want to do a separate PR for this and merge it, then have you merge it into #2639.

It would:

- add the lines above to `requirements.txt`
- fix `sct_check_dependencies` to at least deal with the new format

[2020-05-17 06:49] zgm0407 commented on #2713
[
[t2_seg.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/4639779/t2_seg.nii.gz)
](url)

[2020-05-17 06:56] zgm0407 commented on #2713
[t2_seg_labeled.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/4639784/t2_seg_labeled.nii.gz)
[t2_labels_vert.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/4639789/t2_labels_vert.nii.gz)

[2020-05-17 10:25] kousu commented on #2712
@jcohenadad I've done it. I am being lazy and testing OS X in CI. I'm pretty sure it is going to work though. It needs some review -- in particular I fiddled with the `sct_check_dependencies` scanning logic because I though I found a bug, but maybe I just misread it entirely and there's a good reason it was doing what it was doing.

[2020-05-18 15:56] jcohenadad opened #2716 "Make it possible to aggregate metrics using length along cord centerline"
Current, `aggregate_metrics()` can compute metrics statistics across axial slice or across vertebral levels (assuming vertebral labeling was run). Another useful feature, requested [here](http://forum.spinalcordmri.org/t/t1-contrast-brain-image-error-output/395/13?u=jcohenadad), would be to compute statistics across a specified length along the cord centerline, starting at a specified point, e.g.

[2020-05-18 16:58] jcohenadad commented on #2695
As discussed [here](https://github.com/neuropoly/ivado-medical-imaging/issues/193#issuecomment-613737279), a proposed solution is to separate json files depending on the task: inference, training, etc.

[2020-05-18 17:00] jcohenadad commented on #2714
Testing will also include check of inference fields (threshold, etc.), after #2695 is solved.

[2020-05-18 20:28] jcohenadad opened #2717 "Reorganize the way deepseg_sc works"
According to [this comment](https://github.com/neuropoly/spinalcordtoolbox/pull/2639#discussion_r426245010)

[2020-05-18 21:15] jcohenadad commented on #2713
@zgm0407 thank you for the images, I can reproduce the bug using the following command:
[code]

[2020-05-19 08:37] kousu opened #2719 "Disable `download()` progress bar in CI"
Like, #2709, [`download()`](https://github.com/neuropoly/spinalcordtoolbox/blob/fcf2c9d29277ed85c70f9a9f7941922e104d997b/install_sct#L255) is noisy. This is good for interactive use but in CI it's a nuisance and uses up our 4MB logfile quota. We should figure out how to turn it off, but only for CI.

curl and wget don't seem to have any handy environment variables we can lean on here. Maybe set an

[2020-05-19 08:43] #2644 closed

[2020-05-19 20:09] valosekj opened #2720 "sct_dmri_moco returns negative output intensity"
When run `sct_dmri_moco` on some dataset, output volume after moco has negative min intensity:

[code]

It is not probably factual problem which would influence output image but when compare original and corrected images e.g. in FSLeyes, it is necessary to set min intensity value to zero to have same intensity scaling between these two images. Maybe, we could consider thresholding of output image.

[2020-05-19 20:19] alexfoias commented on #2703
@jcohenadad so the idea is to add the process`sct_label_utils` in sagittal slice in  [sct_qc.py](https://github.com/neuropoly/spinalcordtoolbox/blob/4c2aca38d2536e202d58b9be646652a0f4280b6a/scripts/sct_qc.py) and [qc.py](https://github.com/neuropoly/spinalcordtoolbox/blob/637d0f2a0ff476389257309a69adc64cad36926c/spinalcordtoolbox/reports/qc.py) that would be rendered in the QC report ?

[2020-05-19 20:41] jcohenadad commented on #2703
No. The idea is to display the disc labels, similarly to label_vertebral qc

[2020-05-20 00:33] jcohenadad commented on #2720
Negative intensity is not a bug, and is expected from the (default) spline interpolation. To avoid negative values, you could use linear (or NN) interpolation. So nothing to worry about here.

[2020-05-20 00:33] #2720 closed

[2020-05-20 01:25] jcohenadad opened #2721 "cp: not writing through dangling symlink"
Trying to install SCT master 8ba2c023d858351622c342187859e6673e7a858c and getting the following error message:

[code]

<details><summary>Full output</summary>

[code]

</details>

[2020-05-20 01:47] jcohenadad commented on #2721
ah! this was caused by a legacy symlink `bin/sct_run_batch --> scripts/sct_run_batch.sh`. Doing an `rm -rf bin/` within SCT's folder fixed.

why don't we simply remove SCT's bin folder upon installation? Is it too risky to remove a folder called "bin/" (e.g., in case `$SCT_DIR=None` when running `rm -rf $SCT_DIR/bin`)

[2020-05-21 00:38] cfhammill commented on #2713
So I think this one is just an ordering bug, the dots appear to be connected in an order that doesn't match the slice index. All the points are in the right place, but the connecting lines are wrong.

I recreated the CSA figure by reading in the csv and plotting:

![image](https://user-images.githubusercontent.com/7467038/82510823-949b2e00-9ad9-11ea-995d-b7b17ba166be.png)

so I'm going to investig

[2020-05-21 00:49] jcohenadad commented on #2713
that makes sense, thank you @cfhammill

@zgm0407 unrelated to this bug: the relatively thick slices (3.3mm) makes the segmentation and output CSA unreliable (e.g. abnormally small cord around slices 220). I would strongly suggest you resample your input image to an isotropic resolution (e.g. 0.7mm iso) before running the segmentation and then process seg. You could do it with the following command

[2020-05-21 01:01] cfhammill commented on #2713
Sorting the lists into arrays by z coordinate appears to resolve the problem:

![image](https://user-images.githubusercontent.com/7467038/82512045-eee9be00-9adc-11ea-9c18-8c48f9feeeab.png)

Are we ok with this solution or should I try to dig in to why the lists are getting out of order in the first place?

[2020-05-21 01:06] jcohenadad commented on #2713
i'm quite confident, so you can go ahead with a PR. Thanks!

[2020-05-21 15:54] zgm0407 commented on #2713
amazing!thanks a lot.

[2020-05-21 20:46] jcohenadad commented on #734
SCT version is now indicated at the beginning of each script

[2020-05-21 20:46] #734 closed

[2020-05-21 22:22] #2498 closed

[2020-05-22 02:00] jcohenadad opened #2724 "Disable progress bar when running sct_run_batch"
When running `sct_run_batch`, log files are created and include pollution from progress bars, example below:
[code]

It would be nice to disable progress bars when running this script.

[2020-05-22 14:38] #2691 closed

[2020-05-22 20:02] jcohenadad opened #2725 "AssertionError thrown when processing multiple subjects in parallel"
SCT Version: jca/947-new-ants-binaries-c1259598f01139eeb1d129a5baea50697f491010
Station: `joplin` (internal)
Syntax:
[code]

Error:
[code]

<details><summary>Full output</summary>

[code]

</details>

I suspect this might be cause by a RAM saturation. Will do further tests.

[2020-05-22 20:05] jcohenadad opened #2726 "Few improvements on sct_run_batch"
The following features would be nice:
- display header when running the command, as done in other SCT functions:
[code]
- Create log file, which will include:
  - command ran
  - runtime
  - terminal output
- Send email once command has terminated (with output status)

[2020-05-22 20:13] #947 closed

[2020-05-22 22:02] #2160 closed

[2020-05-22 22:02] #2626 closed

[2020-05-22 22:05] jcohenadad opened #2727 "Clarify usage for sct_maths -dilate/erode"
When using a 2D kernel for morphomaths operations, the dim flag is expected. If it is not specified, the function crashes miserably without clear description:
[code]

A suggestion would be to clarify the usage and also to add a check in the CLI.

[2020-05-22 23:39] #2712 closed

[2020-05-23 00:37] #2713 closed

[2020-05-23 00:39] cfhammill commented on #2724
@jcohenadad, what script were you running that generated the progress bars? I'll try to track down what commands are creating them and see if they can be disabled globally. Hopefully it can be disabled with an environment variable, otherwise it may be up to the individual script's author.

[2020-05-23 01:01] jcohenadad commented on #2724
Quite a lot of scripts are involved. I can think of straighten_spinalcord, deepseg_gm. They all use tqdm. Indeed, having a global config solution would be awesome.

[2020-05-23 01:10] cfhammill commented on #2726
Great ideas.

- added `sct_init()` at the top of the script
- in the process of adding the email feature.
- I'm a bit uncertain of the log file. I can definitely print either the full command string or just the task file. Do we want to add an extra flag for a general log when the user can run
[code]
   or
[code]

[2020-05-23 01:17] jcohenadad commented on #2726
i like the idea of an extra flag (many users are not familiar with `tee`)

[2020-05-23 01:22] kousu commented on #2724
It'll probably need to be done by adding an environment variable per script! For pip there was PIP_PROGRESS_BAR=off, for example.

I want to do this for install_sct's download() as well.
--
kousu

[2020-05-23 01:25] cfhammill commented on #2726
Fair enough, pretty easy to add.

[2020-05-23 01:51] cfhammill commented on #2724
Proposal: Add `sct_progress_bar` to `utils.py` which is a thin wrapper around `tqdm`, the wrapper will check the environment variable `SCT_PROGRESS_BAR`, if it is set to `off`, `no`, or `false` it will disable the progress bars. `sct_run_batch.py` will internally set this to `off`.

[2020-05-23 02:07] cfhammill opened #2728 "send_email not working in sct_utils.py"
[code]

The `email` module appears to have been refactored, changing the location of some of the imports

[code]

[2020-05-23 02:10] jcohenadad commented on #2728
i suggest we also move `send_email()` to `utils.py`

[2020-05-23 02:45] cfhammill commented on #2726
So I tried using `apprise` to send myself a gmail email, and it didn't work, it told me I needed to enable "less secure" app permissions for my account. I wasn't sure if I needed that to use smtp directly so I fixed up the `send_email` code but unfortunately that required the same thing. I can see an argument with sticking to the old smtp code, it doesn't require the user to learn the `apprise` sy

[2020-05-23 16:43] jcohenadad commented on #2726
I don’t feel strongly about a lot of things (including this ;-) )

[2020-05-23 19:43] jcohenadad opened #2730 "Deprecate sct_pipeline"
It has been replaced by `sct_run_batch`. There is no point in maintaining `sct_pipeline`.

[2020-05-23 20:12] jcohenadad commented on #2726
Another feature that would be nice (i just happen to need it right now): have the possibility to include a list of subjects to include/exclude. This is similar to the `-include` flag, but this flag currently does a regex filtering. In some cases it is not possible, and just listing subjects would be a good alternative.

so, one way to do it, in order to avoid adding flags (could be confusing), wou

[2020-05-24 18:25] cfhammill commented on #2726
Ok, I think I'm going to use `apprise` for notifications. It's a bit more complicated, but being able to do sms notifications was something I thought would be useful anyway. I'll need to think about how to ensure people aren't leaving passwords/tokens in their `.bash_history` and in the program logs.

For subject inclusion and exclusion lists, I guess collapsing the subject list to an exact matchi

[2020-05-24 19:00] jcohenadad commented on #2726
cool, so what do you think would be a good approach? replacing the current regex feature by a list of subjects (separated by space)? We would need to be able to input a shell variable (e.g. `(sub1 sub2 sub3)`, so users can batch their processing. Also, i guess it would be compatible with a `config.json` approach (i.e. in the json file, there would be a field for "include", that would take a bracke

[2020-05-24 19:37] cfhammill commented on #2726
I've already added a proposal for the inclusion and exclusion, I'll push the commit so we can discuss, but in brief I added two more ways to do inclusion/exclusion. So now we'd have:

1. `-include`, the regex version
2. `-include-list`, space separated list of subjects
3. `-include-file`, a single text file with one line per subject.

It's a bit more repetitive than trying to guess on the command

[2020-05-24 19:54] jcohenadad commented on #2726
i would leave that one out, (same for the sister "-exclude-file"), because the config.json will do the job, right?

[2020-05-24 20:11] cfhammill commented on #2726
If users are going to use the config file then yes. I'll remove those arguments

[2020-05-25 17:24] alexfoias commented on #2703
Opened branch here: https://github.com/neuropoly/spinalcordtoolbox/tree/af/qc_label

[2020-05-26 01:18] kousu commented on #2683
Another example: https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/690662247

[log.txt](https://github.com/neuropoly/spinalcordtoolbox/files/4679422/log.txt)

[2020-05-26 01:23] kousu commented on #2683
Wow. 100+ tries. Thanks for grinding through that. I'm sorry it didn't produce any helpful information.

Thanks, I'll look at it! Sorry this fell off my radar.

[2020-05-26 02:30] kousu commented on #2683
I figured out how to reproduce it!

It's crashing when the reader is faster than the writer (specifically, the reader from *one of* the many generate_qc() processes starts reading the .json that a different generate_qc() process is in the middle of json.dumps()'ing). So I intentionally slowed down that part:

[code]

with this patch, I get the error every time

<details><summary>log</summary>

[co

[2020-05-26 04:24] kousu commented on #2683
I'm glad we fixed this! I was all proud of #2731 though worried that I couldn't properly test it until the nightly build kicked in, but still pretty confident about it, but and then I got an email saying I broke the build.

But I didn't, it was just this bug again.

[2020-05-27 15:58] lrouhier opened #2737 "Gather detection function under a single CLI"
The sct_label_vertebrae PR adds object detection models and a CLI to call the model. The idea would be to use a single CLI that load the model and perform the inference the same way sct_deepseg works now.
sct_detect_pmj could be integrated into this new CLI.

[2020-05-27 18:39] lrouhier commented on #2737
This sct_detect CLI could also call a 'detect' script from ivadomed (which would need to be implemented) so that we keep the repartition made with sct_deepseg.
It could benefits from a folder in `__sct_data_dir__` (something like detect_model).

[2020-06-03 20:26] Drulex commented on #2680
I am in favor with the idea of migrating the 3 deprecated/in-process-of-deprecation packages mentioned above (see https://groups.google.com/forum/#!msg/python-excel/P6TjJgFVjMI/g8d0eWxTBQAJ) in favor of `openpyxl`. I took a quick look at the code and noticed the following:

1. None of them are actually used in the code base (@bcdarwin had mentioned that `xlutils` was used somewhere, is this still

[2020-06-03 21:08] jcohenadad commented on #2680
sounds good to me!

[2020-06-04 14:43] Drulex commented on #257
If this is still relevant I could look at it @jcohenadad.

[2020-06-04 16:00] Drulex commented on #2594
Looks like there is a good chunk of improvements that can be made to the plugin. Will tackle this.

[2020-06-04 17:43] jcohenadad commented on #257
i don't have strong opinions on how we should tackle this issue:
- having a specific CLI (like sct_update): a big cons, is that people will never use it, so it will be useless
- another approach (which i prefer), would be to check for existing update everyday at the first launch of any SCT function (e.g. we could know it has already been launched during a day by updating a local config file).

oth

[2020-06-04 18:15] zougloub commented on #257
IMHO automatic update checking should be optional (opt-in or opt-out), like the crash reporting feature (I haven't checked the Sentry stats in a long time...), then the CLI can still be used.

One can still get the logic bits done (check github releases for stuff above the current version, provide download link, ...)

[2020-06-04 18:28] Drulex commented on #257
Ok assuming we do automatic update checking: should the user be involved in the update process (I am talking downloading/installing stuff) or should he simply click a button and wait?

If everything is automated it increases the complexity as we will probably want the update mechanism to be robust, roll-back to the initial state in case of failure, etc.

Otherwise if it's just a notification mecha

[2020-06-04 18:56] saulo-p commented on #2607
I could not replicate the issue with the parameters above.
From the history, the commit that I referenced above seems to have fixed the edge case (I checked out to the previous commit and then I was able to replicate).

@jcohenadad  I did not understand if your **Possible solution** suggests that more entries need to be added to the respective `info_labels.txt`, but as far as the bug is concerned,

[2020-06-04 19:23] Drulex commented on #2594
I noticed that `sct_plugin.py` is not an actual `FSLeyes` plugin, but instead a runtime script that can be executed by `FSLeyes`. Do we want to migrate to code to an actual plugin structure (https://users.fmrib.ox.ac.uk/~paulmc/fsleyes/userdoc/latest/plugins.html#for-developers) ?

[2020-06-04 19:30] jcohenadad commented on #2594
yup! sorry for the confusing title (now fixed)

good question. I see pros/cons. We have another project (AxonDeepSeg), for which we created an actual FSLeyes plugin, and I found some issues with the plugin features. Notably:
- when fsleyes is installed within a venv and we install a plugin in it, fsleyes will write under the `~/.fsleyes` unique folder. Meaning: if people have *another* fsleyes sof

[2020-06-04 19:54] Drulex commented on #2594
Both issues mentioned above seem like shortcomings of `FSLeyes` in my opinion. We could submit issues to the project.

Technically speaking I don't see any value added  to refactor into a plugin since you have something that works and does what you need it to do. Moving to a plugin architecture, although it may be architecturally cleaner, will introduce the complications mentioned above.

The only

[2020-06-05 01:04] #2728 closed

[2020-06-08 22:06] Drulex commented on #2594
Below is a breakdown of some of the TODOs currently in the code and associated comments/questions:

Ok, but is this something useful if the user doesn't event have control over what input arguments are passed? Right now it looks like he can only select some input parameters (e.g contrast) and press `run`. Showing him that the number of input params is wrong is not useful for the user, instead I pr

[2020-06-09 14:47] jcohenadad commented on #2594
agreed-- we could remove this todo

IIRC this is a suggestion for adding a keyboard shortcut (e.g. CTRL+R) for running the script. Definitely not a priority.

👍

👍

👍

i have no idea, but please take the liberty to explore further if you see potential improvements.

yes! that would be awesome indeed.

hum, i see. So you think there are strong pros for making it a plugin (as opposed to a script), d

[2020-06-09 14:59] Drulex commented on #2594
Ok got it will add the improvements mentioned above.

[2020-06-11 15:25] #2680 closed

[2020-06-11 19:44] Drulex opened #2742 "API documentation: internal vs external code"
I am in the process of working on API improvements for the project. To get familiar with the API I decided to revive the RTD API documentation and update it.

I noticed that some API modules have multiple files, sometimes with similar names (for example `core.py`) and I was wondering if there is some type of convention to separate internal code vs external code.

I understand that everything calle

[2020-06-11 19:54] jcohenadad commented on #2742
I *think* that everything under `/spinalcordtoolbox` can be exposed in the API documentation. Some related thoughts:
- Some methods names use prefix `_` to explicitly tag them as private (i think this is python's convention), so these might not need to be exposed, but AFAIR sphinx can be configured to ignore those;
- Re: files `core.py`: we started off this convention, as a way to refer to the "ma

[2020-06-11 19:56] jcohenadad commented on #1656
@Drulex @kousu  do you have any opinion on the RTD vs. Github pages debate?

[2020-06-12 02:13] charleygros opened #2744 "sct_deepseg: implement compatibility with 2-steps pipeline"
### Current workflow:
[code]
1. Get model's path (already installed or download it): [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg.py#L143). Models being listed [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg/models.py#L20).
2. Call `segment_nifti` [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/s

[2020-06-12 12:31] Drulex commented on #2742
:+1: Looks like this is the default behavior.

Personally I don't think that having the "main" or "public" functions of an API in a `core.py` file is a bad practice in itself. What I think is important is that the submodule code is organized in a logical and intuitive way.

For example, as an external developer wanting to use the `sct` API for segmentation I would expect to write something like th

[2020-06-12 15:25] Drulex commented on #1656
No prior experience or preference. If the features are similar I would go with the simpler solution to deploy.

[2020-06-12 15:44] jcohenadad commented on #1656
github is simpler (all integrated) and faster, but RTD makes it easy to build specific branch (which is good if we want to have a preview before merging to master)

[2020-06-12 15:48] Drulex commented on #1656
We could also do both (if not too much work) and see!

[2020-06-12 16:23] jcohenadad commented on #2744
@charleygros i've slightly rewritten your text above as I understood it, please let me know if I misinterpreted.

In general, I am aligned with your suggestion. I just have a couple of minor comments:

**About model installations**
Given that we might have multiple tasks that will use the same model (e.g.: lesion segmentation relies on [segment cord, segment lesion], tumor segmentation relies on [

[2020-06-12 21:43] jcohenadad opened #2745 "Using requirements-freeze should be platform-specific"
While trying to create a new release (4.3), i noticed that the (now) extensive cross-platform testing was crashing when using a requirement-freeze file, because the latter was created on a single platform (ubuntu 18.04), and our requirement currently includes platform-specific packages, such as [pytorch](https://github.com/neuropoly/spinalcordtoolbox/blob/master/requirements.txt#L26). So we need t

[2020-06-12 22:35] Drulex commented on #2745
I believe it has to do with `requirements-freeze.txt` not having the platform specific checks as `requirements.txt` does.

I can get around the issue by adding the platform checks:
[code]

[2020-06-12 23:52] jcohenadad commented on #2745
That makes sense. The problem is the way we generate the requirements-freeze: it is done manually on one platform. Is there a way we can automatize the generation of this file for the preparation of each new release?

[2020-06-13 00:05] charleygros commented on #2744
Something I forgot to mention: the addition of a parameter to `sct_deepseg` where we could provide a `fname_roi`in case the first step fails.

[2020-06-13 00:16] charleygros commented on #2744
I would agree for the lesion-case but not too sure for the tumour-case as the two-steps have been optimised / designed and trained together.

For the tumor: the segment_sc model is likely to perform poorly on tumor data --> a specific model is needed.

For the MS lesions: the segment_sc is fine.

At the end, I think the structure could look like this:
[code]

For the tumor: (1) `tumor/detect_sc/`,

[2020-06-13 01:20] jcohenadad commented on #2744
@charleygros, what i wrote [here](https://github.com/neuropoly/spinalcordtoolbox/issues/2744#issuecomment-643365707) was just an illustration of the concept, not an actual suggestion for the specific tasks of lesion/tumor segmentation. I should have called them "task 1" and "task 2".

my suggestion was that, after 2 years we might end up with 35 tasks, and some of these tasks will share some model

[2020-06-13 01:30] charleygros commented on #2744
Oh! My bad..
Yes 100.17% agree!

[2020-06-15 12:45] Drulex commented on #2745
To my knowledge, if you have custom stuff in the `requirements.txt` (such as the custom urls and platform checks) I think these need to be merged manually into the generated `requirements-freeze.txt` (unless you have one `requirements-freeze.txt` per platform).

We could add this step to the pre-release checklist.

[2020-06-15 14:39] jcohenadad commented on #2745
ok i've added those in 9ea4c9b3a6a0c0aab75b45bfbf060820cf0f2ce4, let's wait for travis

[2020-06-15 15:41] jcohenadad commented on #2745
looking good now: https://travis-ci.org/github/neuropoly/spinalcordtoolbox/builds/698564142

[2020-06-15 15:43] jcohenadad commented on #2745
info added in the wiki/versioning checklist, so i guess we can close

[2020-06-15 15:43] #2745 closed

[2020-06-15 21:08] saulo-p commented on #2510
Looking at `label_vertebrae()` it seems that the labelling is based on center of mass calculations.
The function that computes the center of mass (`cubic_to_point()`) function seems to be agnostic about the type of labelled mask it receives be it from mid-vertebral or intervertebral (hope I'm not completely off with the terminology).

So is there any reason for the logic of `-label-discs` to be di

[2020-06-16 21:20] jcohenadad commented on #2744
Here would be the possible scenario:
[code]

So to make it work, we will need to refactor `sct_deepseg/models.py`:
[code]

[2020-06-16 22:15] saulo-p opened #2746 "Host large segmentation models"
It was agreed that the solution for hosting segmentation models should be GitHub.
This issue requests the creation of an organization (similar to [sct-data](https://github.com/sct-data/)) that will contain a repository for each model of interest.

The main concern with the repositories approach is that the models are currently large enough to cause issues during `git push` operations.
So it might

[2020-06-17 00:48] jcohenadad commented on #2510
@saulo-p good question: the input is a labeled segmentation, i.e. a mask of the spinal cord, and for each vertebrae, the value of this mask equals the level (2, 3, 4, etc.). As you figured out, `-vert-body`  takes the center of mass of each level, resulting in a single voxel centered in the cord, at the level of the mid-vertebral body.

Now, if we were to do the same for the `-label-discs`, the lo

[2020-06-17 00:50] jcohenadad opened #2747 "Update doc for windows users with WSL2"
Looks like WSL2 has better performances (see [here](https://towardsdatascience.com/dual-boot-is-dead-windows-and-linux-are-now-one-27555902a128)), so we should update our installation doc for our windows users.

[2020-06-17 14:11] zougloub commented on #2746
I don't have a problem with LFS except that it's raising the bar for hosting, and this is really about another github.com limitation in order to monetize their platform. I'm also wondering what happens when attempting to fork a paying customer's publig LFS-enabled repo (@Drulex ?).

100 MB @ 4B/parameter is 25M parameters, which is not that huge for segmentation networks like U-nets (see for examp

[2020-06-17 14:46] jcohenadad commented on #2746
i am also questioning why our recent pytorch models are "big", while our previous tensorflow models, which already worked really well, are ~5MB each.

[2020-06-18 13:52] saulo-p commented on #2746
What models should be considered in this issue?
I'm aware of the ones contained in the `models` directory in the OSF project (which are linked in `spinalcordtoolbox/deepseg/models.py`), but are there other models somewhere else?

Also, the [sct-data](https://github.com/sct-data/) contains some `deepseg` models for the moment, are we moving those at some point?

[2020-06-18 13:57] jcohenadad commented on #2746
additional models are cooking (work of @charleygros @andreanne-lemay @lrouhier @olix86), it is difficult to predict at this point how many models and how large each will be.

i guess it depends what solution we settle in

[2020-06-19 13:36] zougloub commented on #2746
Relates to https://github.com/neuropoly/ivadomed/issues/253

[2020-06-19 13:44] jcohenadad commented on #2746
Assuming most models (>90%) will be <100MB, is that reasonable to go with Github, and for the remaining 10% (which might not be for production, but only for specific collaborations) go with OSF?

[2020-06-19 14:13] zougloub commented on #2746
Summary:

- One repository for each model, no bundling of unrelated models
- Small model -> standard repo
- Big model -> TBDiscussed
  - OSF hosting doesn't have the size limitation. It could be used for (big) models which are more like single-file repos and don't really have a lot of churn (just a few revisions). We'd need a CDN on top of that if OSF is the only source, and the development workfl

[2020-06-19 14:32] jcohenadad commented on #2746
here → https://github.com/ivadomed-data

[2020-06-21 19:11] jcohenadad opened #2749 "ModuleNotFoundError: No module named 'requirements'"
When running the following command, an error is raised:
[code]

this is problematic as this issue appears on v4.3, so we need a patch ASAP, as well as a test for this function.

[2020-06-21 23:08] kousu commented on #2749
That module should get installed by

https://github.com/neuropoly/spinalcordtoolbox/blob/a4f9b8612cf5f424f508ce51a305f7d6faad0c7e/requirements.txt#L16

<details><description>Proving that `requirements-parser` == `requirements`</details>

[code]

</details>

I'll keep trying to reproduce.

[2020-06-21 23:19] kousu opened #2750 ""Uninstalling numpy-1.19.0""
On [the most recent release](https://github.com/neuropoly/spinalcordtoolbox/releases/tag/4.3), `install_sct` gives this funny message:

[code]

It doesn't hurt the functioning, but it makes the installer undo its own work.

[2020-06-21 23:26] kousu commented on #2750
This is because

https://github.com/neuropoly/spinalcordtoolbox/blob/a4f9b8612cf5f424f508ce51a305f7d6faad0c7e/install_sct#L532

does not version-pin numpy, which is then of course superseded by the version in requirements-freeze.txt.

Can we just drop that line? I recall a mention in an older version of that pre-installing numpy was necessary for version conflict reasons; but we're not using it an

[2020-06-21 23:29] kousu commented on #2749
I don't think this is a problem in the release. `sct_check_dependencies` is tested (in CI!) by

I installed SCT from scratch and it did not cause a problem:

<details>

[code]

</details>

This section at the end is running `sct_check_dependencies`:

[code]

If you're working out of your git copy can you try `pip install -r requirements.txt`?

[2020-06-22 05:29] routrohan commented on #2750
Can I take it up?

[2020-06-22 07:50] kousu commented on #2746
I'm not sure `git-lfs` was meant for lock-in. Its default [algorithm for finding the filestore](https://github.com/git-lfs/git-lfs/blob/master/docs/api/server-discovery.md#guessing-the-server) is Github-centric -- especially, it **demands** a client-server model, there's no way to do decentralized peer-to-peer git with it -- but they provide https://github.com/git-lfs/lfs-test-server which you can

[2020-06-22 07:56] kousu commented on #2746
A flexible option would `git-annex`. It also works with regular git repos and stores the large content elsewhere off to the side, enabling lazy checkouts. It even, get this, [can write to `git-lfs`](https://git-annex.branchable.com/special_remotes/git-lfs/) -- though probably with different folder structure than straight `git-lfs` would make. We could make all the models `git-annex` repos (or `dat

[2020-06-22 16:15] jcohenadad commented on #2746
thank you for your insights @kousu. So if we go with `git-lfs`, are you suggesting that we primarily host the data in a server at polytechnique? i'm a bit worried about maintenance (should i worry?). Or were you suggesting to only use git.neuro.polymtl.ca as additional mirrors? If the latter, where would the primary host be located? I'm definitely OK paying for a remote host, i'm just not sure wha

[2020-06-22 18:01] jcohenadad commented on #2746
related to:
- https://github.com/neuropoly/spinalcordtoolbox/pull/2733
- https://github.com/ivadomed/ivadomed/issues/253
- https://github.com/ivadomed/ivadomed/issues/269

[2020-06-22 18:13] zougloub commented on #2746
My "vote", considering the context, would be for git-lfs on github.

[2020-06-22 20:03] kousu commented on #2746
I agree. `git-lfs` on github as the primary mirror with a low-priority plan to deploy an internal mirror.

It's too bad that `git-lfs` is so client-server centric! The one really nice feature of `git-annex` is you can use any git repo as a large file store.

[2020-06-22 20:05] kousu commented on #2746
(sorry! I mis-clicked!)

Another nice feature of `git-annex` is [`git config annex.largefiles 'largerthan=100kb`](https://git-annex.branchable.com/tips/largefiles/). You can ask it to make the small model/big model decision for you (and of course you can always override it explicitly).

[2020-06-22 20:17] kousu commented on #2746
We will probably have to pay Github for being our CDN. Cost is 1USD/10GB/month: https://help.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-git-large-file-storage#purchasing-additional-storage-and-bandwidth.

from that page:

[2020-06-22 20:26] jcohenadad commented on #2746
i don't have enough knowledge to read between the lines here. Will the 1USD/10GB/month be affected by:
- storage (i assume so)
- users installing SCT? (hopefully not, because difficult to properly scale)
- CI?  (hopefully not, for obvious reasons)

also (related to the bullet list above), does this quota include both storage and BW?

[2020-06-22 20:27] kousu commented on #2746
I can't make up my mind. @zougloub is right, practically `git-lfs` means Github. It's so much simpler to use than `git-annex` or `datalad`.

But `git-annex` can plug into [a huge range](https://git-annex.branchable.com/special_remotes/) of storage services, including, as of this week, [OSF.io](https://github.com/datalad/datalad-osf); and I am prototyping the same thing for openneuro.org today. Tho

[2020-06-22 20:43] kousu commented on #2746
The quota is really two quotas, one for storage and one for bandwidth: you can store as much per month as you can download/upload.

This is very unusual; bandwidth is usually sold 100-1000x larger than storage). e.g. on https://www.digitalocean.com/pricing/ the bandwidth/storage ratio ranges from 1TB/25GB ~= 40x down to 12TB/3.25TB ~= 3.5x.

Of course.

Yes, definitely, that counts against the ban

[2020-06-22 21:07] kousu commented on #2746
I have a wild idea for a side project. `git-lfs` allows [configuring the LFS server](https://github.com/git-lfs/git-lfs/blob/master/docs/api/server-discovery.md#custom-configuration) per-remote (i.e. per mirror). But it only supports https://, which actually means this [lfs+https:// protocol](https://github.com/git-lfs/git-lfs/blob/master/docs/api/basic-transfers.md). If we patched `git-lfs` to su

[2020-06-22 22:25] jcohenadad commented on #2746
given that 95% of our compiled binaries / MRI+histo data / DL models are <100MB (per file), maybe we can go ahead with the git/GitHub approach (as originally planned), with one repos per dataset, and see if we are happy with that approach? then for the 5% remaining we could implement @zougloub's suggestion (https://github.com/neuropoly/spinalcordtoolbox/issues/2746#issuecomment-646667197)?

[2020-06-23 02:15] zougloub commented on #2746
Note that sct_download_data & friends wouldn't get data using a git clone but rather a download from the release tarballs (made using @saulo-p's WIP release script), which aren't metered in the same way.
That plus the fact that the quota is per-repo, I don't think we we will hit bandwidth issues, and I would be tempted to say that it's rather safe to use github's git-lfs, for the main reason that

[2020-06-23 15:36] lrouhier commented on #2747
I looked at it. We just need to change the link in the respective [wiki page](https://github.com/neuropoly/spinalcordtoolbox/wiki/SCT-on-Windows-10:-Installation-instruction-for-SCT-on-Windows-subsytem-for-linux) (then the distribution is the same and everything works fine, though I need to check again). However after testing WSL2, I think we should wait for two reasons:
1- there is a restriction

[2020-06-23 16:25] routrohan commented on #2750
I'm sorry but I'm having some trouble in pushing to the repo, it seems I might not have certain access rights. This is what I'm getting :

![repo](https://user-images.githubusercontent.com/32121879/85429290-2811c400-b59c-11ea-8c5e-51d9a1b5b65a.png)

[2020-06-23 16:28] jcohenadad commented on #2750
@routrohan external contributors are required to fork the repository and suggest changes via a pull request, more details in https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#contributing-to-sct-pull-request

thanks!

[2020-06-23 20:10] jcohenadad opened #2753 "Failing test_get_centerline"
since recently, `test_get_centerline` is [failing on Travis](https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/700617618), so that's what this issue is about.

This is probably related to an upgrade of a Python library and/or platform-dependent (as noted in https://github.com/neuropoly/spinalcordtoolbox/pull/2686)

[2020-06-23 20:14] jcohenadad commented on #2753
Interestingly, on Travis, all those fail:
[code]

Whereas on my OSX, only this fail:
[code]

[2020-06-23 20:29] jcohenadad commented on #2753
Results of `batch_processing.sh`:
[code]

[code]

[2020-06-24 19:55] jcohenadad opened #2755 "Point to local sct_testing_data for unit tests"
Currently, almost all unit tests (except one: `test_segment_nifti()`) assume that `sct_testing_data` is located under `__sct_dir__`, which is not convenient if these data are installed outside of SCT_DIR.

In some cases, developers might want to go to a temp folder, download test data and run pytest from there, which would fail.

A suggestion would be to get rid of the `__sct_dir__` and assume tha

[2020-06-25 04:26] #2753 closed

[2020-06-25 04:38] charleygros opened #2756 "Parser: automatically display the default value in the help"
**Justification:**
We are currently adding manually the default value for each argument in the "description" entry, [see example](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_straighten_spinalcord.py#L111).

To automatically display this value in the help would reduce the maintenance load and reduce the developer errors.
Also, it would fill the gaps where default values a

[2020-06-25 09:39] sercharpak opened #2757 "ImportError: cannot import name 'convert' when executing sct_utils"
### Description

Just by executing `sct_utils` got the following error message instead of getting the usual help message:
[code]
### Steps to Reproduce

0. Installed SCT 4.3 on Ubuntu 20.04.
Output of `sct_check_dependencies`:

[code]

1. Just executing `sct_utils`

**Expected behavior:** The usage/help message

**Actual behavior:** Got this import error
[code]

[2020-06-25 16:15] jcohenadad commented on #2757
@sercharpak, thank you for reporting this bug. I confirm I can reproduce your issue. We will be working on a fix with the highest priority.

[2020-06-25 17:03] jcohenadad commented on #2757
@saulo-p would be nice to also add an integrity test to catch that (under `testing/`)

[2020-06-25 17:17] saulo-p commented on #2757
By "that" you mean checking for errors when calling `<some_script> -h` ?

[2020-06-25 17:57] jcohenadad commented on #2757
yes-- this error would have been easy to catch (i'm not talking about complex integrity testing at this point-- although it would also be nice, but out of scope for this issue)

[2020-06-25 18:47] jcohenadad commented on #2757
@saulo-p sorry: i should have realized this earlier: `sct_utils` is not supposed to be exposed to the users (as you rightfully noticed, there is no main...).
so the solution is easy and takes 2min: just skip the creation of a symlink for this function during installation

[2020-06-25 18:48] jcohenadad commented on #2757
which also means: scrap my comment https://github.com/neuropoly/spinalcordtoolbox/issues/2757#issuecomment-649705070-- we obviously don't need an integrity test...