[2018-11-18 14:33] jcohenadad commented on #2056
OK, this problem is systematic and is caused by a recent change in OSF's metadata. Previously, [this line](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_download_data.py#L189) was used to retrieve the file name on the repository. However, the dictionary field has recently changed, causing the following error:
[code]

The download procedure would then switch to the mirror U

[2018-11-19 05:15] charleygros commented on #2066
I recently worked on a module that detects C2-C3 disc. Please find here-below some details about it.

### Inputs:
- raw image (eg `t2.nii.gz`)
- SC segmentation mask (eg `t2_seg.nii.gz`) (note: the module also works if a centerline is input instead of the segmentation)
- contrast: `t2_like` or `t1_like`

### Main processing steps:
1. Flatten sagittal
2. Extract mid-slice (note: in my experience, u

[2018-11-20 22:23] jcohenadad commented on #2066
@charleygros fantastic! here are some thoughts:
- for the output label, do we agree that the label will be centered at the posterior tip of the C2-C3 disc?
- in terms of implementation: I would suggest to follow the current move towards a `spinalcordtoolbox` Python library, with modules that take as input/output matrices (instead of file names) and with associated unit test. The i/o would be done

[2018-11-21 05:10] charleygros commented on #2066
Thank you for your feedback @jcohenadad. Sounds good to me.

Centered at the posterior tip of the C2-C3 disc:
![label_c2c3_pred](https://user-images.githubusercontent.com/14353425/48820189-f0cba780-eda7-11e8-880d-34db1ff89cf1.png)

[2018-11-21 05:49] #1825 closed

[2018-11-21 05:49] #2057 closed

[2018-11-21 05:49] #2001 closed

[2018-11-21 05:49] #2015 closed

[2018-11-21 05:49] #1921 closed

[2018-11-21 05:50] #2016 closed

[2018-11-21 20:03] jcohenadad commented on #2066
@charleygros is there already a version that I can test for T1w data (if not, for T2w)?  The reason I'm asking is because I am currently updating the [spine-generic](https://github.com/sct-pipeline/spine_generic) pipeline for processing the spinal cord MRI public database, and having an automatic way of getting C2-C3 would be fantastic (currently done manually).

[2018-11-21 21:30] jcohenadad opened #2067 "Bug when using -initlabel flag"
[code]

[2018-11-21 22:18] jcohenadad opened #2069 "ValueError: Images of type float must be between -1 and 1."
## Description

Getting this error when running `sct_flatten_sagittal`.
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/1790.
Maybe related to https://github.com/neuropoly/spinalcordtoolbox/issues/1691

## To reproduce

Data: **20181121_issue2069**

[code]

[2018-11-22 01:18] #2067 closed

[2018-11-22 01:29] charleygros commented on #2066
@jcohenadad: A version will be ready to test mid-next week. Hope it will not be too late to be integrated.

[2018-11-22 02:05] #2069 closed

[2018-11-22 02:28] jcohenadad opened #2071 "Extract TR/TE/alpha from BIDS-compatible json file"
When using BIDS-structured data, the json file alongside the MT, PD and T1w should have the necessary parameters to compute MTsat. So instead of inputing those parameters in the syntax, let's just read the json files (if they exist).

[2018-11-22 14:40] jcohenadad opened #2072 "Enable anisotropic smoothing and sigma in float"
Currently, `sct_smooth_spinalcord` only performs smoothing along the Z direction (after straightening). Some users might want to perform an anisotropic smoothing, so we should enable this option.

Also, the flag `-smooth` only accepts "int", whereas it should accept ¨float¨(as is the case for the function `sct_maths.smooth()` which is called by `sct_smooth_spinalcord`).

Also see: https://sourcefo

[2018-11-22 19:52] jcohenadad opened #2074 "sct_dmri_separate_b0_and_dwi output files should be revisited"
Currently the function `sct_dmri_separate_b0_and_dwi` outputs by default the files `dwi.nii.gz` and `b0.nii.gz`, assuming that the input file is not called like that (or assuming local files with those names don't exist). This is a problem, especially with the BIDS convention, where the input file is called `dwi.nii.gz`.

So, we should revisit this function. Possible approaches:
- have a flag -o f

[2018-11-22 20:42] jcohenadad opened #2076 "Changelog should report compatibility breakage"
We are now using the label "compatibility" in PR, when the proposed PR breaks cross-compatibility with the latest stable version of SCT. The automatic changelog should detect the label and indicate a warning message in the CHANGELOG output file.

[2018-11-22 21:51] #2072 closed

[2018-11-23 17:07] #1911 closed

[2018-11-23 17:07] #2076 closed

[2018-11-23 17:16] jcohenadad opened #2078 "Option to remove volumes for mult mode, output SNR map, make -m optional and other refactoring"
Proposed features:
- In case users need to discard the 3 first measurements it would be good to be able to use ":" for selecting a range of volumes with flag "-vol", e.g., `-vol 2:100`
- It would be nice to output an SNR map when the mult method is used (not possible with diff)
- With the previous point, the flag `-m` can be made optional

Proposed refactoring:
- Remove -z and -vert flags. It make

[2018-11-23 17:51] #2074 closed

[2018-11-23 20:55] jcohenadad opened #2081 "Low pass filtering before computing STD over time"
When computing SNR using the "mult" method, multiple volumes are acquired over time. It is possible that, due to scanner drifts, the mean signal would vary, which would lead to an over estimation of the STD over time, and thus an inaccurate estimation of the thermal SNR.

Time series should be detrended (low pass filtered) before computing the mean and STD.

[2018-11-26 19:51] felliott commented on #2056
Hey @jcohenadad,

I'm a developer at COS.  Your diagnosis is correct.  We removed the `filename` parameter of the `Content-Disposition` header and added `filename*` so that we could correctly handle non-ascii characters in filenames.  I didn't consider that there might be existing software that supported only the former.  I will look at adding it back in, but the name will need be to be munged to

[2018-11-26 20:15] jcohenadad commented on #2056
@felliott, yes that would be perfectly OK (we have banned all non-ascii characters from our ecosystem-- they are evil as i'm sure you know ;-) ). Thank you so much for accommodating!

[2018-11-26 22:13] #2078 closed

[2018-11-26 22:41] jcohenadad opened #2083 "Long centerline detection on not-so high res T1w scan"
When running deepseg_sc using the default parameters, the centerline detection seems to take a fairly large amount of time to compute (about 6 min), while it is usually fast, especially with the SVM algo.

The data are 0.6x0.6x1mm resolution (188x512x512 matrix)

## To reproduce

Data:

Syntax:
[code]

[2018-11-29 14:56] jcohenadad opened #2085 "Make the PAM50 in the same coordinate system as the MNI template"
As shown in the Figure 4 of De Leneer et al., the PAM50 template should be in the same coordinate system as the MNI template.

@benjamindeleener what does it take to do so? Only update the q/sform or is there anything more fancy to do?

Also see: https://github.com/neuropoly/template/issues/6#issuecomment-442465045

[2018-11-30 01:42] jcohenadad opened #2086 "method max and wa give the same results"
Methods `wa` and `max` are giving the same results, although they are not supposed to.

To reproduce:
[code]

Also see: https://sourceforge.net/p/spinalcordtoolbox/help/5/

[2018-11-30 03:46] #2086 closed

[2018-11-30 16:56] armaneshaghi opened #2088 "Pipeline for re-training sct_deepseg_sc Keras model"
I am aiming to re-train the Keras model behind `sct_deepseg_sc` on my data. Can I follow the instructions for `sct_deepseg_lesion` [here](https://github.com/sct-pipeline/deepseg-training)?

[2018-11-30 19:23] benjamindeleener commented on #2085
@jcohenadad Merging the two templates could work with a rigid transformation if the objective is just to put the PAM50 in the MNI space. Overall, it is more complicated if we want a final product as the registration of the two templates over the brainstem was not perfect on the latest iteration of the PAM50. I am working on it.

[2018-11-30 19:30] jcohenadad commented on #2085
@benjamindeleener yes, as a first step, the goal is to simply get the s/qform right so that people can use the same coordinate system between the MNI and the PAM50. Several users have contacted me with this request so we should implement it. It would ideally be ready for v3.3 (next release, in ~1w) because it will break compatibility with 3.2.7. Let me know if the timeline is good on your side.

[2018-11-30 19:53] benjamindeleener commented on #2085
Timeline is good for me.

[2018-12-02 20:47] jcohenadad commented on #2029
Likely related to #1709

[2018-12-02 20:49] jcohenadad opened #2090 "Various improvements for QC"
A few minor improvements for QC:
- [ ] Remove µm on the time
- [ ] Change "contrast" by "file" for compatibility with BIDS

[2018-12-02 20:52] jcohenadad commented on #1326
Closing for now (minimum need)

[2018-12-02 20:52] #1326 closed

[2018-12-03 14:03] charleygros commented on #2088
@armaneshaghi: Indeed, the repo' that you pointed out aims at re-training the models behind both `sct_deepseg_sc` and `sct_deepseg_lesion` with few labeled data. However, we are still working on it to make it ready to be used. We will keep you updated.

[2018-12-03 19:24] jcohenadad opened #2091 "Find another way to parse subject name"
If a pipeline is launched across multiple BIDS datasets, there will be a duplication of "subject" ID (e.g. site1/sub-01, site2/sub-01).

To avoid this, `sct_qc` should be able to receive the "site" and "subject" as optional parameters.

[2018-12-03 20:15] jcohenadad commented on #1953
After discussion we decided that making the QC "interactive" would require heavy refactoring, for minimum benefits. So closing for now.

[2018-12-03 20:15] #1953 closed

[2018-12-03 20:18] jcohenadad opened #2092 "Ouput images for QC report should be based on the native resolution of the Nifti image"
In its current implementation, QC report generates images that are (often) larger than necessary, e.g., a mosaic with native resolution 400x600 will be saved in a png file of 2130x3200.

[2018-12-04 15:54] #2063 closed

[2018-12-04 18:59] jcohenadad opened #2095 "QC visual output should crop based on physical dimensions, not number of voxels"
The way QC mosaic pictures are scaled and cropped is problematic: the scaling is based on the number of voxels, which makes the scaling dependent to the native resolution of the image. This should be fixed by resampling the image to a fixed resolution (e.g., in-plane: 0.5x0.5mm) before launching the QC.

Related to: https://github.com/neuropoly/spinalcordtoolbox/pull/2089

[2018-12-05 19:09] felliott commented on #2056
I'm aiming for tomorrow or Friday.  I've got a fix coded up, and I'm just trying to figure out how to break it. :)

[2018-12-06 03:03] #2066 closed

[2018-12-06 22:37] jcohenadad commented on #2092
Indirectly fixed via #2089

[2018-12-06 22:37] #2092 closed

[2018-12-07 14:27] #2061 closed, assigned to nobody

[2018-12-07 14:51] benjamindeleener commented on #2085
The new template is ready, that is in the same space as the ICBM152. Note that the two templates are not registered yet.

Basically, I used a simple translation on each file from the template (only changing the header) using the location (in physical space) of a common anatomical landmark. To calculate the translation, I used the tip of the central canal, as shown in the figures below.

Anatomical

[2018-12-07 16:09] jcohenadad commented on #2085
Thank you @benjamindeleener!!!

So, my understanding is that in the [NIMG paper](https://www.ncbi.nlm.nih.gov/pubmed/29061527), the PAM50 looks better registered to the MNI template at the brainstem level because it was a more recent version of the PAM50, different from the version which is currently implemented in SCT. If we want to use this more recent version, then we would need to re-create th

[2018-12-08 14:26] jcohenadad opened #2098 "Various improvements for QC"
A few minor improvements for QC:
- [ ] Increase contrast of the selected row in the table. --> WONTFIX (too complicated)
- [ ] Indicate on top of the figure the current subject selected --> WONTFIX (not needed anymore because subject indicated in row)
- [ ] Add full path in the text below the figure  --> WONTFIX (not needed)

[2018-12-08 14:29] jcohenadad opened #2099 "Detect c2c3 failing in one subject from spine_generic project"
It would be nice to have the automatic c2c3 detection work for all subjects in the [Multi-center/Multi-subjects](https://osf.io/jkxzp/) database. Here, we will list all failing subjects to try to find a solution that works for all subjects:
- unf_sub-04/t1

@charleygros maybe playing with the number of slices to average in the medial plane would increase robustness at inference time?

[2018-12-08 15:19] jcohenadad commented on #2085
Comment from Falk Eippert:

This is a tricky point. By making the PAM50 "straight", we already accepted to reduce anatomical plausibility, for the benefits of processing and visualization. That being said, now remains the question of "connecting" the cord and the brainstem. In the current PAM50, the brainstem is not anatomically consistent either because it was part of the straightening. So, the a

[2018-12-08 20:15] jcohenadad opened #2100 "Re-enable the use of -param-straighten"
Due to a regression, the flag `-param-straighten` is not more used. It should be re-enabled, notably to allow users to choose the centerline smoothing algorithm (nurbs vs. hanning).

Also see: https://sourceforge.net/p/spinalcordtoolbox/help/7/

[2018-12-10 11:32] fprados commented on #2085
I agree that we might need to rotate the cord, however the whole image will look strange from a coronal view. Although, if the cropping point is the top of C1, the only issue is from a visualisation perspective, isn't it? From a processing point of view, you will process brain and cord stuff separate. Then, we can do a tool that just for visualisation proposes that rotates the brain or the coord,

[2018-12-10 15:44] jcohenadad commented on #2085
Thank you for your input @fprados. Indeed, we are mostly talking about a visual perspective issue here. However, I would like to stress that the brainstem currently represented in the PAM50 template (in the animation above) is **not** consistently positioned with the upper cervical part, and has already been manipulated to be straightened. So, even though we are tempted to "rotate" the PAM50 a bit

[2018-12-10 15:58] benjamindeleener commented on #2085
I agree with the fact that we always process brain, brainstem and spinal cord separately and for visualization purposes and reporting coordinates in the MNI space, I think it is easier to work with a straight template without tilting the spinal cord.

If we aim at providing a template that is anatomically plausible, we could even change the template so that it integrates the average curvature of t

[2018-12-10 16:02] jcohenadad commented on #2085
Thanks for your input @benjamindeleener. So it seems like the consensus so far is **not** to rotate the cord. And how about cropping above C1 (as shown in my anim)? Do you agree with that?

[2018-12-10 16:21] benjamindeleener commented on #2085
I would suggest having at least a little bit of overlap between the ICBM152 and the PAM50, as the image quality of the spinal cord in the ICBM152 template is not great and it's contours are not well defined.

[2018-12-10 20:13] benjamindeleener commented on #2085
2-3 slices above a common anatomical landmark would be enough.

[2018-12-10 22:04] benjamindeleener commented on #2085
Sorry I was confused. Yes, 2-3 slices after registration will be enough. I'll update the template tomorrow.

[2018-12-11 02:10] charleygros commented on #2099
Will have a look at this subject!
& investigate the number of slices to average, as you suggested. However, based on my first explorations, I do not think that it will improve it significantly: if the input segmentation is correct, then the flatten_sagittal should provide a sufficient view of the target structure.

Will keep you updated

[2018-12-11 03:45] #2100 closed

[2018-12-11 14:32] benjamindeleener commented on #2085
I updated the template with the required changes. Below is the results of the alignment. Note that I cropped the template above the C1 label (top of C1) so that registration to the template is performed appropriately.

![screenshot from 2018-12-11 09-30-55](https://user-images.githubusercontent.com/7757117/49807207-7dbeac80-fd27-11e8-9af2-3207e3ad5aaa.png)

I also fixed a few things:
1. the file i

[2018-12-12 20:22] jcohenadad commented on #2085
@benjamindeleener yes we're good 👍
Do you want to create the PR for subsequent testings?

[2018-12-13 03:07] felliott commented on #2056
Hey @jcohenadad,

Sorry for the delay!  We've released our fix.  Now `Content-Disposition` headers should contain *both* the `filename` parameter and the `filename*` parameter.  For filenames containing only printable ascii characters these should be the same value.  Please let us know if that works for you, and thank you for the report!

Cheers,
@felliott

[2018-12-14 14:21] jcohenadad commented on #2056
@felliott this is working again. Thank you so much!!!

[2018-12-14 14:21] #2056 closed

[2018-12-17 13:46] jcohenadad opened #2104 "Requirements: Update dipy version to 0.15.0"
title is self-explanatory

Test batch_processing before merging

[2018-12-17 14:19] #2085 closed

[2018-12-18 10:10] jcohenadad opened #2106 "Output segmentation has different sform/qform than input"
When using `sct_deepseg_sc` in images where qform and sform are different, the output segmentation "forces" both sform and qform to be the same. When viewing images with fsleyes/fslview, this is not a problem because these software give priority to the sform, however when using other soft such as MITKworkbench, the seg and input image are not aligned.

N.B. there is no issue when using propseg, i.

[2018-12-19 19:11] #699 closed

[2018-12-19 19:11] #1721 closed

[2018-12-25 14:03] jcohenadad commented on #2053
After giving it some thoughts, this feature would involve heavy refactoring, because vertebral alignment currently requires to go through spinal cord straightening procedure. Also, this issue lacks a bit of context (specific application?).
Closing for now

[2018-12-25 14:03] #2053 closed

[2018-12-25 14:05] jcohenadad commented on #949
With #2102, the PAM50 template does not include the PMJ anymore, so this issue is a bit out of context. Reducing the priority for now.

[2018-12-28 03:57] RRivero48 opened #2108 "Script error"
I can not get the spinal cord segmentation in FSL eyes

The script messages are the following but I do not understand because I installed the most updated versions of spinalcordtoolbox and FSLeyes. I load the images, the integration with FSLeyes works but when I tried to process spinal cord segmentation It crashes.

Bad key "patch.force_edgecolor" on line 33 in
/Users/ReneRivero/Desktop/FSLeyes.ap

[2018-12-28 07:42] jcohenadad commented on #2108
Thank you for reporting this bug @RRivero48, it is probably due to the recent changes of fsleyes. We will make sure to fix it before the next release.

[2018-12-29 15:52] jcohenadad opened #2109 "move label-vert to sct_label_vertebrae"
`sct_process_segmentation -p label-vert` should be moved to `sct_label_vertebrae`, which is more intuitive

[2019-01-03 20:02] perone commented on #2108
Hi @RRivero48, can you please provide us the version of FSLEyes you're using ? Thanks !

[2019-01-03 22:10] RRivero48 commented on #2108
It is the version...

[FSLeyes.pdf](https://github.com/neuropoly/spinalcordtoolbox/files/2725445/FSLeyes.pdf)

[2019-01-04 15:10] perone commented on #2108
@charleygros I was looking into this error, do you know if `sct_deepseg_sc` supports `.img` files ? It looks like this might be the cause of this issue, given that the error shows the fsleyes calling the `sct_deepseg_sc`. Does anyone has a T1 volume in `.img` that can share with me to test it ?

[2019-01-04 15:13] jcohenadad commented on #2108
@perone SCT (i.e. including `sct_deepseg_sc`) does not support `.img` (a.k.a. "Analyze") format. Only NIFTI format.

[2019-01-04 16:06] jcohenadad opened #2110 "STD calculation differ between sct_fmri_compute_tsnr and sct_compute_snr"
The resulting values of `sct_fmri_compute_tsnr -i fmri.nii.gz` and `sct_compute_snr -i fmri.nii.gz -method mult` are very close, with that of the latter slightly larger.

It turns out that the fix mentioned in https://sourceforge.net/p/spinalcordtoolbox/discussion/help/thread/c34bd194/?limit=25#ba77 is not applied to sct_compute_snr (see Line 138 of sct_compute_snr.py).

For consistency, `sct_comp

[2019-01-05 18:50] jcohenadad opened #2111 "Display personalized message for opening csv or txt output"
### Description
At the end of functions such as `sct_process_segmentation` or `sct_extract_metric`, a syntax could be displayed for conveniently open the output ".csv" file. Similar to the message that appears for opening output nifti files with fsleyes/fslview.

### Suggested implementation
- Check OS (linux or OSX)
- display "open (OSX) xdg-open (LINUX) $FILE_OUT"

To implement once https://gith

[2019-01-05 19:18] jcohenadad opened #2112 "Refactor sct_extract_metric to use newly-introduced modules"
The same changes brought to `sct_process_segmentation` should be implemented to `sct_extract_metric` to improve readability and unit testing.

For more information see: https://github.com/neuropoly/spinalcordtoolbox/pull/1931

[2019-01-05 19:25] jcohenadad opened #2113 "Go through the course material"
Do once https://github.com/neuropoly/spinalcordtoolbox/issues/2114 is fixed.

[2019-01-05 19:28] jcohenadad opened #2114 "Update course material"
- [ ] rescale feature in propseg --> won't do (no time)
- [x] perslice/perlevel in sct_extract_metric
- [x] update sct_process_segmentation API
- [x] Page 88: add description for "wa" method (and better describe the wath).
- [x] Create v4.0.0-betaX
- [x] test `sct_image -i warp_itk.nii.gz -mcs -o warp_vec.nii.gz` (page 49)
- [x] Fix: https://github.com/neuropoly/spinalcordtoolbox/issues/2120
- [x]

[2019-01-06 01:35] RRivero48 commented on #2108
I convert the images to nifty format and It worked well. But I only get the spinal cord segmentation. Is it not possible to label vertebral levels and obtain the spinal cord metrics in FSLeyes environment?

[2019-01-06 03:05] jcohenadad commented on #2108
Hi @RRivero48, yes it will be possible once we find some time to implement this feature. Thank you for your feedback.

[2019-01-06 03:05] #2108 closed

[2019-01-07 16:04] zougloub commented on #1896
Can't access that Sentry link anymore :/.
Is there some way to reproduce the problem?

[2019-01-07 16:13] zougloub commented on #2106
Note on the ITK behavior: https://github.com/ANTsX/ANTs/issues/500#issuecomment-333543715

ITK NIFTI1 IO decided to give priority to the qform instead of the sform (maybe because it fixates the frame origin), which is not what other software does.

[2019-01-07 16:35] jcohenadad commented on #2106
Possibly a recent change in ITK's priority over the qform? https://itk.org/pipermail/insight-users/2017-March/054351.html

In any case, we currently have a problem in SCT because we use both ITK (e.g., propseg, ANTs) and nibabel (most i/o, e.g. for deepseg_sc). So we should decide what to do if the two are not consistent, in order to ensure a coherent management of the q/sform within SCT.

The bot

[2019-01-07 16:53] jcohenadad commented on #1896
Sorry the Sentry link is indeed broken-- might be due to a change in the Sentry organization (to deal with our other project qMRLab).

If i remember correctly, an error was raised because in that case the input data were 2d.

The data provided in https://github.com/neuropoly/spinalcordtoolbox/issues/2106 would be a good starting point.

[2019-01-09 21:38] #1789 closed

[2019-01-09 21:38] #1920 closed

[2019-01-09 21:38] #391 closed

[2019-01-09 21:38] #718 closed

[2019-01-09 21:38] #1077 closed

[2019-01-09 21:38] #1589 closed

[2019-01-09 21:38] #1841 closed

[2019-01-09 21:38] #1932 closed

[2019-01-11 18:40] zougloub commented on #2106
According to your link ITK tools are properly following the spec (https://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/qsform_brief_usage) since 2017-12, which is nice.

However:
- our ITK binaries have been compiled earlier than that
- we are also not following the spec (and somehow I missed that document when working on Image, I was thinking that sform was simply an u

[2019-01-11 18:50] jcohenadad commented on #1763
Update: @perone is working on an [API](https://github.com/neuropoly/bids_neuropoly) that takes BIDS dataset as input, and output a Python structure which could be interpreted by `sct_pipeline`. So the refactoring of `sct_pipeline` should take into consideration these ongoing developments.

[2019-01-11 18:55] jcohenadad opened #2116 "Create a function for running batch processing with multi-processing"
We have an increasing number of shell-based processing pipelines, such as [this one](https://github.com/sct-pipeline/spine_generic). It simply loops across subjects (the file [run_process.sh](https://github.com/sct-pipeline/spine_generic/blob/master/run_process.sh) is the wrapper), so it would be more efficient to create a Python wrapper that would run each subject in a parallel, distributed acros

[2019-01-11 18:56] zougloub commented on #2116
How about having the files use GNU parallel, which already exists?

[2019-01-11 18:59] jcohenadad commented on #2116
That sounds even better-- i was not aware of it.

[2019-01-11 20:13] zougloub commented on #1527
As time passes projects are starting to drop support of Python 2, for example scikit-learn:
Scikit-learn 0.20 is the last version to support Python2.7, scikit-learn 0.21 will drop support for Python 2.7 and Python 3.4.

[2019-01-13 03:50] zougloub commented on #2116
Example with `parallel`:
[code]

I have to say I'm not a huge fan of the shell approach, but it has the merit of being simple.

[2019-01-13 20:32] jcohenadad commented on #1193
Isolated case. Closing for now.

[2019-01-13 20:32] #1193 closed

[2019-01-13 20:33] jcohenadad commented on #824
We will simply output the STD.

[2019-01-13 20:35] jcohenadad commented on #377
The flag "-p" will be dropped. These parameters are too obscure and sensitive for the users. Let's just leave a default ratio of one.

[2019-01-13 20:35] #377 closed

[2019-01-13 20:56] jcohenadad commented on #1807
Closing, because it is already possible to do so by editing the file `info_label.txt` and generate combined tracts.

[2019-01-13 20:56] #1807 closed

[2019-01-16 14:10] jcohenadad commented on #1548
@zougloub how about planning to move to `argparse` in 4.0.0? Since we will be breaking some compatibilities anyway, this would be a good opportunity.

[2019-01-16 21:50] jcohenadad opened #2117 "Fix issues in README"
- [ ] broken link: https://github.com/neuropoly/spinalcordtoolbox#using-virtual-machine

[2019-01-16 21:56] #2117 closed

[2019-01-16 22:04] Nicolas-Pinon opened #2119 "Instructions on sct installation for windows not so clear"
I tried to install sct using docker on a windows 10 (family edition) laptop, following the instructions here [https://github.com/neuropoly/sct_docker#id7](url)

Everything went fine until following the last instruction :

I failed to understand what repository the author was talking about. I succeed launching Xming alone but did not know what to do next
![image](https://user-images.githubuserconte

[2019-01-18 14:04] #824 closed

[2019-01-18 15:07] jcohenadad commented on #2083
@charleygros do you have any insight about this issue?  It is taking about 3min to segment the T1w scan for the SCT course. I remember in the past it used to be faster. Any idea what might have changed?

[2019-01-18 15:38] jcohenadad opened #2120 "Flag -initc2 does not work anymore"
When running:
[code]

An interactive window should open. It does not anymore. Probably a regression bug.

SCT version indicated above.

[2019-01-18 18:45] jcohenadad opened #2121 "Output volume fraction on csv"

[2019-01-18 21:39] #2121 closed

[2019-01-18 22:08] jcohenadad commented on #2116
@zougloub dummy question: what's this "-Parisx" in the rsync?

[2019-01-18 22:44] Nicolas-Pinon opened #2123 "Data for London 2019 course not present in sct_download_data"
Link to the London 2019 course data is not added in the `sct_download_data` script

[2019-01-18 22:45] jcohenadad commented on #2123
well spotted ;-) @Nicolas-Pinon
but issue already listed in https://github.com/neuropoly/spinalcordtoolbox/issues/2114

[2019-01-18 22:45] #2123 closed

[2019-01-18 22:46] Nicolas-Pinon commented on #2123
Oops my bad !

[2019-01-19 00:08] Nicolas-Pinon opened #2124 "sct_label_verterbrae Not possible to use viewer to initialize C2-C3 disc"
When using `sct_label_vertebrae` with flag `-initc2`, no viewer is opened to manually label C2.
I checked a bit but not for too long, the problems in my opinion lies near [this line](https://github.com/neuropoly/spinalcordtoolbox/blob/72110238094a31e29fa6f925a58ee3265825ab28/scripts/sct_label_vertebrae.py#L255) where disc_labels are obtained automatically even when the manual setting is on.

[2019-01-19 00:11] jcohenadad commented on #2124
thanks for investigating @Nicolas-Pinon
closing because duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/2120

[2019-01-19 00:11] #2124 closed

[2019-01-19 02:47] charleygros commented on #2083
Before running the segmentation: the resampling (iso, 0.5mm in the cross sectional plane) is indeed quite long. But not sure if we can do much about this.

[2019-01-19 04:01] zougloub commented on #2116
It's my mnemonic flag set... I don't even remember what it does at this point. It's probably overkill and if I remember correctly it breaks on the native rsync from Apple (they stayed at non-GPLv3 versions).

[2019-01-19 14:44] #2120 closed

[2019-01-19 15:45] jcohenadad opened #2126 "Bypass Sentry during installation if cannot download dsn file"
... to avoid getting this:
[code]

[2019-01-20 11:03] jcohenadad commented on #2116
implemented here: https://github.com/sct-pipeline/spine_generic/blob/master/run_process.sh

[2019-01-20 11:03] #2116 closed

[2019-01-20 11:05] jcohenadad opened #2128 "Long generation of QC report"
Weirdly, after merging https://github.com/neuropoly/spinalcordtoolbox/pull/2094, the QC takes about 1min to generate (on the single_subject T1w of the SCT course), bring total processing time from ~1min40 to ~2min40 (on the same system).

update 2019-01-20 11.10: Most of the time is caused by resampling, reorienting, etc. all done with i/o.

[2019-01-20 14:21] jcohenadad opened #2130 "save_as_csv: in mode append, if file does not exist, add header"

[2019-01-20 14:54] #2130 closed

[2019-01-20 15:31] jcohenadad opened #2132 "Possible regression which appears in integrity testing"
Travis issue here: https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/482052671
Turned off integrity testing here: https://github.com/neuropoly/spinalcordtoolbox/pull/2129/commits/8bbdf317f1ff1a4dc5ed7f3ab42c28e266f9b132

i had to do it because of emergency (need a beta release for the course with priority functions working)

[2019-01-20 18:15] #2128 closed

[2019-01-20 18:16] jcohenadad opened #2133 "Fix broken integrity test for sct_label_utils"
i deactivated it for emergency reasons (need to create release, test was not passing on travis due to precision issue, etc.)

[2019-01-21 14:12] jcohenadad opened #2136 "Metric extraction fails if `-vertfile` isn't in the same discrete space as the `-i` file"
## Context

when specifying an image with the flag `-vertlevel`, if the file is not in the same discrete space as the file pointed by `-i` (ie: not the same shape/resolution, but the same physical coordinates), the vertebral level file will not be processed properly.

The current workaround is to bring the vertebral level file in the same discrete space as the image to process, using the function

[2019-01-21 15:24] alexfoias opened #2137 "Installation failed version 4.0.0-beta.0"
### Description

I tried to install sct ver. 4.0.0-beta.0 on joplin(Ubuntu 16.04.5 LTS) (via ssh & vpn) from release zip & GH repo clone, but i had an error.

### Steps to Reproduce

**Log from installation from release zip**

[code]
**Log from installation from GH repo clone**
[code]

[2019-01-21 15:39] zougloub commented on #2137
You can `export MPLBACKEND=Agg` when doing an install on a headless system (see #1374 / #1784).

[2019-01-21 16:44] alexfoias commented on #2137
Yes indeed, exporting MPBLACKEND before installing sct worked.

[2019-01-21 22:58] jcohenadad opened #2138 "Issue while generating QC"
error only occurred on `rosenberg`

[code]

[2019-01-22 12:19] jcohenadad commented on #2044
related to https://github.com/neuropoly/spinalcordtoolbox/issues/2126

[2019-01-22 12:19] #2044 closed

[2019-01-22 12:31] jcohenadad opened #2139 "IndexError threw and program exit instead of silently filling the data structure"
Error from user running 4.0.0-beta-0 on Windows 10 OS, under a VM (Ubuntu18 provided by Oracle).

When running `batch_processing.sh`, the script crashes during `sct_process_segmentation -p shape`. This crash is caused by accessing higher index than the size of the matrix. Then, there is an `No handlers could be found for logger "sentry.errors.serializer"` message from Sentry. So there seem to be t

[2019-01-22 12:59] jcohenadad commented on #2138
running `export MPLBACKEND=Agg` fixes the issue.
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2137

[2019-01-22 13:05] jcohenadad commented on #2139
I was **not** able to reproduce the error on my OSX, via a Docker installation, version `sct-v4.0.0-beta.0-ubuntu-18.04`.

[2019-01-22 15:31] slevyrosetti opened #2140 "Add R-L-A-P to QC html report"
Orientations (R-L, A-P) does not display on QC html report. Please add them.

[2019-01-22 16:30] slevyrosetti opened #2141 "Inconsistent column in output csv file with '-append' flag"
Bug appeared with v4_beta, when calculating CSA across vertebral levels first running for example `sct_process_segmentation -i t2_seg.nii.gz -p csa -vert 3:4 -perlevel 1 -o csa_perlevel.csv` and then using the flag `-append` asking for CSA at only one slice like `-z 180` ==> in the csv file, there is a shift in columns and CSA result displays in the "Vertebral levels" column.

[2019-01-22 17:40] slevyrosetti opened #2142 "Look more into nipype for processing pipeline and parallelization"
From discussions at 2019 SCT course in London, look more into [nipype](https://nipype.readthedocs.io/en/latest/) for batch processing and pipeline as advised by @fprados (Thanks! :) )

[2019-01-22 17:42] slevyrosetti opened #2143 "Better documenting sct_register_to_template"
Also issued from discussion at 2019 SCT course in London, add documentations to `sct_register_to_template` as advised by John.

[2019-01-22 17:46] jcohenadad opened #2144 "Remove deprecated and unused functions"

[2019-01-22 20:57] #2113 closed

[2019-01-22 20:57] #2114 closed

[2019-01-23 11:55] #2144 closed

[2019-01-24 13:22] charleygros opened #2146 "Error of compatibility between 'extract_centerline' and 'centerline generated by viewer'"
We get an error when we try to generate a centerline using a viewer --> `sct_deepseg_sc -centerline viewer` and `sct_get_centerline -method viewer`

This issue has been initially pointed out by: https://sourceforge.net/p/spinalcordtoolbox/help/12/

The following points are no longer compatible:
- `remove_temp_files` is no longer a parameter of `from spinalcordtoolbox.process_seg import extract_cen

[2019-01-24 21:23] alexfoias commented on #2139
I managed to reproduce the error on VM running on win10. Link [here](https://pastebin.com/69qFYjr6).
I managed to reproduce the error also from OSX using the same VDI ([Ubuntu 18.04.1 Bionic Beaver (Final)](https://www.osboxes.org/ubuntu/)). Link [here](https://pastebin.com/hqNNT5ZG).

[2019-01-24 21:41] jcohenadad commented on #1777
The new proposed implementation is that sct_get_centerline would have flag "-o" for file prefix (no more "-ofolder"), and would output, for example with `-o centerline`:
- centerline.nii.gz --> discrete centerline per slice
- centerline.csv --> continuous centerline per slice

[2019-01-24 21:50] jcohenadad commented on #1246
Not a problem anymore since we do the processing in a temp folder

[2019-01-24 21:50] #1246 closed

[2019-01-25 12:45] charleygros commented on #1934
@jcohenadad : Is this issue still open? I am thinking that it was fixed by: [PR 2035](https://github.com/neuropoly/spinalcordtoolbox/pull/2035)

[2019-01-25 12:51] charleygros commented on #1936
(Between "viewer" and "interp" --> I think that 'viewer' is more self-explanatory than 'interp'. What about having 3 methods available: "viewer", "optic", "interp" (when the user input a file with labels) ?)

[2019-01-25 14:50] jcohenadad commented on #1936
@charleygros i agree with you-- it was an old comment. For now i suggest we stick with "optic" and "viewer". No need for "interp".

[2019-01-25 15:03] jcohenadad commented on #1934
@charleygros you're right-- `sct_get_centerline` is now using `sct_process_segmentation.extract_centerline`.

[2019-01-25 15:03] #1934 closed

[2019-01-31 20:46] jcohenadad opened #2148 "QC report doesn't like uncompressed nii segmentation files"
When generating QC report based on segmentation files that are not compressed (nii instead of nii.gz), it crashes (see below):

<details>

[code]

</details><p>

To reproduce:
[code]

This bug is related to #1706. For some reasons, when using .nii instead of .nii.gz, when calling image.data, the type is a memmap instead of a np.array. A workaround is to cast `np.array()` when calling `image.data`.

[2019-02-01 19:36] jcohenadad opened #2149 "OSError: Too many open files when running moco on large files"
When running `sct_fmri_moco` in large files with hundreds of volumes, the function crashes (see below).
Note: this issue would likely occur on `sct_dmri_moco` as well. To be tested.

<Details>

[code]

</Details><p>

To reproduce (on an OSX 4-core 2.6GHz  16GB RAM):
[code]

[2019-02-03 17:12] jcohenadad opened #2150 "Fixture will break in recent version of pytest"
The way some functions used as session fixture are used will break in recent version of pytest (>3.7). Anticipating a move to py3k, we should rewrite some of the test functions which use fixtures.

Also see https://github.com/pytest-dev/pytest/issues/3950

[2019-02-08 22:36] #2146 closed

[2019-02-08 22:36] #1774 closed

[2019-02-08 22:36] #1777 closed

[2019-02-08 22:36] #1886 closed

[2019-02-08 22:36] #1935 closed

[2019-02-08 22:36] #1936 closed

[2019-02-08 22:36] #1937 closed

[2019-02-08 22:36] #1938 closed

[2019-02-08 22:36] #2043 closed

[2019-02-08 23:01] Nicolas-Pinon opened #2151 "sct_deepseg_sc temp file in input data folder"
When using `sct_deepseg_sc`, a file is created, named "image_in_RPI_resampled_seg.nii.gz", in the input data folder (i.e. the folder where the argument of `-i` is)

Regarding its name I think it is a temporary file and should be deleted at the end of the process (and surely be put in a temp folder when the process is ongoing)

To reproduce :

run `sct_deepseg_sc` on any file

[2019-02-11 16:38] jcohenadad opened #2152 "sct_create_mask: possiblity to extend seg input"
Hi, thanks for opening a feature request, please take some time to consider the applicable guidelines:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#reporting-a-bug-or-requesting-a-feature
(about how to suitably describe issues or requests) prior to deleting this blurb when about to submit the issue.

**Feature justification: Is your feature request related to a probl

[2019-02-11 18:19] jcohenadad opened #2153 "Crash caused by wrong estimation of centerline length"
Data: SpineGeneric, Notwill, sub-04

[code]

[2019-02-11 21:19] #2153 closed

[2019-02-12 03:10] charleygros commented on #2151
@Nicolas-Pinon : Thank you for reporting this bug Nicolas!
I have made a small change, could you please review it and let me know how it goes? --> [This PR](https://github.com/neuropoly/spinalcordtoolbox/pull/2155)
Many thanks

[2019-02-12 03:25] jcohenadad opened #2156 "Clearer usage needed for backward warping field"
more info: https://sourceforge.net/p/spinalcordtoolbox/help/18/

[2019-02-12 17:16] Nicolas-Pinon commented on #2151
Thanks for fixing it !

[2019-02-12 17:16] #2151 closed

[2019-02-12 18:01] jcohenadad commented on #2095
Fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2089

[2019-02-12 18:01] #2095 closed

[2019-02-12 18:03] jcohenadad commented on #589
Isolated use case. Will not implement unless inquired by several users.

[2019-02-12 18:03] #589 closed

[2019-02-13 14:51] jcohenadad opened #2160 "Centralize hard-coded access to path for models and data"
The idea here is to centralize data loading that are dispersed throughout SCT functions, inside a single function. E.g.: `spinalcordtoolbox.deepseg_gm.DataResource.get_file_path()`, which loads models specific to GM. We could have all these functions under `spinalcordtoolbox.metadata.py`.

[2019-02-13 14:57] jcohenadad opened #2161 "Centralize image creation for unit testing"
The idea here is to have a single file that has functions used to create Image(), nibabel or nipy images used for testing SCT functions. Currently, many unit tests do similar things, e.g.:
- `test_image`
- `test_process_seg`
- `test_centerline`
- `test_deepseg_sc`
- `test_deepseg_lesion`

The common function should have different features to create synthetic images, including:
- Have a dummy segme

[2019-02-13 15:34] valosekj opened #2162 "sct_label_vertebrae -initz documentation"
Hi,
I noticed change in help of `sct_label_vertebrae` function in the newer versions of SCT (from v4.0.0). In the example for `-initz` argument there is written that C3/4 disc corresponds to disc value 4:

https://github.com/neuropoly/spinalcordtoolbox/blob/fc2fc50f2061b1046ec53376fa371da014b5ac46/scripts/sct_label_vertebrae.py#L104

But in the previous versions of SCT (e.g. 3.1.1.) is mentioned t

[2019-02-13 20:55] zougloub commented on #2149
I'm dealing with this with a workaround for now.

[2019-02-15 16:22] jcohenadad commented on #2162
Hi Jan,
Indeed, you are right, we made this change to be consistent within SCT convention, because other functions use the new definition (i.e., C3/4 disc corresponds to disc value 4). Sorry about the break in retro-compatibility.

[2019-02-15 19:29] jcohenadad opened #2164 "ValueError: too many values to unpack during straightening"
Probably a regression bug caused by recent changes in straightening
[code]

[2019-02-15 22:05] #2098 closed

[2019-02-19 20:02] jcohenadad opened #2165 "ValueError: Array has no mass"
Source of the issue with access to data: https://sourceforge.net/p/spinalcordtoolbox/help/19/

Probably a regression bug caused by recent changes in straightening algo.

Syntax + Error:
[code]

[2019-02-20 16:44] jcohenadad opened #2166 "Missing chuck of the labeled segmentation from the warped label/template"
Strangely, in some images, when warping the template to the native space, the labeled segmentation **PAM50_levels.nii.gz** is discontinued around C1/C2:
![screen shot 2019-02-20 at 11 36 29](https://user-images.githubusercontent.com/2482071/53108052-55f87b80-3504-11e9-831b-75de01d5d97a.png)

## To reproduce

SCT version: **4.0.0-beta.0**
Data (internal): `duke:sct_testing/issues/20190220_issue2166

[2019-02-20 17:33] jcohenadad opened #2167 "Also output manual labels when using -centerline viewer"
To help debugging, improve replicability, etc.

Output file can be called with suffix: "_labels-centerline"

e.g., see: https://sourceforge.net/p/spinalcordtoolbox/help/12/

[2019-02-20 17:37] jcohenadad opened #2168 "Syntax issue"
[code]

[2019-02-20 19:38] jcohenadad commented on #2014
This bug appears when the segmentation is not in the same voxel space as the input image, such as in this example. In the QC module, the center of mass for cropping the image is taken relative to the voxel coordinate of the image (not physical coordinates), hence the bug.

A solution would be to resample to the segmentation within the same space of the input image.

[2019-02-22 04:05] perone opened #2169 "Suggestion for better pipelines with Luigi"
I saw that we often use bash scripts to build pipelines and we also often strugle with monitoring these pipelines to see if everything went well, to execute them in parallel, etc. I experimented with [Luigi](https://github.com/spotify/luigi) and it really seems to fit very well most of the use cases. Here is some example code and how to install and run it on Luigi.

### Installing Luigi
To install

[2019-02-22 14:27] jcohenadad commented on #2169
Very nice proof-of-concept demonstration, thank you very much @perone!!!  We should explore its potential internally for multi-subject tasks, and then think of intuitive strategies for making it easy for external users to create pipelines. I anticipate this might be a bit complicated for most users, but I definitely see the advantages.

[2019-02-22 14:34] zougloub commented on #2169
Relates to #1336 (a lot).

I don't know Luigi, is it easy to declare operations that check for inputs/parameters/tool signatures, so it's possible to bypass unnecessary work when resuming/re-running pipelines ?

Since there are many schedulers (you were pointing at Dask in #1336, I used waf as a PoC, there is also [nipype](https://nipype.readthedocs.io/en/latest/) used in neuro-imaging), maybe a w

[2019-02-24 01:51] #2164 closed

[2019-02-24 19:21] jcohenadad commented on #2138
Nice doc to follow to move to OO:
https://python4astronomers.github.io/plotting/advanced.html

[2019-02-25 20:43] jcohenadad opened #2172 "PAM50: Inconsistent segmentation between cord, levels and levels_continuous"
In the current PAM50 (v4.0.0-beta.0), the cord, levels and levels_continuous are not perfectly matched. See below (slice 904):

PAM50_levels.nii.gz (red) overlaid on PAM50_cord.nii.gz (white):
![screen shot 2019-02-25 at 15 40 18](https://user-images.githubusercontent.com/2482071/53367360-f6d7a400-3913-11e9-8a70-42562c472568.png)

PAM50_levels_continuous.nii.gz (red) overlaid on PAM50_cord.nii.gz

[2019-02-25 21:01] jcohenadad commented on #2166
I cannot reproduce the bug with a recent version of SCT (75fbeaad7ca7244d82917aebb81c313fd58827c2):
![screen shot 2019-02-25 at 15 59 58](https://user-images.githubusercontent.com/2482071/53368355-82eacb00-3916-11e9-9b49-1183b6280dd6.png)

[2019-02-25 21:16] jcohenadad opened #2173 "Use isct_antsApplyTransfo instead of SCT system call for faster execution"
That would result in much faster execution and is an easy fix.

[2019-02-25 21:24] jcohenadad commented on #2166
OK, it seems like [recent changes](https://github.com/neuropoly/spinalcordtoolbox/pull/2147) in the straightening fixed that bug.

[2019-02-25 21:24] #2166 closed

[2019-02-26 16:47] #1778 closed

[2019-02-26 16:47] #2014 closed

[2019-02-26 16:47] #2091 closed

[2019-02-26 16:47] #2148 closed

[2019-02-26 16:47] #2138 closed

[2019-02-27 15:43] #172 closed

[2019-02-27 15:43] #602 closed

[2019-02-27 15:43] #2173 closed

[2019-02-27 15:43] #1528 closed

[2019-02-27 16:08] jcohenadad commented on #2165
Fixed by #2175

[2019-02-27 16:08] #2165 closed

[2019-02-27 16:27] jcohenadad opened #2176 "Issues with type output and compression"
When using `sct_image -type` to change from one type to another (or to the same), the output image is usually larger than the input, suggesting issues in handling data quantization.

Example:
[code]
compare image sizes
[code]
Look at data type:
[code]

[2019-02-27 16:34] jcohenadad commented on #2176
Ideally, I would like to replace our [current implementation](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/image.py#L965), which is heavy and poorly-validated, with something more standard (e.g. nibabel, nipy) if it already exists.

[2019-02-27 18:03] benjamindeleener opened #2177 "How to activate an SCT environment?"
Hello fellow SCT developers,

I installed the latest version of SCT from GitHub and answered "no" to the last question (would you like to add the environment to your .bashrc file?) as I have multiple versions of SCT installed for different projects.

When I try to activate the SCT environment using `sct_launcher`, I get the following message:
[code]

At this point, the selected Python is the corre

[2019-02-27 18:33] jcohenadad commented on #2177
Hi @benjamindeleener
the best way to activate environment is to run (replace `SCT_DIR` with path to SCT):
[code]

[2019-02-27 18:50] benjamindeleener commented on #2177
Thank you @jcohenadad for the quick answer. I tried your solution and it worked for using SCT with the executable script (`sct_*`). However, python is not activated as shown below.

[code]

Then, I activated python using `sct_launcher`:
[code]

And now I can play with it. Thank you for your help!

[2019-02-27 19:45] jcohenadad commented on #2177
Sorry i didn't understand you were trying to call SCT's Python directly from the Terminal. For information, it will soon be possible to install SCT with pip (see https://github.com/neuropoly/spinalcordtoolbox/pull/1996), therefore the `sct_launcher` solution will soon be replaced with venv setup.

[2019-02-27 19:45] #2177 closed

[2019-02-27 19:50] mathieuboudreau opened #2178 "sct_compute_mtr missing output file or folder flag"
**Feature justification: Is your feature request related to a problem? Please describe.**
The MTR script ([sct_compute_mtr.py](https://github.com/neuropoly/spinalcordtoolbox/blob/53b81c4b73fa65ad55ac391649ecb44744c077ad/scripts/sct_compute_mtr.py)) doesn't have a flag to either set the output filename and location ([it defaults to mtr.nii.gz in the active directory](https://github.com/neuropoly/sp

[2019-02-27 19:52] jcohenadad commented on #2178
First solution sounds good.

[2019-02-28 15:23] jcohenadad opened #2179 "Add microstructure atlas to PAM50"
Data are here: https://osf.io/8k7jr/
Paper: https://pubmed.ncbi.nlm.nih.gov/30326296/

Todo:
- bring the atlas in the same coordinate space as the PAM50
- maybe generate a subsampled version? (or in addition to?)
- update the course material
- update `sct_download_data`

[2019-03-02 19:47] jcohenadad opened #2181 "Add a flag to rescale intervertebral disc distance to accommodate pediatric population"
Currently, the disc searching is using the adult PAM50 template to weight the probability of disc detection. This fails if the input subject has a spine dimension very different from the PAM50 population, for example pediatric population.

A possible fix is to add a flag that would rescale the disc distance.

Also see: https://sourceforge.net/p/spinalcordtoolbox/help/21/

[2019-03-05 16:50] jcohenadad commented on #515
With the newly-introduced *detect_c2c3*  module, which is much more robust, we can close this

[2019-03-05 16:50] #515 closed

[2019-03-05 17:20] jcohenadad commented on #626
Should be addressed when refactoring with argparse https://github.com/neuropoly/spinalcordtoolbox/issues/1548

[2019-03-05 17:32] jcohenadad commented on #794
cannot reproduce this issue because the file "20151025_max" has disappeared.

[2019-03-05 17:32] #794 closed

[2019-03-05 17:34] jcohenadad commented on #856
This use case has now been replaced with `sct_label_utils`

[2019-03-05 17:34] #856 closed

[2019-03-05 17:40] jcohenadad commented on #1092
no more relevant with the new QC module

[2019-03-05 17:40] #1092 closed

[2019-03-05 17:49] jcohenadad commented on #1275
with recent improvements in the straightening, execution time is now acceptable

[2019-03-05 17:49] #1275 closed

[2019-03-05 17:49] jcohenadad commented on #1423
with the newly-introduced **detect_c2c3** module, this is no more an issue

[2019-03-05 17:49] #1423 closed

[2019-03-05 17:50] jcohenadad commented on #2099
fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2103

[2019-03-05 17:50] #2099 closed

[2019-03-05 19:03] jcohenadad commented on #1806
This should be dealt with the refactoring of argparse

[2019-03-06 13:09] #502 closed

[2019-03-06 13:09] #2109 closed

[2019-03-06 13:09] #2181 closed

[2019-03-06 13:59] jcohenadad commented on #2167
@charleygros we should also enable verbose mode 2, such that the fitted centerline is also output

[2019-03-06 16:47] Nicolas-Pinon opened #2184 "Parallel processing in python for sct"
Is there a way to parallelize python code in a simple way using one of the modules present in the python installation of sct, for instance `multiprocessing` ?
A simple case being : parallelizing a for loop that loops across many subjects

As discussed with @jcohenadad, opening an issue on this topic will allow future contributors to have a quick response to this simple question.

[2019-03-06 16:54] jcohenadad commented on #2142
related to https://github.com/neuropoly/spinalcordtoolbox/issues/2169 and https://github.com/neuropoly/spinalcordtoolbox/issues/1336

[2019-03-06 18:05] jcohenadad commented on #2184
@Nicolas-Pinon one approach is to use GNU-parallel, as illustrated [here](https://github.com/sct-pipeline/spine-generic/blob/master/run_process.sh#L84). I believe you can also do a system call of parallel within a Python script (if your for loop is within in Python).

Alternatively, we could explore more complex pipeline system as described in those issues:
- https://github.com/neuropoly/spinalcor

[2019-03-06 19:26] jcohenadad opened #2185 "Enable to specify output folder for transformation matrices"
It might be useful for users to access the final transformations, e.g. see: https://sourceforge.net/p/spinalcordtoolbox/help/27/

A possible fix would be to add a flag "-o-transform" (or similar) to output those.

[2019-03-09 15:25] jcohenadad opened #2186 "Likely some NIFTI header problem when using the viewer for initialize centerline"
When using the viewer, the output segmentation has an offset. More information here: http://forum.spinalcordmri.org/t/deepseg-missing-the-mark/22

### To reproduce

**Data (internal server): 20190309_issue2186**

**SCT Version**
master/98357789ef916c1a10bff81d47eabffad5906aeb

**Syntax**
[code]
--> works fine

[code]
--> output shifted

[2019-03-09 15:55] charleygros commented on #2186
Tests with data: 20190309_issue2186

- Input and Ouput have the same q/s form.

- Idem for the fitted centerline (ie the q/s forms are the same as the ones of the input)

- Idem for the manual labels (ie the q/s forms are the same as the ones of the input)

Note: the fitted centerline and the manual labels can be output with the following command:
[code]
after switching to the branch `cg/2168-2167

[2019-03-09 15:56] jcohenadad commented on #2186
@charleygros can you reproduce the issue observed by the user?

[2019-03-09 16:00] charleygros commented on #2186
Yes I can reproduce the issue observed by the user:
![image](https://user-images.githubusercontent.com/14353425/54073911-a92e4480-42e0-11e9-8b56-09dc061b1ede.png)

[2019-03-09 16:22] charleygros commented on #2186
The only difference between the input/output in the q/s forms are: `qform_name`, `qform_code`, `sform_name`, `sform_code`.

Input:
[code]

Output:
[code]

@jcohenadad : What do you think about these differences?

[2019-03-09 20:11] jcohenadad commented on #2186
I don't know about these differences, but there seem to be a bug in `sct_deepseg_sc.core.uncrop_image()`. See below the flip between `seg_unCrop.data` and `im_nii.data` for slice zz=20 (notice the offset):
![anim](https://user-images.githubusercontent.com/2482071/54076816-93d3fe80-427d-11e9-9d09-4d9139aea2a7.gif)

[2019-03-10 02:16] jcohenadad opened #2187 "Make it possible to build the qc folder given existing output"
It would be quite useful in some situations.

Also requested by a user: http://forum.spinalcordmri.org/t/build-qc-folder-from-existing-data/25

[2019-03-10 14:11] charleygros commented on #2186
@jcohenadad --> I looked at the following tmp files: `image_in_RPI_resampled.nii` and `image_in_RPI_resampled_seg.nii` --> there is already an offset at this step, which means that the bug is not due to `sct_deepseg_sc.core.uncrop_image()`, but prior to it.

[2019-03-10 14:35] charleygros commented on #2186
@jcohenadad : I have looked at the files (ie image overlaid with the segmentation) before `sct_deepseg_sc.core.uncrop_image()` --> there is no offset.
--> The bug is indeed certainly in `sct_deepseg_sc.core.uncrop_image()`.

[2019-03-11 01:28] jcohenadad opened #2188 "Add PEP8 coding convention in CONTRIBUTION"
notably for type of commenting, etc.

[2019-03-13 12:24] charleygros commented on #2186
@jcohenadad : I have looked at the files (ie image overlaid with the segmentation) before `sct_deepseg_sc.core.uncrop_image()` --> there is no offset.
--> The bug is indeed certainly in `sct_deepseg_sc.core.uncrop_image()`.

[2019-03-13 12:30] charleygros commented on #2186
I think that the error comes from this line:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg_sc/core.py#L500
--> This line assumed that the centerline starts from z==0.
Which is NOT the case on the reported case when you use the viewer since the first slices are black --> not labels --> no centerline --> the function `sct_deepseg_sc.core.uncrop_image()` reconst

[2019-03-13 17:08] jcohenadad commented on #2184
Another workflow management: https://snakemake.readthedocs.io/en/stable/

[2019-03-13 18:47] smurphy0104 commented on #2139
I am having this same issue. Has anyone found a solution?

It is my understanding that the most recent sct_deepseg_sc is only compatible with sct_process_segmentation; however, I do not receive the error when using the segmentation from sct_propseg. Also, I do not receive an error when just computing CSA from sct_process_segmentation.

Thank you.

[2019-03-13 18:53] jcohenadad commented on #2139
@smurphy0104 could you please upload your segmentation so I can try to debug on my end?

[2019-03-13 19:04] smurphy0104 commented on #2139
[T2w_seg.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/2963183/T2w_seg.nii.gz)

[2019-03-13 19:04] smurphy0104 commented on #2139
Thank you, @jcohenadad

[2019-03-13 19:30] jcohenadad commented on #2139
@smurphy0104 I am not able to reproduce your error with sct-4.0.0-beta.0 on OSX 10.13.6.  Here is the file that I got:
[shape.csv.zip](https://github.com/neuropoly/spinalcordtoolbox/files/2963308/shape.csv.zip)

Can you copy/paste the output of `sct_check_dependencies` so we can verify your environment, as well as the full verbose output of:
[code]

[2019-03-13 20:53] smurphy0104 commented on #2139
@jcohenadad, thank you.

Here is the output for sct_check_dependencies:

Spinal Cord Toolbox (version: 4.0.0-beta.0)
Running /Users/spencerlocal/sct_4.0.0-beta.0/scripts/sct_check_dependencies.py
SCT info:
- version: 4.0.0-beta.0
- path: /Users/spencerlocal/sct_4.0.0-beta.0
OS: osx (Darwin-18.2.0-x86_64-i386-64bit)
CPU cores: Available: 4, Used by SCT: 4
RAM: Primary memory available: 8.00 gigabyt

[2019-03-13 20:58] jcohenadad commented on #2139
great, can you also please copy/paste the output of
[code]

[2019-03-13 20:58] smurphy0104 commented on #2139
@jcohenadad  and here is the output for sct_process_segmentation:

NSRG-VAMC-6728:T2w spencerlocal$ sct_process_segmentation -i T2w_seg.nii.gz -p shape

--
Spinal Cord Toolbox (version: 4.0.0-beta.0)
Running /Users/spencerlocal/sct_4.0.0-beta.0/scripts/sct_process_segmentation.py -i T2w_seg.nii.gz -p shape

Smooth centerline/segmentation...
.. Get center of mass of the centerline/segmentation...
.

[2019-03-13 21:04] jcohenadad commented on #2139
@alexfoias if you have OSX 18.X, can you please try to reproduce the error?

[2019-03-14 13:13] #2186 closed

[2019-03-14 13:58] thiagojrezende opened #2190 "-init flag ignored in v4.0.0-beta.1"
The propseg function showed bad performance in the version 4.0.1-beta when compared with the stable version 3.2.7 for a same subject.
Please verify the figures SCseg_v327 and SCseg_v4b1 that exemplifies the results obtained for each version of the software.

In attachment, follow the commands used for each version and the messages with one image test.

SCT version: 4.b.1

evans:~/Documents/testEni

[2019-03-14 14:09] thiagojrezende opened #2191 "set_label_vertebrae fails in version 4.0.0-beta.1"
The command sct_label_vertabrae of SCT version 4.0.0-beta.1 failed to find C2-C3 in a T1w image. In contrast, for the same subject, the SCT version 3.2.7 identified automatically C2-C3.

In attachment, follows the description of the command used and messages obtained. In addition, follows a test imaging.

SCT version: 3.2.7

<details>

[code]

</details>

![VetebraeLabel_v327](https://user-images.

[2019-03-14 14:45] alexfoias commented on #2139
@jcohenadad  I was able to reproduce the error signalled by @smurphy0104 with the shared T2w file on osx 10.14.3 and from Poly.
 Here is my output:

[code]

[2019-03-14 15:01] alexfoias commented on #2139
@jcohenadad I tried on **version: 4.0.0-beta.1** and it works.  I obtain this csv
[shape.csv.zip](https://github.com/neuropoly/spinalcordtoolbox/files/2967024/shape.csv.zip)

Here is the **sct_check_dependencies**:
`
alex-macbook:~/Desktop $ sct_check_dependencies

--
Spinal Cord Toolbox (version: 4.0.0-beta.1)
Running /Users/alfoi/sct_4.0.0-beta.1/scripts/sct_check_dependencies.py
SCT info:
- ver

[2019-03-14 20:13] Nicolas-Pinon commented on #2184
Thanks for the propositions !

The bit of code I wanted to parallelize was this one : https://github.com/neuropoly/spinalcordtoolbox/blob/441cf21f160ce720a05fa57961bcc2f17fd28d10/scripts/nicolas_scripts/evaluate_hogancest.py#L76
But I have to transform it into a function that have files has an input to then parallelize it.

I guess it is easier to do everything _in_ python directly, and here I won

[2019-03-14 20:19] jcohenadad commented on #2184
for that application i would probably use the multiprocessing module. Nice tutorials:
- https://sebastianraschka.com/Articles/2014_multiprocessing.html
- https://pymotw.com/2/multiprocessing/basics.html

[2019-03-14 20:21] Nicolas-Pinon commented on #2184
Perfect, thanks !

[2019-03-14 20:40] jcohenadad commented on #2190
@thiagojrezende thank you for raising that issue! I confirm that I can reproduce your observations. We will work on it with top priority.

[2019-03-14 20:52] jcohenadad commented on #2191
Thank you @thiagojrezende for reporting that issue! I can reproduce on my end. We will work on it with top priority.

[2019-03-15 00:36] jcohenadad opened #2192 "sct_warp_template"
file info_label.txt could have the `# Combined labels` at the end (after `# Clusters used for the first step...`) so that users can easily append at the end of the file new combinations from the terminal.

[2019-03-15 00:38] jcohenadad opened #2193 "Add flag to combine all labels"
Currently, when listing flags with -l, estimation is done for each tract separately. Users should be able to combine all tracts.

[2019-03-15 13:28] #2167 closed

[2019-03-15 13:28] #2168 closed

[2019-03-15 13:33] jcohenadad opened #2194 "When using -perlevel without specifying -vert, output computes for each slice"
This behaviour is counterintuitive. When specifying -perlevel without -vert, metrics should be aggregated within each level, and output should be done per level for all levels.

[2019-03-15 13:33] jcohenadad opened #2195 "When using -perlevel without specifying -vert, output computes for each slice"
This behaviour is counterintuitive. When specifying -perlevel without -vert, metrics should be aggregated within each level, and output should be done per level for all levels.

[2019-03-15 19:33] jcohenadad commented on #2140
Now fixed :-)

[2019-03-15 19:33] #2140 closed

[2019-03-15 19:35] #2027 closed

[2019-03-15 20:04] jcohenadad commented on #2139
@smurphy0104 looks like the bug does not appear with `v4.0.0-beta.1`. Could you please update to this version and try on your end?

[2019-03-15 20:09] jcohenadad commented on #2028
the default and preferred behaviour is to only output csa per slice, unless asked by the user otherwise

[2019-03-15 20:09] #2028 closed

[2019-03-15 20:09] jcohenadad commented on #2030
this feature does not exist anymore as of v4.0.0-beta.1

[2019-03-15 20:09] #2030 closed

[2019-03-15 20:25] jcohenadad opened #2196 "Class TKApplication is implemented in both ..."
Not really a bug, but annoyingly, since v4.0.0 (i think), we get this message when running deepseg_sc/gm:
[code]

[2019-03-15 21:40] jcohenadad opened #2197 "Make it possible to specify "Dataset" and "Subject" as input to qc"
In case dataset does not respect BIDS convention.

[2019-03-16 15:16] jcohenadad commented on #2190
The problem of performance is caused by v4.0.0-beta.1 not accounting for the flag `-init` anymore. This is a regression bug which will be addressed

[2019-03-16 19:42] jcohenadad commented on #2190
After fixing the -init flag issue, processing time drastically decreases (20s vs. 40s).

[2019-03-16 19:45] jcohenadad commented on #1455
As deepseg_sc becomes more standard, this issue becomes less relevant.

[2019-03-16 19:45] #1455 closed

[2019-03-16 20:24] jcohenadad commented on #1406
now addressed with flag `-rescale`

[2019-03-16 20:24] #1406 closed

[2019-03-16 20:25] jcohenadad commented on #1274
Closing because:
- Isolated case
- deepseg_sc is replacing propseg

[2019-03-16 20:25] #1274 closed

[2019-03-16 20:27] jcohenadad commented on #841
Closing because:
- isolated case
- `sct_deepseg_sc` is replacing propseg

[2019-03-16 20:27] #841 closed

[2019-03-16 20:27] jcohenadad commented on #396
Closing because:
- isolated case
- `sct_deepseg_sc` is replacing propseg

[2019-03-16 20:27] #396 closed

[2019-03-16 20:27] jcohenadad commented on #123
Closing because:
- isolated case
- `sct_deepseg_sc` is replacing propseg

[2019-03-16 20:27] #123 closed

[2019-03-17 12:11] #1833 closed

[2019-03-17 12:11] #2190 closed

[2019-03-17 18:39] jcohenadad commented on #2194
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/2195

[2019-03-17 18:39] #2194 closed

[2019-03-18 13:57] jcohenadad commented on #1794
Function now implemented in `sct_label_vertebrae -discfile`

[2019-03-18 13:57] #1794 closed

[2019-03-18 13:58] jcohenadad commented on #665
User should use `-no-angle 1` if slice is almost orthogonal to the cord centerline.

[2019-03-18 13:58] #665 closed

[2019-03-18 14:30] charleygros commented on #2191
It seems that C2-C3 is correctly detected by the algorithm:
![c2c3_map](https://user-images.githubusercontent.com/14353425/54537392-81c52f00-49e6-11e9-8c37-eda0f0e6615c.png)

--> The issue certainly comes from the post-processing.
Also, it would be certainly helpful to add a `remove_tmp_file` option for the module `detect_c2c3`.

[2019-03-18 14:35] jcohenadad commented on #2191
since we want to refactor this variable (heavy in the code, hard to maintain, etc.) for now we can just create all temp files with the `sct.tmp_create` module

[2019-03-19 18:10] smurphy0104 commented on #2139
@jcohenadad @alexfoias thank you for your input. I updated to version v4.0.0-beta.1 and it works. No error is thrown and the results appear consistent with previous results and what is expected. (I am also running on max osx 10.14.3) Thank you.

[2019-03-19 18:26] #2139 closed

[2019-03-19 21:59] jcohenadad commented on #2191
@thiagojrezende could you please confirm

[2019-03-20 13:14] #2141 closed

[2019-03-20 13:14] #2195 closed

[2019-03-20 13:44] thiagojrezende commented on #2191
I updated my SCT version, ran the sct_label_vertebrae and got the following error:

evans:~/Documents/Errors_SCT $ sct_label_vertebrae -i cont_03.nii.gz -s cont_03_seg.nii.gz -c t1

--
Spinal Cord Toolbox (version: dev)
Running /Users/thiago_admin/spinalcordtoolbox/scripts/sct_label_vertebrae.py -i cont_03.nii.gz -s cont_03_seg.nii.gz -c t1

Create temporary folder (/var/folders/dv/9t9_nj0d6ln20k7

[2019-03-20 13:47] jcohenadad commented on #2191
@charleygros can you please look into this?
@thiagojrezende i suggest you use git to update SCT install (not download the zip from github, which takes more time and does not allow us to track the exact master version you are using)

[2019-03-20 14:17] thiagojrezende commented on #2191
My apologies. But this was my first download from master branch and to keep update the SCT with git pull, I needed the clone of SCT from github. The next versions, I will use git.
Just for the record, I used the latest version released 40 min ago.

[2019-03-22 10:18] charleygros commented on #2191
When I am running the `sct_label_vertebrae` command mentioned by @thiagojrezende --> I obtain the same error.

However, when I am running the pythonic module `detect_c2c3` from my terminal with the same inputs --> it works fine.

Keep investigating.

[2019-03-25 00:40] charleygros commented on #2191
The error reported by @thiagojrezende is due to this line:
[code]

For some reason, the type of `nii_seg.data[:, is_c2c3, :]` is `<class 'numpy.core.memmap.memmap'>`, which causes the error.
To convert it to a `np.array` seems to solve the issue.

[2019-03-25 00:45] jcohenadad commented on #2191
yup, known issue (unsolved), e.g., see https://github.com/neuropoly/spinalcordtoolbox/issues/2148

it is likely that this bug will come up again at some point, in another SCT function. @zougloub do you have so clues as to how to solve it?  maybe the move to python 3 will fix it.

[2019-03-25 00:49] charleygros commented on #2191
Yes, that's indeed the same error: as in #2148, the bug is not observed when using the compressed segmentation file.

Should I submit a PR with `center_of_mass(np.array(.))` to fix `sct_label_vertebrae` bug? or should we wait for @zougloub insights?

[2019-03-25 00:56] jcohenadad commented on #2191
Submit the PR, this is time sensitive. Thanks!

[2019-03-25 05:18] #2191 closed

[2019-03-26 14:55] jcohenadad opened #2203 "Abnormal "Weights sum to zero, can't be normalized" in aggregate_slicewise()"
When running `aggregate_slicewise()`, the message "Weights sum to zero, can't be normalized" comes up quite annoyingly. We need to investigate its origin and fix what needs to be fixed.

Also see https://github.com/neuropoly/spinalcordtoolbox/issues/2139#issuecomment-472904950.

[2019-03-26 19:05] jcohenadad opened #2204 "Account for rotation in default settings"
We should re-introduce centermassrot (or alternative algorithm) in `sct_register_to_template`, because in some cases, e.g. here for the London course, rotation of the cord is obvious and should be accounted for:

![anim](https://user-images.githubusercontent.com/2482071/55026041-89816680-4fd8-11e9-9f90-54277ce4583d.gif)

@Nicolas-Pinon could you open a PR on your current investigations so we can s

[2019-04-01 17:26] jcohenadad opened #2205 "ValueError: Extra data when generating qc report"
### Description

When running a pipeline on an ssh-connected station (no tunnelling), I experienced a bug during QC report generation:

<details>

[code]

</details>

### Investigations 1

- `sct_testing` --> pass
- Same dataset, running locally --> pass
- output in new qc folder --> pass
- output in old qc folder --> FAIL

After investigations (see Investigations 1) The source of this bug seems r

[2019-04-01 18:42] zougloub commented on #2205
Checking that the file is used by another process may not be feasible and would be costly. What can be done is to use [file locking](https://en.wikipedia.org/wiki/File_locking), maybe with [portalocker](https://pypi.org/project/portalocker/) which is suitably licensed for use.

[2019-04-01 18:46] jcohenadad commented on #2205
thanks @zougloub, i will implement that option

[2019-04-02 15:29] #1395 closed

[2019-04-02 15:29] #1044 closed

[2019-04-02 15:29] #1942 closed

[2019-04-02 15:29] #2203 closed

[2019-04-02 20:52] jcohenadad opened #2207 "Document usage for config file .sctrc"
**Feature justification: Is your feature request related to a problem? Please describe.**
The config file .sctrc is useful, but is not documented.

**Describe the solution you'd like**
Document it in README and wiki

[2019-04-03 14:37] #2205 closed

[2019-04-03 14:42] jcohenadad opened #2208 "Lock file when writing csv output"
We should use the function introduced in this recent PR https://github.com/neuropoly/spinalcordtoolbox/pull/2206 for locking csv output files of the following functions upon writing/appending:
- sct_extract_metric
- sct_process_segmentation

[2019-04-03 15:31] jcohenadad opened #2209 "Optic temp folder is not removed by default"
Optic temp folder, which contain the files below, should be deleted by default. Currently it is not, causing HD filling when running SCT pipeline across hundreds of data.
[code]

[2019-04-03 19:41] lrouhier opened #2210 "Straightening glitches"
### Description

Glitches in the output of sct_straighten_spinalcord. Seems to work better on the docker version than on the GitHub version.

### Steps to Reproduce

OS: OSX mojave
0. Install SCT git version (git pull 02/04/2019)

1. `sct_deepseg_sc -i ANU-005-t2.nii -c t2`

2. sct_straighten_spinalcord -i ANU-005-t2.nii -s ANU-005-t2_seg.nii

3. open ANU-005-t2_straight.nii

File in Duke/sct_test

[2019-04-03 20:05] jcohenadad commented on #2210
issue might be related to the poor resolution in the RL direction.

[2019-04-04 15:53] Nicolas-Pinon commented on #2204
Will do soon !

[2019-04-04 19:11] Nicolas-Pinon commented on #2204
Is it possible to have the location of this specific file ? It looks like a great example of spinal cord rotation

[2019-04-04 19:19] jcohenadad commented on #2204
@Nicolas-Pinon mentioned above ;-) "London course"

[2019-04-04 20:08] jcohenadad commented on #2210
Note from @lrouhier: the issue also appears when resampling the input data to 0.6mm iso

[2019-04-04 20:13] jcohenadad commented on #2210
i can reproduce

[2019-04-04 20:21] jcohenadad commented on #2210
The issue does not appear as much in v3.2.7. See below comparison v4.0.0-beta.2 vs. v3.2.7:
![anim](https://user-images.githubusercontent.com/2482071/55585898-bbd84580-56f5-11e9-91c3-f6a2c84eba36.gif)

[2019-04-05 13:46] #2209 closed

[2019-04-05 14:57] jcohenadad opened #2213 "Clarify handling of logger, error and exceptions"
### Description of the problem
SCT uses several ways to communicate and raise exceptions:
- sct_utils.printv
- [sct_utils.log](https://github.com/neuropoly/spinalcordtoolbox/wiki/logging)
- logger module (e.g. [here](https://github.com/neuropoly/spinalcordtoolbox/blob/925987e5b179a67cdc95ea9bc10aa7e4758c69d2/spinalcordtoolbox/gui/sagittal.py))
- sct_utils.class Error(Exception)
- try/except

### P

[2019-04-05 15:05] jcohenadad commented on #2210
The problem was related to the bspline fitting, which captures outlier points:
![Screen Shot 2019-04-05 at 10 31 53](https://user-images.githubusercontent.com/2482071/55637269-a402cf00-5792-11e9-9983-a8775e6da07e.png)

When using polyfit (degree 10), this problem does not occur and the straightening is cleaner:
![fig_centerline_190405110200309075_polyfit](https://user-images.githubusercontent.com/

[2019-04-05 15:12] jcohenadad commented on #2210
This raises concerns in having **bspline** being the default algorithm for important functions: `sct_register_to_template`, `sct_straighten_spinalcord`.

Further UT should be deployed.

[2019-04-05 15:18] zougloub commented on #2213
Logging is one thing, printing is another, and handling exceptions yet another thing.

In a sane world, according to my views:
- Library functions:
  - shouldn't do any printing;
  - can use logging;
  - throw exceptions (there is a sufficiently big hierarchy of built-in exceptions that we don't really need to invent new ones);
  - catch exceptions, log a sane message, and rethrow exceptions;
- Fr

[2019-04-05 15:31] jcohenadad commented on #2213
Thanks @zougloub! So do you think we should forget `sct_utils.log`?

And would the example ideally look like this?
[code]

[2019-04-07 16:37] jcohenadad commented on #1433
Fixed in #1669

[2019-04-07 16:37] #1433 closed

[2019-04-07 16:38] jcohenadad commented on #1366
Been fixed for a while

[2019-04-07 16:38] #1366 closed

[2019-04-07 18:52] jcohenadad commented on #1941
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2213

[2019-04-07 18:52] jcohenadad commented on #2213
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/1941

[2019-04-07 19:03] jcohenadad commented on #2213
Currently, when introducing `logging` in SCT python module, there is a conflict with sct_utils.printv, which causes duplication of output message in the terminale:
[code]

A PR will need to go through all SCT functions, and introduce the logger at once, while modifying the current printv function (which relies on the logger) to avoid such problem

[2019-04-08 12:43] #1889 closed

[2019-04-08 12:43] #2210 closed

[2019-04-08 13:26] thiagojrezende opened #2215 "set_deep_sc fails in to identify cervical SC"
Hi,
I ran the set_deep_sc command in patients with Friedreich ataxia and, in some subjects, the cervical spinal cord was not identified. However, the processing was finished as if everything went well and when I opened the segmentation image there was nothing or only 2 or 3 slices with wrong segmentation.

Below, follows the description of the command used and the messages obtained. I am also send

[2019-04-08 13:34] jcohenadad commented on #2215
@thiagojrezende before going further, we would need to know how you are planning to use the segmentations: is it for CSA measures? for registration to the template in order to use another image (e.g., diffusion)? What levels are you interested in?  Based on the image `frda_15.nii.gz`, I would not go below C3 because the SNR is quite low. But again, it depends what you are planning to do with the s

[2019-04-08 13:39] thiagojrezende commented on #2215
I would like to measure only CSA in C2/C3 levels for this kind of image.

[2019-04-08 14:55] jcohenadad commented on #2215
@thiagojrezende could you try with the latest version (4.0.0-beta.2) or from the master branch? Looks like your problem is now solved:

**frda_15**:
![Screen Shot 2019-04-08 at 10 53 21](https://user-images.githubusercontent.com/2482071/55733914-a3fe0b80-59ec-11e9-91ff-df2b6aa214ad.png)

**frda_65**:
![Screen Shot 2019-04-08 at 10 55 30](https://user-images.githubusercontent.com/2482071/55734039-d

[2019-04-08 15:14] thiagojrezende commented on #2215
Yes, it works.
I just run with this new version.
Thanks.

[2019-04-08 15:18] #2215 closed

[2019-04-08 15:19] jcohenadad commented on #2215
@thiagojrezende i recommend you use the QC feature for quicker visual assessment, e.g.:
[code]

[2019-04-08 15:23] thiagojrezende commented on #2215
@jcohenadad , I am doing this for the new images processed with SCT since our last talking.

[2019-04-08 20:02] jcohenadad opened #2217 "Slow generation of QC reports"
Currently the QC report generation can be very slow (~1.5min). The main bottleneck is the use of the method [image.interpolate_from_image](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/image.py#L666) at [this line](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/slice.py#L324).

A suggestion would be to replace `image.interpolate_

[2019-04-09 01:11] jcohenadad commented on #1367
Actually I don't agree with this. Those figures are more used for debugging and can confuse users. Status quo is acceptable here

[2019-04-09 01:11] #1367 closed

[2019-04-09 16:27] jcohenadad commented on #1941
Duplicate of #2213

[2019-04-09 16:27] #1941 closed

[2019-04-09 18:08] #2187 closed

[2019-04-09 18:08] #2197 closed

[2019-04-10 13:20] valosekj opened #2219 "sct_process_segmentation CSA angle correction"
Dear SCT experts,
we extracted values of cross-sectional area (CSA) from our dataset using `sct_process_segmentation` function (SCT v4.0) in two different setting (with and without angle correction):

1) With no-angle correction:
`sct_process_segmentation -i T2TRA_seg.nii.gz -p shape -vert 3:7 -vertfile T2TRA_seg_labeled.nii.gz -perslice 1 -no-angle 1 -append 1 -o noangle_correction.csv`

2) With

[2019-04-10 13:56] jcohenadad commented on #2062
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2106
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/1896

[2019-04-10 14:14] jcohenadad commented on #2219
Hi @valosekj, this is a very nice investigation. We've indeed observed instabilities in the computation of the angle, which was addressed in this PR (merged on master last week): https://github.com/neuropoly/spinalcordtoolbox/pull/2200
Would you be able to re-run your analysis using SCT master's version?
Cheers

[2019-04-10 15:42] alexfoias opened #2220 "Installation failed possibly linked to gcc"
OS: OSX, v10.14.3
After cloning the current sct master branch version from GH. I faced the following problem:

<details>

[code]

</details>

[2019-04-10 15:46] zougloub commented on #2220
Using the installer, we should manage without the wheel building.
[code]
Will try to have these installed using conda. @alexfoias what's an environment that we can easily reproduce to have the problem?

[2019-04-10 15:55] alexfoias commented on #2220
I tried it on monk (osx 10.14.3).

[2019-04-10 18:06] alexfoias commented on #2220
The problem seems to persist using **branch remotes/origin/cJ-2220-install-without-gcc**

[code]

[2019-04-11 08:40] valosekj commented on #2219
Hi @jcohenadad, thank you for suggestion. But after I updated to the latest SCT version using `git pull`, all SCT scripts fail with python's _portalocker_ package import error:

I installed portalocker manually using `python -m pip install portalocker` and checked it:

But it did not help...

Thanks!
Jan

[2019-04-11 10:59] jcohenadad commented on #2219
Hi, you need to run: ./install_sct

[2019-04-11 17:47] jcohenadad commented on #1546
Closing because no followup

[2019-04-11 17:47] #1546 closed

[2019-04-11 18:19] jcohenadad commented on #2196
Appears when running:
[code]

[2019-04-11 18:23] jcohenadad commented on #2196
Originates from:
[code]

[2019-04-11 19:26] jcohenadad opened #2222 "Installation error: Failed to download SCT binaries"
Did a git checkout of this version d50102be4e00ead24651e5bfe701e645965961cb, then tried to install and got the following error related to the download of binaries (failed for both URL mirrors):

<details>

[code]

</details>

OS: OSX 10.13.6

[2019-04-11 19:39] jcohenadad commented on #2222
I tried another time, got the same error

[2019-04-11 19:41] jcohenadad commented on #2196
Useful info: https://stackoverflow.com/questions/35593602/tk-framework-double-implementation-issue

[2019-04-11 19:59] jcohenadad commented on #2222
Works on `joplin` (Ubuntu).

Additional info: https://stackoverflow.com/questions/29134512/insecureplatformwarning-a-true-sslcontext-object-is-not-available-this-prevent

[2019-04-11 20:04] jcohenadad commented on #2222
This solved the problem:
[code]

I suggest we add this in the pip requirements

[2019-04-11 21:08] jcohenadad commented on #2196
After re-installing SCT, I don't have that issue anymore, however another came up while launching `sct_check_dependencies`:
[code]

[2019-04-11 21:11] jcohenadad commented on #2196
The Tkinter issue was solved by deactivating the mpl config file:
[code]

[2019-04-11 21:13] #2196 closed

[2019-04-12 00:43] #2222 closed

[2019-04-12 18:00] renelabounek commented on #2219
Hi @jcohenadad, Jan has updated SCT to the latest master version at our machines and it seems the current algorithm version has an issue with AP angle estimation. Please, see attached visualization. Percentage differences for RL angle look relevant. AP angle still makes 0-10% CSA metric differences for angles close to 0°. We expect the whole 3D function (left graph) should have an elliptic parabol

[2019-04-12 20:36] jcohenadad opened #2224 "Specify what angle_RL and angle_AP refer to"
Refers to https://github.com/spinalcordtoolbox/spinalcordtoolbox/issues/2219#issuecomment-482716199

[2019-04-12 20:43] jcohenadad commented on #2219
Hi @renelabounek, thank you so much for these exhaustive evaluations. It is always very helpful to have additional validation outside of our unit tests.

A bit of clarification. First of all, AP angle means the angle about the AP axis, i.e., in the coronal plane, while the RL angle means the angle about the RL axis, i.e., in the sagittal plane, as specified in the (updated) [London SCT course '19]

[2019-04-12 20:44] jcohenadad opened #2225 "Add tests in the AP direction"
Related to https://github.com/neuropoly/spinalcordtoolbox/issues/2219#issuecomment-482716199

[2019-04-12 21:33] jcohenadad opened #2227 "Introduce pytest in setup.py"
Was removed from requirements.txt in https://github.com/neuropoly/spinalcordtoolbox/pull/1996

[2019-04-12 21:39] jcohenadad opened #2228 "LinAlgError: SVD did not converge"
This bug happens at the oversampling of the image, done [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/process_seg.py#L155).

It is caused by the creation of a negative index (overflow), if padding is bigger than the image index, [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/process_seg.py#L153)

Solution: clip index

To re

[2019-04-13 00:24] #2225 closed

[2019-04-13 00:24] #2228 closed

[2019-04-13 00:29] jcohenadad commented on #2219
Hi, I implemented more exhaustive tests for CSA with AP angulation (see https://github.com/neuropoly/spinalcordtoolbox/pull/2226), and all tests pass, so I don't think there is a problem with the implementation of the angle correction method.

What I think is happening in the bottom right panel of your graphic [here](https://github.com/neuropoly/spinalcordtoolbox/issues/2219#issuecomment-482667793

[2019-04-13 16:36] renelabounek commented on #2219
Hi @jcohenadad, I agree you are right. After your yesterday angle variable clarification, I was thinking about it in the evening and have got to the same conclusion. The angle_RL is the angle characterizes the most common spinal cord bendings with expected much larger angle value than for the angle_AP (which is more related to the phenonenon, if the subject has the neck in the scanner parallel or

[2019-04-15 18:28] #2213 closed

[2019-04-16 14:19] jcohenadad opened #2229 "isct_test_ants needs a logger"
Otherwise users get an error message upon SCT installation:
[SCT_installation_2019-04-16_failed.txt](https://github.com/neuropoly/spinalcordtoolbox/files/3085294/SCT_installation_2019-04-16_failed.txt)

[2019-04-16 19:08] jcohenadad opened #2231 "Replace nipy dependency with nibabel for i/o"
for `resample.resample_nipy`, we can use nibabel objects (more commonly used in SCT) instead of nipy ones, see Example 44: https://www.programcreek.com/python/example/98176/nibabel.load

[2019-04-16 21:40] #2229 closed

[2019-04-16 21:46] jcohenadad commented on #486
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/470

[2019-04-16 21:46] #486 closed

[2019-04-17 13:48] jcohenadad opened #2232 "Some temp folder are not removed by default"
When running pipeline on large population, HD saturated because some temp folders were still present. They notably contained src_reg_step0 files, suggesting that the culprit is probably `sct_register_multimodal`.

[2019-04-17 17:07] jcohenadad opened #2233 "FileNotFoundError: No such file or no access: ‘image_in_RPI_norm.nii’ with kernel 3D"
This bug happens when using `sct_deepseg_sc` with -kernel 3D.

Here's the syntax and error:

<details>

[code]

</details>

In addition to fixing the bug, I suggest to increase the sensitivity of the unit test to catch that error.

Also see: http://forum.spinalcordmri.org/t/sct-deepseg-sc-error-using-3d-kernel-v4-0-0-beta-2/56

[2019-04-17 19:15] jcohenadad commented on #2232
After further investigations, i noticed that even though the command `sct.rmtree(path_tmp, verbose=verbose)` is run, the folder is not removed.

This happens on the /tmp folder of `joplin`.

[2019-04-17 19:20] jcohenadad commented on #2232
When trying later, on the same folder using the same command, it does erase. Maybe the issue is caused by a temporary lock.

[2019-04-17 19:58] jcohenadad commented on #1527
currently working on this issue. Installing with `SCT_MINICONDA=3`: it takes **ages** to install(!)

[2019-04-17 20:09] jcohenadad commented on #1527
Weird: after installation it says SCT is using Python 2.7 (see output of `sct_check_dependencies`):
[code]

[2019-04-17 20:31] jcohenadad commented on #1527
When re-installing manually (i.e. not using `install_sct`), after activating conda, it does use Python3.7 by default.

Maybe the `unset PYTHONPATH` command was not taken into account by the installer?

[2019-04-18 13:01] jcohenadad opened #2234 "Weird looking straightened spinal cord as input to deepseg algo"
While debugging #2233, i noticed that the intermediate file `image_in_RPI_norm.nii` to be resampled and then input to deepseg algorithm looks like this:
![Screen Shot 2019-04-18 at 08 59 02](https://user-images.githubusercontent.com/2482071/56362662-6baeb800-61b8-11e9-8436-fc4f5de58d4f.png)

Which is likely problematic, especially for 3D kernel.

[2019-04-18 13:08] jcohenadad commented on #2234
OK, I suspect the decision to do a slice-wise translation as opposed to a straightening was done to save time. This does make sense for 2D kernel, but probably not for 3D kernel. What do you think @charleygros?

[2019-04-18 14:50] jcohenadad commented on #2233
Fixed in b5ea13a4689903b08546b9a10f03c6fb7b60fcef

[2019-04-18 14:50] #2233 closed

[2019-04-18 15:42] jcohenadad opened #2235 "-param gaussian_std is no more used and should be removed"
This param flag is no more used with the new init_c2c3 SVM/HOG method and therefore should be removed from the usage (and the code where relevant)

[2019-04-18 16:16] jcohenadad opened #2236 "Label is misplaced in non-RPI data for initializing vertebral labeling"
When specifying the SI value for placing the label, the label is placed at a wrong location. In the example below, the label should be placed at y=228 (corresponding to z_IS=228 on this image orientation), but it ends up being created at y=539.

Data: **duke/sct_testing/bids/sct-users/sub-20190418**

[code]

![Screen Shot 2019-04-18 at 12 10 35](https://user-images.githubusercontent.com/2482071/56

[2019-04-18 17:29] jcohenadad opened #2237 "C2C3 disc detection is failing in some data"
In some cases, automatic c2c3 detection fails. The purpose of this issue is to list the problematic data, in order to improve the model/methods:
- sct_testing/bids/sub-20190418

To reproduce:
[code]

[2019-04-18 20:12] jcohenadad commented on #1527
Summary of the steps (on OSX) for version 0854a908015c00b94bd394b137ba83a76672fa49
[code]

[2019-04-18 21:20] jcohenadad commented on #1527
Forgot to add: deepseg_lesion_models in download. Updated version of experimental protocol below:

<details>

[code]

</details>

[2019-04-19 09:50] charleygros commented on #2234
For 2D kernel --> as mentioned, slice-wise translation does not affect.

For 3D kernel --> I thought the same thing. However, during preliminary experiences comparing straightening vs. translation, the algo did not appeared to be affected by these "unreal stairs" of the SC while using the slice-wise translation (which is based on the prior detected centerline). Hence, in order to save time (especi

[2019-04-19 11:20] charleygros opened #2239 "Refactor 'kernel_3d' section of deepseg_sc/core"
Todo:

- Impose isotropic resolution (0.5mm3)
- Centralize all resampling operations in the same place
- Expand the testing of 'kernel_3d' method

[2019-04-23 13:44] jcohenadad commented on #2220
This is becoming **very** urgent, see: http://forum.spinalcordmri.org/t/sct-v4-0-0-beta-2-is-out/43

[2019-04-24 23:27] Nicolas-Pinon opened #2240 "ImportError: cannot import name _validate_lengths on joplin"
When trying to use `sct_propseg` or `sct_deepseg_sc` or `sct_label_vertebrae` (I think the list goes on and on) on **joplin**, I am facing this issue (copy of the terminal) :

[code]

This has been tested on `master`, commit `1251241008f8563bd4ff6244ce3722511af7adaa`

[2019-04-25 00:32] jcohenadad commented on #2240
could you please run `sct_check_dependencies` and `sct_testing` and copy/paste the output?

[2019-04-25 00:59] Nicolas-Pinon commented on #2240
u100542@joplin:~$ sct_check_dependencies
SCT info:
- version: git-master-1251241008f8563bd4ff6244ce3722511af7adaa
- path: /home/GRAMES.POLYMTL.CA/u100542/sct
OS: linux (Linux-4.4.0-142-generic-x86_64-with-debian-stretch-sid)
CPU cores: Available: 128, Used by SCT: 128
RAM: MemTotal:       264009372 kB
total        used        free      shared  buff/cache   available
Mem:         257821        1016

[2019-04-25 01:04] Nicolas-Pinon commented on #2240
u100542@joplin:~/sct$ ./install_sct

Welcome to the SCT installer!

SCT version ......... dev
Installation type ... in-place
Operating system .... linux
sudo mode ........... 0

To improve user experience and fix bugs, the SCT development team is using a
report system to automatically receive crash reports and errors from users.
These reports are anonymous.
Do you agree to help us improve SCT? [y]

[2019-04-25 01:07] jcohenadad commented on #2240
[here](https://github.com/neuropoly/spinalcordtoolbox/issues/2240#issuecomment-486480406) is an example

[2019-04-25 01:12] jcohenadad commented on #2240
Hum, strange... maybe there was a glitch during the first installation, and when you installed the 2nd time `scikit-image` installed OK. What if you re-run `sct_check_dependencies` now?

[2019-04-25 02:34] Nicolas-Pinon commented on #2240
I had already re-installed sct before running everything (I always do when something's not right), so I guess it will be the same

[2019-04-25 02:35] jcohenadad commented on #2240
ok, could you run `sct_testing`?

[2019-04-25 02:48] Nicolas-Pinon commented on #2240
It was already done in the comment but was TOTALLY not clear because of the presentation, now I edited everything it's a lot more clearer.

[2019-04-25 15:10] alexfoias commented on #2240
@jcohenadad @Nicolas-Pinon
I tried the current master version `1251241008f8563bd4ff6244ce3722511af7adaa` on joplin using my grames account without any problems.
<details>
[code]
</details>

[2019-04-25 15:14] alexfoias commented on #2240
`sct_check_dependencies` output:
<details>
[code]
</details>

[2019-04-25 17:36] Nicolas-Pinon commented on #2240
I really can't figure out why it doesn't work on my GRAMES account, everything is the same right ?

[2019-04-25 18:12] Nicolas-Pinon commented on #2240
@jcohenadad check_dependencies on scikit image still failing

Thing that I really don't understand is, at the end of install_sct, check_dependencies is run, why does it give two different results when used at the end of installation and when used independently ?

[2019-04-25 18:16] jcohenadad commented on #2240
@Nicolas-Pinon since this is an isolated case and the installer will soon be replaced by py3k, i suggest we move on. So, ask @alexfoias to run the batch_processing on his session, run it on your branch, and compare results.

[2019-04-26 20:27] jcohenadad commented on #2176
Another problem: sometimes, the command does **not** work. Example on sct_testing_data/t2:
[code]

the output is int16 (not float32)

[2019-04-26 20:30] jcohenadad opened #2241 "ValueError: Images of type float must be between -1 and 1."
This bug happens with float32 data.

<details><summary>Trying to reproduce using sct-4.0.0-beta.2 (does **not** reproduce)</summary>

[code]

</details>

--> cannot reproduce: asked user to provide data.

Also see: http://forum.spinalcordmri.org/t/sct-label-vertebrae-error-images-of-type-float-must-be-between-1-and-1/63

[2019-04-26 20:45] jcohenadad opened #2242 "Label vertebral: quit if c2c3 detection failed"
after receiving this message:
[code]

program should exit immediately. Instead, it continues to run...

to reproduce: use sct_testing_data/t2

[2019-04-26 20:48] jcohenadad opened #2243 "Running deepseg on float output a segmentation in float"
it should output in int8

to reproduce: https://github.com/neuropoly/spinalcordtoolbox/issues/2241

[2019-04-27 15:59] jcohenadad commented on #2241
Error can be reproduced with user data (shared in private). It is fixed in https://github.com/neuropoly/spinalcordtoolbox/pull/2238.

[2019-04-27 18:51] jcohenadad opened #2244 "Broken sct_segment_graymatter"
A regression bug, likely caused by changes in interpolation method, broke the integrity of `sct_segment_graymatter`. See below comparison between deepseg_gm and 4.0.0-beta.2:

![anim](https://user-images.githubusercontent.com/2482071/56853886-edf75480-68fb-11e9-9e4b-ccc8e0d76102.gif)

UPDATE: Tested with 3.2.7: gives same result as 4.0.0-beta.2 (i.e. broken).

When looking into this issue, it woul

[2019-04-30 19:28] Nicolas-Pinon opened #2245 "Installation failed : Couldn't work around bad skimage installation"
When trying to install sct on my laptop (`Debian 9`), abbey (`Ubuntu 16.04.5 LTS`) and my station (`OSX 10.13.6`) on master, commit `b0bc30bea4dd43cbea5f8b89d940daf6d8121632`.

I get this error :
[code]

It might be the kind of error which will be fixed by #2238, but can someone tell me if they get the same problem when installing sct ?

Full installation logs :

<details>
<summary>
Debian 9
</sum

[2019-04-30 19:34] jcohenadad commented on #2245
@alexfoias can you try please?

i suspect this is a py2k compatibility issue, which means we should merge #2238 asap. @Nicolas-Pinon do you get an error when installing the jca/py3k branch?

[2019-04-30 19:48] alexfoias commented on #2245
@jcohenadad It failed for me on OSX 10.14.3 on commit `b0bc30bea4dd43cbea5f8b89d940daf6d8121632`.

<details>

[code]

</details>

[2019-04-30 19:57] jcohenadad commented on #2245
ok-- py2k issue then. Let's merge the py3k asap

[2019-04-30 20:38] Nicolas-Pinon commented on #2245
Installations went fine on the 3 setups with jca/py3k branch
So the problem is indeed comming from py2k

[2019-05-01 01:01] jcohenadad opened #2246 "Fix minor issues caused by passage to py3k"
After merging #2238 the following issues remain:

- Travis:
  - test install with CSHRC
  - Remove libopenmpi --> addressed in https://github.com/neuropoly/spinalcordtoolbox/pull/2310
  - ~~put back sphinx building (removed because was failing on OSX)~~ --> will be addressed by https://github.com/neuropoly/spinalcordtoolbox/issues/1656
  - Exit travis on error if pb during install (currently faili

[2019-05-01 12:03] #1527 closed

[2019-05-01 12:03] #2241 closed

[2019-05-01 12:03] #2245 closed

[2019-05-01 17:46] jcohenadad opened #2247 "Add possibility to keep or remove labels by specifying their values"
Example:

This would only keep labels 2 and 5:
[code]

This would remove labels 2 and 5:
[code]

[2019-05-03 11:22] jcohenadad opened #2248 "json.decoder.JSONDecodeError when running subjects in parallel"
When running several subjects in parallel (using GNU parallel), during QC generation, the following error is observed across ~5% of the subjects:

[code]

I observed similar error in the past when processing subjects in parallel, which let us implement a [locking feature](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/qc.py#L426) when writing the QC json repor

[2019-05-03 11:43] jcohenadad commented on #2248
Maybe related to https://github.com/neuropoly/spinalcordtoolbox/issues/2205

[2019-05-03 13:30] jcohenadad opened #2249 "ImportError: bad magic number in 'test_sct_analyze_lesion': b'\x03\xf3\r\n'"
When running `sct_testing` on OSX with commit 4c2aca38d2536e202d58b9be646652a0f4280b6a, I obtain the following error:

[code]

[2019-05-03 13:40] jcohenadad commented on #2249
Error was fixed by doing a fresh re-installation of sct (remove folder, git clone, install_sct)

[2019-05-03 13:40] #2249 closed

[2019-05-03 16:55] jcohenadad commented on #2220
Fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2238

[2019-05-03 16:55] #2220 closed

[2019-05-04 01:24] #2248 closed

[2019-05-06 03:09] jcohenadad opened #2252 "CHANGES.md: Remove the "View detailed changelog" link"
Because that link doesn't work: https://github.com/neuropoly/spinalcordtoolbox/compare/v3.2.7...v4.0.0

[2019-05-06 03:17] jcohenadad opened #2253 "Changelog: Fix formatting when sct function label is missing"
## Description
When automatically generating the [CHANGES.md](https://github.com/neuropoly/spinalcordtoolbox/blob/release/CHANGES.md) using [that function](https://github.com/neuropoly/spinalcordtoolbox/blob/release/install/sct_changelog.py), it assumes that there is one label for category (bug, documentation, etc.) and at least one label for sct function (sct_propseg, etc.).

However, when no sct

[2019-05-06 03:19] jcohenadad commented on #2219
We reached agreement, so the issue can be closed

[2019-05-06 03:19] #2219 closed

[2019-05-06 15:56] alexfoias opened #2254 "4.0.0-beta.3 installation fail"
The user tried to install sct from the release 4.0.0-beta.3. He is running OSX El Capitan (10.11).

<details>

[code]

</details>

[2019-05-06 19:50] jcohenadad commented on #2254
TF supported as of 10.12. See: https://www.tensorflow.org/install/pip

Pls upgrade to 10.12 or higher

[2019-05-08 20:42] jcohenadad opened #2255 "Regression about straightening options for various SCT functions"
Quick note about release 4.0.0-beta3 wrt to straightening algorithm:

- sct_register_to_template: 	straighten_fitting 	defaults to bspline 	and doesn’t list any choices
- sct_smooth_spinalcord: 	param algo_fitting 	defaults to nurbs 	and lists nurbs and hanning as choices
- sct_straighten_spinalcord: 	param algo_fitting 	defaults to bspline 	and lists polyfit, bspline and nurbs as choices

these c

[2019-05-09 11:12] jcohenadad commented on #2252
Alternatively, we can create each new release under a new branch, e.g. `release/4.0.1`

[2019-05-09 11:15] jcohenadad opened #2256 "Regression (4.0.0-beta.3) Straightening in register_to_template yields smaller x-y FOV"
## Description

In a previous implementation of spinal cord straightening, the parameter `xy_size` was misleading, as it produced a dimension that was `2*xy_size` instead of `xy_size`. In PR https://github.com/neuropoly/spinalcordtoolbox/pull/2238, this has been corrected: [before](https://github.com/neuropoly/spinalcordtoolbox/pull/2214/files#diff-06511e50890a7fbffb44629b754dc3f7L370), [after](ht

[2019-05-09 15:07] jcohenadad opened #2258 "NURBS is broken"
Recent changes broke the integrity of nurbs output, see example below:

to reproduce:
[code]

nurbs:
![Screen Shot 2019-05-09 at 11 07 03](https://user-images.githubusercontent.com/2482071/57464368-971e4300-724a-11e9-86e8-997661a87d0b.png)

polyfit:
![Screen Shot 2019-05-09 at 11 07 00](https://user-images.githubusercontent.com/2482071/57464383-9f767e00-724a-11e9-8789-3c567754f6a6.png)

[2019-05-09 15:32] jcohenadad opened #2259 "Improve quality of straightening"
In beta3, fitting algo slightly changed due to passage to py3k, causing less performant straightening. See beta2 vs. beta3 difference in #2256.

[2019-05-09 19:30] #2255 closed

[2019-05-09 19:30] #2256 closed

[2019-05-10 00:29] #2253 closed

[2019-05-10 01:08] jcohenadad commented on #2252
nevermind... it works well. The problem was caused by the beta versions (v4.0.0 does not exist yet!)

[2019-05-10 01:08] #2252 closed

[2019-05-11 02:10] jcohenadad opened #2262 "Allow the possibility to discard "Dataset" column on the output html QC report"
In some cases, for regular BIDS dataset, the column "Dataset" is not necessary because redundant. It would be nice to allow the possibility to discard it, so that there is more room to display the other columns.

[2019-05-20 19:19] jcohenadad opened #2265 "Performance loss during disc search"
A regression bug, likely introduced in https://github.com/neuropoly/spinalcordtoolbox/pull/2257, altered the performance of `sct_label_vertebrae` function.

The problem is related to the cropped vertebrae in the straightened view, as shown below (using sct_example_data/t1):
![Screen Shot 2019-05-20 at 15 18 25](https://user-images.githubusercontent.com/2482071/58046214-aa66c380-7b12-11e9-9879-b073

[2019-05-20 19:25] jcohenadad opened #2266 "Cleanup SCT_RECURSIVE_QC variable"
The variable `SCT_RECURSIVE_QC` appears in the code (e.g. sct_label_vertebrae), however it is not documented.

We should either document it (in wiki and SCT course) or get rid of it.

[2019-05-21 17:07] #2110 closed

[2019-05-21 17:31] jcohenadad opened #2267 "ImportError: cannot import name 'factorial' from 'scipy.misc'"
New deprecation from nipy: https://github.com/nipy/nipy/issues/453

more info at: https://scipy.github.io/devdocs/release.1.3.0.html#scipy-interpolate-changes
Travis fail: https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/535398407#L1012

[2019-05-22 14:00] jcohenadad commented on #2267
A solution would be to temporarily (until nipy/nipy fixes the problem) use [this nipy fork](https://github.com/jcohenadad/nipy) instead of the official one during installation of SCT.

[2019-05-22 17:47] renelabounek opened #2270 "CentOS 7 installation fail"
I was trying to submit the instalation fail report at http://forum.spinalcordmri.org/c/sct as requested at the end of the installation log, but the web page does not allow it to me, while the log has lots of url links and the web page says: "Sorry, new users can only put 5 links in a post."

So I am submitting it here:

I was trying to update to new sct version, instalation after git pull failed i

[2019-05-22 17:53] jcohenadad opened #2271 "Allow for infinite amount of URLs in SCT forum"
from https://github.com/neuropoly/spinalcordtoolbox/issues/2270#issue-447265243:

I was trying to submit the instalation fail report at http://forum.spinalcordmri.org/c/sct as requested at the end of the installation log, but the web page does not allow it to me, while the log has lots of url links and the web page says: "Sorry, new users can only put 5 links in a post."

[2019-05-22 17:56] alexfoias commented on #2271
I added 1000 links limit.

[2019-05-22 18:00] #2271 closed

[2019-05-22 18:11] Nicolas-Pinon opened #2272 "QC report using too much memory (Nipy resampling)"
Generating QC is really slow and sometimes can use a lot of memory, for instance when trying to run :

`sct_propseg -i sub-01_T1w.nii.gz -c t1 -qc /whatever `

with sub-01 from unf_spineGeneric_multiSubjects

As I found myself and as reported in the issue #2217, the step responsible for this is the resampling, done with Nipy.

Might be fixed by #2269 ?

[2019-05-22 18:28] jcohenadad commented on #2272
nope! ;-)

i'll need to put my hands in the code to see where to optimize.

[2019-05-22 18:36] jcohenadad commented on #2270
Fixed in #2271.

For the CENTOS7 install, we are looking into it :-)

[2019-05-22 19:00] jcohenadad commented on #2270
to reproduce:
[code]

[2019-05-22 19:07] jcohenadad commented on #2270
likely related to https://github.com/tensorflow/tensorflow/issues/26826

exploring solutions:
- build TF on CENTOS
- downgrade SCT to py36

[2019-05-22 19:39] jcohenadad commented on #2270
exploring downgrade with py36
[code]

not sure why sct_check_dependencies is causing issues...

[2019-05-22 20:25] jcohenadad commented on #2267
Removing `priority:HIGH` because https://github.com/neuropoly/spinalcordtoolbox/pull/2269 temporarily fixes the issue.

Once the issue is fixed on the official nipy repos, we can move back to the previous configuration by reverting:
- `sct_check_dependencies`
- `requirements.txt`

[2019-05-22 21:59] smurphy0104 opened #2273 "Output DTI Eigenvalues"
Hi,

How do I output the tensor eigenvalues?

Thank you.

[2019-05-23 14:03] jcohenadad commented on #2273
@smurphy0104 the API currently does not allow this, but it is a very easy fix. We will implement it very soon.

[2019-05-23 15:13] #2273 closed

[2019-05-23 15:51] jcohenadad commented on #2270
Adding data:
[code]

[2019-05-23 18:30] renelabounek opened #2275 "generate labeled SC with sct_process_segmentation"
How to generate labeled SC image from a discfile? After SCT update, following command is not working:

`sct_label_utils -i t1.nii.gz -create-viewer 1,2,3,4,5,6,7,8,9,10,11,12 -o t1_labels_disc.nii.gz`
`sct_process_segmentation -i t1_seg.nii.gz -p label-vert -discfile t1_labels_disc.nii.gz`

I am getting output:

`Command-line usage error: argument -p does not exist. Did you mean: -o, -r, -v, -i, -

[2019-05-23 20:44] #2265 closed

[2019-05-23 21:03] jcohenadad commented on #2270
<details><summary>Testing full install, outside of py36 venv (success!)</summary>

[code]
</details>

[2019-05-23 21:28] renelabounek commented on #2270
I will try it within the evening to re-install it at the CentOS 7 machine and let you know. Thanks, Julien

[2019-05-23 21:30] jcohenadad commented on #2270
@renelabounek Wait a second, i am currently testing a prototype. I still need to implement it within the installer. Should be done within an hour.

[2019-05-23 21:38] jcohenadad commented on #2275
@renelabounek as of 4.0.0 it would be this command:
[code]

(could you please post issues on the SCT forum because other users might have the same question and could benefit from the answers-- thanks!)

[2019-05-23 21:39] jcohenadad commented on #2270
<details><summary>Testing with SCT installer (success!)</summary>

[code]

</details>

[2019-05-23 21:41] jcohenadad commented on #2270
@renelabounek could you please test the following and copy/paste the full output:
[code]

[2019-05-24 19:26] renelabounek commented on #2270
I am trying it just now. But at the beginnning, this was quite annoying. Is it necessary to have not-write permission by those files in default mode?

`[labounek@range1 lib]$ rm -r sct`
`rm: delete a protected normal file against write „sct/.git/objects/85/392fe84cf7ee54094ce50800542927a19ef402“? y`
`rm: delete a protected normal file against write „sct/.git/objects/24/21463cd5df71cb91a57728924df7

[2019-05-24 20:01] renelabounek commented on #2270
@jcohenadad, sorry I am sending it non-formatted, but I am not able to find how to put the code output text into a box as you do. I see insert quote or insert code or add a link, but any of this do the box.
**Happily,it seems everything passed without troubles and errors!!!**
Many thansk for the help.
Rene

[labounek@porto lib]$ git clone https://github.com/neuropoly/spinalcordtoolbox.git sct
Clon

[2019-05-24 20:02] renelabounek commented on #2275
@jcohenadad, yes I will post it there. Thanks, Rene

[2019-05-25 18:28] jcohenadad commented on #2270
@renelabounek awesome news! thanks for testing. We will soon merge the PR to master, and create a new beta release (4.0.0-beta.5).

p.s. i've updated [your comment](https://github.com/neuropoly/spinalcordtoolbox/issues/2270#issuecomment-495771629) to you show you how to make unformatted code box with dropdown feature (click on "edit comment" to see the markdown code).

p.p.s: regarding this: https

[2019-05-25 23:21] jcohenadad opened #2277 "Create function to segment the CSF with deep learning"
It would be useful to have a function segment the CSF using deep learning, as done in `sct_propseg`. Because this would entail training specific models (the number of contrasts need to be discussed), I suggest this feature would be implemented in a separate API, e.g. `sct_deepseg_csf`.

If we go that route, we should refactor all deepseg related functions, such that the API would select a specific

[2019-05-25 23:23] jcohenadad opened #2278 "Implement uncertainty measure for deepseg outputs"
In order to output probabilistic segmentation masks (as opposed to binary masks), we could implement uncertainty techniques from our deep learning inferences.

Possible avenues include Monte Carlo dropout (cons: will require 10-20x longer inference time).

[2019-05-26 03:21] charleygros commented on #2277
Deep learning for CSF: we will need to create a database of ground truths for CSF, which can be done with the "help" of `sct_propseg`.

Backend the same for all model: we will need to discuss that point as `sct_deepseg_gm` and `sct_deepseg_sc` have processing pipelines quite different.

[2019-05-26 03:27] charleygros commented on #2278
@jcohenadad: I believe that a similar approach as the one implemented in `sct_deepseg_gm` (and enhanced as you suggested in this issue) could be quite easily implemented in both `sct_deepseg_sc` and `sct_deepseg_lesion`.

[2019-05-27 14:10] #2270 closed

[2019-05-27 14:42] jcohenadad opened #2279 "tensorflow/colocate_with is deprecated and will be removed in a future version"
The following deprecation need to be addressed before the temporary support is dropped:
[code]

[2019-05-27 17:03] #2178 closed

[2019-05-27 17:33] jcohenadad commented on #2272
Duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/2217

[2019-05-27 17:33] #2272 closed

[2019-05-27 18:14] jcohenadad opened #2281 "Extrapolate straightened cord when using more than 2 labels"
When using more than 2 labels, the straightening procedure includes a non-linear alignment of all labels along Z (superior-inferior direction). When doing that, the output straightened cord is cropped at the top and bottom labels. This is problematic, as in most cases users are interested in keeping the image above and below the top and bottom labels, respectively.

A solution would be to not appl

[2019-05-27 18:30] jcohenadad opened #2282 "Automatically sort by date when loading QC html report"
When opening index.html QC report, sorting by date should be activated automatically.

Here is an example of QC report (unzip and double click on `index.html`):
[qc-test.zip](https://github.com/neuropoly/spinalcordtoolbox/files/3229808/qc-test.zip)

And here is the code to generate this html report: https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/qc.py#L436

[2019-05-28 21:08] jcohenadad opened #2284 "The mode n_resample(reference) does not behave as expected"
When using `n_resample(reference=img_ref)`, the output resampled image is not what it is expected to be.

Also, it would be useful to have a new `-ref` flag for `sct_resample` (currently not possible).

Below: switching between (i) raw image, (ii) image resampled at 2x2x1 and (iii) image resampled to  the destination image created at (ii)
![anim](https://user-images.githubusercontent.com/2482071/5

[2019-05-28 21:31] jcohenadad commented on #2284
Calling:
[code]
instead of:
[code]

Fixes the problem listed above.

[2019-05-28 21:35] jcohenadad commented on #2284
Problem: when using transform, it fails. So the trick is to do:
[code]

[2019-05-28 22:06] jcohenadad commented on #2217
After https://github.com/neuropoly/spinalcordtoolbox/pull/2285/commits/d0477f9941d1b1daf0b82e05db1e2d29b4233e34, the two remaining bottlenecks are (the first one is much slower):
- https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/slice.py#L228
- https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/reports/slice.py#L58

[2019-05-29 21:09] jcohenadad opened #2286 "Resample 2D cropped image instead of full 3D volume"
Currently for the QC generation routine, each volume is resampled to 0.6x0.6 mm in-plane resolution, which takes time. It would be more optimal to only resample part of the image while cropping it [there](https://github.com/neuropoly/spinalcordtoolbox/pull/2285/files#diff-cb26084a7e3b19a5622b9804582367e4R261).

[2019-05-29 21:10] #2217 closed

[2019-05-29 21:10] #2284 closed

[2019-05-30 12:56] #2247 closed

[2019-05-30 14:55] jcohenadad commented on #2236
The problem is caused by the fact that the input image has Z defined as SI instead of IS, causing a mis-handling of the Z input value.

A solution would be to create an internal function that would convert Z (or any other coordinate) based on the input and destination orientation.

[2019-05-31 15:02] jcohenadad opened #2287 "Reorient centerline in native orientation before outputting array"
Currently, in `spinalcordtoolbox.centerline.core.get_centerline()`, we output the array in RPI. We should output it in native orientation instead.  Note that it is tricky to reorient in native orientation, because the voxel center is not in the middle, but in the top corner, so this
needs to be taken into account during reorientation.

[2019-05-31 15:03] jcohenadad commented on #2236
The new function that deals with orientation-based permutation could also be used to fix https://github.com/neuropoly/spinalcordtoolbox/issues/2287

[2019-05-31 15:28] jcohenadad opened #2288 "Refactor sct_label_utils into Python module"
SCT would largely benefit from a pythonization of `sct_label_utils`. Proposed features include:
- creation of module `spinalcordtoolbox.labels`
- the class `process` would output the Image object (currently it automatically writes an image)
- Deal more elegantly with image re-orientation (function-dependent)

[2019-05-31 18:52] jcohenadad commented on #2287
This could be addressed using the new `Coordinate.permute()` function introduced in https://github.com/neuropoly/spinalcordtoolbox/pull/2289

[2019-05-31 19:28] jcohenadad opened #2290 "Introduce a Coordinate.dilate() method for faster dilation of labels"
Currently for dilating labels we use `sct_maths.dilate`, which is highly inefficient (convolution across all voxels, including the null ones).

It would be much better to introduce a new method in `sct_label_utils` to dilate labels.

This could be done in the class `Coordinate.dilate()`.

The dependent functions are:
- `sct_label_vertebrae`
- `sct_register_to_template`

[2019-06-01 00:30] #2236 closed

[2019-06-02 15:23] jcohenadad commented on #1548
I suggest we refactor SCT's CLI functions by chunks of ~10 functions within single PR, to make the implementation/review/merging workflow easier for the team. At first, we could take care of the following functions (alphabetically sorted):
- [ ] sct_analyze_lesion
- [ ] sct_analyze_texture
- [ ] sct_apply_transfo
- [ ] sct_check_dependencies
- [ ] sct_compute_ernst_angle
- [ ] sct_compute_hausdorf

[2019-06-03 14:56] benjamindeleener commented on #2258
I was able to reproduce the error and fix it (PR #2292).

The error was due to the derivative of the fitted centerline that was wrongly passed to the straightening algorithm. Indeed, the centerline position and derivative can be approximated using different algorithms, including NURBS, and this information is then used in the class `Centerline` to compute the coordinate system of each point along

[2019-06-04 14:55] Aureliengilliot opened #2294 "Installation of SCT failed"
### Description

Installation of SCT on macOS Mojave 10.14.5 failed ( using   git clone --branch=master https://github.com/neuropoly/spinalcordtoolbox.git sct )

Error message : < ERROR: Command "git clone -q https://github.com/jcohenadad/nipy.git /private/var/folders/q5/43x3jmk16fb59208tstg10d80000gr/T/pip-install-z4yqqtl4/nipy" failed with error code 1 in None

See below for the complete message

[2019-06-04 18:14] YangHee-Min commented on #2294
Hi Aurelien,
As the following link suggests [(here)](https://apple.stackexchange.com/questions/254380/why-am-i-getting-an-invalid-active-developer-path-when-attempting-to-use-git-a), run the following code right after opening your terminal:
`xcode-select --install`

The link explains the underlying problem with the following explanation:

[2019-06-04 20:36] #2258 closed

[2019-06-05 01:16] #2282 closed

[2019-06-05 11:31] charleygros commented on #2237
I had a look at subject `sct_testing/bids/sct-users/sub-20190418`.

Wondering if the detection fails because of the detection itself or because of the post-processing.
Running:
[code]
We can see that, in that case, the detection itself (ie output of the model) fails. The post-processing can't really help much this case.

Note: the MR contrast of this subject seems quite different to the ones used

[2019-06-05 13:52] #2243 closed

[2019-06-05 14:14] jcohenadad commented on #2237
@charleygros running `sct_label_vertebrae` with `-r 0`, I don't see any of those files: `data_midSlice.nii`, `pred_midSlice_before_postPro.nii.gz`, because (i) `verbose` param is not passed on the `detect_c2c3()` call, and (ii) it should ideally be dealt with the param `remove_temp_folder`. I can fix that quickly

[2019-06-05 14:19] charleygros commented on #2237
@jcohenadad : in this PR, the verbose param is passed on the detect_c2c3 call.
Hope it helps

[2019-06-05 14:29] jcohenadad commented on #2237
which one? I don't see any PR associated to this issue in https://github.com/neuropoly/spinalcordtoolbox/pulls. Or maybe i misunderstood?

[2019-06-05 14:33] charleygros commented on #2237
(oupsi sorry..)

This one: https://github.com/neuropoly/spinalcordtoolbox/pull/2296

[2019-06-05 14:47] jcohenadad commented on #2237
@charleygros looking at [your comment](https://github.com/neuropoly/spinalcordtoolbox/issues/2237#issuecomment-499046058), the files and the code, I am a bit confused as to what is called a "prediction", and what exactly the post-processing does. Is the file `data_midSlice_pred_svm` what you call the prediction? if so, how can you tell that the prediction fails in that case? (what are we supposed

[2019-06-05 15:20] charleygros commented on #2237
@jcohenadad I agree with you, will add some documentation in the `detect_c2c3`.
- Detection --> output of the SVM, ie `pred_midSlice_before_postPro.nii.gz` (which is the nifti associated with `data_midSlice_pred_svm`).
- How can we tell that the SVM failed? By visualising the following:
[code]
... if there is no "red cluster" in the neighbourhood of C2-C3, then the detection failed.
... if there i

[2019-06-05 15:46] jcohenadad commented on #2237
ok got it! Thanks. I was wondering if it was a "hard" fail that an algorithm could assess (e.g. no cluster at all), because in this case, there is a cluster but it is badly located (i.e. only human eyes can assess that it "failed", not an algorithm (chicken-and-egg problem)).

[2019-06-05 16:45] jcohenadad commented on #2294
@Aureliengilliot can we get an update?

[2019-06-05 18:04] Aureliengilliot commented on #2294
We tried following the instructions on the link but it didn't work. After trying another solution suggested on the same link `xcode-select -- reset` we got the following error log when builing nipy wheel [(here)](https://docs.google.com/document/d/1TkPdqjGlzRsojP9s2mhUOH5EGdPcTYtrLUHNQ20lEPE/edit?usp=sharing)

[2019-06-05 18:10] Aureliengilliot commented on #2294
After looking at the error log, it seems that the installation for the command line tools using `xcode-select --install` was never completed. Therefore, resetting the path for xcode would not change anything since the path where xcrun is supposed to be running at and the path where xcrun was reset to using `xcode-select --reset` are both invalid.

[2019-06-05 18:14] jcohenadad commented on #2294
xcode command line tools are not properly installed (see error when calling gcc). Try to re-run `xcode-select --install`.

[2019-06-05 18:18] Aureliengilliot commented on #2294
We just retried and a new window opened. When we follow the steps and accept the terms of use, we get a new pop-up window with the following message:
"can't install the software because it is not currently available from the software update server"

[2019-06-05 19:22] Aureliengilliot commented on #2294
After your suggested fix, download was successful, thanks a lot !

[2019-06-05 19:30] jcohenadad commented on #2294
how about SCT installation, was it also successful?

[2019-06-05 19:53] YangHee-Min commented on #2294
sct download was also successful!

[2019-06-05 19:53] Aureliengilliot commented on #2294
Yes sorry that's what we meant, SCT installation was successful after downloading and launching the Command Line Tools.

[2019-06-05 19:54] jcohenadad commented on #2294
you meant install (not download), right?

[2019-06-05 19:58] Aureliengilliot commented on #2294
Exactly, it was successfully installed

[2019-06-05 20:00] #2294 closed

[2019-06-05 23:56] #2242 closed

[2019-06-06 15:48] thiagojrezende opened #2300 "Label Vertebrae Errors in SCT v402 and v405"
I ran sct_vertebrae_label using beta versions 4.0.0-beta.2 and 4.0.0-beta.5 (master branch) in a t1w imaging.
For both versions I had the same error at C4 vertebra (please, look figures in attached). I am also sending the processed files in order to reproduce the same error.

![Screen Shot 2019-06-06 at 11 43 55 AM](https://user-images.githubusercontent.com/48558200/59046700-739de680-8850-11e9-8ee

[2019-06-06 15:59] jcohenadad commented on #2300
Hi @thiagojrezende:
- did you experience similar issues with 3.2.7?
- can you try with `-scale-dist 0.8`?

[2019-06-06 17:09] thiagojrezende commented on #2300
Hi @jcohenadad ,
Both strategies provides worse labeled vertebrae.

This is the version 3.2.7
![Screen Shot 2019-06-06 at 1 06 53 PM](https://user-images.githubusercontent.com/48558200/59052027-27f13a00-885c-11e9-9db1-ed35b8095769.png)

This is with -scale-dist 0.8
![Screen Shot 2019-06-06 at 1 06 11 PM](https://user-images.githubusercontent.com/48558200/59052058-3a6b7380-885c-11e9-989d-4405b81511

[2019-06-06 17:12] jcohenadad commented on #2300
could you try with -scale-dist 0.6?

[2019-06-06 17:19] thiagojrezende commented on #2300
Not worked as well.
![Screen Shot 2019-06-06 at 1 19 03 PM](https://user-images.githubusercontent.com/48558200/59052724-b87c4a00-885d-11e9-9db0-5ed68cc98a42.png)

[2019-06-06 17:38] jcohenadad commented on #2300
0.7?

[2019-06-06 18:48] thiagojrezende commented on #2300
Not worked again.
![Screen Shot 2019-06-06 at 2 47 53 PM](https://user-images.githubusercontent.com/48558200/59058233-2d558100-886a-11e9-8a8c-303e726fa6da.png)

[2019-06-06 19:03] thiagojrezende commented on #2300
Issue closed because the vertebrae labels used in this study will be C2 and C3. Less than 5% of all processed images showed problems in to identify the vertebrae label.

[2019-06-06 19:03] #2300 closed

[2019-06-06 19:34] YangHee-Min commented on #1548
When using the command `sct_compute_mtsat -h`,  in terminal, we see that even the required arguments are listed as optional. Do we want to leave it like this or do we want to find an alternative (i.e. terminal displays mandatory and optional arguments separately in terminal)?

[2019-06-06 19:37] jcohenadad commented on #1548
@YangHee-Min good question: i suggest we leave it like this (users will receive an error message if they don't enter the mandatory arguments anyway)

[2019-06-07 16:04] jcohenadad opened #2302 "Tensorflow not compatible with OSX 10.11"
With the recent move to 3.6 (https://github.com/neuropoly/spinalcordtoolbox/pull/2238), we had to upgrade Tensorflow. As a consequence, we lost compatibility with older OSs, such as OSX 10.11 (http://forum.spinalcordmri.org/t/unable-to-install-sct-due-to-tensorflow-fail/98/3).

A potential workaround would be to set specific requirements and/or Python version for specific OSs versions.

[2019-06-07 19:38] #2193 closed

[2019-06-09 18:50] jcohenadad opened #2303 "Adding CSA results in QC report"
It would be welcome to introduce a QC report for CSA results.

This report would also facilitate the optimization of default parameter for `get_centerline` (used for angle correction in CSA computation), see https://github.com/neuropoly/spinalcordtoolbox/pull/2299

[2019-06-10 02:18] jcohenadad opened #2304 "Add Python-only installation info"
For people who want to install SCT as a Python module (bypassing `install_sct`), provide appropriate information on the README.

[2019-06-10 15:05] bsauty opened #2305 "PyTorch compatibility with sct"
I noticed that all sct functions that imply deep learning (`deepseg_gm` or  `deepseg_sc` for instance) use keras, should I switch from PyTorch to keras to implement the modality classifier ? Is it to reduce the list of dependencies or are there compatibility issues at stake ?

[2019-06-10 15:11] jcohenadad commented on #2305
@bsauty if your current implementation uses Pytorch, I would suggest to create a branch in SCT repos with your implementation so it can be tested via [Travis](https://travis-ci.org/neuropoly/spinalcordtoolbox/builds/542929531) across several OSs. If it passes, then you're good to go with Pytorch. If not, we can look at where it breaks.

In the long term, it is likely that Pytorch will become our m

[2019-06-10 20:43] jcohenadad opened #2307 "Exit code 139 when running skimage.regionprop.solidity on OSX Sierra"
Weirdly, when inspecting the variable region.solidity [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/process_seg.py#L176), the program exits with segmentation violation (exit code 139). This has only been observed on Sierra.

Travis build: https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/542929536#L903

Could be related to: https://stackoverflow.com/quest

[2019-06-11 14:33] jcohenadad commented on #2254
duplicate of https://github.com/neuropoly/spinalcordtoolbox/issues/2302

[2019-06-11 14:33] #2254 closed

[2019-06-11 14:51] jcohenadad commented on #2302
Trying to downgrade TF under new py36 environment on an OSX 10.11 station (mingus)

<Details><Summary>Details (it worked!)</Summary>

[code]

</Details>

[2019-06-11 15:34] jcohenadad commented on #2302
Possible strategy is to add condition in `requirements.txt`, based on [environment markers](https://www.python.org/dev/peps/pep-0508/#environment-markers), as explained [here](https://stackoverflow.com/questions/16011379/operating-system-specific-requirements-with-pip).

In that case, it would be:
[code]

[2019-06-11 16:26] #2307 closed

[2019-06-11 19:55] jcohenadad commented on #2227
Already fixed

[2019-06-11 19:55] #2227 closed

[2019-06-12 13:32] jcohenadad opened #2311 "Use pip freeze to make sure releases are bound to specific Python modules"
More info at: https://medium.com/@boscacci/why-and-how-to-make-a-requirements-txt-f329c685181e

[2019-06-12 13:41] jcohenadad opened #2312 "Unstable unit test for test_deepseg_lesion.py::test_intensity_normalization"
I sometimes observe a failing test for `test_deepseg_lesion.py::test_intensity_normalization`, such as [here](https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/544396413#L972). This happens in about in about 1-5% of Travis builds, and is possibly related to the randomization. Is there a way to modify the range of random numbers so that it never fails? (Or maybe the fail is genuine?).

[2019-06-12 14:23] #2302 closed

[2019-06-12 14:40] jcohenadad opened #2313 "Add CentOS7 build on Travis"
Useful links:
- https://travis-ci.com/saltstack-formulas/postgres-formula/jobs/197417111/config
- https://github.com/brianmario/mysql2/blob/master/.travis.yml
  - Dockerfile: https://github.com/brianmario/mysql2/blob/master/.travis_Dockerfile_centos

Also see NeuroPoly Slack #random (internal)

[2019-06-14 12:57] #2262 closed

[2019-06-14 15:56] jcohenadad opened #2314 "Compute cord length"
With the recent removal of `-p` in `sct_process_segmentation`, it is no more possible to measure cord length. This feature was removed because we (wrongly) thought it was not used, but [some users expressed interest](http://forum.spinalcordmri.org/t/computing-cord-length-in-v4-0-0/105) in having this feature back.

One possible (and easy) implementation would be to add the cumulative number of sli

[2019-06-17 13:09] YangHee-Min commented on #1548
When reviewing the script for `sct_crop_image`, I noticed that this script used different groups of arguments as seen [(here)](https://github.com/neuropoly/spinalcordtoolbox/blob/567a67e2508704061e348d20b54cbb7963f20daa/scripts/sct_crop_image.py#L287-L370) with the different groups including `COMMAND LINE RELATED MANDATORY ARGUMENTS`, `GUI RELATED OPTIONAL ARGUMENTS` and `COMMAND LINE RELATED OPTI

[2019-06-17 14:17] jcohenadad commented on #1548
Can you propose a prototype for compute mtsat where you use grouping?

[2019-06-17 14:25] YangHee-Min commented on #1548
Sure! [(Here)](https://github.com/neuropoly/spinalcordtoolbox/blob/90c57ca38504bca76c69fcb2b3218446fd260c74/scripts/sct_compute_mtsat.py#L29-L77) is an example of `sct_compute_mtsat` with grouping

[2019-06-17 14:29] jcohenadad commented on #1548
Can you pls add in this thread the output of the help?

[2019-06-17 14:32] YangHee-Min commented on #1548
You can find the output of the help [(here)](https://pastebin.com/2yYYMDV5)

[2019-06-17 15:40] jcohenadad commented on #1548
i like that!  i guess it is not "easily" possible to put mandatory arguments before optional arguments? small comment: i would put a capital letter at the beginning for "Mandatory arguments" (same for Optional).
@zougloub what do you think about this refactoring approach?

[2019-06-17 15:40] jcohenadad commented on #1548
i like that!  i guess it is not "easily" possible to put mandatory arguments before optional arguments? small comment: i would put a capital letter at the beginning for "Mandatory arguments" (same for Optional).
@zougloub what do you think about this refactoring approach?

[2019-06-17 15:41] jcohenadad commented on #1548
i like that!  i guess it is not "easily" possible to put mandatory arguments before optional arguments? small comment: i would put a capital letter at the beginning for "Mandatory arguments" (same for Optional).
@zougloub what do you think about this refactoring approach?

[2019-06-17 15:42] jcohenadad commented on #1548
i like that!  i guess it is not "easily" possible to put mandatory arguments before optional arguments? small comment: i would put a capital letter at the beginning for "Mandatory arguments" (same for Optional).
@zougloub what do you think about this refactoring approach?

[2019-06-17 16:20] YangHee-Min commented on #1548
It is possible to do so by removing the default options for the help and adding the help argument to the argument group "Optional arguments" as seen [(here)](https://github.com/neuropoly/spinalcordtoolbox/blob/7378068d23892d33b82f3dbb489a204fcb9611cb/scripts/sct_compute_mtsat.py#L63-L82) to obtain a help log that looks like [(this)](https://pastebin.com/DxxCCHLR)

[2019-06-17 16:24] jcohenadad commented on #1548
It looks very nice! One last small thing: can you change the "usage: sct_compute_mtsat.py " into "usage: sct_compute_mtsat" when displaying the usage (at the beginning)?

[2019-06-17 16:35] jcohenadad commented on #1548
@YangHee-Min could you please start opening a PR so we can comment in it?

[2019-06-17 16:42] YangHee-Min commented on #1548
Sounds good. Done in commit [ebe82f8](https://github.com/neuropoly/spinalcordtoolbox/commit/ebe82f82f10a99aa9d235a19f03304c53d67fc84) and it prints a help log that looks like [(this)](https://pastebin.com/Y6KTz1Ly)

[2019-06-17 18:38] jcohenadad opened #2316 "Refactor sct_testing to allow new argparse"
In its current implementation `sct_testing` relies on `msct_parser` to fetch default fields. However, the progressive replacement of `msct_parser` by Python's `argparse` made us remove some functions in `sct_testing`, other integration tests would fail. See for example here: https://github.com/neuropoly/spinalcordtoolbox/pull/2315

The problem is that we are increasingly removing important tests,

[2019-06-17 20:08] jcohenadad opened #2317 "Mishandling of columns when using search module"
[This video](https://www.dropbox.com/s/4hdlhlj6sl3da8v/20190617_bug_qc.mov?dl=0) shows a bug when selecting specific columns, and then doing a search.

to reproduce, here is the qc report: [qc.zip](https://github.com/neuropoly/spinalcordtoolbox/files/3298655/qc.zip)

[2019-06-19 18:09] baxpr opened #2318 "Issue with conda + pip when installing during singularity build"
### Description

I am installing SCT from the git repo during the build phase in a singularity container. It appears that install_sct installs two versions of python that are sharing files and the use of both conda and pip is running into this issue:
https://github.com/conda/conda/issues/6861

I was able to get things working by using the --copy flag with conda create/install commands in install_s

[2019-06-19 18:12] baxpr commented on #2318
@jcohenadad It seems possibly related to these changes https://github.com/neuropoly/spinalcordtoolbox/commit/a5d27219c30820c41712df7448521376ffce7faa

[2019-06-19 18:15] lrouhier opened #2319 "-g option not working with sct_crop_image"
### Description
Sct_crop_image can't open the GUI. The option -g for the gui is in the help.

### Steps to Reproduce

0. Install SCT version: git-master-567a67e2508704061e348d20b54cbb7963f20daa

1. sct_crop_image -i CHQ-043-t2_r_straight.nii -g 1 -v 1 -o test.nii

**Expected behavior:** Open a GUI to select beginning and ending of the cropping area.

**Actual behavior:**
<details>

<summary> error

[2019-06-19 19:57] jcohenadad commented on #2319
Thank you for reporting this issue @lrouhier!

Would you mind trying to fix it?

[2019-06-19 20:09] jcohenadad commented on #2318
Thank you for reporting this issue @baxpr. I will try to reproduce on my end. I suspect this is related to the 18.04 distros ([Travis passes](https://travis-ci.org/neuropoly/spinalcordtoolbox/builds/544768988) for 16.04 and 14.04).

[2019-06-19 20:39] benjamindeleener commented on #2277
I strongly support this feature request. I am using CSF for registration on fMRI and it is painful to segment it manually.

I might have some data for you.

[2019-06-19 21:14] benjamindeleener opened #2320 "Calling WarpTemplate fails"
Hello, I was trying to use the class `WarpTemplate` (from `sct_warp_template`), but I couldn't call it directly in my python environment. Here is the output I get:

[code]

The reason is that the variable "param" is defined at the end of the script, in the scope of `if __name__ == "__main__":`, which is not run when calling `WarpTemplate` directly.

There might be other scripts that have the same

[2019-06-19 22:08] baxpr commented on #2318
@jcohenadad For what it's worth, I just tried with 16.04 and ran into the same issue.

[2019-06-20 15:06] lrouhier commented on #2319
I'll look into it !

[2019-06-20 17:49] jcohenadad commented on #2318
@baxpr I installed singularity and used a similar .def file to build the container (only slight modifications to add packages), however I am not able to reproduce your error. Below full info:
Host: `Linux bireli 4.15.0-50-generic #54~16.04.1-Ubuntu x86_64 x86_64 x86_64 GNU/Linux`
Singularity version: 3.3.0-rc.1.3.gc5011b8
<details><summary>Singularity definition file</summary>

[code]

</details>

[2019-06-20 18:24] #2317 closed

[2019-06-20 18:33] baxpr commented on #2318
I have been using singularity version 2.5.2-dist which could be the answer right there. If I get a chance to try with a more recent release I'll let you know how it goes.

[2019-06-20 18:55] jcohenadad opened #2322 "README: Update reference of Gros et al (replace arxiv with NIMG)"

[2019-06-25 15:43] YangHee-Min opened #2323 "Mishandling of columns when sorting"
### Description
Columns do not sort when certain columns are hidden and the header of any of the columns is clicked.

### Steps to Reproduce

0. Install SCT <release or git revision and platform, you can use the
   first lines of output of sct_check_dependencies>

1. Generate qc report with `sct_qc` command

2. Open qc report in browser

3. Press on the header of any of the columns

**Expected beh

[2019-06-26 12:03] charleygros commented on #2279
@jcohenadad: I could not find occurrences of `rate` (when calling `Dropout`) or `colocate_with` --> it's tensorflow code itself that has some occurrences of them.
I don't think we need to worry about this warning.

[2019-06-26 15:34] jcohenadad commented on #2279
right, it seems like this is going to be solved by the 1.14 or 2.0 version of TF. More info:
- https://github.com/tensorflow/tensorflow/issues/25996
- https://github.com/tensorflow/tensorflow/issues/25578

TF even shows the deprecated message in [their tutorial](https://www.tensorflow.org/tutorials/keras/save_and_restore_models) ;-)

[2019-06-26 15:34] #2279 closed

[2019-06-28 14:52] jcohenadad opened #2329 "Add bash script for batch processing"
The script [run_process](https://github.com/sct-pipeline/spine-generic/blob/master/processing/run_process.sh), which has been developed for a few projects relying on SCT, proved to be very useful. Currently, there are different versions of this file across multiple projects, so the idea would be to create only one version and host it under SCT. Few questions:

- Where should we put it? One suggest

[2019-06-28 15:16] Nicolas-Pinon commented on #2329
I really like the idea, this script is indeed very useful
Maybe we could specify in the name that it is supposed to be used with BIDS data structure ? Like `run_process_bids`
Because it is indeed only usable with BIDS structure

[2019-06-28 16:47] jcohenadad commented on #2329
Actually `run_process` is not incompatible with non-BIDS dataset. It simply loops across folders within a parent directory. The header is misleading thought (it says: "only works with BIDS"), so I will update it.

[2019-06-28 20:19] #2319 closed

[2019-06-29 17:35] jcohenadad opened #2330 "Crash upon folder creation if already exists"
During generation of QC report, a folder under _asset/img is created. If it already exists, the program crashes. This happens when processing several subjects in parallel (e.g. with GNU parallel), and some permission issues are encountered upon folder creation: I suspect two jobs are trying to create the folder at the same time.

<details><summary>Example of crash</summary>

[code]

</details>

A

[2019-06-29 18:10] #2323 closed

[2019-07-03 17:10] bsauty opened #2332 "Cannot load python modules located under scripts/"
### Description

When I install sct and try to import `spinalcordtoolbox.image` I get a message stating that `msct_types` is not an existing module.

### Steps to Reproduce

I cloned the master branch `git-master-222673d7b62936390c2ba872e12154e4a07cf82d` using the following commands

[code]

<details>
  <summary> Results of install_sct </summary>

[code]
</details>
<details>
  <summary> Results of

[2019-07-03 19:10] jcohenadad opened #2333 "Check file and path existence in parser"
After working on this PR https://github.com/neuropoly/spinalcordtoolbox/pull/2315, we should implement a check for the existence of input file and write permission of output folders.

This can be done using argparse `type=argparse.FileType('r')` (which returns a file handler), however this means refactoring the code such that the input of all methods called within CLI functions are file handlers (

[2019-07-04 13:13] charleygros opened #2334 "Activate SCT's Python"
I am having issue when activating SCT's Python, which I did not have before.

SCT version: [last commit](https://github.com/neuropoly/spinalcordtoolbox/commit/222673d7b62936390c2ba872e12154e4a07cf82d).

Error:
[code]

My `bashrc`:
[code]

[2019-07-04 13:23] jcohenadad commented on #2334
@charleygros could you please try the following:
- open a new terminal
- run:
[code]
- open new terminal
- run:
[code]
If it does not work, please send me the entire terminal output.

[2019-07-04 13:34] charleygros commented on #2334
@jcohenadad: Thank you for your quick answer, will run this and keep you posted.

Note that this issue is actually a duplication (oupsi) of #2332

[2019-07-04 14:08] jcohenadad commented on #2334
@charleygros no worries!
duplicate of #2332

[2019-07-04 14:08] #2334 closed

[2019-07-04 14:10] jcohenadad commented on #2332
I can reproduce this issue. Working on a fix.

[2019-07-04 14:19] charleygros commented on #2332
I followed your instructions. Please find below my terminal output:
[code]

[2019-07-04 15:35] #2332 closed

[2019-07-06 01:10] #2259 closed

[2019-07-08 08:58] charleygros opened #2336 "Errors in argparse"
I am having some bugs while using `sct_crop_image`. I believe they have been introduced by the new parser.

[code]

The bug is due to:
1. The type indicated for the arguments `start`, `end`, `dim` and `shift`. Float or Int are indicated whereas it should be a string. [Example](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_crop_image.py#L329).
2. In the `help` of these argu

[2019-07-08 16:13] YangHee-Min commented on #2336
@charleygros When running an old version of `sct_crop_image` (the one that uses msct_parser as shown [(here)](https://github.com/neuropoly/spinalcordtoolbox/blob/2421463cd5df71cb91a57728924df75ab59b49a5/scripts/sct_crop_image.py#L23)), when running the command line:

`sct_crop_image -i t2/t2.nii.gz -end 49,49 -dim 0,1 -o im_crop.nii.gz`

with `sct_testing_data`, I get the following terminal log:
h

[2019-07-08 16:23] jcohenadad commented on #2336
@charleygros oops! an oversight. Indeed, it's a bug and we should fix it. @YangHee-Min can you please add to the list of the things to fix in the next argparse-related PR

@YangHee-Min indeed, -end should have a -start (so you were getting another error). But to answer your question, there is no default value for start/end.

[2019-07-11 18:47] YangHee-Min opened #2338 "Error related to arrays"
### Description
It seems that there is a mishandling of the array elements of certain numpy arrays within script `sct_denoising_onlm`.

When using the command `sct_denoising_onlm -i t2/t2.nii.gz -v 2` with `sct_testing_data`, we get the following log: https://pastebin.com/hyUZtQst

After searching for a bit, it seems that the issue is related to the fact that variable `axial_middle` (that can be f

[2019-07-13 13:09] jcohenadad commented on #2277
To use for training the model: http://forum.spinalcordmri.org/t/feature-request-csf-segmentation-and-maybe-probabilistic-maps-for-deepseg/89/6?u=jcohenadad

[2019-07-17 17:14] jcohenadad opened #2340 "Add regularization across time"
Hi, thanks for opening a feature request, please take some time to consider the applicable guidelines:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#reporting-a-bug-or-requesting-a-feature
(about how to suitably describe issues or requests) prior to deleting this blurb when about to submit the issue.

**Feature justification: Is your feature request related to a probl

[2019-07-18 21:05] jcohenadad opened #2341 "README: Indicate SCT version in front of each URL"
Merge course material of all previous courses into single URL (which points to the latest course) to minimize confusion (people can still access previous versions on OSF).

Pros: minimize maintenance (no need to edit the README after each new course)

[2019-07-18 21:06] jcohenadad commented on #2330
Cannot reproduce

[2019-07-18 21:07] jcohenadad commented on #2316
Fixed in https://github.com/neuropoly/spinalcordtoolbox/pull/2315

[2019-07-18 21:07] #2316 closed

[2019-07-19 11:32] jcohenadad opened #2342 "argparse refactoring that will break retro-compatibility"
While parser refactoring is underway (see #1548), we need to urgently perform the long overdue release of 4.0.0 (major release). Once 4.0.0 is released, only patches and retro-compatible changes will be allowed. Hence, changes in CLIs caused by the parser refactoring will break retro-compatibility and should therefore be performed **before** this major release.

The purpose of this issue is to ide

[2019-07-19 14:16] YangHee-Min commented on #2338
@jcohenadad What should the variable type be for the variable `axial_middle` as shown[ (here)](https://github.com/neuropoly/spinalcordtoolbox/blob/4e699b3fde73d998d5a90ac81a827129e1d5acb2/scripts/sct_denoising_onlm.py#L73)? At the moment, it seems to be float but gives the error message due to being a float. Is it supposed to be an int or maybe a different type?

[2019-07-19 17:12] jcohenadad commented on #2338
@YangHee-Min this function is barely used. Not a priority for now

[2019-07-20 20:11] jcohenadad opened #2343 "TypeError: Image constructor takes at least one argument."
When not specifying a segmentation, the following error occurs:

<details>

[code]

</details>

This is counterintuitive because the flag "-s" is optional (and should be if the sole purpose is to extract average value within each lesion mask).

[2019-07-21 13:37] jcohenadad opened #2344 "MPI installation is failing"
more details: http://forum.spinalcordmri.org/t/problem-installing-sct/124

solution: we should drop installation with `-p`.

[2019-07-21 14:23] gmotzespina opened #2346 "Failed installing SCT"
### Description
When running `./install_sct` the installation fails when validating the installation.

<Description of the issue>

### Steps to Reproduce

0. Clone the repository

1. `cd` into the repository

2. run on the console `./install_sct`

3. accept every prompted question with `y`

**Expected behavior:** Successfully installation of SCT

**Actual behavior:**  Error after verifiying instal

[2019-07-21 14:24] gmotzespina commented on #2344
It is also failing on my side with a normal installation. See #2346

[2019-07-21 14:36] jcohenadad commented on #2346
hum, interesting: `sed` is not installed. This is the first time I see this happening. @gmotzespina do you have a special configuration?
In any case, we should then find a workaround for this bug. Any idea welcome :-)
Thank you for reporting this bug!

[2019-07-21 20:26] gmotzespina commented on #2346
@jcohenadad It appears it was because the `$PATH` `env` var was not set right, I solved it by adding this to my environment,

[code]

After solving that first issue now I'm getting that it doesn't recognize `sct_check_dependencies` is not defined, I think it still has something to do with how `$PATH` is set on my environment.

Digging more into it...

[2019-07-21 21:54] gmotzespina commented on #2346
@jcohenadad I've found the solution for this issue,

I'm using [iTerm2](https://www.iterm2.com) and [Oh My Zsh](https://ohmyz.sh) as a replacement of my native MacOS console so the path

[code]

exported into `.bashrc` wasn't taking any effect, the solution is adding the pad to the `.zshrc` file.

Is it fine for you if I close the issue?

[2019-07-21 21:57] jcohenadad commented on #2346
We can leave the issue open in case this happens to other users. Ideally we should cover zsh in the installer (as we do for t/csh)

[2019-07-21 22:07] gmotzespina opened #2347 "Standardize the usage of bash variables"
**Feature justification: Is your feature request related to a problem? Please describe.**

Currently on our scripts we are writing variables in two different ways,

1. `$res`

2. `${res}`

There is no big difference between both sintax. The difference relies when you want to append something at the end of the variable, for instance,

[code]
A way to avoid having the trouble on the second echo, we

[2019-07-21 22:14] gmotzespina opened #2348 "Use Python's argparse module to improve some of our simple bash scripts"
**Feature justification: Is your feature request related to a problem? Please describe.**
Currently, we are parsing arguments this way,
[code]
Which is not that clear. Instead we could use a parser such as `argsparse.sh` to help us simplify the way we parse our arguments, throw errors and provide help to the user when the wrong parameters are passed.

**Describe the solution you'd like**
Use https

[2019-07-22 19:59] alexfoias commented on #2005
I have tested the SCT docker version for win 10.

I had an error when running check dependencies.

Link to complete log here: https://pastebin.com/sRQHhVky

In addition, I have launched the batch_single_subject and there are a series of functions that fail due to DISPLAY. Example here: https://pastebin.com/0j87b25x

[2019-07-22 20:01] jcohenadad commented on #2005
@alexfoias i noticed you used `sct-v4.0.0-beta.0`. Could you please try with the latest (master) version? I think we addressed the `MPLBACKEND` in more recent releases.

[2019-07-23 13:58] alexfoias commented on #2005
@jcohenadad I followed the installation info listed [here](https://github.com/neuropoly/sct_docker#id6)
I cannot see any new [tags](https://hub.docker.com/r/neuropoly/sct/tags) other than `sct-v4.0.0-beta.0` on docker.  I also check using the command listed [here](https://github.com/neuropoly/sct_docker#generation-and-distribution)

Is there a different way of pulling the latest sct using docker (

[2019-07-23 14:01] jcohenadad commented on #2005
@alexfoias could you please generate and upload the beta5 to docker hub?

[2019-07-23 14:49] jcohenadad commented on #2312
Another fail here: https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/562596066

[2019-07-23 16:58] alexfoias commented on #2005
I tried to generate docker for beta5 from `joplin` but I have an error.

<details>

[code]

<details>

[2019-07-23 17:02] jcohenadad commented on #2005
@alexfoias you need to install `git` (see your error: ":ERROR: Cannot find command 'git'")
also check, you have other tools that should be installed

[2019-07-23 17:09] jcohenadad commented on #2005
@gmotzespina you noticed [here](https://github.com/neuropoly/spinalcordtoolbox/issues/2005#issuecomment-514296138) the message "Successfully installed spinalcordtoolbox" even though pip install resulted in errors. Could you please add a check in the installer (e.g. check for status 0) so it immediately stops with error instead of trying to continue running the installation scripts, resulting in ot

[2019-07-23 17:12] gmotzespina commented on #2005
@jcohenadad Sure I'll get that done!

[2019-07-24 00:39] jcohenadad opened #2354 "batch_processing: syntax error in conditional expression"
When running `batch_processing.sh` on commit 5e3b67dccd0c34e2a825a4308fe675324c0b1153 (master branch), I experience the following issue:
[code]

Info about os:
[code]

Likely introduced by https://github.com/neuropoly/spinalcordtoolbox/pull/2352

[2019-07-24 00:48] jcohenadad commented on #2354
also failing with this OS:
[code]

[2019-07-24 02:01] #2354 closed

[2019-07-24 12:28] gmotzespina commented on #2347
This issue has been solved with #2349, #2350, #2351, #2352

[2019-07-24 12:28] #2347 closed

[2019-07-24 19:00] jcohenadad opened #2356 "batch_processing.sh produces different results between Linux and OSX"
Commit: 211ccce931c0f803f28b5805fcf422df26781a74

**OSX 10.14.6 "Mojave" (kernel 18.7.0 Darwin)**
[code]

**Linux Ubuntu 16.04LTS "xenial" (kernel 4.4.0-142-generic)**
[code]

It would be important to figure out the cause of these differences, so we can understand/address them.

[2019-07-24 19:40] jcohenadad commented on #1656
Another argument in favour of github.io is the absence of ads (when using the free version of RTD).

[2019-07-24 19:50] jcohenadad opened #2357 "Fix PyQt5 changes in QtWidget"
During the passage from py2k to py3k (https://github.com/neuropoly/spinalcordtoolbox/pull/2238), we had to upgrade PyQt4 to PyQt5, which caused some cosmetic changes in the way figures and text are generated. For example, when running:

[code]

The new SCT (git-master-211ccce931c0f803f28b5805fcf422df26781a74) shows this:
![Screen Shot 2019-07-24 at 3 47 17 PM](https://user-images.githubusercontent

[2019-07-24 19:53] jcohenadad opened #2358 "Remove code and files related to Conda requirements"
These requirements are no more needed since we moved to py3k.

[2019-07-24 19:55] jcohenadad opened #2359 "Remove MPI stuff"
In the past we had special installation and features to use MPI. Since this feature is no more used, and difficult to maintain, I suggest to remove it (and all the files/code related to it). This includes:

- `install_sct`

[2019-07-25 14:50] gmotzespina commented on #2344
Relates to ##2359

[2019-07-25 14:54] jcohenadad opened #2362 "Installation: fetch nipy from http instead of git"
In the [requirements](https://github.com/neuropoly/spinalcordtoolbox/blob/master/requirements.txt#L25), we have to install a specific branch of nipy because the master branch is currently broken (see https://github.com/nipy/nipy/pull/454).

However, this requires user to have git installed, otherwise this line will fail.

The proposed fix is to fetch the nipy.git file from http instead of using gi

[2019-07-25 15:13] gmotzespina commented on #2359
Addressed by #2360

[2019-07-25 17:45] #2359 closed

[2019-07-25 21:29] gmotzespina commented on #2362
@jcohenadad [Here](https://github.com/neuropoly/spinalcordtoolbox/blob/7fb78e65a9d69851c3b52c6af0a5879498b8eabe/install_sct#L54) we are checking if git is installed, if not the script will fail from the beginning on. Should we still make the change to fetch the file from http ?

[2019-07-25 22:14] gmotzespina commented on #2358
@jcohenadad Does this code apply as conda requirement?

[code]

Just want to double check that I won't remove something I shouldn't

[2019-07-25 22:20] gmotzespina commented on #2348
Addressed on #2361

[2019-07-25 22:20] #2348 closed

[2019-07-26 01:53] jcohenadad commented on #2362
hum... good point. However, ideally if we could drop the dependency to git for people using the stable release that would be better (some people can have hard time installing git...). So, if we can remove that dependency, then you can remove that check. Would you mind having a look into this?

[2019-07-26 02:09] jcohenadad commented on #2358
no don't remove! It's the core of SCT 😉
unless i am missing something, the only file to remove is install/requirements/requirementsConda.txt

(double check-- i might be missing other stuff..)

[2019-07-26 12:23] #2322 closed

[2019-07-26 12:52] gmotzespina commented on #2362
Sounds nice, I'll take a look at it.

[2019-07-26 13:55] #2344 closed

[2019-07-26 20:02] #2343 closed

[2019-07-26 20:02] #2336 closed

[2019-07-26 21:38] jcohenadad opened #2364 "Drop dependency to nipy"
Arguments for dropping nipy:
- We are having several issues with this package: #2362, #2267, #2231
- nipy is no more maintained. See: https://github.com/nipy/nipy/pull/454
- We have a small dependency: only `sct_resample` will need to be refactored.

[2019-07-27 13:20] gmotzespina opened #2367 "Support ZSH insstallation"
Currently the usage of `zsh` ist not supportet. Idealy this shell should be supported as well.

Relates to: #2346

[2019-07-28 00:05] gmotzespina commented on #2356
Slightly difference on MacOS Mojave `10.14.5`

[code]

[2019-07-29 13:31] YangHee-Min commented on #2342
@jcohenadad Certain functions do not have the possibility to use the command `--help` to display the usage help display such as `sct_flatten_sagittal` as shown[ (here)](https://github.com/neuropoly/spinalcordtoolbox/blob/9101db2ba8d04409abe356b2cb5fe46b8fcdd95b/scripts/sct_flatten_sagittal.py#L129-L132). This being minor, yet still different, would it be desirable to change these to add the `--hel

[2019-07-29 14:15] YangHee-Min commented on #2342
`sct_image`: has `-i` flag that requires files to be seperated by spaces rather than commas

[2019-07-29 15:31] jcohenadad commented on #2342
good point! can you please add at the beginning of this issue (so we centralize all functions that need urgent changes). Thx

[2019-07-29 15:32] jcohenadad commented on #2342
with the current refactoring, we are adding "-h" to all functions. So let's continue doing that

[2019-07-29 15:52] YangHee-Min commented on #2342
@jcohenadad In the script for `sct_maths`, arguments `-mean`, `-rms` and `-std` have type `multiple_choice`, but seem to have a set of choices from the example as shown [(here)](https://github.com/neuropoly/spinalcordtoolbox/blob/9101db2ba8d04409abe356b2cb5fe46b8fcdd95b/scripts/sct_maths.py#L68-L82). In these arguments, does the user have the option to choose which ones to use or can things other

[2019-07-29 15:54] jcohenadad commented on #2342
only those letters can be chosen

[2019-07-29 16:29] jcohenadad commented on #2356
@gmotzespina did you make sure to use commit 211ccce in the results you posted above?

[2019-07-30 03:45] gmotzespina commented on #2367
This feature is now supported thanks to: #2366

[2019-07-30 03:45] #2367 closed

[2019-07-30 21:41] jcohenadad opened #2368 "When running batch_processing from sct-docker on windows, the qc folder is not visible"
when running `batch_processing.sh`, QC folder is saved under `~/qc`. The problem is that `~/` is not shared between Docker and the Windows host, therefore users cannot easily open the QC.

A solution would be to save the QC locally, and ask users to run the `batch_processing.sh` once they are under the shared folder.

[2019-07-31 13:35] jcohenadad opened #2369 "Update, upload and test course material"
- [ ] Add new QC for functions (warp template, process seg...)
- [ ] Add sponsors
- [ ] single batch processing: change "" for defining the "open" command

[2019-07-31 13:40] jcohenadad commented on #2341
We decided not to merge, but to indicate SCT version in front of course link. Example:
`SCT course, London, 2019-01-22 (v4.0.0)`

[2019-07-31 14:38] jcohenadad commented on #2358
Fixed by #2365

[2019-07-31 14:38] #2358 closed

[2019-07-31 14:49] jcohenadad opened #2372 "Crash if output folder does not exist"
The following command crashes:
[code]

Solution: create output folder if it does not already exist

[2019-07-31 14:55] jcohenadad commented on #2356
The difference comes from `sct_propseg`, which does not deliver the same output across OSs. Below is an example of propseg applied to `sct_testing_data/t2/t2.nii.gz` on OSX and Linux:

![anim](https://user-images.githubusercontent.com/2482071/62222528-87ae2200-b381-11e9-96e7-083dbab778e0.gif)

A simple solution would be to replace `sct_propseg` by `sct_deepseg_sc` in the batch processing, and to a

[2019-07-31 18:50] #2368 closed

[2019-07-31 19:42] #2341 closed

[2019-07-31 19:43] jcohenadad commented on #2362
@gmotzespina any update on this issue? It would be nice to have it fixed before 4.0.0 release. Thanks!

[2019-07-31 20:48] gmotzespina commented on #2362
I haven't fixed it yet, when is the next release?

[2019-07-31 21:00] jcohenadad commented on #2362
hopefully 1-2 days

[2019-07-31 21:43] jcohenadad commented on #2312
Reopening because the issue appeared again:
https://travis-ci.org/neuropoly/spinalcordtoolbox/jobs/566144625#L964

[2019-07-31 22:44] #2372 closed

[2019-08-01 11:24] gmotzespina commented on #2346
@jcohenadad Should we close this issue? I have addressed this problem with #2367

[2019-08-01 12:01] jcohenadad commented on #2346
Sure!
Next time add “Fixes #xxxx” in the OR so it closes issues automatically

[2019-08-01 12:01] #2346 closed

[2019-08-01 12:45] gmotzespina commented on #2362
@jcohenadad
I've been doing some testing and installing it without git isn't that trivial as far as I know.

The procedure I've been following is the following,

1. Download nipy,

[code]
2. Extract the package,

[code]

3. `cd` into the extracted package `jcohenadad-nipy-a1ac782`

4. Run,
[code]
After running the previous steps I get the following errors,

[code]

I might be missing something, I

[2019-08-01 13:15] zougloub commented on #2362
Pip is smart enough so that:
[code]
is working.

Just putting the URL in requirements isn't working?

[2019-08-01 13:30] YangHee-Min commented on #2369
@jcohenadad Where can we find the updated course material?

[2019-08-01 13:32] gmotzespina commented on #2362
@zougloub wow thanks, I haven't using pip `pip` with `tarball` let me give it a try!

[2019-08-01 13:44] jcohenadad commented on #2369
for now, use London and let us know where it breaks
--
Julien Cohen-Adad, PhD
Associate Professor, Polytechnique Montreal
Associate Director, Functional Neuroimaging Unit, University of Montreal
Canada Research Chair in Quantitative Magnetic Resonance Imaging
Phone: 514 340 5121 (office: 2264);  Skype: jcohenadad
Web: www.neuro.polymtl.ca

On Thu, Aug 1, 2019 at 9:31 AM YangHee-Min <notifications@

[2019-08-01 14:01] gmotzespina commented on #2362
@zougloub It worked! Thanks a bunch.

[2019-08-01 15:29] #2362 closed

[2019-08-01 16:40] YangHee-Min opened #2378 "Odd output file"
### Description
When following the London course from 2019 (related to testing for #2369 ), I ran into some issues regarding `sct_compute_mtr`. Indeed, when I used command :
`sct_compute_mtr -mt0 mt0_reg.nii.gz -mt1 mt1.nii.gz`

within `~/sct_course-london19/single_subject/data/mt`, I get following output:
![Screen Shot 2019-08-01 at 12 32 04 PM](https://user-images.githubusercontent.com/50307272/

[2019-08-01 16:58] jcohenadad commented on #2378
look at your image scaling. MTR is in percentage (0-100).

[2019-08-01 17:10] YangHee-Min commented on #2378
Never mind everything is ok

[2019-08-01 17:13] jcohenadad commented on #2378
If you were troubled by the FSLeyes results, others will be, therefore this information/warning should appear in the SCT course. (this is the whole point of you going through this course --> to collect user experience).

I will close this issue once the doc is updated.

[2019-08-01 18:21] YangHee-Min opened #2380 "UnboundLocalError: local variable 'nii' referenced before assignment"
### Description
When following the London course from 2019 (related to testing for #2369 ), I ran into some issues regarding `sct_maths`.

When I used command:
`sct_maths -i t2s_seg.nii.gz -sub "t2s_gmseg.nii.gz" -o t2s_wmseg.nii.gz`

I got the following output: https://pastebin.com/GxkeA9VX

### Steps to Reproduce

0. Install SCT <release or git revision and platform, you can use the first lines

[2019-08-01 18:24] YangHee-Min commented on #2380
From what I see, the line:
`ValueError: could not convert string to float: 't'`

would be cause by the fact that argument `-sub` is taken as a string rather than an element of a list. I believe a solution would be to set `nargs` for `-sub` and `-div` equal to 1.

[2019-08-01 19:26] YangHee-Min opened #2381 "Unrecognized arguments within internal sct_concat_transfo call"
When following the London course from 2019 (related to testing for #2369 ), I ran into some issues regarding `sct_register_multimodal`.

When I used command:
`sct_register_multimodal -i ${SCT_DIR}/data/PAM50/template/PAM50_t2s.nii.gz -iseg ${SCT_DIR}/data/PAM50/template/PAM50_wm.nii.gz -d t2s.nii.gz -dseg t2s_wmseg.nii.gz -param step=1,type=seg,algo=rigid:step=2,type=seg,algo=bsplinesyn,slicewise=

[2019-08-01 20:53] YangHee-Min commented on #2369
First review of course london 2019 is done. Bugs #2380 and #2381 to be fixed and small change in batch_single_subject.sh on line 145 from:
[code]
to:
[code]
Indeed, `-initwarp` shouldn't be merged with command `sct_warp_template` as seen below:
`-initwarp ../t2s/warp_template2t2s.nii.gzsct_warp_template`

[2019-08-01 20:57] #2342 closed

[2019-08-01 21:15] jcohenadad commented on #2380
@YangHee-Min i've fixed that error in your branch, in this commit 36d50478dacfc29ab12c797c914e6b5d46804369, however i forgot to push those commits before merging this PR https://github.com/neuropoly/spinalcordtoolbox/pull/2371.

I'll take care of it.

[2019-08-01 21:52] jcohenadad commented on #2356
Reopening this issue because even though https://github.com/neuropoly/spinalcordtoolbox/pull/2377 mitigates this issue, it does not completely solves it as there are still differences which might be caused by `sct_extract_metric`

[2019-08-02 01:06] #2380 closed

[2019-08-02 17:38] jcohenadad commented on #2381
note:
- the steps to reproduce is not complete (../t2/warp_template2anat.nii.gz needs to be generated)
- step 2 is useless

[2019-08-02 19:21] jcohenadad commented on #2378
course updated

[2019-08-02 19:21] #2378 closed

[2019-08-02 19:39] jcohenadad commented on #2369
note to [this comment](https://github.com/neuropoly/spinalcordtoolbox/issues/2369#issuecomment-517454086), the line "sct_warp_template" should be removed (because it is done 3 lines later).

[2019-08-02 20:03] #2381 closed

[2019-08-02 20:41] jcohenadad opened #2385 "Update Docker container"
- [x] Generate sct-docker container for 4.0.0
- [x] Update description: https://hub.docker.com/r/neuropoly/sct
- [x] Update https://github.com/neuropoly/sct_docker/blob/master/README.rst
- [x] Test installation on Windows

[2019-08-02 22:39] #2369 closed

[2019-08-04 01:39] jcohenadad opened #2387 "Enable to define a relative PATH_PARENT in parameters.sh"
When using `sct_run_batch`, the file `parameters.sh` has a variable `PATH_PARENT`, which should be absolute because this file is loaded after changing the path.

Hence, when declaring this variable with `pwd`, for convenience (i.e. fits all users), it fails.

It would be nice to overcome this problem so that users don't have to edit the parameters.sh file and be able to directly run the multi-subj

[2019-08-04 02:01] jcohenadad opened #2388 "Display command with input arguments upon launching SCT"
Having a verbose of the input arguments would be useful for:
- helping debugging on the user end
- knowing what was launched when running batch processing pipelines, esp. with the new `sct_run_batch`

[2019-08-04 11:09] #2329 closed

[2019-08-04 11:46] jcohenadad commented on #2312
Fixed by #2386

[2019-08-04 11:46] #2312 closed

[2019-08-05 14:25] jcohenadad opened #2390 "Folder removal should be based on folder name, not dataset name"
After downloading a dataset, the function checks if the folder already exists. See code [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_download_data.py#L138). If it does, it removes it before unzipping. The problem is that the existence check is based on the dataset name (from input `-d`), not on the actual folder name. Typically, those two names are the same, howeve

[2019-08-05 16:44] #2385 closed

[2019-08-05 19:30] jcohenadad opened #2391 "Wrong slice information on QC output"
The QC plot of `sct_process_segmentation` gives the wrong slice number.

To reproduce the issue, run:
[code]

The output QC looks like this:
![overlay_img](https://user-images.githubusercontent.com/2482071/62489809-bcf9ac00-b795-11e9-923c-db8735fb7522.png)

As can be seen in the plot abscissa, slice numbering go from 0 to 50+, while the input slice numbers are 2,3,4,5.

SCT version: git-release-66

[2019-08-05 21:09] jcohenadad opened #2393 "SCT course: remove dependency to GM segmentation"
For people who would like to skip GM segmentation (step 5) and directly to to extract metric, we should provide an alternative to remove the mandatory step of GM segmentation/registration, and directly register the MT and dMRI data to the PAM50, without going through the T2s registration.

[2019-08-05 21:13] jcohenadad opened #2394 "SCT course: Find a convenient way to visualize output QC for docker users"
For users running SCT in Docker, the current single batch processing outputs the QC in the `~` folder, which is not shared. Hence, people have to copy it to `docker_shared_folder` before being able to see it in the Windows environment, which is cumbersome.

A solution would be to first go inside `docker_shared_folder`, and then run the batch processing while outputting the QC report locally.

[2019-08-06 21:41] baxpr commented on #2342
There's a problem with the recent update to sct_image.py introduced in commit 7abacb003

-keep-vol (and other) command line arguments were formerly specified in the
argument parser as type_value=[[','], 'int']

The typespec is no longer present and now I get this error:

--
Spinal Cord Toolbox (git-HEAD-7fad17a0db089cbf7cdcb635062f8fac65f174c1*)

Traceback (most recent call last):
  File "/opt/sct

[2019-08-06 21:49] baxpr opened #2395 "New argparse in sct_image.py doesn't handle integer arguments"
@jcohenadad @YangHee-Min Sorry, just realized I had commented on a closed issue. There's a problem with the recent update to sct_image.py introduced in commit 7abacb0

-keep-vol (and other) command line arguments were formerly specified in the
argument parser as type_value=[[','], 'int']

The typespec is no longer present and now I get this error:

sct_image -keep-vol 0 -i fmri.nii.gz -o fmri_0.ni

[2019-08-07 14:35] jcohenadad commented on #2395
@baxpr sorry for this oversight and thank you for reporting this bug!
@YangHee-Min thank you for addressing it with top priority

[2019-08-08 22:02] #2357 closed

[2019-08-09 03:18] baxpr opened #2398 "sct_apply_transfo changes affine matrix in header of output file"
# Description

When using sct_apply_transfo, the geometrical information (affine matrix) in the header of the output image doesn't quiiiiite match the given reference image. It looks like a small roundoff type of error, but it complicates verifying whether two images have the same geometry later.

### Steps to Reproduce

sct version: I'm working off a fork, but the code is identical to commit 567a

[2019-08-09 03:19] baxpr commented on #2398
Test images and script:
https://www.dropbox.com/sh/vgx63yyp821xer7/AABCqVXAeYv73s56tOGKEsIVa?dl=0

[2019-08-09 03:21] jcohenadad commented on #2398
@baxpr thank you for reporting this issue and provide data for replicating the issue. We will definitely have a look at it ASAP!

[2019-08-09 16:04] jcohenadad opened #2399 "Installation failing on 4.0.0"
Likely related to Python3 (since 4.0.0_beta.2 is working and is relying on Py2k).
More info at: http://forum.spinalcordmri.org/t/sct-4-0-0-install-failed-failed-to-build-wheel-for-nipy/138

Note that the user is using .zshrc, but I don't think this is related to the issue.

@gmotzespina can you please have a look at it?

[2019-08-09 17:03] gmotzespina commented on #2399
Sure think, I'll take a look at it.

[2019-08-09 17:26] baxpr commented on #2398
In case anyone else stumbles on this, my current workaround is to use numpy.allclose with tolerance 1e-3 to compare these affine matrices.

[2019-08-11 02:58] jcohenadad commented on #1896
closing because not enough information to reproduce

[2019-08-11 02:59] #1896 closed

[2019-08-12 16:15] #2106 closed

[2019-08-12 16:15] #2398 closed

[2019-08-12 16:24] jcohenadad opened #2403 "Very slow download from miniconda from china"
So slow that the download drops at some point (had to manually change the "delay-timeout" time to 1000s or so). We should redirect to mirrors. I think @zougloub was working on it.

[2019-08-12 16:26] jcohenadad opened #2404 "SCT cannot install if gcc not installed"
The compilation is needed for nipy (and maybe other modules).

A solution is to check wether gcc is installed. If it is not, send error message telling user what to do. On OSX, installing brew, followed by `brew install gcc` is a simple solution.

[2019-08-12 16:29] jcohenadad opened #2405 "Modify bashrc for root installation"
Currently, if user installs SCT as root, the installer does not modify the .bashrc (or equivalent if using other shell) and display a message: "Please modify your .bashrc".

Of course, nobody reads those message... so as a result, users try to launch SCT functions and it fails.

So: i suggest we simply modify the .bashrc (or equivalent), wether users are root or not. For experienced users, they wi

[2019-08-12 16:32] jcohenadad opened #2406 "Check if station is 32bit and install appropriate miniconda"
By default, miniconda for 64bit systems is downloaded. I've encountered a problem on a 32bit station, yielding the [following error message](https://photos.app.goo.gl/5j4ttj41HBYTHYNs5).

I am not sure the issue in the screenshot is related to the 32bit station though, but regardless, this situation could happen so we'd better handle this scenario.

[2019-08-12 16:33] jcohenadad opened #2407 "Find a reliable way to copy and paste commands for the SCT Course"
The SCT Course slides come from an [Apple Keynote presentation](https://www.icloud.com/keynote/null#SCT%5FCourse%5F2021-11-16) exported to PDF (stored in [NeuroPoly's Google Drive](https://drive.google.com/drive/u/1/folders/0Bx3A13n3Q_EARGxKTHE2MC1iSVk?resourcekey=0---RcqAsD725SZ_C1zL-f1w)).

The course is typically taught using the following layout:

![image](https://github.com/spinalcordtoolbox/

[2019-08-12 19:56] zougloub commented on #2403
Would be worth it to try and get rid of miniconda, as we're probably pulling all the packages from pip.

The only thing I could do when there are network issues is a security nightmare: it was adding a MITM proxy that would cache the HTTPS downloads.
Mirroring *conda or *pip also takes more complex infra than eg. a simple CDN.

Note: Alibaba has an authorized mirror of *conda stuff, that could be

[2019-08-12 20:14] jcohenadad commented on #2403
that assumes people already have Python installed (and the proper version), which is not always the case. If it is not the case, some won't know how to install it. So far miniconda has proven useful for us to control the environment. I'm afraid trusting every user's python will open a pandora's box.

[2019-08-14 02:13] gmotzespina commented on #2399
I've tried in two different MacOS environments but I haven't been able to reproduce this issue yet.

The devices are
- MacBook Pro 2018
- MacBook Pro late 2013

Both on `macOS Mojave 10.14.6`

[code]

My steps in order to try to reproduce this issue were:

1. Remove all **spinalcordtoolbox** related content from the machine
2. Remove the env vars from the .`zshrc` file
3. git clone the project
3.

[2019-08-14 14:28] jcohenadad commented on #2399
@gmotzespina looks like the issue appears with [Xcode-based gcc](http://forum.spinalcordmri.org/t/sct-4-0-0-install-failed-failed-to-build-wheel-for-nipy/138/5?u=jcohenadad). Is you gcc from Xcode or did you install it using external source (e.g. from brew)?

[2019-08-14 14:37] jcohenadad opened #2411 "Make it explicit that users have to run warp_template or vert labeling"
If they don't they get:
[code]

and they don't know what to do with it (some copy the PAM50/ folder from SCT dir, which they should absolutely not do)

[2019-08-14 14:40] #2395 closed

[2019-08-14 14:55] alexfoias opened #2412 "Generate SCT citation function"
Create a function *sct_citation* to output the bibtex citation in the terminal.
https://github.com/neuropoly/spinalcordtoolbox#citing-spinalcordtoolbox

[2019-08-14 15:39] #2391 closed

[2019-08-14 16:48] jcohenadad opened #2413 "Checks indicate figures can be opened while they cannot"
Connecting with ssh (without -X tunnelling), figures cannot be opened whereas `sct_check_dependencies` says otherwise.

<details><summary>Output of `sct_check_dependencies`</summary>

[code]

</details>

<details><summary>Trying to open a figure (crashes)</summary>

[code]

</details>

[2019-08-14 16:53] jcohenadad commented on #257
Reopening this because I received multiple requests from users, asking to have a convenient way to update SCT.

We could also add a check (e.g. launched during `sct_utils.init_sct()` that would check if there is a more recent version of SCT on the Github repository than the one currently running (if there is internet connection of course...).

[2019-08-14 18:39] jcohenadad commented on #2364
An alternative approach is under investigation in [this branch](https://github.com/neuropoly/spinalcordtoolbox/tree/jca/2364-nipy) and consists in installing nipy from the official package, and add the fix as surrogate files in SCT package directly.

[2019-08-14 18:54] #2062 closed

[2019-08-14 19:22] jcohenadad opened #2415 "Use CDN for downloading data, binaries and miniconda"
Currently, data and binaries are hosted on OSF + neuropoly website (as a mirror where OSF is not accessible for some countries).

This approach is suboptimal as:
- it requires more maintenance (two URLs to manage)
- download could be faster if server is closer to user

A suggestion would be to use a CDN for data, binaries and miniconda.

Related to #2403

[2019-08-14 23:35] #2405 closed

[2019-08-16 00:48] jcohenadad commented on #2399
This PR https://github.com/neuropoly/spinalcordtoolbox/pull/2414 might solve this issue. This will need to be verified by the user once the PR is merged.

[2019-08-16 00:59] jcohenadad commented on #2399
also: i have gcc-xcode on my mac and install went well. @gmotzespina did you do more investigations on this?

[2019-08-16 18:06] jcohenadad opened #2416 "Flag -evecs not working after switching to argparse"
After the recent move from msct_parser to argparse (see: https://github.com/neuropoly/spinalcordtoolbox/pull/2337), a bug has been introduced in the way -evecs param is interpreted.

User report: http://forum.spinalcordmri.org/t/error-sct-4-0-0-sct-dmri-compute-dti/142

[2019-08-16 20:35] jcohenadad commented on #2406
looks like the station shown in the screenshot is 64bit (see specs of this Lenovo [here](https://www.cnet.com/products/lenovo-ideapad-y450/specs/)), and today's hardware is based on 64bit, so we can probably close this issue, until we encounter a user with that issue.

[2019-08-16 20:35] #2406 closed

[2019-08-17 04:03] #2416 closed

[2019-08-17 13:50] #2404 closed

[2019-08-18 00:41] #2231 closed

[2019-08-18 00:41] #2267 closed

[2019-08-18 00:41] #2364 closed

[2019-08-18 00:41] #2399 closed

[2019-08-21 19:09] baxpr opened #2419 "sct.mv in sct_utils.py and temp space"
Not sure what's going on here - bug, or just some weirdness with singularity containers. But I thought I'd holler. The practical significance to me so far is that the `fmri_moco_params.tsv` file isn't getting copied from the temp dir to the output/working dir.

    Traceback (most recent call last):
      File "/opt/sct/scripts/sct_fmri_moco.py", line 452, in <module>
        main()
      File "/o

[2019-08-22 02:01] jcohenadad commented on #2419
hi @baxpr,

your config system seems unhappy about the move. Copying the file (instead of moving) might solve the issue. And since the source is in a temp directory, it will be wiped out at some point...

Before we implement the fix though, would you mind testing it on your side to make sure it works? (you clearly seem competent enough to do it):

Could you replace [this line](https://github.com/n

[2019-08-22 03:33] baxpr commented on #2419
Thanks! That fixed it for me. I don't really understand forks but I had a go:
https://github.com/neuropoly/spinalcordtoolbox/pull/2420

[2019-08-23 03:19] #2419 closed

[2019-08-28 21:11] jcohenadad opened #2421 "ERROR: Exception too many values to unpack (expected 3) caught while geting non Zeros coordinates"
Commit: ff7553098ea27d2b6a51a90965a526f53368805e

Getting this error:
[code]

To reproduce:
[AtlasRat_spinal_levels.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/3552903/AtlasRat_spinal_levels.nii.gz)

[2019-08-29 00:39] jcohenadad commented on #2421
This happened because the input image had 4 dimensions. We can close

[2019-08-29 00:39] #2421 closed

[2019-08-29 01:13] jcohenadad opened #2422 "shrink-factor superior to one should be enabled"
When specifying shrink-factor>1, the registration routine set this parameter back to one, due to a supposedly wrong generation of warping field. We should fix that, because in some instances, higher shrink factor is important.

[2019-08-29 01:27] jcohenadad opened #2423 "Make AtlasRat downloadable"
Source of the atlas is here:

What needs to be done:
- organize files into template/ and atlas/ folders to be compatible with `sct_register_to_template`
- bring AtlasRat Paxinos atlas into the atlas

[2019-08-30 10:51] felixsc1 opened #2424 "sct_label_utils: IndexError: index 118 is out of bounds for axis 2 with size 118"
When using a segmentation file as input.

syntax:
`sct_label_utils -i nifti_seg.nii.gz -create-seg 0,14:117,8`

[code]

[2019-08-30 16:05] jcohenadad commented on #2424
@felixsc1 thank you for reporting this bug.

It sounds like the algo is trying to compute a center of mass in an empty slice. Maybe you have "holes" in your segmentation?  I'm happy to look at the problem if you upload the segmentation.

[2019-08-30 18:56] felixsc1 commented on #2424
Thanks, I did have an empty slice in the segmentation, but after fixing it I still get the error.
[Here](https://1drv.ms/u/s!Aq6XXK3CMI1M7w-C3Gp3Bul2LYDU?e=yUNihr) is the example segmentation file. I get the error also for other scans of the same geometry.

[2019-08-30 19:47] jcohenadad commented on #2424
@felixsc1 this is because the function assumes that the 3rd dimension of your input image (z) corresponds to the superior-inferior axis, which is not the case here (your 3rd dimension is A-P). So first, you would need to reorient to e.g. RPI, and then get your labels:
[code]

We will add a check at the beginning of the function, to make sure the input image is in the correct orientation.

[2019-08-31 15:54] jcohenadad commented on #2424
reopening to make sure we implement the check for orientation of the input image

[2019-09-03 11:49] jcohenadad opened #2426 "NameError: name 'algo_fitting' is not defined"
When straightening the cord using more than 2 labels, the function crashes.

This happens with SCT v4.0.1

To reproduce:
[code]

<details><summary>Error message</summary>

[code]

</details>

Also see: http://forum.spinalcordmri.org/t/sct-register-to-template-problem-with-multiple-disc-labels-sct-4-0-1/156

[2019-09-04 16:23] #2426 closed

[2019-09-04 17:45] jcohenadad opened #2429 "Wrong straightening if qform/sform differ"
In [this dataset](https://www.dropbox.com/s/f32pa1iamovm6zj/20190904_data.zip?dl=0), the qform and sform differ:

[code]

Which is causing `sct_straighten_spinalcord` to output wrong straightening results:

<img width="951" alt="Screen Shot 2019-09-04 at 1 44 12 PM" src="https://user-images.githubusercontent.com/2482071/64278154-17636500-cf1a-11e9-909e-7808609aa160.png">

To reproduce, download th

[2019-09-06 01:13] jcohenadad opened #2430 "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices"
To reproduce:
[code]

[2019-09-11 13:41] charleygros commented on #2430
Would be to happy to work on it!

[2019-09-11 15:05] #2430 closed

[2019-09-11 17:19] gmotzespina opened #2433 "Command "which" is not installed by default"
### Description

When running `sct_install` the script checks that some dependencies are installed on the OS before proceeding with the installation. To look up for those dependencies `which` needs to be installed.

It seems that some OS don't have `which` installed by default, so the installation fails.

### Steps to Reproduce

1.
[code]

2.
[code]
Output:
[code]

**Expected behavior:** Installat

[2019-09-11 17:45] jcohenadad opened #2435 "Wrong center of mass detection caused by spurious blob related to NURBS instabilities caused by isolated voxels from segmentation"
Based on a [user report](http://forum.spinalcordmri.org/t/sct-label-vertebrae-fails-v-4-0-0/162?u=jcohenadad), the center of mass of the c2-c3 label blob is improperly calculated. This only happens in the image below (but maybe more...).

To reproduce, download this label:
[labelz_straight.nii.gz](https://github.com/neuropoly/spinalcordtoolbox/files/3602043/labelz_straight.nii.gz)

Then run:
[code

[2019-09-11 17:54] jcohenadad commented on #2433
@gmotzespina why is step 0 needed?

[2019-09-11 17:57] jcohenadad commented on #2433
also: i don't think this issue is specific to CentOS7 (the docker container is curated, and other CentOS7 distros do have `which` installed). Moreover, this could also happen with distros other than CentOS7.

So: we should generalize this issue, and simply check if "which" is installed at the beginning of the installer. If not, we inform the user.

Regarding the docker doc: you can simply add `whi

[2019-09-11 18:09] gmotzespina commented on #2433
@jcohenadad I've updated the issue to be more general. I'll add on the docs the which installation step.

[2019-09-11 18:09] gmotzespina commented on #2433
@jcohenadad I did the same with `curl` since it wasn't specified on the docs and it was a step I needed to do before being able to proceed with the installation.

[2019-09-12 02:19] jcohenadad commented on #2435
ah! I found the culprit: non-null voxels (value=2) were hiding at the corner of the image:

<img width="1122" alt="Screen Shot 2019-09-11 at 10 14 12 PM" src="https://user-images.githubusercontent.com/2482071/64748860-92f87f80-d4e1-11e9-8974-944e38c218b3.png">

These are likely related to instabilities with NURBS, yielding high derivatives, causing the deformation field to "grab" the value=2 blob

[2019-09-12 02:37] jcohenadad commented on #2435
OK, the derivatives is just symptomatic of an extremely partial segmentation in the last segmented slice:
<img width="1315" alt="Screen Shot 2019-09-11 at 10 32 51 PM" src="https://user-images.githubusercontent.com/2482071/64749616-3c407500-d4e4-11e9-984c-681a08c4743d.png">

This is a known problem (see #1074), and is the reason why `sct_propseg` now includes a `check_and_correct_segmentation()` f

[2019-09-12 15:01] gmotzespina opened #2436 "Qt platform plugin “xcb” in “” cannot be loaded on CentOS"
### Description

When Running

[code]
The following error appears,
[code]

### Steps to Reproduce

1. Install SCT following the instructions for CentOS shown [here](https://github.com/neuropoly/spinalcordtoolbox/wiki/testing#docker)

2. Download any test data, in my case I ran

[code]

3. run,

[code]

**Expected behavior:**

The following image should appear:

<img width="1185" alt="Screen Shot 2

[2019-09-12 20:03] lrouhier opened #2438 "Vertebral labelling - Deep learning"
- Extract metrics from the spine generic dataset to determine anatomical constraint that can be apply to vertebral labelling  :

  * Extract coordinate of the label of each disc: XXX_labeled_discs.nii.gz
  * Extract  the centerline coordinate of the spinal cord at each disc level (to get from segmentation ) (file : XXX_centerline.nii.gz )
  * Perform a statistical analysis of the inter-disc and di

[2019-09-13 08:20] gmotzespina opened #2439 "Add Black and format all python files"
**Feature justification: Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features y

[2019-09-13 16:23] jcohenadad commented on #2439
Before reformatting files, we should first agree on conventions. The major convention concerns single vs. double quotes. I kind of like the idea of having single quote for variables, and double quotes for verbose text, which seems to be a popular way, see for instance [this post](https://stackoverflow.com/a/56190).

[2019-09-13 16:26] gmotzespina commented on #2439
I like the convention you mentioned as well.

* single quote for variables
* double quotes for verbose text

[2019-09-13 16:29] jcohenadad commented on #2439
Others, any comments?  @zougloub @charleygros @perone

@gmotzespina Once we agree on the convention, please don't forget to update [the wiki](https://github.com/neuropoly/spinalcordtoolbox/wiki/Single-or-double-quotes).

[2019-09-15 18:39] jcohenadad commented on #2436
@gmotzespina do you have any update on this issue?  @zougloub do you think you can help us there?

[2019-09-16 00:58] #2435 closed

[2019-09-16 02:23] jcohenadad opened #2441 "Wrong calculation of MTR"
In the example below, the calculated MTR value is -53.41%, whereas it should be (633-303)/633=52%:
<img width="1249" alt="Screen Shot 2019-09-15 at 10 19 51 PM" src="https://user-images.githubusercontent.com/2482071/64931583-62795400-d807-11e9-8076-52f180a74f14.png">

Related to [Forum comment](http://forum.spinalcordmri.org/t/calculate-mtr-divide-by-zero-error/170/8)

[2019-09-16 02:30] jcohenadad commented on #2441
When running the code in debug mode and calling this voxel, I get the correct value:
[code]

This issue might be related to a [reported issue related to division of numpy array of integer](https://stackoverflow.com/questions/45278112/numpy-integer-division-sometimes-yields-wrong-results-when-casted).

A solution would be to convert the input to float before doing the division. If confirmed, unit t

[2019-09-16 02:40] jcohenadad commented on #2441
ah! the use of `np.true_divide` seems to solve that bug:
[code]

[2019-09-16 09:59] charleygros commented on #2439
Although I knew about `flake8` etc., I did not know about `black`. Did a bit of research about it and do not really have other comments than... sounds really great and useful! Help us to focus our code reviews on content.

[2019-09-16 13:44] jcohenadad opened #2443 "IndexError: shape mismatch: indexing arrays could not be broadcast together with shapes"
### Description

The function crashes during straightening. The segmentation looks OK: some irregularities on the derivatives, but no discontinuities.

Original post from user [here](http://forum.spinalcordmri.org/t/error-with-sct-smooth-spinalcord-v4-0-2/171/2).

Other notable issues which could be addressed in the same PR:
- the usage does not specify "nurbs" in -param algo_fitting, even though

[2019-09-16 16:51] gmotzespina commented on #2436
No, until now I haven't had any progress on the matter. I'm gonna continue working on this today.

[2019-09-16 21:01] #2441 closed

[2019-09-16 21:28] jcohenadad commented on #2443
The error is caused by the NURBS routine, not outputting the same vector length between `x_centerline_fit` or `y_centerline_fit` and `z_ref`, here: https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/core.py#L137

[2019-09-16 21:34] jcohenadad commented on #2443
@benjamindeleener could that be a bug in this section? https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/nurbs.py#L420

[2019-09-17 01:37] jcohenadad commented on #2443
Doing further investigations via the debugger, I noticed a strange behaviour. The normal call in [this code](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/nurbs.py#L1071) produces:
[code]

However, when manually running the sub-routine, I get:
[code]

[2019-09-17 10:23] gmotzespina commented on #2439
@zougloub do you have any other thoughts ?

So according to PEP 8 https://www.python.org/dev/peps/pep-0008/#string-quotes

There is no recommendation on wheather to use single or double quotes.

So maybe we should:

* Use **double** quotes for **natural language messages**
* Use **double** quotes on **triple-quoted strings**
* Use **single** quotes on **simple string variables**
* Use **double** q

[2019-09-17 10:28] gmotzespina commented on #2436
I haven't been able to do much progress on this. Do you think pairing on this would be helpful to find a solution @jcohenadad, @zougloub. In any case I'll continue working on this.

[2019-09-17 13:12] jcohenadad commented on #2439
@gmotzespina make sure we can tweek black to have single quotes in some cases. see [here](http://books.agiliq.com/projects/essential-python-tools/en/latest/linters.html#black):

[2019-09-17 13:23] agahkarakuzu commented on #2436
@gmotzespina have you tried installing `libxkbcommon-x11`? That's where I landed after a little search.

[2019-09-17 14:07] gmotzespina commented on #2436
@agahkarakuzu No I haven't tried it out, but I'll do it. Thanks ! I'll keep you updated.

[2019-09-17 14:09] gmotzespina commented on #2439
@jcohenadad You're right.

I think that leaves us with the following options,

* use automatic black formatting (double quotes)
* use automatic black formatting and manually adjusting the code to our needs
* find another file formatter which allows us to configure it to our needs
* do not use a file formatter and just try to be careful and follow our code standards.

[2019-09-17 16:48] jcohenadad commented on #2314
Fixed by https://github.com/neuropoly/spinalcordtoolbox/pull/2431

[2019-09-17 16:49] #2314 closed

[2019-09-17 18:27] gmotzespina commented on #2436
Installing `libxkbcommon-x11` doesn't work, keep getting the same output.

[2019-09-17 18:37] agahkarakuzu commented on #2436
@gmotzespina sorry to hear that it did not work. Just out of curiosity, are you trying to achieve this in a container or on your commputer?

Because ` docker run -it spinalcord:latest` call does not appear to do `x11` forwarding, which prevents you from seeing GUI components.

[2019-09-17 18:38] gmotzespina commented on #2436
Yeah Actually I'm trying just that:

[code]
After having installed your favorite OS, run SCT installer:
[code]

[2019-09-17 18:39] gmotzespina commented on #2436
Also I'm not sure if Qt is even supported on centos: https://doc.qt.io/qt-5/linux.html. I might be missing something though.

[2019-09-17 18:44] agahkarakuzu commented on #2436
As far as I am concerned, you should be OK with Qt on Centos. The problem appears to me that you are trying to access GUI components through a container without passing the commands to let Docker engine know where to look for that communication.

Can you try adding the following arguments to your `docker run` command?

`--net=host --env="DISPLAY" --volume="$HOME/.Xauthority:/root/.Xauthority:rw"`

[2019-09-17 19:07] benjamindeleener commented on #2443
Pfiou that was a tricky one...

The issue was coming from a slight mistake in the reparametrization of the NURBS curve to make it uniform. This effect was not usually apparent but was accentuated by the segmentation inhomogeneities on the edges.

So the error comes from this line: https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/centerline/nurbs.py#L948

That we need to

[2019-09-17 19:17] jcohenadad commented on #2443
I knew it 😉

Thanks a lot @benjamindeleener! I can do the change and create the PR at this point (and bug you again if there are any more problems 😊)

[2019-09-17 19:28] benjamindeleener commented on #2443
Great, let me know.

[2019-09-17 19:28] jcohenadad commented on #2436
@gmotzespina what let's you think that Qt is not supported on centos? the link you provided clearly lists centos as an OS

[2019-09-17 19:58] gmotzespina commented on #2436
Ignore my comment, I've miss read the docs.

[2019-09-17 20:31] gmotzespina commented on #2436
@agahkarakuzu I've tried following the same steps as shown above just instead of running `docker run -it centos:latest` I did it as you suggested:  `docker run -it --net=host --env="DISPLAY" --volume="$HOME/.Xauthority:/root/.Xauthority:rw" centos:latest`.

It keeps failing the same way,

[code]

[2019-09-17 20:34] agahkarakuzu commented on #2436
OK give me some time, will look into this and get back to you.

[2019-09-17 20:50] gmotzespina commented on #2436
Nice, thanks a bunch, I'm case you want to pair let me know!

[2019-09-17 21:18] agahkarakuzu commented on #2436
Here is a detailed debug report to begin with:

[code]

[2019-09-17 21:43] agahkarakuzu commented on #2436
I kept track of missing dependencies  using `export QT_DEBUG_PLUGINS=1`. Installed all of the missing deps that it was complaining in this dockerfile:

[code]

After this installation, docker run -it sctagah` gices the following:

![image](https://user-images.githubusercontent.com/9632322/65081391-8a84c680-d971-11e9-94fa-5aa221e88777.png)

It is no longer complaining about missing dependencies, bu